<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favico.png">
    <title>SITDRIS</title>
    <script type='text/javascript'>
      var __dcid = __dcid || [];__dcid.push(['DigiCertClickID_XWHQlakU', '15', 'm', 'black', 'XWHQlakU']);(function(){var cid=document.createElement('script');cid.async=true;cid.src='//seal.digicert.com/seals/cascade/seal.min.js';var s = document.getElementsByTagName('script');var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
      </script>
  </head>
  <body class="vertical-layout toggle-menu">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    
    <!-- built files will be auto injected -->
  </body>
</html>
