<template>
  <div>
      <v-data-table
        :headers="headers"
        :items="dataList"
        class="elevation-1"
        :search="search"
        :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
        loading-text="Cargando..."
        no-data-text="Sin resultados disponibles"
        no-results-text="Sin resultados coincidentes con la búsqueda"
        >

          <template v-slot:top>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 ">
                <v-text-field v-model="search" label="Buscar ..." class="pr-5" ></v-text-field>
              </div>
            </div>
          </template>

      </v-data-table>
  </div>

</template>
<script>

import { ServicePath } from "@/core";
import { UtilFront } from "@/core";
import axios from "axios";

export default {
  props: {
    dataList: {},
    headers: {}

  },
  data() {
    return {
        search:''
    };
  },
  components:{
  },
  computed: {

  },
  methods: {

  },
  created() {


  }
};
</script>

