/* @Author:Fernando FH */

body {
    font: 100% "Trebuchet MS", sans-serif;
    height: 100%;
    width: 100%;
}
.vertical-menu>li.active>a {
    font-weight: 400;
    background-color: transparent;
    color: #00C337;
    opacity: 1;
}

.vertical-menu>li :hover {
    font-weight: 400;
    background-color: transparent;
    color: #00C337 !important;
    opacity: 1;
}

.theme--light.v-messages {
    color: rgb(255 0 0);
}


.hand {
    cursor: pointer !important;
}

.elevation-1 .v-data-table-header{
    /* background-color: #14BA5E !important; */
    /* background-color: #263A5B !important;
    color: white !important; */
    background-color: #E4F2FB !important;
    color: #2779aa !important;
    border: 2px solid #aed0ea !important;
    border-radius: 6px !important;

}

.v-data-table-header{
    background-color: #E4F2FB !important;
    color: #2779aa !important;
    border: 2px solid #aed0ea !important;
    border-radius: 6px !important;
    font-weight: bold;

}


/* .theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    color: rgb(255 255 255);
}

.theme--light.v-data-table .v-data-table-header th.sortable.active, .theme--light.v-data-table .v-data-table-header th.sortable.active .v-data-table-header__icon, .theme--light.v-data-table .v-data-table-header th.sortable:hover {
    color: rgb(255 255 255);
    font-weight: bold;
} */


.theme--light.v-application {
    background: #f1f1f1;
    /* background: #F2F5FA; */
    color: #8A98AC;
}


.v-input--selection-controls {
    margin-top: 6px !important;
    padding-top: 1px !important;
}

.v-application ol, .v-application ul {
    padding-left: -0 !important;
}

button.v-btn--disabled {
    cursor: not-allowed !important;
}

.theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    color: rgb(0 0 0 / 65%);
}

.theme--light.v-label--is-disabled {
    color: rgb(0 0 0 / 62%);
}

.theme--light.v-chip:not(.v-chip--active) {
    color: rgb(255 255 255);
}

.authenticate-bg {
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.not-allowed{
    cursor: not-allowed !important;
}

.icon-gray{
    color: #8A98AC;
}

.v-tooltip__content {
    background: #0695A7;
    /* background: rgba(97,97,97,.9);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    padding: 5px 16px;
    position: absolute;
    text-transform: none;
    width: auto;
    opacity: 1;
    pointer-events: none; */
}

.bold{
    font-weight: bold;
}
.text-fmedical-blue{
    color: #0695A7;
}
.text-fmedical-green{
    color: #008e45;
    
}
.text-fmedical-yellow{
    color: #F1C40F;
}
.text-fmedical-red{
    color: #8e0000;
}
.thin-number{
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #d4d8de45;
}
.italic{
    font-style: italic;
}

.btn-success:disabled{
    cursor: not-allowed !important;
}

.tgreen{
    background-color: #429559;
    color: white;
}

.bgr-green{
    background-color: #28a7454f;
}
.bgr-red{
    background-color: #ff262638;
}
.bgr-yellow{
    background-color: #ffa80052;
}
.blue-small{
    font-weight: 600;
    color: #263a5b;
    font-size: medium;
}

.card-trc{
    color: #263a5b !important;
    border: 3px solid #429559;
    background-color: #f1f1f147;
    -webkit-border-radius: 12px; 

    /* Firefox 1-3.6 */
    -moz-border-radius: 12px; 
    
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 12px; 
}

.card-header-trc{
    border-bottom: 1px solid #00000030 !important;
}

.card-trc:hover {
    /* filter: saturate(180%); */
    background-color:white;

}

.scroll-permissions{
    /* width: 110px; */
    height: 200px;
    overflow: scroll;
}


.tbody-permissions {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
    display: block;
    width: 100%; /* Optional */
}

.btn-blue-sitdris{
    background-color: #2196F3;
    color: white;
}
.btn-blue-sitdris:hover{
    background-color: #41aaff;
    color: white;
}

.border-r{
    border: 2px ;
    padding: 10px;
    border-radius: 25px;
}

.toggle-menu .rightbar {
    margin-left: 0;
}

.toggle-menu .rightbar .topbar {
    left: 0px;
}


.topbar {
    background-color: #191919;
    padding: 15px 30px;
    position: fixed;
    z-index: 1;
    left: 250px;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-size: 16px;
    color: whitesmoke;
    text-align: right;
    font-weight: bold;
}
.topbar-mobile {
    background-color: #191919;
    padding: 15px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.btn-outline-white-sitdris {
    color: whitesmoke;
    border-color:whitesmoke;
}

.btn-outline-white-sitdris:hover {
    color: black;
    border-color:whitesmoke;
    background-color: white;
}


.mainLogo{
    position: absolute;
    background-image: url(../images/risLogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* repeat: no-repeat; */
    top: 2px;
    left: 80px;
    height: 61px;
    width: 265px;
    cursor: pointer;
}

.center-cont {
    position: relative;
    text-align: center;
    /* font-weight: bold;
    font-size: 19px;
    font-family: "a1"; */
    /* color: black; */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #191919;
}

.blue-lite-sitdris{
    background-color: #E4F2FB;
    font-weight: bold;
    color: #2779aa;
    border: 2px solid #aed0ea;
    border-radius: 6px;
    font-size: large;
    font-size: small;
    /* margin: 20px; */
}


.titleBar {
    font-size: 14px;
    /* padding-left: 5px; */
    height: 18px;
    /* font-family: "a1"; */
    font-weight: bold;
    padding-bottom: 5px;
    text-align: left;
    color: rgb(46, 110, 158);
    margin-bottom: 5px;
}


.theme--light.v-btn.v-btn--has-bg {
    background-color: #E4F2FB;
    color: #2779aa;

}

button:disabled{
    cursor: not-allowed !important;
}


.activitiesButtonBack {
    position: absolute;
    left: .7%;
    top: 8%;
    height: 55px;
    width: 24px;
    cursor: pointer;
    background-image: url(../images/Regreso_on.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}