<template lang="es">

    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- <Sidebar /> -->
        <!-- Start Rightbar -->
        <div class="rightbar ">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar mt-12">
      
                <div  class="row  mt-2">
                    <div class="col-lg-12 col-xl-12 ">
                        <template> 
                           
                            <v-card>
                            <v-card-title>
                                <h4 class="card-title mb-0" :class="{'text-danger':showAction(4)}"> 
                                   <i class="fa fa-calendar" aria-hidden="true"></i>

                                      {{titleAction}}   
                                    <!-- <button class="btn btn-success" v-if="showAction(1)" @click="changeAction(2)">
                                <i class="ti-plus"></i> Crear rol
                           </button>  -->
                                </h4>
                                <v-spacer></v-spacer>
                                 <!-- <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field> -->
                            </v-card-title>
                            <v-card-text>
                                <!-- <v-container> -->
                                 
                            <v-row class="fill-height" v-if="showAction(1)">
                                <v-col>
                                  <v-sheet height="64">
                                    <v-toolbar
                                      flat
                                    >
                                    <v-menu
                                        bottom
                                        right
                                      >
                                        <template v-slot:activator="{ on, attrs }">
                                          <v-btn
                                            outlined
                                            color="grey darken-2 "
                                            v-bind="attrs"
                                            v-on="on"
                                            class="blue-lite-sitdris"
                                          >
                                            <span>{{ typeToLabel[type] }}</span>
                                            <v-icon right>
                                              mdi-menu-down
                                            </v-icon>
                                          </v-btn>
                                        </template>
                                        <v-list>
                                          <v-list-item @click="type = 'day'">
                                            <v-list-item-title>Día</v-list-item-title>
                                          </v-list-item>
                                          <v-list-item @click="type = 'week'">
                                            <v-list-item-title>Semana</v-list-item-title>
                                          </v-list-item>
                                          <v-list-item @click="type = 'month'">
                                            <v-list-item-title>Mes</v-list-item-title>
                                          </v-list-item>
                                        </v-list>
                                      </v-menu>
                                      <v-btn
                                        outlined
                                        class="mr-4 ml-12 blue-lite-sitdris"
                                        color="grey darken-2 "
                                        @click="setToday"
                                      >
                                        Hoy
                                      </v-btn>
                                      <v-btn
                                        fab
                                        text
                                        small
                                        color="grey darken-2"
                                        @click="prev"
                                      >
                                        <v-icon small>
                                          mdi-chevron-left
                                        </v-icon>
                                      </v-btn>
                                      <v-btn
                                        fab
                                        text
                                        small
                                        color="grey darken-2"
                                        @click="next"
                                      >
                                        <v-icon small>
                                          mdi-chevron-right
                                        </v-icon>
                                      </v-btn>
                                      <v-toolbar-title v-if="$refs.calendar">
                                        {{ $refs.calendar.title }}
                                      </v-toolbar-title>
                                      <v-spacer></v-spacer>
                                      
                                      
                                      <button class="blue-lite-sitdris btn" @click="changeAction(2)">
                                         <i class="fa fa-plus mr-2"></i>  Nueva cita
                                      </button>
                                      </v-toolbar>
                                  </v-sheet>
                                  <v-sheet height="600">
                                    <v-calendar
                                      ref="calendar"
                                      v-model="focus"
                                      color="primary"
                                      :events="events"
                                      :event-color="getEventColor"
                                      :type="type"
                                        locale="es"

                                      @click:event="showEvent"
                                      @click:more="viewDay"
                                      @click:date="viewDay"
                                      @change="updateRange"
                                    ></v-calendar>
                                    <v-menu
                                      v-model="selectedOpen"
                                      :close-on-content-click="false"
                                      :activator="selectedElement"
                                      offset-x
                                    >
                                      <v-card
                                        color="grey lighten-4"
                                        min-width="350px"
                                        flat
                                      >
                                        <v-toolbar
                                          :color="selectedEvent.color"
                                          dark
                                        >
                                          <!-- <v-btn icon> -->
                                            <v-icon>mdi-information</v-icon>
                                          <!-- </v-btn> -->
                                          <v-toolbar-title class="ml-2" v-html="selectedEvent.name"></v-toolbar-title>
                                          <v-spacer></v-spacer>
                                        </v-toolbar>
                                        <v-card-text v-if="selectedEvent.name">
                                          <div class="row">
                                            
                                            <div class="col-md-6">
                                              <span>
                                                  IDEE : {{selectedEvent.event.idee}}
                                                  <br> 
                                                  NSS : {{selectedEvent.event.nss}}
                                              </span>
                                            </div>
                                            <div class="col-md-6"  v-if="isDateStatus('cancelled')">
                                              <span>
                                                  <h5><strong>Cita cancelada</strong></h5>
                                                  Razón: {{selectedEvent.event.cancellationReason}}
                                                  <br>
                                                  <span>{{ formatDate(selectedEvent.event.dateCancellation) }}</span>
                                              </span>
                                            </div>
                                          </div>
                                                                                            <v-divider ></v-divider>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  Consultorio : {{selectedEvent.event.doctorOffice}} 
                                                  <br>
                                                  Médico : {{selectedEvent.event.doctorId}} 
                                                  <br>
                                                  Especialidad: {{selectedEvent.event.specialty}}
                                              </div>
                                          </div>
                                        </v-card-text>
                                        <v-card-actions >
                                          <v-btn text color="secondary" @click="selectedOpen = false">
                                            Volver
                                          </v-btn>
                                          <v-btn text color="red" @click="edit(4)" v-if="!isDateStatus('cancelled')">
                                            Cancelar cita
                                          </v-btn>
                                          <v-btn text color="green" @click="edit(3)" v-if="!isDateStatus('cancelled')">
                                            Modificar 
                                          </v-btn>
                                          <v-btn text color="blue" @click="edit(5)" v-if="!isDateStatus('cancelled')">
                                            Reprogramar 
                                          </v-btn>
                                        </v-card-actions>
                                      </v-card>
                                    </v-menu>
                                  </v-sheet>
                                </v-col>
                              </v-row>








                                    <div id="form" v-if="!showAction(1)">
                                        <validation-observer ref="observer" v-slot="{ invalid }" >
                                            <form @submit.prevent="doAction">
                                                  <!-- <div class="row">
                                                    {{model}}
                                                  </div> ->
                                                <!-- <v-divider></v-divider> -->
                                                <div class="row">
                                                  <div class="col-md-12 titleBar">
                                                      <p>Información de paciente</p>
                                                  </div>
                                                </div>
                                                 <div class="row">
                                                   <div class="col-md-6"  :class=" {'not-allowed':(showAction(3) || showAction(4))}">
                                                      <validation-provider v-slot="{ errors }" name="Paciente" rules="required">
                                                        <v-autocomplete auto-select-first :items="patients"
                                                                  append-icon="mdi-account"
                                                                  :disabled="showAction(3) || showAction(4) || showAction(5)"
                                                          @change="findPatientOnPatientsList(model.participant[0].actor.id)"
                                                          no-data-text="Sin resultados" attach 
                                                          name="Paciente"
                                                          v-model="model.participant[0].actor.id" 
                                                          :error-messages="errors"
                                                          clearable required label="Paciente">
                                                        </v-autocomplete>
                                                      </validation-provider>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div name="infoPatiente" v-show="viewInfoPatient">

                                                            <p><strong>IDEE:</strong>  {{infoPatient.idee}} 
                                                            <br>
                                                            <strong>Nombre:</strong> {{infoPatient.name}} {{infoPatient.firstLastname}} {{infoPatient.secondLastName}} 
                                                            <br>
                                                           <strong>NSS:</strong> {{infoPatient.patientNSS}}  </p> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div name="infoCita"  v-if="!showAction(5)">
                                                  <v-divider></v-divider>
                                                  <div class="row">
                                                    <div class="col-md-12 titleBar">
                                                        <p>Información de cita</p>
                                                    </div>
                                                  </div>
                                               
                                                  <div class="row">

                                                    <div class="col-md-2">
                                                          <validation-provider v-slot="{ errors }" name="fecha" rules="required">
                                                              <v-text-field  v-model="model.date" type="date" 
                                                              :disabled="showAction(4) || showAction(5)"
                                                              name="Fecha" :error-messages="errors" label="Fecha*"
                                                              required autocomplete="off"></v-text-field>
                                                          </validation-provider>
                                                      </div>
                                                      <div class="col-md-2">
                                                          <validation-provider v-slot="{ errors }" name="Hora inicio" rules="required">
                                                              <v-text-field  v-model="model.startTime" type="time" name="Hora inicio" 
                                                              :error-messages="errors" label="Hora inicio*"
                                                              :disabled="showAction(4) || showAction(5)"
                                                              required autocomplete="off"></v-text-field>
                                                          </validation-provider>
                                                      </div>
                                                      <div class="col-md-2">
                                                          <validation-provider v-slot="{ errors }" name="Hora fin" rules="required">
                                                              <v-text-field  v-model="model.endTime"  name="Hora fin"
                                                              type="time" :error-messages="errors" label="Hora fin*"
                                                              :disabled="!model.startTime || showAction(4) || showAction(5)"
                                                              :min="model.startTime"
                                                            
                                                              required autocomplete="off"></v-text-field>
                                                          </validation-provider>
                                                      </div>
                                                      
                                                      <div class="col-md-3">
                                                        <validation-provider v-slot="{ errors }" name="Especialidad" rules="required">
                                                          <v-autocomplete auto-select-first :items="specialities"
                                                                    append-icon="mdi-pencil" name="Especialidad"
                                                            no-data-text="Sin resultados" attach 
                                                          v-model="model.specialty[0].text"
                                                            :error-messages="errors"
                                                            :disabled="showAction(4) || showAction(5)"
                                                            clearable required label="Especialidad*">
                                                          </v-autocomplete>
                                                        </validation-provider>
                                                      </div>
                                                      <div class="col-md-3">
                                                        <validation-provider v-slot="{ errors }" name="Turno" rules="required">
                                                          <v-autocomplete auto-select-first :items="turns"
                                                                    append-icon="mdi-alarm"
                                                            no-data-text="Sin resultados" attach 
                                                          v-model="model.description"
                                                            :error-messages="errors" name="Turno"
                                                            :disabled="showAction(4) || showAction(5)"
                                                            clearable required label="Turno*">
                                                          </v-autocomplete>
                                                        </validation-provider>
                                                      </div>
                                                  </div>
                                                 </div>
                                                <v-divider></v-divider>
                                                <div class="row">
                                                  <div class="col-md-12 titleBar">
                                                      <p>Información de envío</p>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                   
                                                    <div class="col-md-3"   :class=" {'not-allowed':showAction(3)}">
                                                      <validation-provider v-slot="{ errors }" name="Motivo envío" rules="required">
                                                        <v-autocomplete auto-select-first :items="shippingReasons"
                                                                  append-icon="mdi-information-outline"
                                                          no-data-text="Sin resultados" attach 
                                                           v-model="model.reason[0].text"
                                                            :disabled="showAction(3) || showAction(4) || showAction(5)"
                                                          :error-messages="errors" name="Motivo envío"
                                                        
                                                          clearable required label="Motivo envío*">
                                                        </v-autocomplete>
                                                      </validation-provider>
                                                    </div>
                                                    <div class="col-md-6">
                                                         <validation-provider v-slot="{ errors }" name="Diagnóstico presuntivo" rules="required|max:800">
                                                              <v-textarea v-model="model.Comment" 
                                                               :disabled="showAction(4) || showAction(5)"
                                                              required name="Diagnóstico presuntivo" label="Diagnóstico presuntivo*" :error-messages="errors"
                                                              required counter rows="1" row-height="20"></v-textarea>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-3">
                                                      <validation-provider v-slot="{ errors }" name="Ocasión de servicio" rules="required">
                                                        <v-autocomplete auto-select-first :items="serviceOccasions"
                                                                  append-icon="mdi-note-outline"
                                                          no-data-text="Sin resultados" attach 
                                                           v-model="model.participant[0].type[0].text"
                                                          :error-messages="errors" name="Ocasión de servicio"
                                                          :disabled="showAction(4) || showAction(5)"
                                                          clearable required label="Ocasión de servicio*">
                                                        </v-autocomplete>
                                                      </validation-provider>
                                                    </div>
                                                </div>
                                                <v-divider></v-divider>
                                                <div class="row">
                                                  <div class="col-md-12 titleBar">
                                                      <p>Información de origen</p>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  
                                                    <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Clave presupuestal origen" rules="required|max:12">
                                                            <v-text-field  v-model="model.participant[4].actor.id" :counter="12" 
                                                             name="Clave presupuestal origen" 
                                                            :error-messages="errors" 
                                                             :disabled="showAction(4) || showAction(5)"
                                                            label="Clave presupuestal origen*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider> 
                                                    </div>
                                                    
                                                     <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Consultorio de origen" rules="required">
                                                            <v-autocomplete auto-select-first :items="officeDoctors"
                                                                      append-icon="mdi-hospital-marker" name="Consultorio de origen"
                                                              no-data-text="Sin resultados" attach 
                                                              v-model="model.participant[5].actor.id"
                                                              :error-messages="errors"
                                                               :disabled="showAction(4) || showAction(5)"
                                                              clearable required label="Consultorio de origen*">
                                                            </v-autocomplete>
                                                      </validation-provider>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Doctor de origen" rules="required">
                                                            <v-autocomplete auto-select-first :items="doctorList"
                                                                      append-icon="mdi-account" name="Doctor de origen"
                                                              no-data-text="Sin resultados" attach 
                                                              v-model="model.participant[2].actor.id"
                                                              :error-messages="errors"
                                                               :disabled="showAction(4) || showAction(5)"
                                                              clearable required label="Doctor de origen*">
                                                            </v-autocomplete>
                                                      </validation-provider>
                                                    </div>
                                                </div>
                                                <v-divider></v-divider>
                                                <div class="row">
                                                  <div class="col-md-12 titleBar">
                                                      <p>Información de destino</p>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Clave presupuestal envío" rules="required|max:12">
                                                            <v-text-field  v-model="model.participant[3].actor.id" :counter="12" 
                                                            name="clavePresupuestalEnvio"
                                                             :disabled="showAction(4) || showAction(5)"
                                                            :error-messages="errors" label="Clave presupuestal envío*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                     <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Consultorio de destino" rules="required">
                                                            <v-autocomplete auto-select-first :items="officeDoctors"
                                                                      append-icon="mdi-hospital-marker"
                                                              no-data-text="Sin resultados" attach 
                                                              v-model="model.participant[6].actor.id"
                                                               :disabled="showAction(4) || showAction(5)"
                                                              :error-messages="errors" name="Consultorio de destino"
                                                              clearable required label="Consultorio de destino*">
                                                            </v-autocomplete>
                                                      </validation-provider>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Doctor de atención" rules="required">
                                                            <v-autocomplete auto-select-first :items="doctorList"
                                                                      append-icon="mdi-account"
                                                              no-data-text="Sin resultados" attach 
                                                              v-model="model.participant[1].actor.id"
                                                               :disabled="showAction(4) || showAction(5)"
                                                              :error-messages="errors" name="Doctor de atención"
                                                              clearable required label="Doctor de atención*">
                                                            </v-autocomplete>
                                                      </validation-provider>
                                                    </div>
                                                </div>
                                                <div name="divCancelation" v-if="showAction(4)">
                                                
                                                  <v-divider></v-divider>
                                                  <div class="row">
                                                    <div class="col-md-12 titleBar text-danger">
                                                        <p>Información de cancelación</p>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Clave presupuestal cancelación" rules="required|max:12">
                                                            <v-text-field  v-model="model.participantTemp" :counter="12" 
                                                            name="Clave presupuestal cancelación"
                                                            :error-messages="errors" label="Clave presupuestal cancelación*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                      <div class="col-md-4"  >
                                                        <validation-provider v-slot="{ errors }" name="Motivo cancelación" rules="required">
                                                          <v-autocomplete auto-select-first :items="cancellationReasons"
                                                                    append-icon="mdi-information-outline"
                                                            no-data-text="Sin resultados" attach 
                                                            v-model="model.description"
                                                            :error-messages="errors" name="Motivo cancelación"
                                                          
                                                            clearable required label="Motivo cancelación*">
                                                          </v-autocomplete>
                                                        </validation-provider>
                                                      </div>
                                                      <div class="col-md-4">
                                                          <validation-provider v-slot="{ errors }" name="Descripción cancelación" rules="required|max:800">
                                                                <v-textarea v-model="model.descriptionTemp" 
                                                               
                                                                required name="Descripción cancelación" 
                                                                label="Descripción cancelación*" :error-messages="errors"
                                                                required counter rows="1" row-height="20"></v-textarea>
                                                          </validation-provider>
                                                      </div>
                                                     
                                                  </div>
                                                </div>
                                                <div name="divReprogramacion" v-if="showAction(5)">
                                                
                                                  <v-divider></v-divider>
                                                  <div class="row">
                                                    <div class="col-md-12 titleBar">
                                                        <p>Información de reprogramación</p>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Clave presupuestal reprogramación" rules="required|max:12">
                                                            <v-text-field  v-model="model.reprogramacionClaveRepro" :counter="12" 
                                                            name="Clave presupuestal reprogramación"
                                                            :error-messages="errors" label="Clave presupuestal reprogramación*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                      


                                                      <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Especialidad" rules="required">
                                                          <v-autocomplete auto-select-first :items="specialities"
                                                                    append-icon="mdi-pencil" name="Especialidad"
                                                            no-data-text="Sin resultados" attach 
                                                          v-model="model.specialty[0].text"
                                                            :error-messages="errors"
                                                            :disabled="true"
                                                            clearable required label="Especialidad*">
                                                          </v-autocomplete>
                                                        </validation-provider>
                                                      </div>

                                                      <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Clave presupuestal atención (reprogramación)" rules="required|max:12">
                                                            <v-text-field  v-model="model.reprogramacionClaveAtencion" :counter="12" 
                                                            name="Clave presupuestal atención (reprogramación)"
                                                            :error-messages="errors" label="Clave presupuestal atención (reprogramación)*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                     
                                                  </div>
                                                  <v-divider></v-divider>
                                                  <div class="row">
                                                    <div class="col-md-12 titleBar">
                                                        <p>Información de cita reprogramada</p>
                                                    </div>
                                                  </div>
                                                  <div class="row">

                                                    <div class="col-md-4">
                                                          <validation-provider v-slot="{ errors }" name="fecha" rules="required">
                                                              <v-text-field  v-model="model.reprogramacionDate" type="date" 
                                                              :disabled="showAction(4)"
                                                              name="Fecha" :error-messages="errors" label="Fecha*"
                                                              required autocomplete="off"></v-text-field>
                                                          </validation-provider>
                                                      </div>
                                                      <div class="col-md-4">
                                                          <validation-provider v-slot="{ errors }" name="Hora inicio" rules="required">
                                                              <v-text-field  v-model="model.reprogramacionStartTime" type="time" name="Hora inicio" 
                                                              :error-messages="errors" label="Hora inicio*"
                                                              :disabled="showAction(4)"
                                                              required autocomplete="off"></v-text-field>
                                                          </validation-provider>
                                                      </div>
                                                      <div class="col-md-4">
                                                          <validation-provider v-slot="{ errors }" name="Hora fin" rules="required">
                                                              <v-text-field  v-model="model.reprogramacionEndTime"  name="Hora fin"
                                                              type="time" :error-messages="errors" label="Hora fin*"
                                                              :disabled="!model.reprogramacionStartTime || showAction(4)"
                                                              :min="model.reprogramacionStartTime"
                                                            
                                                              required autocomplete="off"></v-text-field>
                                                          </validation-provider>
                                                      </div>
                                                      
                                                      
                                                  </div>
                                                </div>
                                                <div class="col-md-12 text-center">

                                                    <v-btn class="mr-5 mt-5 blue-lite-sitdris btn" @click="changeAction(1)">
                                                      <i class="fa fa-chevron-left"></i>  Volver
                                                    </v-btn>
                                                    <v-btn :class="{'text-danger':showAction(4)}" class="mr-5 mt-5 blue-lite-sitdris btn" type="submit" :disabled="invalid || sending">
                                                         {{showAction(4) ? 'Cancelar' : (showAction(5)? 'Reprogramar':'Guardar')}} <i class="ti-save ml-3"></i>
                                                    </v-btn>
                                                </div>
                                            </form>
                                        </validation-observer>
                                    </div>




                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <!-- <Footer /> -->

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders,Constant,UtilFront } from "@/core";
import { PatientRequest,AppointmentRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import moment from 'moment';

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      service: PatientRequest,
      title: "Incidencias de ordenes",
      list: [],
      headers: DTHeaders.ROLES,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      permissions: [],
      patientesList: [],
      infoPatient:{},
      viewInfoPatient:false,
      doctorList: Constant.getDoctors(),
      specialities: Constant.getSpecialities(),
      turns: Constant.getTurns(),
      shippingReasons: Constant.getShippingReasons(),
      officeDoctors: Constant.getOfficeDoctors(),
      serviceOccasions: Constant.getServiceOccasions(),
      cancellationReasons: Constant.getCancellationReasons(),
      mainModel: {
        resourceType: "Appointment",
        status: "pending",
        specialty: [
          {
            text: "",
          },
        ],
        reason: [
          {
            text: "",
          },
        ],
        description: "02",
        Comment: "",
        start: "",
        end: "",
        created: "",
        participant: [
          {
            type: [
              {
                text: "",
              },
            ],
            actor: {
              reference: "",
              id: 0,
            },
            required: "",
            status: "",
          },
          {
            actor: {
              reference: "",
              id: "",
            },
            required: "",
            status: "",
          },
          {
            actor: {
              reference: "",
              id: "",
            },
            required: "",
            status: "",
          },
          {
            actor: {
              reference: "",
              id: "",
            },
            required: "",
            status: "",
          },
          {
            actor: {
              reference: "",
              id: "",
            },
            required: "required",
            status: "accepted",
          },
          {
            actor: {
              reference: "",
              id: "",
            },
            required: "required",
            status: "accepted",
          },
          {
            actor: {
              reference: "",
              id: "",
            },
            required: " required ",
            status: "tentative",
          },
        ],
        requestedPeriod: [
          {
            start: "",
            end: "",
          },
        ],
      },
      max: new Date(),
      min: new Date(),
      //Calendario

      focus: "",
      type: "month",
      typeToLabel: {
        month: "Mes",
        week: "Semana",
        day: "Día",
        "4day": "4 Days",
      },
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      colors: [
        "blue",
        "indigo",
        "deep-purple",
        "cyan",
        "green",
        "orange",
        "grey darken-1",
      ],
      names: [
        "Meeting",
        "Holiday",
        "PTO",
        "Travel",
        "Event",
        "Birthday",
        "Conference",
        "Party",
      ],
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {

},
  computed: {
    titleAction() {
       if (this.action == 1) {
        return "Citas";
      } else if (this.action == 2) {
        return "Registrar cita";
      } else if (this.action == 3) {
        return "Modificar cita";
      }else if(this.action == 4){
        return "Cancelar cita";
      }else if(this.action == 5){
        return "Reprogramar cita";
      }
      return "Citas";
    },
  },
  mounted() {
    this.$refs.calendar.checkChange();
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
     
      if (action == 1) {
        // this.$refs.observer.reset();
        // this.model = {};
        this.action = action;
      } else if(action == 2) {
        this.infoPatient = {};
        this.viewInfoPatient =false;
        this.listPatients();
        this.action = action;
        Object.assign(this.model, this.mainModel);
      }else{
        this.action = action;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }else if(this.action == 4){
        this.cancel();
      }else if(this.action == 5){
        this.reprogramming();
      }
    },
    findPatientOnPatientsList(id){
      this.viewInfoPatient = false;
      if(id != null){
          console.log(this.patientesList);
          this.infoPatient = this.patientesList.filter((obj)=>{
            console.log(obj);
              return obj.id == id
          });
          if(this.infoPatient){
            this.infoPatient = this.infoPatient[0];
            this.viewInfoPatient = true;

          }
      }
      
    },
    catchError(error){
        console.log(error);
        this.$toast.error("Ocurrio un error interno");
    },
     listAll() {
       this.list = [];
       AppointmentRequest.listAll().then((res) => {
          if(res.data.appointments){

              let appointments = res.data.appointments.filter((appointment)=>{
                  return (new Date(appointment.newStartDate) >= this.min && new Date(appointment.newEndDate)<=this.max);
              });
              let eventCount = appointments.length;

              const events = [];
              
              for (let i = 0; i < eventCount; i++) {
                let event = appointments[i];
                // console.log(event);
                let first = new Date(event.newStartDate);
                let second = new Date(event.newEndDate);
                let name = `${event.patientName} ${event.patientFirstLastname} ${event.patientSecondLastName}`;
                name += ` de ${moment(first).format('hh:mm a')} a ${moment(second).format('hh:mm a')}`;
                let color = "indigo";
               
                switch(event.status){
                  case "pending":
                      color = "green";
                    break;
                  case "cancelled":
                      color = "grey darken-1";
                      break;
                  case "proposed":
                      color = "cyan";
                    break;
                }

                // colors: [
                //         "blue",
                //         "indigo",
                //         "deep-purple",
                //         "cyan",
                //         "green",
                //         "orange",
                //         "grey darken-1",
                //       ],
                events.push({
                  name:name,
                  details: "",
                  start: first,
                  end: second,
                  color: color,
                  timed: false,
                  event: event
                });
              }

              this.events =events;

          }
        }).catch(this.catchError);
    },
    add(){
      this.sending = true;
      try {
          let objectModel = {};
          Object.assign(objectModel, this.model);


          let start = `${this.model.date}T${this.model.startTime}:00Z`
          let end = `${this.model.date}T${this.model.endTime}:00Z`
          objectModel.requestedPeriod[0].start = start;
          objectModel.requestedPeriod[0].end = end;

          objectModel.start = start;
          objectModel.end = end;
          objectModel.created = `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`;

          delete objectModel.date;
          delete objectModel.startTime;
          delete objectModel.endTime;

          AppointmentRequest.add(objectModel).then((res)=>{
            let data = res.data;
            let message = UtilFront.getMessageError(data);
            if(message == null){
                this.changeAction(1);
                this.$toast.success("Registro realizado correctamente");
            }else{
                this.$toast.error(message || "Ocurrio un error interno");
            }

        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
      } catch (error) {
        console.log(e)
      }
         
    },
    listPatients() {
      this.patients = [];
      this.patientesList =[];
      PatientRequest.listAll().then((res) => {
        let {data} = res;
        if(data){
          this.patientesList =  res.data.patients;
          this.patients = data.patients.map((obj) => {      
              return {
                value: obj.id,
                text: `${obj.name} ${obj.firstLastname} ${obj.secondLastName} - ${obj.curp}`,
              };
          });
        }          
      }).catch((e)=>{
        console.log(e)
      });
    },
    edit(toAction){
      let idAppointment =this.selectedEvent.event.id;
      this.selectedOpen = false;
      this.listPatients();
      AppointmentRequest.get({idAppointment: idAppointment}).then((res)=>{
            
            let {appointment, success} = res.data;
            if(success){
              this.model = appointment;
              this.model.startTime =  moment(this.model.requestedPeriod[0].start).format('HH:mm') ;
              this.model.endTime =  moment(this.model.requestedPeriod[0].end).format('HH:mm') ;
              this.model.date = moment(this.model.requestedPeriod[0].start).format('YYYY-MM-DD')

              this.model.participant[0].actor.id = parseInt(this.model.participant[0].actor.id);
              this.findPatientOnPatientsList(this.model.participant[0].actor.id);
              this.model.Comment = this.model.comment;

              this.changeAction(toAction);
            }else{
              this.$toast.error("Ocurrio un error interno");
            }

        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
    },
    update(){
      this.sending = true;
      try {
          let objectModel = {};
          Object.assign(objectModel, this.model);


          let start = `${this.model.date}T${this.model.startTime}:00Z`
          let end = `${this.model.date}T${this.model.endTime}:00Z`
          objectModel.requestedPeriod[0].start = start;
          objectModel.requestedPeriod[0].end = end;

          objectModel.start = start;
          objectModel.end = end;
          objectModel.created = `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`;

          delete objectModel.date;
          delete objectModel.startTime;
          delete objectModel.endTime;

          
          objectModel.reason[0].text = objectModel.Comment;

          AppointmentRequest.update(objectModel).then((res)=>{
            let data = res.data;
            let message = UtilFront.getMessageError(data);
            if(message == null){
                this.changeAction(1);
                this.$toast.success("Modificación realizada correctamente");
            }else{
                this.$toast.error(message || "Ocurrio un error interno");
            }

        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
      } catch (error) {
        console.log(e)
      }
         
    },
    isDateStatus(status){
        let event = this.selectedEvent;
        if(event != null && event != undefined){
          event = event.event;
          if(event != null && event != undefined){
            if(event.status != null && event.status != undefined){
                return event.status == status;
            }
          }
        }
        return false;
    },
    cancel(){
      this.sending = true;
      try {
          let objectModel = {};
          Object.assign(objectModel, this.model);


          let start = `${this.model.date}T${this.model.startTime}:00Z`
          let end = `${this.model.date}T${this.model.endTime}:00Z`
          objectModel.requestedPeriod[0].start = start;
          objectModel.requestedPeriod[0].end = end;

          objectModel.start = start;
          objectModel.end = end;
          objectModel.created = `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`;


          objectModel.participant[1].actor.id = "Erillam Healthcare";
          objectModel.participant[2].actor.id = objectModel.participantTemp;
          objectModel.reason[0].text = objectModel.descriptionTemp;
          objectModel.status = "cancelled";

          delete objectModel.date;
          delete objectModel.startTime;
          delete objectModel.endTime;
          delete objectModel.participantTemp;
          delete objectModel.descriptionTemp;

        
          

          AppointmentRequest.cancel(objectModel).then((res)=>{
            let data = res.data;
            let message = UtilFront.getMessageError(data);
            if(message == null){
                this.changeAction(1);
                this.$toast.success("Cancelación realizada correctamente");
            }else{
                this.$toast.error(message || "Ocurrio un error interno");
            }

        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
      } catch (error) {
        console.log(e)
      }
         
    },
    reprogramming(){
      this.sending = true;
      try {
          let objectModel = {};
          Object.assign(objectModel, this.model);

          objectModel.id = objectModel.identifier[0].value
          objectModel.created = `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`;
          objectModel.participant[1].actor.id = "Erillam Healthcare";
          objectModel.participant[2].actor.id = objectModel.reprogramacionClaveRepro;
          objectModel.participant[3].actor.id = objectModel.reprogramacionClaveAtencion;


          let start = `${this.model.reprogramacionDate}T${this.model.reprogramacionStartTime}:00Z`
          let end = `${this.model.reprogramacionDate}T${this.model.reprogramacionEndTime}:00Z`
          objectModel.requestedPeriod[0].start = start;
          objectModel.requestedPeriod[0].end = end;

          objectModel.start = start;
          objectModel.end = end;


          objectModel.status = "proposed";

          delete objectModel.reprogramacionDate;
          delete objectModel.reprogramacionEndTime;
          delete objectModel.reprogramacionStartTime;
          delete objectModel.reprogramacionClaveAtencion;
          delete objectModel.reprogramacionClaveRepro;
          delete objectModel.startTime;
          delete objectModel.endTime;
          delete objectModel.participantTemp;
          delete objectModel.descriptionTemp;

        
          

          AppointmentRequest.reprogramming(objectModel).then((res)=>{
            let data = res.data;
            let message = UtilFront.getMessageError(data);
            if(message == null){
                this.changeAction(1);
                this.$toast.success("Reprogramación realizada correctamente");
            }else{
                this.$toast.error(message || "Ocurrio un error interno");
            }

        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
      } catch (error) {
        console.log(e)
      }
         
    },
    formatDate(aDate){
      return moment(aDate).format('DD/MM/YYYY');
    },
    //Calendario
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },
    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        setTimeout(() => {
          this.selectedOpen = true;
        }, 10);
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        setTimeout(open, 10);
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },
    updateRange({ start, end }) {
      // console.log(start);
      // console.log(end);
      // const events = [];
      this.events = [];
      this.min = new Date(`${start.date}T00:00:00`);
      this.max = new Date(`${end.date}T23:59:59`);
      this.listAll();
      // const days = (max.getTime() - min.getTime()) / 86400000;
      // const eventCount = this.rnd(days, days + 20);

      // for (let i = 0; i < eventCount; i++) {
      //   const allDay = this.rnd(0, 3) === 0;
      //   const firstTimestamp = this.rnd(min.getTime(), max.getTime());
      //   const first = new Date(firstTimestamp - (firstTimestamp % 900000));
      //   const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000;
      //   const second = new Date(first.getTime() + secondTimestamp);
      //   let color = this.colors[this.rnd(0, this.colors.length - 1)];
      //   events.push({
      //     name: this.names[this.rnd(0, this.names.length - 1)],
      //     details: "Fernando Fajardo Hernández",
      //     start: first,
      //     end: second,
      //     color: "green",
      //     timed: !allDay,
      //   });
      // }

      // this.events = events;
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>

<style>
</style>