<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar">

    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      
      <!-- End Breadcrumbbar -->
      <!-- Start Contentbar -->
      <div class="contentbar mt-12">
        
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <template>
              <v-card>
                <v-card-title>
                    
                    <h5 class="card-title mb-0">
                        <i class="fa fa-database" aria-hidden="true"></i> {{titleAction}}
                    </h5>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                   <button class="blue-lite-sitdris btn ml-5">
                            <i class="fa fa-download mr-2"></i>  Descargar archivo excel
                    </button>
                </v-card-title> 
            
                
                <v-card-text>
                  <div class="hibTable ui-widget-header v-data-table__wrapper" style="width:1200px;">
                        <table class="sortable ">
                            <thead class="v-data-table-header">
                                <tr>
                                    <td class="ui-state-default" style="width: 100px; border: none;">ID</td>
                                    <td class="ui-state-default" style="width: 200px; border: none;">Clave</td>
                                    <td class="ui-state-default" style="width: 50px; border: none;">Mod</td>
                                    <td class="ui-state-default" style="width: 100px; border: none;">Precio</td>
                                    <td class="ui-state-default" style="width: 100px; border: none;">Precio E</td>
                                    <td class="ui-state-default" style="width: 650px; border: none;">Instrucciones</td>
                                </tr>
                            </thead>


                            <tbody id="tablaScrollN">

                                <tr>
                                    <td style="width: 99px;text-align: center;">10000021</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">20000021</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">30000021</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">40000021</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">50000021</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">60000015</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">70000015</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">80000015</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">90000012</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFÍA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">100000015</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFIA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">110000012</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFIA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">120000001</td>
                                    <td style="width: 199px;text-align: center;">MASTOGRAFIA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000001</td>
                                    <td style="width: 199px;text-align: center;">Productos de hospital</td>
                                    <td style="width: 49px;text-align: center;">1</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000002</td>
                                    <td style="width: 199px;text-align: center;">LAB PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">2</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000003</td>
                                    <td style="width: 199px;text-align: center;">US PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">3</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000004</td>
                                    <td style="width: 199px;text-align: center;">RX PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">4</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000005</td>
                                    <td style="width: 199px;text-align: center;">MR PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">5</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000006</td>
                                    <td style="width: 199px;text-align: center;">TAC PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">6</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000007</td>
                                    <td style="width: 199px;text-align: center;">MG PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">7</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000008</td>
                                    <td style="width: 199px;text-align: center;">DX PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">9</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000009</td>
                                    <td style="width: 199px;text-align: center;">COLPOSCOPIA PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">10</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000010</td>
                                    <td style="width: 199px;text-align: center;">DENSITOMETRIA PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">11</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000011</td>
                                    <td style="width: 199px;text-align: center;">ECG PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">12</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000012</td>
                                    <td style="width: 199px;text-align: center;">RF PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">13</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>

                                <tr>
                                    <td style="width: 99px;text-align: center;">2140000013</td>
                                    <td style="width: 199px;text-align: center;">RX PANORAMICO PRUEBA</td>
                                    <td style="width: 49px;text-align: center;">14</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 99px;text-align: center;">$ 0.00</td>
                                    <td style="width: 649px;text-align: center;"> </td>
                                </tr>



                            </tbody>
                            <tfoot></tfoot>
                        </table>

                    </div>
                </v-card-text>
              </v-card>
            </template>
          </div>
        </div>
      </div>
      <!-- End Contentbar -->

    </div>
    <!-- End Rightbar -->
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>{{changeStatus.question}}</small>
        </v-card-title>
        <v-card-text>{{changeStatus.description}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelchangeStatus" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="updateStatus" :disabled="sending">
            Sí, continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogResetPassword" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>¿Restablecer contraseña?</small>
        </v-card-title>
        <v-card-text>La contraseña de <strong>{{model.name}}</strong> será cambiará a:</br>
          <strong>{{model.email}}</strong> </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogResetPassword = false" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="resetPassword" :disabled="sending">
            Sí, restablecer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <!-- End Containerbar -->
  <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders, UtilFront,PermissionConstants } from "@/core";
import { PatientRequest, RolRequest, BranchOfficeRequest,ExcelRequest } from "@/core/request";
import { required, max, email,min  } from "vee-validate/dist/rules";
import moment from 'moment';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("email", {
  ...email,
  message: "{_field_} ingrese una dirección de correo valida",
});

extend('password', {
  params: ['target'],
  validate(value, { target }) {
    return value === target;
  },
  message: 'Las contraseñas no coinciden'
});


export default {
  data() {
    return {
      service: PatientRequest,
      title: "Usuarios",
      list: [],
      headers: [
        { text: "ID Paciente", value: "idPatient" },
        { text: "Paciente", value: "fullNamePatient" },
        { text: "CURP", value: "curp" },
        { text: "NSS", value: "imssNumber" },
        { text: "Folio", value: "folio" },
        { text: "Monto", value: "monto" },
        { text: "Estatus", value: "estatus" },
        { text: "Acciones", value: "actions", sortable: false },
    ],
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      dialogResetPassword: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      branchOffices: [],
      branchOffice : {},
      myBranchOffices:[],
      roles: [],
      permissions: PermissionConstants,
      changeStatus:{
        question: "",
        description: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Base de datos";
      } else if (this.action == 2) {
        return "Registrar cobro";
      } else if (this.action == 3) {
        return "Modificar coboro";
      }else if (this.action == 4) {
        return "Información de paciente";
      }
      return "Caja";
    }
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.model = {};
        this.action = action;
        this.$refs.observer.reset();
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

       if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }


    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.list = [];
      this.service.listAll().then((res) => {
        console.log(res.data);
        if(res.data.patients){
          this.list = res.data.patients.map((patient)=>{
              let fullNamePatient = `${patient.name} ${patient.firstLastname} ${patient.secondLastName}`;
              fullNamePatient = fullNamePatient.replace("null", "").replace("  "," ");
              let fullAddress = `${patient.directionStreet} ${patient.directionColony} ${patient.directionCity} ${patient.directionState}`;
              fullAddress = fullAddress.replace("null", "").replace("  "," ");

            let folio = Math.floor(Math.random() * 100888) + 1 ; 
            let monto = Math.floor(Math.random() * 1000) + 1 ; 

              return {
                  idPatient: patient.id,
                  fullNamePatient: fullNamePatient,
                  curp: patient.curp,
                  fullAddress:fullAddress,
                  imssNumber: (patient.patientNSS || "---"),
                  medicalAggregated: (patient.medicalAggregated || "---"),
                  folio: folio,
                  monto: `$${monto}.00`,
                  estatus:"Pagado",
                  registrationDate: moment(patient.registrationDate).format('YYYY-MM-DD')
              };
          });
        }
      }).catch(this.catchError);
      
    },
    add() {

      try{
          let obj = this.model;
          let JSON_HL7 = {
              resourceType: "Patient",
              identifier: [
                  { value: `${obj.nss}${obj.medicalAggregated}` }, { value: obj.curp },
                  { value: obj.nss }, { value: obj.medicalAggregated }
              ],
              name: [{
                  resourceType: "HumanName",
                  family: obj.firstLastname,
                  given: [obj.name],
                  suffix: obj.secondLastname
              }],
              telecom: [{
                  resourceType: "ContactPoint",
                  system: obj.homePhoneCode,
                  value: obj.homePhone
              }, {
                  resourceType: "ContactPoint",
                  system: obj.cellPhoneCode,
                  value: obj.cellPhone
              }],
              gender: obj.sex,
              birthDate: obj.birthDate + "T00:00",
              deceasedBoolean: (obj.dateDeath ? true : false),
              address: [{
                  resourceType: "Address",
                  line: [obj.street],
                  city: obj.municipality,
                  district: obj.colony,
                  state: obj.federalEntity,
                  postalCode: obj.postalCode
              }],
              maritalStatus: [{ coding: obj.civilStatus }],
              generalPractitioner: [{
                  resourceType: "Organization",
                  identifier: [{ value: obj.budgetKey }]
              }],
              extension: [{
                  valueDate: obj.endValidity
              }, {
                  valueDate: `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`
              }, {
                  valueInteger: obj.rightIndicator
              }]
          };
          console.log(JSON_HL7);
          this.service.add(JSON_HL7).then((res)=>{
              let data = res.data;
              let message = UtilFront.getMessageError(data);
              if(message == null){
                  this.changeAction(1);
                  this.$toast.success("Registro realizado correctamente");
              }else{
                  this.$toast.error(message || "Ocurrio un error interno");
              }
          }).catch(this.catchError).finally(()=>{
              this.sending = false;
          });

      }catch(e){
        console.log(e);
      }
     
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            if(message == '' || message == undefined){
              this.notification("success", "Cambios realizados correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(3);
    },
    view(object){
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(4);
    },
    listAllBranchOffices(){
      BranchOfficeRequest.listAllActive().then((res) => {
        let { data } = res.data;
        if (data) {
          this.branchOffices = data.map((obj) => {        
              return {
                value: {idBranchoffice: obj.idBranchoffice},
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
          });
        }
      }).catch(this.catchError);
    },
    listAllRoles(){
      this.roles = [];
      RolRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.roles = data.objects.map((obj) => {      
              return {
                value: obj.idRole,
                text: `${obj.name} - (${obj.description})`,
              };
          });
          }
        })
        .catch(this.catchError);
    },
    confirmchangeStatus(item){
      this.model =  item;
      if(!item.available){
        this.changeStatus.question = "¿Desea inactivar la cuenta?"
        this.changeStatus.description = `${item.name} no podrá iniciar sesión.`;
      }else{
        this.changeStatus.question = "¿Desea activar la cuenta?"
        this.changeStatus.description = `${item.name} podrá iniciar sesión.`;
      }
      this.dialog = true;
    },
    confirmResetPassword(item){
      this.model =  item;
      this.dialogResetPassword = true;
    },
    cancelchangeStatus(){
      this.dialog = false; 
      this.model.available =  !this.model.available;
    },
    updateStatus(){
      this.sending = true;
      this.service.updateStatus({id: this.model.idUser, status: (this.model.available ? 1 : 0)}).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.model.available =  !this.model.available;
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialog = false; 
      });
    },
    resetPassword(){
      this.sending = true;
      this.service.resetPassword(this.model.idUser).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Contraseña restablecida");
          } else {
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialogResetPassword = false; 
      });
    },
    listAllBranchOfficesByUser(){     
      this.service.listAllBranchOfficesByUserId(this.model.idUser).then((res) => {
          let { data } = res.data;
          let {  objects } = data;
          if (objects) {
            this.model.branchOffices = objects.map((object) => {
                return {idBranchoffice: object.idBranchoffice};
            });
          } else {
             this.model.branchOffices = [];
          }
      }).catch(this.catchError);
    },
    withPermission(numRol){
      return UtilFront.withPermission(numRol);
    },
    withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    excel() {
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportUsers({
          id:this.branchOffice.idBranchoffice
        });
    }
  },
};
</script>

<style>

</style>