<template lang="es">

    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                           <!-- <button class="btn btn-success" v-if="showAction(1)" @click="changeAction(2)">
                                <i class="ti-plus"></i> Crear rol
                           </button> -->
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
      
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                           
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0"> 
                                    <i class="fa fa-exclamation-triangle"></i>  {{titleAction}}
                                </h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field>
                            </v-card-title>
                            <v-card-text>
                                <!-- <v-container> -->
                                    <div id="list"  v-if="showAction(1)"  >
                                        <v-data-table dense  :headers="headers" :items="list" sort-by="name"
                                            class="elevation-1" :search="search"
                                            :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                            loading-text="Carngando..."
                                            no-data-text="Sin resultados disponibles"
                                            no-results-text="Sin resultados coincidentes con la búsqueda"
                                            >
                                            <template v-slot:[`item.actions`]="{ item, index}">
                                        
                                                 <div>
                                                   <v-tooltip top>
                                                      <template v-slot:activator="{ on, attrs }">
                                                       <v-icon small class="ml-3" @click="edit(item, index)" v-bind="attrs" v-on="on">
                                                        mdi mdi-square-edit-outline
                                                        </v-icon>
                                                    </template>
                                                    <span>Editar</span>
                                                  </v-tooltip>
                                                  
                                                  <v-tooltip top>
                                                      <template v-slot:activator="{ on, attrs }">
                                                     <span  class="ml-3 hand text-info" @click="view(item)" v-bind="attrs" v-on="on">
                                                          <i class="mdi mdi-information-outline"></i>
                                                      </span>
                                                      </template>
                                                    <span>Ver</span>
                                                  </v-tooltip>
                                                </div>

                                            </template>
                                        </v-data-table>
                                    </div>
                               
                                    <div id="form" v-if="showAction(2) || showAction(3) || showAction(4)">
                                        <validation-observer ref="observer" v-slot="{ invalid }">
                                            <form @submit.prevent="doAction" >
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <validation-provider   v-slot="{ errors }" name="Nombre" rules="required|max:30">
                                                        <v-text-field :disabled="isView"
                                                           v-model="model.name" :counter="30" :error-messages="errors"   label="Nombre*"
                                                            required autocomplete="off" ></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <validation-provider   v-slot="{ errors }" name="Descripción" rules="required|max:60">
                                                        <v-text-field :disabled="isView"
                                                           v-model="model.description" :counter="60" :error-messages="errors"   label="Descripción*"
                                                            required autocomplete="off" ></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-12">
                                                        <validation-provider v-slot="{ errors }" name="Permisos" rules="required">
                                                             <v-autocomplete  :disabled="isView"  :items="permissions" attach
                                                                v-model="model.permissions"  
                                                                :error-messages="errors" no-data-text="Sin resultados"
                                                                 label="Permisos" clearable  multiple chips deletable-chips>
                                                                 <template #selection="{ item , index}">
                                                                    <v-chip color="success"
                                                                    close @click:close="model.permissions.splice(index, 1)"
                                                                    >{{item.text}}</v-chip>
                                                                  </template>
                                                            </v-autocomplete>                                                   
                                                        </validation-provider>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                        <v-btn class="mr-5 mt-5" v-if="!showAction(4)"  type="submit" :disabled="invalid || sending">
                                                        <i class="ti-save mr-3"></i> Guardar
                                                    </v-btn>
                                                    <v-btn class="mt-5" @click="changeAction(1)">
                                                        <i class="ti-close mr-3"></i> Cancelar
                                                    </v-btn>
                                                    
                                                </div>
                                            </form>
                                        </validation-observer>
                                          
  
                                    </div>
                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders } from "@/core";
import { RolRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      service: RolRequest,
      title: "Incidencias de ordenes",
      list: [],
      headers: DTHeaders.ROLES,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      permissions: [],
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Inicidencias";
      } else if (this.action == 2) {
        return "Inicidencias";
      } else if (this.action == 3) {
        return "Inicidencias";
      } else if (this.action == 4) {
        return "Información de incidencia";
      }
      return "Inicidencias";
    },
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;
      
      if(type != "error"){
            setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
        }
      


    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.service
        .listAllWithPermmisions()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.list = data.objects;
          }
        })
        .catch(this.catchError);
    },
    add() {
      this.sending = true;
      this.service
        .add(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Registro realizado correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.changeAction(3);
    },
    view(object) {
      Object.assign(this.model, object);
      this.changeAction(4);
    }
  },
};
</script>

<style>
</style>