<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar" data-app>
        <SidebarMenuComponent />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                        <button class="btn btn-success" type="button" v-if="showAction(1)" @click="changeAction(2)">
                            <i class="ti-plus mr-2"></i> Crear Licitación
                        </button>
                        <!--Se modifica para tener color azul-->
                        <button class="btn btn-primary" type="button" v-else @click="changeAction(1)">
                            <i class="ti-arrow-left mr-2"></i> Regresar
                        </button>
                        <!--Se modifica para tener color azul-->
                    </div>
                </div>
            </div>
            <div class="contentbar">
                <template>
                    <v-card>
                        <v-card-title>
                            <h5 class="card-title mb-0"><i class="ti-files mr-2"></i> Licitaciones</h5>
                            <v-spacer></v-spacer>

                            <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field>
                        </v-card-title>
                        <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                            <div class="alert  alert-dismissible fade show"
                                :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}"
                                role="alert">
                                <strong>{{notifier.title}}</strong> {{notifier.message}}
                                <button type="button" @click="notifier.notifying = false" class="close" data-dismiss="alert"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
   <!--Modificar aquí--><v-data-table v-if="showAction(1)" dense :headers="biddingHeaders" :items="biddingList" sort-by="date"
                            class="elevation-1" :search="search"
                            :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                            loading-text="Carngando..." no-data-text="Sin resultados disponibles"
                            no-results-text="Sin resultados coincidentes con la búsqueda">
                            <template v-slot:[`item.actions`]="{ item, index}">
                                <div>
                                    <v-tooltip top>
                                        <template v-slot:activator="{ on, attrs }">
                                            <i class="dripicons-document-edit" style="cursor:pointer;font-size: 1.2em;" @click="edit(item, index)" v-bind="attrs" v-on="on"></i>
                                        </template>
                                        <span>Editar</span>
                                    </v-tooltip>
                                </div>
                            </template>
                        </v-data-table>
                        <div class="col-md-6" v-if="showAction(1)" >
                            <div class="invoice-footer-btn">
                                <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                            </div>
                        </div>
                        <v-card-text v-if="showAction(2) || showAction(3) || showAction(4)">
                            <validation-observer ref="observer" v-slot="{ invalid }" disabled>
                                <form @submit.prevent="doAction">
                                  
                                        <div class="row">

                                            <div class="col-md-6">
                                                <validation-provider v-slot="{ errors }" name="Nombre"
                                                    rules="required|max:255">
                                                    <v-text-field v-model="model.name" :counter="255" max="255"
                                                        :error-messages="errors" label="Nombre*" required
                                                        autocomplete="off"></v-text-field>
                                                </validation-provider>
                                            </div>
                                            <div class="col-md-6">
                                                <validation-provider v-slot="{ errors }" name="Referencia"
                                                    rules="required|max:200">
                                                    <v-text-field :disabled="action == 3" v-model="model.biddingKey"
                                                        :counter="200" :error-messages="errors" label="Referencia*"
                                                        required autocomplete="off"></v-text-field>
                                                </validation-provider>
                                            </div>
                                        </div>
                                        <div class="row" v-if="branchOffices.length > 1 && action == 2" >
                                            <div class="col-md-12">
                                                <validation-provider v-slot="{ errors }" name="Sucursal" rules="required">
                                                     <v-autocomplete 
                                                        auto-select-first :items="branchOffices" 
                                                        no-data-text="Sin resultados" attach
                                                        v-model="model.branchOffice" 
                                                        clearable label="Sucursal" 
                                                        autocomplate="off"
                                                        :error-messages="errors">
                                                    </v-autocomplete> 
                                                </validation-provider>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-md-12">
                                                <validation-provider v-slot="{ errors }" name="Proveedores" rules="required">
                                                        <v-autocomplete    :items="suppliers" attach
                                                        v-model="model.suppliers"  
                                                        :error-messages="errors" no-data-text="Sin resultados"
                                                        :disabled="action == 3"
                                                        autocomplate="off"
                                                            label="Proveedores" clearable  multiple chips  deletable-chips>
                                                            <template #selection="{ item, index }">
                                                            <v-chip color="success" 
                                                            close @click:close="model.suppliers.splice(index, 1)"
                                                            >{{item.text}}  </v-chip>
                                                            </template>
                                                    </v-autocomplete>                                                   
                                                </validation-provider>
                                            </div>
                                        </div>
                                            
                                    
                                    

                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-success" v-if="!showAction(4)" type="submit" :disabled="invalid || sending">
                                            <i class="ti-save mr-3"></i> Guardar
                                        </button>
                                    </div>
                                </form>
                            </validation-observer>
                        </v-card-text>
                    </v-card>
                </template>
            </div>
        </div>
        <!-- End Contentbar -->
        <FooterComponent></FooterComponent>

    </div>
    <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="js">
    import Topbar from '@/components/Topbar.vue';
import Datatable from '@/components/Datatable.vue';
import AddBidding from '@/components/forms/AddBidding.vue';
import AddSupplier from '@/components/forms/AddSupplier.vue';
import SidebarMenuComponent from '@/components/SidebarMenuComponent.vue';
import FooterComponent from '@/components/FooterComponent';
import { SupplierRequest,ExcelRequest } from "@/core/request";
import { required, max, email,min  } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";




import axios from 'axios'
import DTHeaders from '@/core/DataTableHeaders'
import {ServicePath, UtilFront} from '@/core'

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});
export default{
    data(){
        return {
            title:'Licitaciones',
            notifier: { notifying: false, type: "", message: "" },
            showBiddingTableList: true,
            showSupplierTableList: true,
            showBiddingSecction: true,
            biddingHeaders : DTHeaders.BIDDING,
            supplierHeaders : DTHeaders.SUPPLIER,
            biddingList: [],
            supplierList: [],
            dialog:false,
            sending: false,
            search:"",
            action: 1,
            suppliers:[],
            model: {name: "", biddingKey:""},
            branchOffices:[],
            branchOffice:{}
        }
    },
    components:{
        AddBidding,
        AddSupplier,
        Topbar,
        Datatable,
        SidebarMenuComponent,
        FooterComponent,
        extend,
        ValidationObserver,
        ValidationProvider,
        setInteractionMode
    },
    created(){
        // axios.post(ServicePath.GET_ALL_SUPPLIERS)
        // .then(response => {
        //     this.supplierList = response.data.data.objects
        // })
        let infoUser = UtilFront.getDataUser();
        this.branchOffices = infoUser.branchOfficesSimple;
        if (this.branchOffices.length > 0) {
            this.branchOffice = this.branchOffices[0].value;
        }
        this.listAll();
    },
    methods:{
        notification(type, message) {
            if (type == "success") {
                this.notifier.type = 1;
                this.notifier.title = "¡Éxito!";
                this.notifier.message = message || "Acción realizada correctamente.";
            } else if (type == "error") {
                this.notifier.type = 2;
                this.notifier.title = "Error";
                this.notifier.message = message || "Ocurrio un error interno";
            } else {
                this.notifier.type = 3;
                this.notifier.title = "Advertencia";
                this.notifier.message = message || "Verifiqué la información ingresada";
            }
            this.notifier.notifying = true;

            if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }
        },
        catchError(error) {
            console.log(error);
            this.notification("error", "Ocurrio un error interno");
        },
        showAction(action) {
            return this.action == action;
        },
        changeAction(action) {
            if (action == 1) {
                this.$refs.observer.reset();
                this.model = {};
                this.action = action;
                this.listAll();
            } else {
                this.model = UtilFront.setIdUser(this.model);
                this.listAllSuppliers();
                this.action = action;
                if(this.branchOffices.length == 1){
                    this.model.branchOffice = this.branchOffice;
                }
            }
        },
        doAction() {
            if (this.action == 2) {
                this.add();
            } else if (this.action == 3) {
                this.update();
            }
        },
        add(){
            axios.post(ServicePath.CREATE_BIDDING,this.model).then(res => {
                let { data } = res.data;
                let { message, success } = data;
                if (success) {
                   this.listAll();
                   this.changeAction(1);
                  this.notification("success", "Registro realizado correctamente");
                } else {
                    this.notification("error", message);
                }
            });
        },
        edit(item){
            Object.assign(this.model, item);
            this.model.suppliers = this.model.suppliers.map((obj)=>{
                return {idSupplier: obj.idSupplier};
            });
            delete this.model.suppliersName;
            this.changeAction(3)
        },
        update(){
            this.sending = true;
            axios.post(ServicePath.UPDATE_BIDDING,this.model).then((res) => {
                let { data } = res.data;
                let { message, success } = data;
                if (success == true) {
                    this.changeAction(1);             
                    this.notification("success", "Cambios realizados correctamente");
                } else {
                    this.notification("error", message);
                } 
            }).catch(this.catchError)
            .finally(() => {
                this.sending = false;
            });
        },
        listAll(){
            axios.post(ServicePath.GET_ALL_BIDDINGS).then(response => {
                this.biddingList = response.data.data.objects;
                if(this.biddingList){
                    this.biddingList =  this.biddingList.map((obj)=>{
                        let suppliersName = obj.suppliers.map((supplier)=>{
                            return supplier.name
                        }).join(", ");
                        obj.suppliersName = suppliersName || "Sin proveedores";
                        return obj;
                    });
                }
            });
        },
        listAllSuppliers(){
            SupplierRequest.listAll().then((res) => {
                let { data } = res.data;
                if (data.objects) {
                    this.suppliers = data.objects.map((obj) => {        
                        return {
                            value: {idSupplier: obj.idSupplier},
                            text: obj.name,
                        };
                    });
                }
            });
        },
        updateBiddingList(data){
            this.biddingList = data;
        },
        updateSupplierList(data){
            this.supplierList = data;
        },
        toggleAddBidding(){
            this.showBiddingTableList = this.showBiddingTableList === true ? false : true;
        },

        toggleAddSupplier(){
            this.showSupplierTableList = this.showSupplierTableList === true ? false : true;
        },

        toggleBiddingSection(){
            this.showBiddingSecction = this.showBiddingSecction === true ? false : true;
        },
        excel() {
            this.$toast.success("Generando documento Xlsx");
            ExcelRequest.reportBiddings({
            });
        }
    }
}
</script>