<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar">
    <Sidebar />
    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      <div class="breadcrumbbar">
        <div class="row align-items-center">
          <div class="col-md-8 col-lg-8">
            <h4 class="page-title">Abastos</h4>
            <div class="breadcrumb-list">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
              </ol>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 text-right">
          <!--Modificación de boton-->
            <button class="btn btn-success" v-if="showAction(1) && withPermissionName(permissions.BRANCH_OFFICE_CREATE)" @click="changeAction(2)">
              <i class="ti-plus mr-2"></i> Crear Sucursal
            </button>
          <!--Modificación de boton se hizo azul el segundo boton-->
            <button class="btn btn-primary" v-if="showAction(2)" @click="changeAction(1)">
              <i class="ti-arrow-left mr-2"></i> Regresar
            </button>
            <!--Modificación de boton se hizo azul el segundo boton-->
          </div>
        </div>
      </div>
      <div class="contentbar">
        <template>
          <v-card>
            <v-card-title>
              <h5 class="card-title mb-0"><i class="fa fa-building-o mr-2"></i>{{titleAction}}</h5>
              <v-spacer></v-spacer>
              <v-text-field 
                v-model="search" 
                v-if="showAction(1)"
                append-icon="mdi-magnify"
                label="Buscar"
                single-line hide-details></v-text-field>

            </v-card-title>
            <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
              <div class="alert  alert-dismissible fade show"
                :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}"
                role="alert">
                <strong>{{notifier.title}}</strong> {{notifier.message}}
                <button type="button" @click="notifier.notifying = false" class="close" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
            <!--Por aquí se pone el switch. Boton que muestra todo lo de la tabla de sucursales-->
            <div class="col-md-6 ">
              <v-switch v-if="withPermissionName(permissions.BRANCH_OFFICE_UPDATE_STATUS)"  @click="changeTable" v-model="tableProductsStock" label="Todos"> </v-switch>
            </div>
            <!--Por aquí se pone el switch. Boton que muestra todo lo de la tabla de sucursales-->
            <v-data-table v-if="showAction(1)" dense :headers="headers" :items="list" sort-by="name"
              class="elevation-1"
              :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
              loading-text="Carngando..." no-data-text="Sin resultados disponibles"
              no-results-text="Sin resultados coincidentes con la búsqueda" :search="search">
              <template v-slot:item="{ item, index }">
                <tr>
                  <td>{{item.idBranchoffice}}</td>
                  <td>{{item.branchOfficeKey}}</td>
                  <td>{{item.warehouseId}}</td>
                  <td>
                    {{item.name}}
                    <br>
                    <small>({{item.type}})</small>
                  </td>
                  <td>{{item.fullAddress}}</td>
                  <td>{{item.jurisdiction.jurisdictionname}}</td>
                  <td>
                    <v-switch v-if="withPermissionName(permissions.BRANCH_OFFICE_UPDATE_STATUS)" color="success" class="hand" dense @change="confirmchangeStatus(item)" inset
                      v-model="item.available">
                    </v-switch>
                    <div v-else>
                        {{item.available ? 'Activa':'Inactiva'}}
                    </div>
                  </td>
                  <td>
                    <div id="actions" v-if="withPermissionName(permissions.BRANCH_OFFICE_UPDATE)">
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <i class="dripicons-document-edit" style="cursor:pointer;font-size: 1.2em;" @click="edit(item, index)" v-bind="attrs" v-on="on"></i>
                        </template>
                        <span>Editar</span>
                      </v-tooltip>
                    </div>
                    <div v-else>
                        — —
                    </div>
                  </td>
                </tr>
              </template>
            </v-data-table>
            <div class="col-md-6" >
                <div class="invoice-footer-btn">
                    <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                    <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                </div>
            </div>

            <v-card-text v-if="showAction(2) || showAction(3)">
              <validation-observer ref="observer" v-slot="{ invalid }">
                <form @submit.prevent="doAction">
                  <div class="row">
                    <div class="col-md-4">
                      <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:255">
                        <v-text-field v-model="model.name" :counter="255" :error-messages="errors" label="Nombre*"
                          required autocomplete="off"></v-text-field>
                      </validation-provider>
                    </div>
                    <div class="col-md-4">
                      <validation-provider v-slot="{ errors }" name="Clues" rules="required|max:400">
                        <v-text-field v-model="model.branchOfficeKey" :counter="255" :error-messages="errors"
                          label="Clues*" required autocomplete="off"></v-text-field>
                      </validation-provider>
                    </div>
                    <div class="col-md-4">
                      <validation-provider v-slot="{ errors }" name="ID Almacén" rules="required|max:400">
                        <v-text-field v-model="model.warehouseId" :counter="400" :error-messages="errors"
                          label="ID Almacén*" required autocomplete="off"></v-text-field>
                      </validation-provider>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <validation-provider v-slot="{ errors }" name="Sucursal">
                        <v-autocomplete auto-select-first :items="branchOffices" no-data-text="Sin resultados"
                          attach v-model="model.parent" :error-messages="errors" clearable
                          label="Sucursal Padre (opcional)">
                        </v-autocomplete>
                      </validation-provider>
                    </div>
                    <div class="col-md-4">
                      <validation-provider v-slot="{ errors }" name="Tipo sucursal" rules="required">
                        <v-autocomplete auto-select-first :items="typesBranchOffice" attach v-model="model.type"
                          :error-messages="errors" no-data-text="Sin resultados" label="Tipo sucursal" clearable>
                        </v-autocomplete>
                      </validation-provider>
                    </div>
                    <div class="col-md-4">
                      <validation-provider v-slot="{ errors }" name="Jurisdicción" rules="required">
                        <v-autocomplete auto-select-first :items="jurisdictions" attach
                          v-model="model.jurisdictionId" :error-messages="errors" no-data-text="Sin resultados"
                          label="Jurisdicción" clearable>
                        </v-autocomplete>
                      </validation-provider>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <validation-provider v-slot="{ errors }" name="Dirección" rules="required|max:400">
                        <v-text-field v-model="model.fullAddress" :counter="400" :error-messages="errors"
                          label="Dirección*" required autocomplete="off"></v-text-field>
                      </validation-provider>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button class="btn btn-success mr-5" :disabled="invalid || sending">
                      <i class="ti-save mr-2"></i> Guardar
                    </button>
                    <!-- <button class="btn btn-dark" type="button" @click="changeAction(1)">
                      <i class="ti-close mr-2"></i> Cancelar
                    </button> -->
                  </div>
                </form>
              </validation-observer>
            </v-card-text>
          </v-card>
        </template>
      </div>
    </div>
    <!-- <Footer /> -->
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="290">
        <v-card>
          <v-card-title class="headline">
            <small style="font-size: 75%;">{{changeStatus.question}}</small>
          </v-card-title>
          <v-card-text>{{changeStatus.description}}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cancelchangeStatus" :disabled="sending">
              Cancelar
            </v-btn>
            <v-btn color="green darken-1" text @click="updateStatus" :disabled="sending">
              Sí, continuar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders, UtilFront,PermissionConstants } from "@/core";
import { BranchOfficeRequest, JurisdictionRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      service: BranchOfficeRequest,
      title: "Sucursales",
      remmisionList: [],
      list: [],
      headers: DTHeaders.BRANCH_OFFICE,
      search: "",
      action: 1,
      sending: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      index: 0,
      branchOffices: [],
      typesBranchOffice: [],
      jurisdictions: [],
      dialog: false,
      changeStatus:{
        question: "",
        description: ""
      },
      permissions:PermissionConstants
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Sucursales";
      } else if (this.action == 2) {
        return "Registrar sucursal";
      } else if (this.action == 3) {
        return "Modificar sucursal";
      }
      return "Listado";
    },
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.listAllTypes();
        this.listAllJurisdictions();
        this.listAllBranchOffices();
        this.action = action;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

      if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }
    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.service
        .listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.list = data.objects.map((obj) => {
              obj.fullAddress = obj.fullAddress || "Sin dirección";
              obj.available = obj.status == 'Activo';
              return obj;
            });
          }
        })
        .catch(this.catchError);
    },
    add() {
      this.sending = true;
      this.service
        .add(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Registro realizado correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.get();
    },
    get() {
      this.sending = true;
      this.service
        .get({ id: this.model.idBranchoffice })
        .then((res) => {
          let { data } = res.data;
          let { message, success, object } = data;
          if (success == true) {
            this.model = object;

            this.changeAction(3);
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    listAllBranchOffices(){
      this.branchOffices = [];

      if(this.list){
        let i = -1;
        this.branchOffices = this.list.map((obj) => {        
          return {
            value: obj.idBranchoffice,
            text: `${obj.name} - ${obj.branchOfficeKey}`,
          };
        }).filter((obj)=>{
          return obj.value != this.model.idBranchoffice;
        });       
      }
     
    },
    listAllTypes() {
      this.service
        .listAllTypes()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.typesBranchOffice = data.objects;
          }
        })
        .catch(this.catchError);
    },
    listAllJurisdictions() {
      JurisdictionRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.jurisdictions = data.objects.map((obj) => {
              return { value: obj.idJurisdiction, text: obj.jurisdictionname };
            });
          }
        })
        .catch(this.catchError);
    },
    updateStatus(){
       this.sending = true;
      this.service.updateStatus({id: this.model.idBranchoffice, status: (this.model.available ? 1 : 0)}).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.model.available =  !this.model.available;
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialog = false; 
      });
    },
     confirmchangeStatus(item){
      this.model =  item;
      if(!item.available){
        this.changeStatus.question = "¿Desea inactivar la sucursal?"
        this.changeStatus.description = `${item.name} será bloqueada.`;
      }else{
        this.changeStatus.question = "¿Desea activar la sucursal?"
        this.changeStatus.description = `${item.name} podrá ser utlizada.`;
      }
      this.dialog = true;
    },
    cancelchangeStatus(){
      this.dialog = false; 
      this.model.available =  !this.model.available;
    },
     withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    withPermission(numRol){
      return UtilFront.withPermission(numRol);
    },
    excel() {
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportBranchOffice({
        });
    }
    
  },
  
};
</script>

<style>
  .theme--light.v-messages {
    color: rgb(255 0 0);
  }
</style>