<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar">

    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      
      <!-- End Breadcrumbbar -->
      <!-- Start Contentbar -->
      <div class="contentbar mt-12">
        
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <template>
              <v-card>
                <v-card-title>
<!--                     
                    <h5 class="card-title mb-0">
                        <i class="fa fa-money" aria-hidden="true"></i> {{titleAction}}
                    </h5> -->
                    <v-spacer></v-spacer>
                </v-card-title> 
                
               
                
                <v-card-text>
                    <div class="contentWindows" id="content">
		<div>
			<div class="textbox" style="margin-left: auto; margin-right: auto; width: 920px; height: auto;  margin-bottom: 10px; margin-top: 15px;">
				<div>
					<div class="titleBar" style="height: 25px;">
						<b style="font-size: 20px; ">TU CUENTA</b>
					</div>
					<div class="itemList">
						<div><b>Razón Social: </b></div> Erillam Healthcare
					</div>				
					<div class="itemList">
						<div><b>Nombre de Contacto: </b></div> Erillam Healthcare
					</div>
					<div class="itemList">
						<div><b>Teléfono de Contacto: </b></div> 5585264211
					</div>
					<div class="itemList">
						<div><b>Em@il de contacto: </b></div> info@erillamhc.com
					</div>
					<div class="itemList">
						<div><b>RFC: </b></div> XXX161111XX9
					</div>
					<div class="itemList">
						<div><b>Dirección: </b></div> Av. Libramiento Emiliano Zapata S/N Local 7, Col. Paraíso Country Club, 
						C.P.: 62766, Emiliano Zapata, Morelos
					</div>
				</div>
			</div>
			
			
				<div class="textbox" style="margin-left: auto; margin-right: auto; width: 920px; height: auto; margin-bottom: 10px; ">
					<div class="titleBar" style="height: 25px;" onclick="showFormCuenta();">
						<b style="font-size: 20px; color: rgb(46, 110, 158)">Cuenta de SITD Facturación</b>
					</div>
					<div style="display: none;" id="divAccount">
						<form id="cuentaForm" name="cuentaForm" action="cuentaSITD" method="post" style="text-align: center">

							<label>Usuario: </label><input type="text" name="usuario" value="cao@erillam.com" disabled="disabled" id="usuario" style="text-transform:none; width:190px;">
							<label>Contraseña:</label><input type="password" name="pwd" disabled="disabled" id="pwd" style="text-transform:none;width:190px;">
						</form>




						<div align="right" style="padding-right: 130px;">
							<div class="tbCol actionError" id="errUsuario" style="width: 430px; margin-top: 10px; display: inline-block; margin-right: 10px;"></div>
							<div title="Ingrese su usuario y contrasena de SITD Facturación" style="margin-top: 5px; width: 100px; display: inline-block;" id="updateSITD" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-gear"></span>
                        </div>						
						</div>
					</div>
				</div>
				
				<div class="textbox" style="margin-left: auto; margin-right: auto; width: 920px; height: auto;  margin-bottom: 10px;">
					<div class="titleBar" style="height: 25px;">
						<b style="font-size: 20px; color: rgb(46, 110, 158)">TICKETS SITD</b>
					</div>
					<div style="font-size: medium;">
						<div>
							Los tickets SITD Facturación se utilizan para la facturación electrónica 
							(Generación y cancelación  de CFDI). Estos son emitidos por el proveedor de 
							facturación Electrónica SITD Facturación - Sistemas Take Control S.A. de C.V.
						</div>
					</div>
					
						<div class="itemList">
							<div>Tickets Disponibles: </div> 104 tickets.
						</div>
		
						<div class="itemList">
							<div><b>Fecha Caducidad:</b></div> 16/04/2022 (348 días)
						</div>
					
						<div class="itemList">
							<div>Último Movimiento: 30/04/2021 </div>
							<b>Movimiento:</b> Creacion CFDI, <b>Folio:</b> A-257, -1 tickets.
						</div>
					
						<div style="display: inline-block;">
							<div style="margin-left: 600px; position: relative;">
								
									<div title="Mira tu historial de uso y compra de tickets SITD." id="historyBtn" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-note"></span><span class="ui-button-text">HISTORIAL&nbsp;</span></div>
								
								
									<div title="Comprar tickets SITD y abonarlos a tu cuenta." id="buyBtn" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-cart"></span><span class="ui-button-text">COMPRAR TICKETS&nbsp;</span></div>
								
							</div>
						</div>
					
				</div>
	
				<div class="textbox" style="margin-left: auto; margin-right: auto; width: 920px; height: auto;  margin-bottom: 10px;">
					<div class="titleBar" style="height: 25px;">
						<b style="font-size: 20px; color: rgb(46, 110, 158)">FOLIOS Y CERTIFICADO</b>
					</div>
					
						<div class="itemList">
							<div>Series y Folios Registrados:</div>
							<div style="width: 550px; font-weight: normal; height: 30px; margin-top: 10px;">
								<div style="font-weight: normal;">
									<b>Serie: </b>A, 
									<b>Siguiente folio: </b>, 
									<b>Regimen Fiscal: </b>General de Ley Personas Morales
								</div>
								
								
							</div>
						</div>
						<div class="itemList" style="margin-top: 35px;">
							<div>Certificados CSD del SAT:</div>
							<div style="width: 650px; font-weight: normal; height: 30px; margin-top: 5px;">
								No. Serie: 00001000000505615914
								&nbsp;&nbsp;&nbsp;Vencimiento:&nbsp; 05/11/2024 - ( restan <b>1282</b>&nbsp;
								día(s)&nbsp;)
                                <br>
                                <br>
							</div>
						</div>
						
							<div style="position: relative; margin-top: -25px; margin-left: 800px;">
								<div title="Modifica la información de tus certificados y series configuradas en tú cuenta." id="modCert" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-pencil"></span>

                            </div>
							</div>
						
						
					</div>
				

			<div class="textbox" style="margin-left: auto; margin-right: auto; width: 920px; height: auto;  margin-bottom: 10px;">
				<div class="titleBar" style="height: 25px;">
					<b style="font-size: 20px; color: rgb(46, 110, 158)">LICENCIA</b>
				</div>			
				<div class="itemList">
					<div>Caduca:</div>
									
					<div style="width: 550px; font-weight: normal; height: 30px; margin-top: 10px;">
						
						&nbsp;&nbsp;&nbsp;Fecha de Vencimiento:&nbsp;
						05/02/2022
						- ( restan <b>278</b>&nbsp;
						día(s)&nbsp;)
					</div>
				</div>			
			</div>
			
			
		</div>
		
		
			<form id="cambiarLogoSucursal" name="cambiarLogoSucursal" action="/cambiarLogoSucursal.action" method="post">

				<div class="textbox" style="margin-left: auto; margin-right: auto; width: 920px; height: auto;  margin-bottom: 10px;">
					<div class="titleBar" style="height: 25px;">
						<b style="font-size: 20px; color: rgb(46, 110, 158)">LOGO DE SUCURSAL</b>
					</div>			
					<div class="itemList">
						<div style="margin-bottom: 20px;">Cambiar logo de la sucursal (Tamaño estandar de imagen, 100px de ancho y 50px de largo):</div>
						<input type="file" name="logo.imagenFile" value="" id="imagenLogo" style="width:300px;" onchange="desbloquearModificarLogo()" maxlength="20">
						<div id="BTCambiarLogo" title="Cambiar logo de sucursal." class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" style="pointer-events: none; opacity: 0.5;"><span class="ui-button-icon-primary ui-icon ui-icon-disk"></span><span class="ui-button-text">Cambiar logo de sucursal</span></div>
					</div>	
					<!-- <div id="logoID">						
						<img id="logoSucursalImagen" src="css/images/transparent.gif" class="logoCuentaSucursal" style="background-image: url('loadImagenSucursalCuenta?modulo=1');">			
					</div> -->
				</div>
			</form>                 

            </div>
                </v-card-text>
              </v-card>
            </template>
          </div>
        </div>
      </div>
      <!-- End Contentbar -->

    </div>
    <!-- End Rightbar -->
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>{{changeStatus.question}}</small>
        </v-card-title>
        <v-card-text>{{changeStatus.description}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelchangeStatus" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="updateStatus" :disabled="sending">
            Sí, continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogResetPassword" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>¿Restablecer contraseña?</small>
        </v-card-title>
        <v-card-text>La contraseña de <strong>{{model.name}}</strong> será cambiará a:</br>
          <strong>{{model.email}}</strong> </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogResetPassword = false" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="resetPassword" :disabled="sending">
            Sí, restablecer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <!-- End Containerbar -->
  <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders, UtilFront,PermissionConstants } from "@/core";
import { PatientRequest, RolRequest, BranchOfficeRequest,ExcelRequest } from "@/core/request";
import { required, max, email,min  } from "vee-validate/dist/rules";
import moment from 'moment';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("email", {
  ...email,
  message: "{_field_} ingrese una dirección de correo valida",
});

extend('password', {
  params: ['target'],
  validate(value, { target }) {
    return value === target;
  },
  message: 'Las contraseñas no coinciden'
});


export default {
  data() {
    return {
      service: PatientRequest,
      title: "Usuarios",
      list: [],
      headers: [
        { text: "ID Paciente", value: "idPatient" },
        { text: "Paciente", value: "fullNamePatient" },
        { text: "CURP", value: "curp" },
        { text: "NSS", value: "imssNumber" },
        { text: "Folio", value: "folio" },
        { text: "Monto", value: "monto" },
        { text: "Estatus", value: "estatus" },
        { text: "Acciones", value: "actions", sortable: false },
    ],
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      dialogResetPassword: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      branchOffices: [],
      branchOffice : {},
      myBranchOffices:[],
      roles: [],
      permissions: PermissionConstants,
      changeStatus:{
        question: "",
        description: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Cuenta";
      } else if (this.action == 2) {
        return "Registrar cobro";
      } else if (this.action == 3) {
        return "Modificar coboro";
      }else if (this.action == 4) {
        return "Información de paciente";
      }
      return "Cuenta";
    }
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.model = {};
        this.action = action;
        this.$refs.observer.reset();
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

       if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }


    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.list = [];
    //   this.service.listAll().then((res) => {
    //     console.log(res.data);
    //     if(res.data.patients){
    //       this.list = res.data.patients.map((patient)=>{
    //           let fullNamePatient = `${patient.name} ${patient.firstLastname} ${patient.secondLastName}`;
    //           fullNamePatient = fullNamePatient.replace("null", "").replace("  "," ");
    //           let fullAddress = `${patient.directionStreet} ${patient.directionColony} ${patient.directionCity} ${patient.directionState}`;
    //           fullAddress = fullAddress.replace("null", "").replace("  "," ");

    //         let folio = Math.floor(Math.random() * 100888) + 1 ; 
    //         let monto = Math.floor(Math.random() * 1000) + 1 ; 

    //           return {
    //               idPatient: patient.id,
    //               fullNamePatient: fullNamePatient,
    //               curp: patient.curp,
    //               fullAddress:fullAddress,
    //               imssNumber: (patient.patientNSS || "---"),
    //               medicalAggregated: (patient.medicalAggregated || "---"),
    //               folio: folio,
    //               monto: `$${monto}.00`,
    //               estatus:"Pagado",
    //               registrationDate: moment(patient.registrationDate).format('YYYY-MM-DD')
    //           };
    //       });
    //     }
    //   }).catch(this.catchError);
      
    },
    add() {

      try{
          let obj = this.model;
          let JSON_HL7 = {
              resourceType: "Patient",
              identifier: [
                  { value: `${obj.nss}${obj.medicalAggregated}` }, { value: obj.curp },
                  { value: obj.nss }, { value: obj.medicalAggregated }
              ],
              name: [{
                  resourceType: "HumanName",
                  family: obj.firstLastname,
                  given: [obj.name],
                  suffix: obj.secondLastname
              }],
              telecom: [{
                  resourceType: "ContactPoint",
                  system: obj.homePhoneCode,
                  value: obj.homePhone
              }, {
                  resourceType: "ContactPoint",
                  system: obj.cellPhoneCode,
                  value: obj.cellPhone
              }],
              gender: obj.sex,
              birthDate: obj.birthDate + "T00:00",
              deceasedBoolean: (obj.dateDeath ? true : false),
              address: [{
                  resourceType: "Address",
                  line: [obj.street],
                  city: obj.municipality,
                  district: obj.colony,
                  state: obj.federalEntity,
                  postalCode: obj.postalCode
              }],
              maritalStatus: [{ coding: obj.civilStatus }],
              generalPractitioner: [{
                  resourceType: "Organization",
                  identifier: [{ value: obj.budgetKey }]
              }],
              extension: [{
                  valueDate: obj.endValidity
              }, {
                  valueDate: `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`
              }, {
                  valueInteger: obj.rightIndicator
              }]
          };
          console.log(JSON_HL7);
          this.service.add(JSON_HL7).then((res)=>{
              let data = res.data;
              let message = UtilFront.getMessageError(data);
              if(message == null){
                  this.changeAction(1);
                  this.$toast.success("Registro realizado correctamente");
              }else{
                  this.$toast.error(message || "Ocurrio un error interno");
              }
          }).catch(this.catchError).finally(()=>{
              this.sending = false;
          });

      }catch(e){
        console.log(e);
      }
     
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            if(message == '' || message == undefined){
              this.notification("success", "Cambios realizados correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(3);
    },
    view(object){
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(4);
    },
    listAllBranchOffices(){
      BranchOfficeRequest.listAllActive().then((res) => {
        let { data } = res.data;
        if (data) {
          this.branchOffices = data.map((obj) => {        
              return {
                value: {idBranchoffice: obj.idBranchoffice},
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
          });
        }
      }).catch(this.catchError);
    },
    listAllRoles(){
      this.roles = [];
      RolRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.roles = data.objects.map((obj) => {      
              return {
                value: obj.idRole,
                text: `${obj.name} - (${obj.description})`,
              };
          });
          }
        })
        .catch(this.catchError);
    },
    confirmchangeStatus(item){
      this.model =  item;
      if(!item.available){
        this.changeStatus.question = "¿Desea inactivar la cuenta?"
        this.changeStatus.description = `${item.name} no podrá iniciar sesión.`;
      }else{
        this.changeStatus.question = "¿Desea activar la cuenta?"
        this.changeStatus.description = `${item.name} podrá iniciar sesión.`;
      }
      this.dialog = true;
    },
    confirmResetPassword(item){
      this.model =  item;
      this.dialogResetPassword = true;
    },
    cancelchangeStatus(){
      this.dialog = false; 
      this.model.available =  !this.model.available;
    },
    updateStatus(){
      this.sending = true;
      this.service.updateStatus({id: this.model.idUser, status: (this.model.available ? 1 : 0)}).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.model.available =  !this.model.available;
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialog = false; 
      });
    },
    resetPassword(){
      this.sending = true;
      this.service.resetPassword(this.model.idUser).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Contraseña restablecida");
          } else {
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialogResetPassword = false; 
      });
    },
    listAllBranchOfficesByUser(){     
      this.service.listAllBranchOfficesByUserId(this.model.idUser).then((res) => {
          let { data } = res.data;
          let {  objects } = data;
          if (objects) {
            this.model.branchOffices = objects.map((object) => {
                return {idBranchoffice: object.idBranchoffice};
            });
          } else {
             this.model.branchOffices = [];
          }
      }).catch(this.catchError);
    },
    withPermission(numRol){
      return UtilFront.withPermission(numRol);
    },
    withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    excel() {
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportUsers({
          id:this.branchOffice.idBranchoffice
        });
    }
  },
};
</script>

<style>

</style>