<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- <Sidebar /> -->
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
          
            <!-- Start Contentbar -->
            <div class="contentbar ml-12">
                <div  class="row mt-12 ml-12 mr-12">
                    <div class="col-lg-12 col-xl-12">

                        <!-- <template> 
                          <v-card>  -->
                              <div class="row mt-5">
                                <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/recepcion/recepcion.png" class="img-fluid hand"
                                     @click="redirectToModule('/recepcion')"
                                      alt="logo" />
                                    <h4>Recepción</h4>
                                </div>
                                 <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/agenda/agenda.png" class="img-fluid hand" @click="redirectToModule('/citas')"
                                      alt="logo" />
                                      <h4>Agenda</h4>
                                </div>
                                <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/consultas/IconConsultas.png" class="img-fluid hand"  @click="redirectToModule('/consulta')"
                                      alt="logo" />
                                      <h4>Consultas</h4>
                                </div>
                                <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/farmacia/IconFarmacia.png" class="img-fluid hand"  @click="redirectToModule('/farmacia')"
                                      alt="logo" />
                                      <h4>Farmacia</h4>
                                </div>
                                <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/laboratorio/laboratorio.png" class="img-fluid hand"
                                       @click="redirectToModule('/laboratorio')"
                                      alt="logo" />
                                      <h4>Laboratorio</h4>
                                </div>
                                <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/imagen/imagen.png" class="img-fluid hand"
                                   @click="redirectToModule('/imagen')"
                                      alt="logo" />
                                      <h4>Imagen</h4>
                                </div>
                                <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/historia/historia.png" class="img-fluid hand"
                                      @click="redirectToModule('/historiaClinica')"                                      
                                      alt="logo" />
                                      <h4>Historia Clínica</h4>
                                </div>
                                
                                <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/reportes/reportes.png" class="img-fluid hand"
                                      alt="logo" />
                                      <h4>Reportes</h4>
                                </div>
                                 <!-- <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/caja/caja.png" class="img-fluid hand"
                                   @click="redirectToModule('/caja')"
                                      alt="logo" />
                                    <h4>Caja</h4>

                                </div> -->
                                 <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/usuarios/usuarios.png" class="img-fluid hand"
                                  @click="redirectToModule('/usuarios')"
                                      alt="logo" />
                                      <h4>Usuarios</h4>
                                </div>
                                 
                                
                               
                              </div>
                              <div class="row mt-12">
                                
                                <!-- <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/cuenta/cuenta.png" class="img-fluid hand"
                                   @click="redirectToModule('/cuenta')"
                                      alt="logo" />
                                    <h4>Cuenta</h4>
                                </div> -->
                                 <!-- <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/basedatos/base.png" class="img-fluid hand"
                                      @click="redirectToModule('/baseDatos')"
                                      alt="logo" />
                                    <h4>Base de datos</h4>

                                </div> -->
                                 
                                
                              </div> 
                              <div class="row mt-12">
                                
                                
                                
                                 <!-- <div class="col-md-3 center-cont">
                                  <img src="@/assets/images/iconos/sincronizacion/sincronizacion.png" class="img-fluid hand"
                                      alt="logo" />
                                      <h4>Sincronización</h4>
                                </div> -->
                                
                              </div>
                              <div class="row">
                                
                              </div>             
                            <!-- </v-card> 
                        </template> -->
                    
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <!-- <Footer /> -->

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer, Datatable } from "@/components";
import { DTHeaders, UtilFront, PermissionConstants } from "@/core";
import { CategoryRequest, ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      title: "Categorías",
      remmisionList: [],
      list: [],
      headers: DTHeaders.CATEGORIES,
      search: "",
      action: 1,
      sending: false,
      model: { name: "", description: "" },
      notifier: { notifying: false, type: "", message: "" },
      index: 0,
      permissions: PermissionConstants,
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
    Datatable,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      return "Listado";
    },
  },
  methods: {
    redirectToModule(nameRoute){
        this.$router.push(nameRoute);
    },
    showAction(action) {
      return this.action == action;
    },

    changeAction(action) {
  
    },
    doAction() {
      
    },
    notification(type, message) {
    
    },
    catchError(error) {
      console.log(error);
    },
    listAll() {

    },
    add() {
   
    },
    update() {
   
    },
  },
};
</script>

<style>
.theme--light.v-messages {
  color: rgb(255 0 0);
}
</style>