<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- <Sidebar /> -->
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <!-- <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="/envios">{{ titleAction }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      
                    </div>
                </div>
            </div> -->
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar mt-12">
                <div class="row mt-5">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                    <strong>{{notifier.title}}</strong> {{notifier.message}}
                                    <button type="button" @click="notifier.notifying = false" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="card-title mb-0"><i class="ti-agenda mr-2"></i>{{titleAction}}</h5>
                                    </div>
                                    <div class="col-md-6" style="text-align: right">
                                        <button class="blue-lite-sitdris btn ml-5" @click="changeAction(2)" v-if="showAction(1)">
                                                <i class="fa fa-plus mr-2"></i>  Dispensar receta
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div v-if="showAction(1)" class="col-md-12">
                                        <!--<Datatable :dataList="prescriptionList" :headers="dispensingHeaders"  :general="true" v-on:updateRecord="updateRecord" v-on:viewRecord="viewRecord" :callback="excel" :documentView="true" />-->
                                        <v-data-table v-if="withPermissionName(permissions.PRESCRIPTION_LIST)" :headers="headerChange" :items="prescriptionList" item-key="idPrescription" class="elevation-1"
                                        :search="searchPrescription"
                                                :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                                :loading="loading" loading-text="Cargando..." no-data-text="Sin resultados disponibles" no-results-text="Sin resultados coincidentes con la búsqueda" dense >

                                                <template v-slot:top >
                                                    <div class="row">
                                                        <div class="col-md-2">

                                                        </div>
                                                        <div class="col-md-4" id="handCalendar" >
                                                    
                                                                <vc-date-picker  color="green" v-model="date" is-range v-show=" allTablePrescription ">
                                                                    <template v-slot="{ inputValue, inputEvents }">
                                                                        <div class="flex justify-center items-center">
                                                                        <v-text-field
                                                                            :readonly="true"
                                                                            v-on="inputEvents.start"
                                                                            :value="dateCompuded"                                                              
                                                                            label="Rango de fechas"
                                                                            :append-outer-icon="validData ? 'mdi-magnify' : 'mdi-calendar'"
                                                                            :disabled-input="validData"
                                                                            @click:append-outer="updateTablePrescription()"
                                                                        ></v-text-field>
                                                                        
                                                                        </div>
                                                                    </template>
                                                                </vc-date-picker> 
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <v-text-field  v-model="searchPrescription" 
                                                             append-icon="mdi-magnify"
                                                            label="Buscar en recetas..." class="pr-5" ></v-text-field>
                                                        </div>
                                                    </div>
                                                </template>

                                                <template v-slot:[`item.actions`]="{ item, index }">
                                                    <div>
                                                        <v-tooltip top>
                                                            <template v-slot:activator="{ on, attrs }">
                                                            <span  class="hand text-info" @click="viewRecord(item)" v-bind="attrs" v-on="on">
                                                                <i class="mdi mdi-information-outline"></i>
                                                            </span>
                                                            </template>
                                                        <span>Ver</span>
                                                        </v-tooltip>

                                                        <v-tooltip top v-if="!allTablePrescription  && withPermissionName(permissions.PRESCRIPTION_UPDATE)" >
                                                            <template v-slot:activator="{ on, attrs }">
                                                            <v-icon small class="ml-3" @click="updateRecord(item)" v-bind="attrs" v-on="on">
                                                            mdi mdi-square-edit-outline
                                                            </v-icon>
                                                        </template>
                                                        <span>Editar</span>
                                                        </v-tooltip>
                                                    </div>
                                                </template>

                                        </v-data-table>        

                                    </div>
                                    <div v-else class="col-md-12">
                                        <div class="card-body">
                                            <validation-observer ref="observer1" v-slot="{ invalid }">
                                                <form  >
                                                    <div class="row pb-5">
                                                        <div class="col-md-11">
                                                        <validation-provider v-slot="{ errors }" name="Doctor" rules="required" >
                                                                <v-autocomplete no-data-text="Sin resultados"   :disabled="originId== '' || isView || sending " auto-select-first :items="doctorList"
                                                                    v-model="modelDispensing.doctorId" label="Doctor*" @change="" required>
                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-1 pt-5">
                                                            <v-btn  type="button" @click="dialog = true" :disabled="originId== '' || sending || isView">
                                                                <i class="ti-plus"></i> 
                                                            </v-btn>
                                                        </div>
    
                                                        <div class="col-md-3">
                                                            <validation-provider v-slot="{ errors }" name="Clave de la receta" rules="required|max:20">
                                                                <v-text-field :disabled="originId== '' || isView || sending " :counter="20" :maxlength="20"  v-model="modelDispensing.prescriptionKey" :error-messages="errors"
                                                                    label="Clave de la receta*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <validation-provider v-slot="{ errors }" name="N° Expediente" rules="required|max:20">
                                                                <v-text-field :disabled="originId== '' || isView || sending " :counter="20" :maxlength="20" v-model="modelDispensing.medicalRecord" :error-messages="errors"
                                                                    label="N° Expediente*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <validation-provider v-slot="{ errors }" name="Curp" rules="required">
                                                                <v-text-field :disabled="originId== '' || isView || sending " :counter="20" :maxlength="20" v-model="modelDispensing.curp" :error-messages="errors"
                                                                    label="Curp*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:50">
                                                                <v-text-field :disabled="originId== '' || isView || sending " :counter="50" :maxlength="50" v-model="modelDispensing.name" :error-messages="errors"
                                                                    label="Nombre*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <validation-provider v-slot="{ errors }" name="Apellido Paterno" rules="required|max:50">
                                                                <v-text-field :disabled="originId== '' || isView || sending " :counter="50" :maxlength="50" v-model="modelDispensing.lastNameP" :error-messages="errors"
                                                                    label="Apellido Paterno*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <validation-provider v-slot="{ errors }" name="Apellido Materno" rules="required|max:50">
                                                                <v-text-field :disabled="originId== '' || isView || sending " :counter="50" :maxlength="50" v-model="modelDispensing.lastNameM" :error-messages="errors"
                                                                    label="Apellido Materno*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>
                                                        <!--Poner en estas zonas el check box-->

                                                        <!--<v-container>
                                                            
                                                            <h6>¿Esta es tu unidad médica?</h6>
                                                            <v-flex class="transparent" xs1>
                                                            <v-switch v-model="option" :label="switchNotification()"></v-switch>
                                                            </v-flex>
                                                        </v-container>-->

                                                        <div class="col-md-4">
                                                            <v-container>
                                                                <h6>¿Esta es tu unidad médica?</h6>
                                                                <v-switch @click="validateSwitch()" :disabled="originId== '' || isView || sending " v-model="option" :label="switchNotification()"></v-switch>
                                                            </v-container>
                                                        </div>


                                                        <!--Poner en estas zonas el check box-->
                                                        <div class="col-md-8">
                                                            <v-autocomplete v-show="!option" :disabled="originId== '' || isView || sending " v-model="branchOfficeForeign" :items="branchOfficeList" label="Farmacias (Sucursales)*" data-vv-name="select" />
                                                        </div>
                                                        <div class="col-md-12 " v-if="newOrder">
                                                            <v-btn class="float-right" type="button" @click="createMedicalPrescription" :disabled="invalid || sending">
                                                                <i class="ti-plus mr-3"></i> Añadir productos
                                                            </v-btn>
                                                        </div>
                                                    </div>
                                                </form>
                                            </validation-observer>
                                        </div>

                                        
                                        <Datatable v-if="!newOrder"  :dataList="orderList" :headers="orderHeaders" :deleteItem="isDelete && !isView" v-on:deleteRecord="deleteRecord" :loading="loading" />
                                        
                                        <div class="card-body" v-if="!isView">
                                            <validation-observer  v-if="!newOrder" ref="observer2" v-slot="{ invalid }">
                                                <form>
                                                    <div class="row pt-10">
                                                        <div class="col-md-3">
                                                        <validation-provider v-slot="{ errors }" name="Fuente Financiamiento"
                                                                rules="required" >
                                                                <v-autocomplete no-data-text="Sin resultados"  :disabled="originId== '' || sending "  auto-select-first :items="fiscalFoundList"
                                                                    v-model="fiscalFound" label="Fuente Financiamiento*" @change="getProductsByFiscalFound" required>
                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <validation-provider v-slot="{ errors }" name="Producto"
                                                                rules="required">
                                                                <v-autocomplete no-data-text="Sin resultados"  :disabled="originId== '' || sending  "  auto-select-first :items="productList" v-model="productId" label="Producto*" @change="getLotsByProduct" required >
                                                                    <template slot="item" slot-scope="data">
                                                                        <div class="pt-5">
                                                                        {{data.item.text}}
                                                                        </div>
                                                                    </template>

                                                                    <template slot="selection" slot-scope="data">
                                                                        <div class="pt-5">
                                                                        {{data.item.text}}
                                                                        </div>
                                                                    </template>

                                                                    <template v-slot:append>
                                                                        <v-progress-circular v-if="loadingProducts" indeterminate color="#05AF12"></v-progress-circular>
                                                                    </template>
                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-3" >
                                                            <validation-provider v-slot="{ errors }" name="Lote"
                                                                rules="required">
                                                                <v-autocomplete no-data-text="Sin resultados"  :disabled="originId== '' || sending  " auto-select-first :items="lotList"
                                                                    v-model="model.stockId" label="Lote*" @change="getLots" required>

                                                                    <template v-slot:append>
                                                                        <v-progress-circular v-if="loadingLot" indeterminate color="#05AF12"></v-progress-circular>
                                                                    </template>

                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <validation-provider v-slot="{ errors }" name="Cantidad"
                                                                rules="required|numeric">
                                                                <v-text-field   :disabled="originId== '' || sending " v-model="model.quantity" :error-messages="errors"
                                                                    label="Cantidad Dispensada*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <validation-provider v-slot="{ errors }" name="Recetados"
                                                                rules="required|numeric">
                                                                <v-text-field   :disabled="originId== '' || sending " v-model="model.prescription" :error-messages="errors"
                                                                    label="Recetados*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-3 pt-5">
                                                            <v-btn  type="button" @click="updateStock" :disabled="invalid || sending">
                                                                <i class="ti-plus mr-3"></i> Añadir
                                                            </v-btn>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <v-btn class="float-right" type="button" @click="finishModal" :disabled="originId == '' || sending">
                                                                <i class="ti-plus mr-3"></i> {{titleButton}}
                                                            </v-btn>
                                                        </div>
                                                    </div>
                                                </form>
                                            </validation-observer>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>


            <v-row justify="center">
                <v-dialog v-model="dialogValidate" persistent max-width="500">
                <v-card>
                    <v-card-title class="headline" v-html="titleModal" />
                    <v-card-text v-html="descriptionModal" />
                    <v-card-text v-if="sending">
                        <div class="text-center">
                            <v-progress-circular indeterminate color="#05AF12" :size="70" />
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :disabled="sending" color="red darken-1" text @click="closeModal">Cerrar</v-btn>
                        <v-btn :disabled="loading || sending" color="green darken-1" text @click="finishDispensing">Aceptar</v-btn>
                    </v-card-actions>
                </v-card>
                </v-dialog>
            </v-row>


            <!-- Modal doctores -->
            <v-row justify="center">
                <v-dialog v-model="dialog" persistent max-width="900" >
                    <v-card>
                        <v-card-title class="headline">
                        <small style="font-size: 100%;">Registrar Doctor</small>
                        </v-card-title>
                            <div v-if="notifierDoc.notifying" class="col-lg-12" style="font-size: small">
                                <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifierDoc.type == 1, 'alert-danger': notifierDoc.type == 2, 'alert-warning': notifierDoc.type == 3}" role="alert">
                                    <strong>{{notifierDoc.title}}</strong> {{notifierDoc.message}}
                                    <button type="button" @click="notifierDoc.notifying = false" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                            <v-container>
                                <validation-observer ref="observer3" v-slot="{ invalid }" >
                                    <form @submit.prevent="addDoctorModal">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:100">
                                                <v-text-field  v-model="modelDoc.name" :counter="100" :error-messages="errors"   label="Nombre*"
                                                    required autocomplete="off"></v-text-field>
                                                </validation-provider>
                                            </div>
                                            <div class="col-md-6">
                                                <validation-provider v-slot="{ errors }" name="Apellidos" rules="required|max:200">
                                                    <v-text-field  v-model="modelDoc.lastName" :counter="200" :error-messages="errors" label="Apellidos*"
                                                    required autocomplete="off"></v-text-field>
                                                </validation-provider>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <validation-provider v-slot="{ errors }" name="Cédula" rules="required|max:100">
                                                    <v-text-field  v-model="modelDoc.professionalId" :counter="100" :error-messages="errors" label="Cédula*"
                                                    required autocomplete="off"></v-text-field>
                                                </validation-provider>
                                            </div>
                                        </div>


                                        <div class="col-md-12 text-center">
                                                <v-btn class="mr-5 mt-5" type="submit" :disabled="invalid || sending">
                                                <i class="ti-save mr-3"></i> Guardar
                                            </v-btn>
                                            <v-btn class="mt-5" @click="dialog = false" >
                                                <i class="ti-close mr-3"></i> Cancelar
                                            </v-btn>
                                            
                                        </div>
                                    </form>
                                </validation-observer>
                            </v-container>
                    </v-card>
                </v-dialog>
            </v-row>


            <div class="mt-10">
            </div>
            <Footer  />
        </div>


        
    </div>
     
</template>

<script type="js">
import DTHeaders from '@/core/DataTableHeaders'
import { Topbar, Sidebar, Footer } from '@/components'
import { required, max, numeric, curp } from "vee-validate/dist/rules";
import { UtilFront,PermissionConstants } from "@/core";

import SelectBranchOffice from '@/components/forms/SelectBranchOffice.vue'
import Datatable from '@/components/Datatable.vue';

import {
  DoctorRequest,
  MedicalPrescriptionRequest,
  ProductResquest,
  FiscalFoundRequest,
  LotRequest,
  OrderRequest,
  ShipmentsRequest,
  StockRequest,
  BranchOfficeRequest,
  ExcelRequest
} from "@/core/request";

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
import moment from 'moment';

setInteractionMode("eager");


extend("curp", {

    validate(value) {
        value = value.toUpperCase();

        var re = /^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/,
            validado = value.match(re);
        if (!validado)  //Coincide con el formato general?
            return false;

        function digitoVerificador(curp17) {
            var diccionario  = "0123456789ABCDEFGHIJKLMNÑOPQRSTUVWXYZ",
                lngSuma      = 0.0,
                lngDigito    = 0.0;
            for(var i=0; i<17; i++)
                lngSuma = lngSuma + diccionario.indexOf(curp17.charAt(i)) * (18 - i);
            lngDigito = 10 - lngSuma % 10;
            if (lngDigito == 10) return 0;
            return lngDigito;
        }

        if (validado[2] != digitoVerificador(validado[1])) 
            return false;

        return true; 

    },
  message: "{_field_} invalido. ({_value_})"
});


extend("numeric", {
  ...numeric,
  message: "{_field_} debe ser un número entero. ({_value_})"
});

extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});

extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});



export default{
    components:{
        Topbar,
        Sidebar,
        Footer,
        Datatable,
        SelectBranchOffice,
        ValidationProvider,
        ValidationObserver
    },
    computed: {
        dateCompuded(){
            if(this.date == "" || this.date == null || this.date ==  undefined){
                return "";
            }
            return `${moment(this.date.start).format('YYYY-MM-DD')} al ${moment(this.date.end).format('YYYY-MM-DD')}`;
        },
        validData(){
            if(this.date == "" || this.date == null || this.date ==  undefined){
                return false;
            }
            
            return true;
        },
        titleAction() {
            if (this.action == 1) {
                return "Recetas Surtidas";
            } else if (this.action == 2) {
                return (this.orderUpdate)?  (this.isView)? "Consultando Receta" : "Actualizando Receta" : (this.newOrder)? "Dispensar Receta":"Receta Pendiente de Dispensar" ;
            } 
            return "Listado";
        },
        titleButton(){
            return (this.orderUpdate)? "Actualizar Receta": "Finalizar Dispensación";
        },
        titleModal() {

            if ( this.sending ) {
                return "Procesando Receta"
            }

            if ( this.loading  ) {
                return 'Cargando...' ;
            } else {
                return "¿Deseas Finalizar esta Receta?";
            }

        },
        descriptionModal() {

            if ( this.sending ) {
                return "Por favor espere, procesando solicitud";
            }

            if ( this.loading  ) {
                return 'Espere por favor, procesando tu solicitud' ;
            } else {
                return "Finalizar Receta";
            }
        },
        headerChange(){
            if ( this.allTablePrescription ) {
                return this.dispensingAllRecordsHeaders;
            } else {
                return this.dispensingHeaders;
            }

        }
    },
    data(){
        return{
            title:'Dispensacion',
            action : 1,

            /* Global */
            idUser: '',
            orderId: '',
            originId: 1,
            prescription: '',
            itemOrigin: '',
            sending: false,
            newOrder: false,
            status: 5,
            orderUpdate: false,
            dialog: false,
            dialogValidate: false,
            isUpdate: false,
            isView: false,
            isDelete: true,
            loading: false,
            loadingProducts : false,
            loadingLot : false,
            loadingDestination: false,
            option: true,//Esta es la opción que valida si es la unidad médica
            permissions: PermissionConstants,
            /* Global */

            model: {orderId:'',stockId:'',quantity: '',prescription:''},
            modelDispensing: { originId:'', orderId : '', doctorId: '', prescriptionKey:'' ,medicalRecord: '',  userId: '', curp: '', name: '', lastNameP:'' , lastNameM:'' },
            modelDoc:{idDoctor: '' , name:'', lastName:'',professionalId:'',originId: ''},



            /* Header */
            dispensingHeaders: DTHeaders.DISPENSING,
            dispensingAllRecordsHeaders: DTHeaders.DISPENSING_ALL_RECORDS,
            orderHeaders:DTHeaders.ORDER_PRODUCTS,

            /* Table */
            allRecords:false,
            allTablePrescription: false,
            searchPrescription: '',
            date:'',
            dateTablePrescription: { start:'', end: ''},

            orderList: [],
            doctorList: [],
            originalPrescriptionList: [],
            prescriptionList: [],
            prescriptionId: '',


            /* Formulario */
            branchOfficeForeign: 0,
            branchOfficeList: [],
            fiscalFoundList: [],
            fiscalFound: '',
            productList: [],
            productId: '',
            
            itemProduct: '',
            lotList: [],
            notifier: {notifying: false, type:"", message:""},
            notifierDoc: {notifying: false, type:"", message:""},
        }
    },
    methods: {
        /* Start Default Functions*/
        showAction(action){
            return this.action == action;
        },

        //Función para notificar si o no en el switch
        switchNotification(){
            return ( this.option )? 'Si':'No';
        },
        validateSwitch(){
            if ( this.option ) {
                this.branchOfficeForeign = 0;
            }
        },
        //Función para notificar si o no en el switch

        /* Tables */
        clearCalendar(){
           this.date = "";
           this.prescriptionList = this.originalPrescriptionList;
        },

        filter(){

            let dateStart = new Date( this.date.start );
            let dateEnd  = new Date( this.date.end );

            this.prescriptionList = this.originalPrescriptionList.filter((rm)=>{
                
                let dateValidate = new Date( rm.date );

                if( dateValidate >= dateStart && dateValidate <= dateEnd ){
                    return true;
                }else{
                    return false;
                }
                
            });

        },
        changeTable(){
            this.allRecords =this.allTablePrescription;
            this.prescriptionList = [];
            if ( !this.allRecords ) {
                this.updateTablePrescription();
            }
            //this.updateTablePrescription();
        },
        withPermissionName(numRol){
            return UtilFront.withPermissionName(numRol);
        },

        changeAction(action) {
            //console.log(this.originId);
            if(action == 1){

                this.loading = false;
                this.action = action;
                this.updateTablePrescription();
                this.clean(0);
            }else if (action == 2) {
                if ( this.originId != '' ) {

                    this.action = action;
                    this.loading = true;
                    //Marco como en envio la receta para poder bloquear cualquier boton mientras se carga la informacion
                    this.sending = true;

                    this.orderDetail();
                } else {
                    this.notification("error","Es necesario seleccionar una sucursal para continuar");
                }
            }
        },


        notification(type, message){
            if(type == "success"){
                this.notifier.type = 1;
                this.notifier.title = "¡Éxito!";
                this.notifier.message = message || "Acción realizada correctamente.";
            }else if(type == "error"){
                this.notifier.type = 2;
                this.notifier.title = "Error";
                this.notifier.message = message || "Ocurrio un error interno";
            }else{
                this.notifier.type = 3;
                this.notifier.title = "Advertencia";
                this.notifier.message = message || "Verifiqué la información ingresada";
            }
            this.notifier.notifying = true;


            if (type == "success") {

                setTimeout(()=>{ 
                    this.notifier.notifying = false;
                }, 10000);

            }
        },
        catchError(error){
            this.notification("error","Ocurrio un error interno");

        },  
        /* End Default Functions*/

        /* Start Table Functions*/
        updateTable(data){

            this.loading = true;
            ProductResquest.findAllProductsByOrdersKey(data).then( (response) => {
                this.orderList = response;
                this.loading = false;
                this.isDelete = true;
            });

        },
        updateTablePrescription(){
            // if (this.originId != '') {
                // this.originalPrescriptionList = MedicalPrescriptionRequest.findAllPrescriptionByBranchOfficeKey({
                //     // startDate: moment('2021-01-01').format('YYYY-MM-DD'),
                //     // endDate: moment('3000-01-01').format('YYYY-MM-DD'),
                //     // allRecords: false,
                //     originId: 58
                // });
                // console.log(this.originalPrescriptionList);
                this.prescriptionList = [];
                this.originalPrescriptionList = [];

                 let MedicalPrescriptionArray = [];
                MedicalPrescriptionRequest.findAllPrescriptionByBranchOffice({ originId: 1}).then(response => {
                    // console.log(response.data.data.object);
                    MedicalPrescriptionArray = response.data.data.object.map((value)=>{
                        return {
                        orderId: value.orderId,
                        prescriptionId: value.idPrescription,
                        prescriptionKey: value.prescriptionKey,
                        medicalRecord: value.medicalRecord,
                        doctor: value.doctorName,
                        doctorId: value.doctorId,
                        prescriptionUser: value.user,
                        date: value.date,
                        branchOfficeName:value.branchOffice
                        };
                    });
                    this.prescriptionList = MedicalPrescriptionArray;
                    this.originalPrescriptionList = MedicalPrescriptionArray;
                })
        },
        deleteRecord(item) {
            this.sending = true;
            this.isDelete = false;
            this.loading = true;

            StockRequest.deleteOrderStock({
                idOrder: this.orderId,
                idStock: item.idStock
            }).then( (response) => {
                let { data } = response.data;
                let { success, message } = data;
                if (success) {
                    this.$toast.success("Eliminando producto");
                } else {
                    this.notification("error",message);
                }
                this.getProductsByFiscalFound();// Volver a poner aquí la lista de productos para que resquen después de haberlos eliminado
            }).catch( (error) => {
                this.$toast.error("No fue posible eliminar el producto");
                this.catchError(error);
                this.loading = false;
                this.isDelete = true;
            }).finally(()=>{

                this.updateTable({
                    idOrder: this.orderId,
                    status: this.status
                });
                
                this.sending = false;
                this.clean(1);
            });
        },
        updateRecord(item){
            this.action = 2;
            this.status = 6;
            this.orderUpdate = true;
            this.$toast.success("Cargando Información de la Receta");

            //Marco como en envio la receta para poder bloquear cualquier boton mientras se carga la informacion
            this.sending = true;


            this.orderId = item.orderId;
            this.orderDetail();
        },
        viewRecord(item){
            //Lo muestro como consulta
            this.isView = true;

            this.action = 2;
            this.status = 6;
            this.orderUpdate = true;

            this.$toast.success("Cargando Receta");

            this.orderId = item.orderId;
            this.orderDetail();
        },
        /* End Table Functions*/

        /* Star Modal */
        notificationDoctor(type, message){
            if(type == "success"){
                this.notifierDoc.type = 1;
                this.notifierDoc.title = "¡Éxito!";
                this.notifierDoc.message = message || "Acción realizada correctamente.";
            }else if(type == "error"){
                this.notifierDoc.type = 2;
                this.notifierDoc.title = "Error";
                this.notifierDoc.message = message || "Ocurrio un error interno";
            }else{
                this.notifierDoc.type = 3;
                this.notifierDoc.title = "Advertencia";
                this.notifierDoc.message = message || "Verifiqué la información ingresada";
            }
            this.notifierDoc.notifying = true;

            setTimeout(()=>{ 
                this.notifierDoc.notifying = false;
            }, 4000);


        },
        addDoctorModal() {
            this.sending = true;
            this.modelDoc.originId = this.originId;

            DoctorRequest.addDoctor(this.modelDoc).then( (response) => {

                let { data } = response.data;
                let { message, success} = data;
                if( success ){
                    //this.updateTable();
                    //this.changeAction(1);
                    this.getDoctorByOrigen();
                    //this.notificationDoctor("success","Registro realizado correctamente");

                    this.dialog = false;
                    this.modelDoc = {};
                    this.$refs.observer3.reset();
                }else{
                    this.notificationDoctor("error", message);
                } 

            }).catch(this.catchError).finally(()=>{
                this.sending = false;
            });
        },
        /* End Modal */


        /* Star Form Functions*/
        updateOrigin(data) {

            if ( data > 0 ) {
                //Guardo el origen
                this.originId = data;

                //Recupero todas las fuentes de financiamiento
                this.fiscalFoundList = FiscalFoundRequest.findAllFiscalFoundsKeyAvailable({
                    id: this.originId
                });

                //this.modelDispensing.originId= data;

                //Recupero a los doctores
                this.getDoctorByOrigen();

                if ( this.action == 1) {
                    this.updateTablePrescription();
                } else if ( this.action == 2) {
                    //Verifico si existe alguna receta pendiente de finalizar
                    this.orderDetail();

                }
            } else {
                this.notification("error","No cuentas con sucursales disponibles");
            }


        },
        orderDetail(){
            
            //Recupero el detalle de la orden pendiente
            OrderRequest.orderDetail({
                originId: this.originId,
                userId: this.idUser,
                idOrder: this.orderId
            }).then((response) => {
                let { data } = response.data;
                let { success, message, newOrder, orderId, doctorId, medicalRecord, prescriptionKey, prescriptionId, curp, name, lastNameP,lastNameM,medicalUnit,branchOfficeId} = data;
                
                if (success) {
                    //Si es verdadero es necesario crear una orden con la receta (medical prescription)
                    if (newOrder) {
                        this.newOrder = newOrder;

                    } else {
                        this.orderId = orderId;
                        this.newOrder = newOrder;

                        this.modelDispensing.doctorId = doctorId;
                        this.modelDispensing.idPrescription = prescriptionId;
                        this.modelDispensing.prescriptionKey = prescriptionKey;
                        this.modelDispensing.medicalRecord = medicalRecord;
                        this.modelDispensing.curp = curp;

                        this.modelDispensing.name = name;
                        this.modelDispensing.lastNameP = lastNameP;
                        this.modelDispensing.lastNameM = lastNameM;

                        this.branchOfficeForeign = branchOfficeId;
                        this.option = (medicalUnit == 'si')? true : false;


                        //Actualizo la tabla de los productos por order
                        this.updateTable({
                            idOrder: orderId,
                            status: this.status
                        });
                    }
                } else {
                    this.notification("error",message);
                }

            }).catch( (error) => {
                this.catchError(error);
                this.action = 1;
            }).finally(()=>{
                this.sending = false;
            });

        },
        createMedicalPrescription(){

            //this.$refs.observer1.validate;

            this.modelDispensing.userId = this.idUser
            this.modelDispensing.originId = this.originId;

            this.modelDispensing.branchOfficeId = this.branchOfficeForeign;
            this.modelDispensing.medicalUnit = (this.option)? 'si':'no';
            this.sending = true;
            //this.modelDispensing.idPrescription = this.prescriptionId;


            MedicalPrescriptionRequest.addPrescription( this.modelDispensing ).then( (response) => {
                    let { data } = response.data;
                    let { success, message, newOrder, orderId, prescriptionId} = data;

                    if ( success ) {
                        this.newOrder = false;
                        this.orderId = orderId;
                        this.modelDispensing.idPrescription = prescriptionId;

                        //Actualizo la tabla de los productos por order
                        this.updateTable({
                            idOrder: orderId,
                            status: this.status
                        });

                    }

            }).catch(this.catchError).finally(()=>{
                this.updateTablePrescription();
                this.sending = false;
            });
        },
        getDoctorByOrigen(){
            this.doctorList = DoctorRequest.findAllDoctorByBranchOfficeKeyAvailable({
                originId: this.originId
            });
        },
        getProductsByFiscalFound(){

            this.clean(2);

            this.loadingProducts = true;
            ProductResquest.findAllProductsByCausesAvailable({
                branchOfficeId: this.originId,
                fiscalFound: this.fiscalFound
            }).then ( (response) => {
                this.productList = response;
                this.loadingProducts = false;
            });

        },
        getLotsByProduct(){

            //Limpio los campos no necesarios
            this.clean(3);

            this.loadingLot = true;
            LotRequest.findAllLotsAvailableFormList({
                idFiscalfund: this.fiscalFound,
                productId: this.productId,
                branchOfficeId: this.originId
            }).then ( (response) => {
                this.lotList = response;
                this.loadingLot = false;
            });

        },
        getLots(){
            //Limpio los campos no necesarios
            this.clean(4);
        },
        updateStock() {

            //console.log(this.model.stockId);
            this.$refs.observer2.validate;

            this.model.orderId = this.orderId;
            this.sending = true;
            this.isDelete = false;
            this.loading = true;

            if ( this.model.prescription != '' || this.model.prescription != '0') {

            
                OrderRequest.updateStockByOrder(this.model).then((response) => {
                    let { data } = response.data;
                    let { success, message } = data;

                    if (success) {

                        this.$toast.success("Agregando producto");

                        //Actualizo la tabla
                        this.updateTable({
                            idOrder: this.orderId,
                            status: this.status
                        });
                        this.getProductsByFiscalFound();//cuando se refresca la pantalla de añadir, hace que se quede estático la opción elegida en fuente de financiamiento
                    } else {

                        this.notification("error",message);
                        this.$toast.error("Ocurrio un error, verifique el mensaje");
                        this.loading = false;

                    }
                }).catch(this.catchError).finally(()=>{
                        this.sending = false;
                        //this.isDelete = true;
                        this.clean(1);
                });

            } else {
                this.notification("error","No es posible ingresar 0 o vacio en recetados");
            }

        },
        closeModal(){
            this.isDelete = true;
            this.dialogValidate = false;
        },
        finishModal(){
            this.dialogValidate = true;
        },
        async finishDispensing(){

            //const valid = await this.$refs.observer.validate()
            const isValid = await this.$refs.observer1.validate()
            if (isValid) {

                this.modelDispensing.userId = this.idUser;
                this.modelDispensing.orderId = this.orderId;

                this.modelDispensing.branchOfficeId = this.branchOfficeForeign;
                this.modelDispensing.medicalUnit = (this.option)? 'si':'no';

                this.sending = true;
                this.isDelete = false;

                OrderRequest.orderDispensing(this.modelDispensing).then((response) => {
                    let { data } = response.data;
                    let { success, message } = data;
                    
                    if (success) {
                        this.notification("success","Receta dispensada");
                        this.$toast.success("Receta dispensada");
                        this.action = 1;
                        this.clean(0);
                    } else {
                        this.notification("error",message);
                        this.$toast.error("Ocurrio un error, verifique el mensaje");
                    }

                }).catch(this.catchError).finally(()=>{
                    this.updateTablePrescription();
                    this.sending = false;
                    this.isDelete = true;
                    this.dialogValidate = false;
                });
                
            }

        },
        clean( level ){

            if ( level == 0 ) {    
                this.isView = false;
                this.orderUpdate = false;
                this.newOrder = true;
                this.orderId = '';
                this.status = 5;

                this.option = true;
                this.branchOfficeForeign = 0;

                let origin = this.modelDispensing.originId;
                this.modelDispensing = {};
                this.modelDispensing.originId = origin;
                this.fiscalFound = '';//Se puso aquí las fuentes de financiamiento para que esten estátitcas al momento de añadir un producto
            }

            if ( level <= 1 ) {    
                //this.fiscalFound = ''; Se comento esta línea de código para que se pudiera subir un nivel y así mantenerse estático al momento de añadir a la lista
            }

            if ( level <= 2 ) {
                //Se encarga de limpiar la lista de productos el item seleccionado
                this.productList = [];
                this.productId = '';
            }

            if ( level <= 3) {
                //Se encarga de limpiar la lista de lotes y el item seleccionado
                this.lotList = [];
                this.model.stockId = '';
            }

            if ( level <= 4) {
                //Se encarga de limpiar los campos de cantidad y recetados
                this.model.quantity = '';
                this.model.prescription = '';
            }

            if ( this.action == 2 ) {
                this.$refs.observer2.reset();
            }

        },
        excel() {
            this.$toast.success("Generando documento Xlsx");
            ExcelRequest.reportOrdersDispensing({
                originId: this.originId
            });
        }
        /* End Form Functions*/


    },
    beforeRouteLeave (to, from, next) {
        if (this.sending){
            next(false)
        } else {
            next()
        }
    },
    created() {

        let infoUser = UtilFront.getDataUser();
        this.idUser = 1;

        //Valido que tenga el permiso de actualizar dispensacion
        //this.isUpdate = infoUser.permissions.some( element => element.name == 'Actualizar Dispensación' );

        //Recupero las sucursales por tipo
        this.branchOfficeList = BranchOfficeRequest.listAllByTypeKey();
        //this.branchOfficeForeign = this.branchOfficeList[0].value;
        this.updateTablePrescription();
        


    }

}
</script>
