<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item">Configuración</li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                           <button class="btn btn-success" v-if="showAction(1)" @click="changeAction(2)">
                                <i class="ti-plus"></i> Agregar doctor
                           </button>
                           <button class="btn btn-success" v-if="showAction(2) || showAction(3)" @click="changeAction(1)">
                                <i class="ti-arrow-left mr-2"></i> Regresar
                           </button>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                            <v-card>
                                <v-card-title>
                                    <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                        <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                            <strong>{{notifier.title}}</strong> {{notifier.message}}
                                            <button type="button" @click="notifier.notifying = false" class="close"
                                                data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    </div>
                                    <h5 class="card-title mb-0"><i class="ti-clipboard mr-2"></i>{{titleAction}}</h5>
                                    <v-spacer></v-spacer>
                                    <div class="col-md-5">
                                        <SelectBranchOffice :disabledView="action == 3"  v-on:updateItemOrigin="updateItemOrigin" />
                                    </div>
                                </v-card-title>
                                <div id="list"  v-if="showAction(1)"  >
                                    <Datatable :callback="excel" :documentView="true" :dataList="doctorList" :headers="headers"  :general="true"  v-on:updateRecord="updateRecord"/>
                                </div>
                                <v-card-text>
                                        <div id="form" v-if="showAction(2) || showAction(3)">
                                            <validation-observer ref="observer" v-slot="{ invalid }" >
                                                <form @submit.prevent="doAction">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:100">
                                                            <v-text-field  v-model="model.name" :counter="100" :error-messages="errors"   label="Nombre*"
                                                                required autocomplete="off"></v-text-field>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <validation-provider v-slot="{ errors }" name="Apellidos" rules="required|max:200">
                                                                <v-text-field  v-model="model.lastName" :counter="200" :error-messages="errors" label="Apellidos*"
                                                                required autocomplete="off"></v-text-field>
                                                            </validation-provider>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <validation-provider v-slot="{ errors }" name="Cédula" rules="required|max:100">
                                                                <v-text-field  v-model="model.professionalId" :counter="100" :error-messages="errors" label="Cédula*"
                                                                required autocomplete="off"></v-text-field>
                                                            </validation-provider>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-12 text-center">
                                                            <v-btn class="mr-5 mt-5" type="submit" :disabled="invalid || sending">
                                                            <i class="ti-save mr-3"></i> Guardar
                                                        </v-btn>
                                                        <v-btn class="mt-5" @click="changeAction(1)">
                                                            <i class="ti-close mr-3"></i> Cancelar
                                                        </v-btn>
                                                        
                                                    </div>
                                                </form>
                                            </validation-observer>
                                        </div>
                                </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { DTHeaders } from "@/core";
import { Topbar, Sidebar, Footer, Datatable} from "@/components";

import SelectBranchOffice from '@/components/forms/SelectBranchOffice.vue'

import { DoctorRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default {
  data() {
    return {
      title: "Doctores",
      headers: DTHeaders.DOCTOR,
      doctorList:[],
      itemOrigin: '',
      action: 1,
      sending: false,
      model:{idDoctor: '' , name:'', lastName:'',professionalId:'',originId: ''},
      notifier: {notifying: false, type:"", message:""},
      index:0,
      service: DoctorRequest
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
    Datatable,
    SelectBranchOffice
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Doctores";
      } else if (this.action == 2) {
        return "Registrar doctor";
      } else if (this.action == 3) {
        return "Modificar doctor";
      }
      return "Listado";
    },
  },
  methods: {
    showAction(action) {
          return this.action == action;
    },
    changeAction(action) {
        if(action == 1){
            this.$refs.observer.reset();
            this.model = {};
            this.action = action;
        }else{
            //this.listAllCategories();
            this.action = action;
        }
    },
    back() {
        this.action = 1;
    },
    doAction() {

        if ( this.itemOrigin != '' ) {
            if (this.action == 2) {
                this.add();
            } else if (this.action == 3) {
                this.update();
            }
        } else {
            this.notification("error","Es necesario selecciona una sucursal de origen");
        }

    },
    notification(type, message){
        if(type == "success"){
            this.notifier.type = 1;
            this.notifier.title = "¡Éxito!";
            this.notifier.message = message || "Acción realizada correctamente.";
        }else if(type == "error"){
            this.notifier.type = 2;
            this.notifier.title = "Error";
            this.notifier.message = message || "Ocurrio un error interno";
        }else{
            this.notifier.type = 3;
            this.notifier.title = "Advertencia";
            this.notifier.message = message || "Verifiqué la información ingresada";
        }
        this.notifier.notifying = true;

        if(type != "error"){
           setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
       }

    },
    catchError(error){
        console.log(error);
        this.notification("error","Ocurrio un error interno");
    },
    listAll() {

    },
    add() {
        this.sending = true;
        this.service.addDoctor(this.model).then((response)=>{
            let { data } = response.data;
            let {message, success} = data;
            if(success == true){
                this.updateTable();
                this.changeAction(1);
                this.notification("success","Registro realizado correctamente");
            }else{
                this.notification("error", message);
            } 
        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
    },
    update() {
        this.sending = true;
         this.service.updateDoctor(this.model).then((response)=>{
            let { data } = response.data;
            let {message, success} = data;
            if(success == true){
                // this.list[this.index] = this.model;
                this.updateTable();
                this.changeAction(1);
                this.notification("success","Cambios realizados correctamente");
            }else{
                this.notification("error", message);
            } 
        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
    },
    edit(object, index) {
    },
    updateItemOrigin(data){
        this.itemOrigin = data;
        this.model.originId = data;
        this.updateTable();
    },
    updateTable(){
        this.doctorList = this.service.findAllDoctorByBranchOfficeKey({
            originId: this.itemOrigin 
        });
    },
    updateRecord(data){
        this.model.idDoctor = data.idDoctor;
        Object.assign(this.model, data);
        this.changeAction(3);
    },
    excel(){
        this.$toast.success("Generando documento Xlsx");    
        ExcelRequest.reportDoctor({
            originId: this.itemOrigin 
        });
    }
  },
};
</script>

<style>
.theme--light.v-messages {
    color: rgb(255 0 0);
}
</style>