<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-9 col-lg-9">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 text-right">
                    
                    <!--Modificación de boton se hizo de color verde-->
                        <button v-if="showAction(1)" class="btn btn-success" @click="changeAction(2)" style="float:right"><i class="ti-plus mr-2"></i>Crear Merma</button>
                    <!--Modificación de boton se hizo de color verde-->

                        <button v-if="showAction(2) || showAction(3)" class="btn btn-primary" @click="changeAction(1)" style="float:right" :disabled="sending" ><i class="ti-arrow-left mr-2"></i> Regresar</button>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                    <strong>{{notifier.title}}</strong> {{notifier.message}}
                                    <button type="button" @click="notifier.notifying = false" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                         <h5 class="card-title mb-0"><i class="ti-clipboard mr-2"></i>{{titleAction}}</h5>
                                    </div>
                                    <div class="col-md-4">
                                         <SelectBranchOffice :disabledView="action == 2 || action == 3"  v-on:updateItemOrigin="updateOrigin" />
                                    </div>
                                    <div class="col-md-4" v-if="action == 2">
                                        <v-select :disabled="sending"   @change="" v-model="reasonsId" :items="reasonsList" label="Motivo de merma" data-vv-name="select"></v-select>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div v-if="showAction(1)" class="col-md-12">
                                        <Datatable :dataList="orderList" :headers="orderListHeaders" :onlyView="true" v-on:viewRecord="viewRecord" :callback="excel" :documentView="true" />
                                    </div>
                                    <div v-if="showAction(2)" class="col-md-12">
                                        <div class="card-body">
                                            <!--<SelectBranchOfficeDestination  v-on:updateItemOrigin="updateDestination" />-->
                                            
                                        </div>
                                        <Datatable  :dataList="productList" :headers="orderProductsHeaders" :deleteItem="isDelete" v-on:deleteRecord="deleteRecord" :loading="loading"  />
                                        <div class="card-body">
                                            <validation-observer  ref="observer" v-slot="{ invalid }">
                                                <form>
                                                    <div class="row pt-10">
                                                        <div class="col-md-3">
                                                        <validation-provider v-slot="{ errors }" name="Fuente Financiamiento"
                                                                rules="required" >
                                                                <v-autocomplete  :disabled=" originId == '' || sending"  no-data-text="Sin resultados" :items="fiscalFoundList"
                                                                    v-model="fiscalFound" label="Fuente Financiamiento*" @change="getProductsByFiscalFound" required>
                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <validation-provider v-slot="{ errors }" name="Producto"
                                                                rules="required">
                                                                <v-autocomplete :disabled=" originId == '' || sending"  no-data-text="Sin resultados" :items="productsOrderList" v-model="productId" label="Producto*" @change="getLotsByProduct" required >
                                                                    <template slot="item" slot-scope="data">
                                                                        <div class="pt-5">
                                                                        {{data.item.text}}
                                                                        </div>
                                                                    </template>

                                                                    <template slot="selection" slot-scope="data">
                                                                        <div class="pt-5">
                                                                        {{data.item.text}}
                                                                        </div>
                                                                    </template>

                                                                    <template v-slot:append>
                                                                        <v-progress-circular v-if="loadingProducts" indeterminate color="#05AF12"></v-progress-circular>
                                                                    </template>

                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <validation-provider v-slot="{ errors }" name="Lote"
                                                                rules="required">
                                                                <v-autocomplete :disabled=" originId == '' || sending"  no-data-text="Sin resultados" :items="lotList"
                                                                    v-model="model.stockId" label="Lote*" @change="getLots" required>

                                                                    <template v-slot:append>
                                                                        <v-progress-circular v-if="loadingLot" indeterminate color="#05AF12"></v-progress-circular>
                                                                    </template>
                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <validation-provider v-slot="{ errors }" name="Cantidad"
                                                                rules="required|numeric">
                                                                <v-text-field :disabled=" originId == '' || sending"  v-model="model.quantity" :error-messages="errors"
                                                                    label="Cantidad*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <v-btn type="button" @click="updateStock" :disabled="invalid || sending">
                                                                <i class="ti-plus mr-3"></i> Añadir
                                                            </v-btn>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <v-btn class="float-right" type="button" @click="finishModal" :disabled=" sending" >
                                                                <i class="ti-plus mr-3"></i> Finalizar Merma
                                                            </v-btn>
                                                        </div>
                                                    </div>
                                                </form>
                                            </validation-observer>
                                        </div>

                                    </div>
                                    <div v-if="showAction(3)" class="col-md-12">
                                        <Datatable  :callback="excelDetail" :documentView="true" :dataList="shipmentList" :headers="shipmentsHeaders"  />
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>



            <v-row justify="center">
                <v-dialog v-model="dialog" persistent max-width="500">
                <v-card>
                    <v-card-title class="headline" v-html="titleModal" />
                    <v-card-text v-html="descriptionModal" />
                    <v-card-text v-if="sending">
                        <div class="text-center">
                            <v-progress-circular indeterminate color="#05AF12" :size="70" />
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :disabled="sending" color="red darken-1" text @click="closeModal">Cerrar</v-btn>
                        <v-btn :disabled="loading || sending" color="green darken-1" text @click="finish">Aceptar</v-btn>
                    </v-card-actions>
                </v-card>
                </v-dialog>
            </v-row>

            <!-- End Contentbar -->
            <div class="mt-10">
            </div>
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer} from '@/components'
import { DTHeaders,UtilFront } from "@/core";
import { 
    OrderRequest, 
    StockRequest, 
    ProductResquest,
    FiscalFoundRequest,
    LotRequest,
    ShipmentsRequest,
    DownProductRequest,
    ExcelRequest 
    } from "@/core/request";

import Datatable from '@/components/Datatable.vue';
import SelectBranchOffice from '@/components/forms/SelectBranchOffice.vue'
import SelectBranchOfficeDestination from '@/components/forms/SelectBranchOfficeDestination.vue'
import { required, max, numeric } from "vee-validate/dist/rules";

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");

extend("numeric", {
  ...numeric,
  message: "{_field_} debe ser un número entero. ({_value_})"
});

extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default{
    data(){
        return {
            title:'Mermas',
            orderListHeaders: DTHeaders.DOWN_PRODUCT,
            orderProductsHeaders:DTHeaders.ORDER_PRODUCTS,
            shipmentsHeaders: DTHeaders.SHIPMENTS,

            /* Global */
            action : 1,
            sending: false,
            idUser : '',
            originId: '',
            orderId:'',
            status: 7,
            orderIdT:'',
            isDelete: true,
            loading: false,
            loadingProducts : false,
            loadingLot : false,
            dialog: false,
            /* Global */


            orderList: [],
            productList: [],
            shipmentList: [],


            /* Formulario */
            reasonsList:[],
            reasonsId: '',

            fiscalFoundList: [],
            fiscalFound:'',
            productsOrderList: [],
            productId: '',
            lotList: [],
            model: {stockId:'',quantity: '', prescription:'0'},
            notifier: {notifying: false, type:"", message:""},
        }
    },
    computed: {
        titleAction() {
            if (this.action == 1) {
                return "Últimas Mermas";
            } else if (this.action == 2) {
                return "Crear Nueva Merma";
            } 
            return "Listado "+this.orderIdT;
        },
        titleModal() {

            if ( this.sending ) {
                return "Procesando Merma"
            }

            if ( this.loading  ) {
                return 'Cargando...' ;
            } else {
                return "¿Deseas Finalizar esta Merma?";
            }

        },
        descriptionModal() {

            if ( this.sending ) {
                return "Por favor espere, procesando solicitud";
            }

            if ( this.loading  ) {
                return 'Espere por favor, procesando tu solicitud' ;
            } else {
                return "Finalizar Merma";
            }

        }
    },
    components:{
        ValidationProvider,
        ValidationObserver,
        Topbar,
        Sidebar,
        Footer,
        Datatable,
        SelectBranchOffice,
        SelectBranchOfficeDestination
    },
    methods: {
        /* Start Default Functions*/
        showAction(action){
            return this.action == action;
        },
        changeAction(action) {
            if(action == 1){
                this.loading = false;
                this.action = action;
                this.clean(1);
            }else if (action == 2) {

                if ( this.originId != '') {

                    this.loading = true;
                    this.action = action;
                    this.addOrder();
                } else {
                    this.notification("error","Es necesario seleccionar una sucursal para continuar");
                }

            } else if (action == 3) {
                this.action = action;
            }
        },
        notification(type, message){
            if(type == "success"){
                this.notifier.type = 1;
                this.notifier.title = "¡Éxito!";
                this.notifier.message = message || "Acción realizada correctamente.";
            }else if(type == "error"){
                this.notifier.type = 2;
                this.notifier.title = "Error";
                this.notifier.message = message || "Ocurrio un error interno";
            }else{
                this.notifier.type = 3;
                this.notifier.title = "Advertencia";
                this.notifier.message = message || "Verifiqué la información ingresada";
            }
            this.notifier.notifying = true;

            if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

        },
        /* End Default Functions*/
        
        /* Start Table Functions*/
        tableOrder(data){
            this.orderList = DownProductRequest.findAllBranchAndUserKey(data);
        },
        tableProducts(data){

            this.loading = true;
            ProductResquest.findAllProductsByOrdersKey(data).then( (response) => {
                this.productList = response;
                this.loading = false;
                this.isDelete = true;
            });

        },
        deleteRecord(item) {
            this.sending = true;
            this.isDelete = false;
            this.loading = true;

            StockRequest.deleteOrderStock({
                idOrder: this.orderId,
                idStock: item.idStock
            }).then( (response) => {
                let { data } = response.data;
                let { success, message } = data;
                if (success) {
                    this.$toast.success("Eliminando producto");
                } else {
                    this.notification("error",message);
                }
                this.getProductsByFiscalFound();//Volver a poner aquí la lista de productos para que refresquen después de haberlos eliminado
            }).catch( (error) => {
                this.$toast.error("No fue posible eliminar el producto");
                this.catchError(error);
                this.loading = false;
                this.isDelete = true;
            }).finally(()=>{

                this.tableProducts({
                    idOrder: this.orderId,
                    status: this.status
                });

                this.sending = false;
                //this.isDelete = true;
                this.clean(1);
            });
        },
        viewRecord(data){

            ShipmentsRequest.findDetailByOrder({
                orderId: data.orderId
            }).then( (response) => {
                let { data } = response.data;
                let { shippingDate, productList, status  } = data;

                this.shippingDate = shippingDate;
                //this.shipmentList = productList;

                var orderDetailArray = [];

                for (var [index, value] of Object.entries(productList)) {
                    let orderDetailItem = {
                        idCounter: index,
                        productKey : value.productKey,
                        product : value.product,
                        fiscalFound: value.fiscalFound,
                        lot: value.lot,
                        quantity : value.quantity,
                        expirationDate: value.expirationDate,
                        locationKey: value.locationKey
                    };
                    orderDetailArray.push(orderDetailItem);
                }

                this.shipmentList = orderDetailArray;

                //this.status = status;
                

            /*if ( status == 4) {
                    this.showSelect = false;
                } */

            }).catch(this.catchError).finally(()=>{
                this.changeAction(3);
                this.orderIdT = data.orderId;
            });

            console.log(data);
            //this.$router.push('/salidas/picking/'+data.orderId);
        },
        /* End Table Functions*/


        updateOrigin(data){

            if ( data > 0 ) {
                this.originId = data;

                //Recupero todas las fuentes de financiamiento
                this.fiscalFoundList = FiscalFoundRequest.findAllFiscalFoundsKeyAvailable({
                    id: this.originId
                });

                if ( this.action == 1) {
                    this.tableOrder({
                        userId : this.idUser,
                        originId : this.originId
                    });
                } else if ( this.action == 2) {
                    this.addOrder();
                }
            } else {
                this.notification("error","No cuentas con sucursales disponibles");
            }
              
        },
        updateDestination(data){
            this.destinationId = data;
        },
        addOrder(){

            //Crear la nueva orden
            OrderRequest.addOrder({
                originId: this.originId,
                userId: this.idUser,
                status: this.status
            }).then( (response) => {

                let { data } = response.data;
                let { success, message, orderId } = data;

                if (success) {
                    this.orderId = orderId

                    this.tableProducts({
                        idOrder: this.orderId,
                        status: this.status
                    });

                } else {
                    this.notification("error",message);
                }

            }).catch( (error) => {
                this.catchError(error);
                this.action = 1;
            }).finally(()=>{
                //this.sending = false;
            });
        },
        /* Star Form Functions*/
        getProductsByFiscalFound(){

            this.clean(2);

            this.loadingProducts = true;
            ProductResquest.findAllProductsByCausesAvailable({
                branchOfficeId: this.originId,
                fiscalFound: this.fiscalFound
            }).then ( (response) => {
                this.productsOrderList = response;
                this.loadingProducts = false;
            });


        },
        getLotsByProduct(){

            this.clean(3);

            this.loadingLot = true;
            LotRequest.findAllLotsAvailableFormList({
                idFiscalfund: this.fiscalFound,
                productId: this.productId,
                branchOfficeId: this.originId
            }).then ( (response) => {
                this.lotList = response;
                this.loadingLot = false;
            });


            

        },

        getLots(){
            //Limpio los campos no necesarios
            this.clean(4);
        },
        updateStock() {
        
            if ( this.model.quantity != '') {

                this.model.orderId = this.orderId;
                this.sending = true;
                this.isDelete = false;
                this.loading = true;


                OrderRequest.updateStockByOrder(this.model).then(response => {
                    let { data } = response.data;
                    let { success, message } = data;

                    if ( success ) {

                        this.$toast.success("Agregando producto");

                        this.tableProducts({
                            idOrder: this.orderId,
                            status: this.status
                        });
                        this.getProductsByFiscalFound();//cuando se refresca la pantalla de añadir, hace que se quede estático la opción elegida en fuente de financiamiento
                    } else {
                        this.notification("error",message);
                    }
                }).catch(this.catchError).finally(()=>{
                    this.sending = false;
                    this.isDelete = true;
                    this.loading = false;
                    this.clean(1);
                });

            } else {
                this.notification("error","Es necesario ingresar una cantidad");
                this.sending = false;
                this.loading = false;
            }

        },
        closeModal(){
            this.isDelete = true;
            this.dialog = false;
        },
        finishModal(){
            this.dialog = true;
        },
        finish(){

            //Validar que este seleccionado el destino
            if (this.reasonsId != '') {

                this.sending = true;
                this.isDelete = false;

                DownProductRequest.addDown({
                    idOrder: this.orderId,
                    status: this.reasonsId,
                    idUser: this.idUser,
                    idBranchoffice: this.originId
                }).then( (response) => {
                    let { data } = response.data;
                    let { success, message } = data;

                    if (success) {

                        this.tableOrder({
                            userId : this.idUser,
                            originId : this.originId
                        });

                        this.clean(0);
                        this.action = 1;
                        this.notification("success","Merma Generada");
                    } else {
                        this.notification("error",message);
                    }
                }).catch(this.catchError).finally(()=>{
                    this.isDelete = true;
                    this.dialog = false;
                    this.sending = false;
                });

            } else {
                this.notification("error","Es necesario seleccionar un motivo");
                this.sending = false;
            }
            
        },
        clean( level ){

            if ( level == 0 ) {    
                this.productList = [];
                this.fiscalFound = '';//Se paso para arriba para así poder hacer que se conserve la opción de fuentes de financiamiento
            }

            if ( level <= 1 ) {    
                //this.fiscalFound = '';se paso para arriba para así poder conservar la opción de fuentes de financiamiento
            }

            if ( level <= 2 ) {
                //Se encarga de limpiar la lista de productos el item seleccionado
                this.productsOrderList = [];
                this.productId = '';
            }

            if ( level <= 3) {
                //Se encarga de limpiar la lista de lotes y el item seleccionado
                this.lotList = [];
                this.model.stockId = '';
            }

            if ( level <= 4) {
                //Se encarga de limpiar los campos de cantidad
                this.model.quantity = '';
                
            }

            if ( this.action == 2 ) {
                this.$refs.observer.reset();
            }

        },
        excel() {
            this.$toast.success("Generando documento Xlsx");
            ExcelRequest.reportOrdersDecrease({
                userId : this.idUser,
                originId : this.originId
            });
        },
        excelDetail(){
            this.$toast.success("Generando documento Xlsx");
            ExcelRequest.reportOrderDecreaseDetail({
                orderId: this.orderIdT
            });
        }
        /* End Form Functions*/
    },
    created(){
        this.reasonsList = [
            { text: "Autorización", value:"1"},
            { text: "Caducidad", value:"2"},
            { text: "Canje", value:"3"}, 
            { text: "Deterioro", value:"4"},
            { text: "Extravío", value:"5"}, 
            { text: "Error de surtido", value:"6"}
        ];

        let infoUser = UtilFront.getDataUser();
        this.idUser = infoUser.idUser;


        //Recupero todas las fuentes de financiamiento
        //this.fiscalFoundList = FiscalFoundRequest.findAllFiscalFoundsKeyAvailable();
    },
    beforeRouteLeave (to, from, next) {
        if (this.sending){
            next(false)
        } else {
            next()
        }
    },
}
</script>
