<template lang="es">

    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-4">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                     <div class="col-md-3 col-lg-3">
                          
                        <v-autocomplete v-if="branchOffices.length > 1" @change="listAll()" auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                              v-model="branchOffice" 
                              clearable  
                              :disabled="showAll"
                                label="Sucursal" >
                        </v-autocomplete>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <template>
                            <v-container fluid>
                                <v-checkbox
                                v-model="showAll"
                                @change="listAll()"
                                label="Todo"
                                 hide-details
                                class="shrink mr-2 mt-0"
                                ></v-checkbox>
                            </v-container>
                        </template>
                    </div> 
                    <div class="col-md-4 col-lg-4 text-right">
                           
                           <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                <span  class="hand text-fmedical-red" @click="confirmReport" v-bind="attrs" v-on="on">
                                    <i class="fa fa-file-pdf-o fa-2x" ></i>
                                </span>
                                </template>
                                <span>Descargar PDF</span>
                            </v-tooltip>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
      
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                           
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0"> 
                                    <i class="fa fa-bell-o"></i> {{titleAction}}
                                </h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field>
                            </v-card-title>
                            <v-card-text>
                                <!-- <v-container> -->
                                    <div id="list"  v-if="showAction(1)"  >
                                        <v-data-table dense  :headers="headers" :items="list" sort-by="name"
                                            class="elevation-1" :search="search"
                                            :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                            loading-text="Carngando..."
                                            no-data-text="Sin resultados disponibles"
                                            no-results-text="Sin resultados coincidentes con la búsqueda"
                                            :item-class="setColorExpired"
                                            >
                                            <template v-slot:[`item.actions`]="{ item, index}">
                                        
                                                 <div>
                                                   <v-tooltip top>
                                                      <template v-slot:activator="{ on, attrs }">
                                                       <v-icon small class="ml-3" @click="edit(item, index)" v-bind="attrs" v-on="on">
                                                        mdi mdi-square-edit-outline
                                                        </v-icon>
                                                    </template>
                                                    <span>Editar</span>
                                                  </v-tooltip>
                                                  
                                                  <v-tooltip top>
                                                      <template v-slot:activator="{ on, attrs }">
                                                     <span  class="ml-3 hand text-info" @click="view(item)" v-bind="attrs" v-on="on">
                                                          <i class="mdi mdi-information-outline"></i>
                                                      </span>
                                                      </template>
                                                    <span>Ver</span>
                                                  </v-tooltip>
                                                </div>

                                            </template>
                                        </v-data-table>
                                    </div>
                               
                                    <div id="form" v-if="showAction(2) || showAction(3) || showAction(4)">
                                        <validation-observer ref="observer" v-slot="{ invalid }">
                                            <form @submit.prevent="doAction" >
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <validation-provider   v-slot="{ errors }" name="Nombre" rules="required|max:30">
                                                        <v-text-field :disabled="isView"
                                                           v-model="model.name" :counter="30" :error-messages="errors"   label="Nombre*"
                                                            required autocomplete="off" ></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <validation-provider   v-slot="{ errors }" name="Descripción" rules="required|max:60">
                                                        <v-text-field :disabled="isView"
                                                           v-model="model.description" :counter="60" :error-messages="errors"   label="Descripción*"
                                                            required autocomplete="off" ></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-12">
                                                        <validation-provider v-slot="{ errors }" name="Permisos" rules="required">
                                                             <v-autocomplete  :disabled="isView"  :items="permissions" attach
                                                                v-model="model.permissions"  
                                                                :error-messages="errors" no-data-text="Sin resultados"
                                                                 label="Permisos" clearable  multiple chips deletable-chips>
                                                                 <template #selection="{ item , index}">
                                                                    <v-chip color="success"
                                                                    close @click:close="model.permissions.splice(index, 1)"
                                                                    >{{item.text}}</v-chip>
                                                                  </template>
                                                            </v-autocomplete>                                                   
                                                        </validation-provider>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                        <v-btn class="mr-5 mt-5" v-if="!showAction(4)"  type="submit" :disabled="invalid || sending">
                                                        <i class="ti-save mr-3"></i> Guardar
                                                    </v-btn>
                                                    <v-btn class="mt-5" @click="changeAction(1)">
                                                        <i class="ti-close mr-3"></i> Cancelar
                                                    </v-btn>
                                                    
                                                </div>
                                            </form>
                                        </validation-observer>
                                          
  
                                    </div>
                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
         <v-dialog v-model="dialog" persistent max-width="890" >
            <v-card>
                <v-card-title class="headline">
                <small>Reporte de productos caducados</small>
                </v-card-title>
                <v-card-text> 

                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <v-autocomplete v-if="branchOffices.length > 1" @change="listAll()" auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                                v-model="branchOffice" 
                                clearable  
                                :disabled="showAll"
                                    label="Sucursal" >
                            </v-autocomplete>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <template>
                                <v-container fluid>
                                    <v-checkbox
                                    v-model="showAll"
                                    @change="listAll()"
                                    label="Todo"
                                    hide-details
                                    class="shrink mr-2 mt-0"
                                    ></v-checkbox>
                                </v-container>
                            </template>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <v-autocomplete auto-select-first :items="leves" :disabled="allLeveles" no-data-text="Sin resultados" attach
                                v-model="level" 
                                clearable   label="Grado de caducidad" >
                            </v-autocomplete>
                        </div>
                        <div class="col-md-2 col-lg-2 text-right">
                            <template>
                                <v-container fluid>
                                    <v-checkbox
                                    v-model="allLeveles"
                                    label="Todo"
                                    hide-details
                                    class="shrink mr-2 mt-0"
                                    ></v-checkbox>
                                </v-container>
                            </template>
                        </div> 
                    </div>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="cancelReport" :disabled="sending">
                    Cancelar
                </v-btn>
                <v-btn color="green darken-1" text @click="downloadPDF" :disabled="sending">
                    Sí, continuar
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders,UtilFront } from "@/core";
import { StockRequest,UserRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      service: StockRequest,
      title: "Caducados",
      list: [],
      headers: DTHeaders.EXPIRED,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      isView: false,
      showAll: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      permissions: [],
      branchOffices:[],
      dialog: false,
      leves:[],
      allLeveles: false,
      level:0
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    // this.listAll();
    this.leves = [
        { value: 1, text: "3 meses o menos"},
        { value: 2, text: "4 a 11 meses"},
        { value: 3, text: "1 año"},
    ];
    this.listBranchOfficeByUser();

  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Caducados";
      } else if (this.action == 2) {
        return "Caducados";
      } else if (this.action == 3) {
        return "Caducados";
      } else if (this.action == 4) {
        return "Información de caducado";
      }
      return "Inicidencias";
    },
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

     if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
        this.list = [];
        let idBranchOffice = 0;
        if(this.branchOffice != null){
            idBranchOffice = this.branchOffice.idBranchoffice;
            this.service.listAllStockExpired(idBranchOffice, this.showAll).then((res) => {
            let { data } = res.data;
            if (data) {
                this.list = data.map((obj)=>{
                  obj.productFull = `${obj.productName} ${obj.productDescripcion}`;
                  return obj 
                });
                // let l1 = data.filter((obj)=>{
                //   return obj.levelExpiration == 1;
                // });
                // console.log(l1.length);
                // let l2 = data.filter((obj)=>{
                //   return obj.levelExpiration == 2;
                // });
                // console.log(l2.length);
                // let l3 = data.filter((obj)=>{
                //   return obj.levelExpiration == 3;
                // });
                //  console.log(l3.length);
            }
        }).catch(this.catchError);
        }
        
        
    },
    add() {
      this.sending = true;
      this.service
        .add(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Registro realizado correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.changeAction(3);
    },
    view(object) {
      Object.assign(this.model, object);
      this.changeAction(4);
    },
    listBranchOfficeByUser(){
      let infoUser = UtilFront.getDataUser();
    // console.log(infoUser);
      this.branchOffices = [];
      UserRequest.listAllBranchOfficesByUserId(infoUser.idUser)
        .then((res) => {
          let { data } = res.data;
          if (data) {
            this.branchOffices = data.objects.map((obj) => {
              return {
                value: { idBranchoffice: obj.idBranchoffice },
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
            });
            if (this.branchOffices.length > 0) {
                this.branchOffice = this.branchOffices[0].value;
            }
          }
        }).catch(this.catchError).finally(() => {
          this.listAll();
        });
    },
    setColorExpired(item){
    let style = '';
      switch(item.levelExpiration) {
        case 1:
          style = 'bgr-red';
        break;
        case 2:
          style = 'bgr-yellow';
        break;
        case 3:
          style = 'bgr-green';
        break;
      }
      return style;
    },
    confirmReport(){
      this.dialog = true;
    },
    cancelReport(){
        this.dialog = false; 
    },
    downloadPDF(){
        let params = {
            level:this.level,
            idBranchOffice: this.branchOffice,
            userID: UtilFront.getIdUser()
        };
        if(this.showAll){
            params.idBranchOffice = 0;
        }else{
            if(this.branchOffice == null){
                this.$toast.error("Seleccione una sucursal");
                 return;
            }else{
                params.idBranchOffice = this.branchOffice.idBranchoffice;
            }
        }
        if(this.allLeveles){
            params.level = 0;
        }else{
            if(this.level == 0 || this.level == null){
                this.$toast.error("Seleccione un nivel de caducidad");
                return;
            }else{
                params.level = this.level;
            }
        }

        var paramsString = "";
        for (var key in params) {
            if (paramsString != "") {
                paramsString += "&";
            }
            paramsString += key + "=" + params[key];
        }

        this.$toast.success("Generando documento PDF");
        this.sending = true;

        ExcelRequest.reportExpired(paramsString).then( (response) => {
          const url = URL.createObjectURL(new Blob([response.data], {type: 'application/pdf'}));
          window.open(url);
          }).catch(this.catchError).finally(() => {
            this.dialog = false;
            this.sending = false; 
        });
    }
  },
};
</script>

<style>
</style>