<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- <Sidebar /> -->
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
          
            <!-- Start Contentbar -->
            <div class=" ml-12" style="margin-top: 300px;">
                <div  class="row mt-12 ml-12 mr-12">
                    <div class="col-lg-12 col-xl-12">

                        <!-- <template> 
                          <v-card>  -->
                              <div class="row mt-12 center-cont" >
                                <div class="col-md-6">
                                  <img src="@/assets/images/iconos/imagen/comenzar.png" class="img-fluid hand"
                                     @click="redirectToModule('/estudio')"
                                      alt="logo" />
                                    <h4>Comenzar estudio</h4>
                                </div>
                                 <div class="col-md-6 ">
                                  <img src="@/assets/images/iconos/imagen/interpretacion.png" class="img-fluid hand"
                                   @click="redirectToModule('/interpretacion')"
                                      alt="logo" />
                                    <h4>Interpretación</h4>

                                </div>
                             </div>
                                      
                            <!-- </v-card> 
                        </template> -->
                    
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <!-- <Footer /> -->

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer, Datatable } from "@/components";
import { DTHeaders, UtilFront, PermissionConstants } from "@/core";
import { CategoryRequest, ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      title: "Categorías",
      remmisionList: [],
      list: [],
      headers: DTHeaders.CATEGORIES,
      search: "",
      action: 1,
      sending: false,
      model: { name: "", description: "" },
      notifier: { notifying: false, type: "", message: "" },
      index: 0,
      permissions: PermissionConstants,
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
    Datatable,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      return "Listado";
    },
  },
  methods: {
    redirectToModule(nameRoute){
        this.$router.push(nameRoute);
    },
    showAction(action) {
      return this.action == action;
    },

    changeAction(action) {
  
    },
    doAction() {
      
    },
    notification(type, message) {
    
    },
    catchError(error) {
      console.log(error);
    },
    listAll() {

    },
    add() {
   
    },
    update() {
   
    },
  },
};
</script>

<style>
.theme--light.v-messages {
  color: rgb(255 0 0);
}
</style>