<template lang="es">

    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-4">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                          <v-autocomplete v-if="branchOffices.length > 1" :disabled="action != 1" @change="listAll()" auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                              v-model="branchOffice" 
                              clearable  
                                label="Sucursal" >
                          </v-autocomplete> 
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                      <button class="btn btn-info" v-if="showAction(4)" @click="changeAction(1)">
                        <i class="ti-close mr-2"></i> Cancelar
                      </button>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">

            


                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                           
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0"> 
                                    <i class="fa fa-chevron-left"></i> <i class="fa fa-exclamation-triangle"></i>  Incidencias entrantes
                                </h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                <v-text-field v-model="search"  v-if="showAction(1)"  append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field>
                            </v-card-title>
                                    <div id="list"  v-if="showAction(1)"  >
                                        <v-data-table dense  :headers="headers" :items="list"
                                            class="elevation-1" :search="search"
                                            :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                            loading-text="Carngando..."
                                            no-data-text="Sin resultados disponibles"
                                            no-results-text="Sin resultados coincidentes con la búsqueda"
                                            >
                                            <template v-slot:[`item.reason`]="{ item, index}">
                                               <div>
                                                 <small>
                                                   {{item.reason}}
                                                 </small>
                                                </div>
                                            </template>
                                            <template v-slot:[`item.actions`]="{ item, index}">
                                        
                                                 <div>
                                                   
                                                  <v-tooltip top>
                                                      <template v-slot:activator="{ on, attrs }">
                                                     <span  class="ml-3 hand text-info" @click="view(item)" v-bind="attrs" v-on="on">
                                                          <i class="mdi mdi-information-outline"></i>
                                                      </span>
                                                      </template>
                                                    <span>Ver</span>
                                                  </v-tooltip>
                                                </div>

                                            </template>
                                        </v-data-table>
                                      <div class="col-md-6" >
                                          <div class="invoice-footer-btn">
                                              <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                              <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                                          </div>
                                      </div>
                                    </div>
                            <v-card-text>
                                <!-- <v-container> -->
                                    <div id="form" v-if="showAction(2) || showAction(3) || showAction(4)">
                                        <validation-observer ref="observer" v-slot="{ invalid }">
                                            <form @submit.prevent="doAction" >
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <v-text-field :disabled="isView" v-model="model.idIncidence"   
                                                          label="ID Inicidencia*"required autocomplete="off" >
                                                          </v-text-field>
                                                    </div>
                                                     <div class="col-md-3">
                                                        <v-text-field :disabled="isView"  v-model="model.typeIncidenceName"   
                                                            label="Tipo de incidencia*" required autocomplete="off" ></v-text-field>
                                                    </div>
                                                    <div class="col-md-3" v-if="model.idOrder">
                                                        <v-text-field :disabled="isView"  v-model="model.idOrder"   
                                                            label="ID Orden*" required autocomplete="off" ></v-text-field>
                                                    </div>
                                                   
                                                    <div class="col-md-3" v-if="model.idStock">
                                                        <v-text-field :disabled="isView"  v-model="model.idStock"   
                                                            label="ID Stock en incidencia*" required autocomplete="off" ></v-text-field>
                                                    </div>
                                                    <div class="col-md-3" v-if="model.lot">
                                                        <v-text-field :disabled="isView"  v-model="model.lot"   
                                                            label="Lote*" required autocomplete="off" ></v-text-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-8">
                                                       <v-text-field :disabled="isView"  v-model="model.fullNameOrigin"   
                                                            label="Lugar de incidencia*" required autocomplete="off" 
                                                            append-outer-icon="mdi-map-marker"
                                                            ></v-text-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <v-text-field :disabled="isView"  v-model="model.dateIncidence"   
                                                            label="Fecha incidencia*" required autocomplete="off" 
                                                            append-outer-icon="mdi-calendar"></v-text-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-12">
                                                         <v-textarea v-model="model.infoProduct" disabled counter
                                                          label="Información de producto*" 
                                                          rows="3"
                                                          class="mx-2"></v-textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-12">
                                                         <v-textarea v-model="model.reason" disabled counter
                                                          label="Razón*" 
                                                          append-outer-icon="mdi-comment"class="mx-2"></v-textarea>
                                                    </div>
                                                </div>
                                                
                                              <div class="col-md-12 text-right">
                                                  <button class="btn btn-success" v-if="!showAction(4)" type="submit" :disabled="invalid || sending">
                                                      <i class="ti-save mr-3"></i> Guardar
                                                  </button>
                                              </div>
                                                
                                            </form>
                                        </validation-observer>
                                          
  
                                    </div>
                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
        
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders,UtilFront } from "@/core";
import { IncidenceOrderRequest, UserRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      service: IncidenceOrderRequest,
      title: "Incidencias entrantes",
      list: [],
      headers: DTHeaders.INCIDENCE_ORDER_IN,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      isView: false,
      headersTwo:DTHeaders.INCIDENCE_MY_ORDER,
      listTwo:[],
      searchTwo:"",
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      notifierTwo: { notifying: false, type: "", message: "" },
      permissions: [],
      branchOffice:{},
      branchOffices:[],
      changeStatus:{
        question: "",
        description: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    let infoUser = UtilFront.getDataUser();
    this.branchOffices = infoUser.branchOfficesSimple;
    if (this.branchOffices.length > 0) {
        this.branchOffice = this.branchOffices[0].value;
    }
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Inicidencias";
      } else if (this.action == 2) {
        return "Inicidencias";
      } else if (this.action == 3) {
        return "Inicidencias";
      } else if (this.action == 4) {
        return "Información de incidencia";
      }
      return "Inicidencias";
    },
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      // if (this.action == 2) {
      //   this.add();
      // } else if (this.action == 3) {
      //   this.update();
      // }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

     if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.list = [];
      if(this.branchOffice != null){
          this.service.listAll(this.branchOffice.idBranchoffice).then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.list = data.objects.map((obj) => {
              if (obj.branchOffice) {
                obj.fullNameOrigin = `(${obj.branchOffice.branchOfficeKey}) ${obj.branchOffice.name} `;
              }
              obj.infoProduct = `${obj.productKey} - ${obj.productName}; ${obj.productDescription}`;
              obj.idStock = obj.idStock || '';
              obj.idOrder = obj.idOrder || '';
              obj.lot = obj.lot || '';
              return obj;
            });
          }
        }).catch(this.catchError);
      }
    },
    view(object) {
      Object.assign(this.model, object);
      this.changeAction(4);
    },
     listAllByBranchOffice() {
      this.list = [];
      this.service
        .listAllByBranchOffice(this.branchOffice.idBranchoffice)
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.list = data.objects.map((obj) => {
              if (obj.origin) {
                obj.fullNameOrigin = `(${obj.origin.branchOfficeKey}) ${obj.origin.name} `;
              }
              return obj;
            });
          }
        })
        .catch(this.catchError);
    },
    excel(){
      this.$toast.success("Generando documento Xlsx");
      ExcelRequest.reportIncidenceIn({
          id:this.branchOffice.idBranchoffice
      });
    }
  },
};
</script>

<style>
.theme--light.v-icon.v-icon.v-icon--disabled {
    color: rgb(0 138 194)!important;
}
</style>