<template lang="es">

    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-4">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                          <v-autocomplete v-if="branchOffices.length > 1" @change="listAll()" auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                              v-model="branchOffice" 
                              clearable  
                              :disabled="action != 1"
                                label="Sucursal" >
                          </v-autocomplete> 
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                      <button class="btn btn-success" v-if="showAction(1)" :disabled="!branchOffice" @click="changeAction(2)">
                        <i class="ti-plus mr-2"></i> Crear incidencia
                      </button>
                      <!--Modificación de boton se hizo de color azul-->
                      <button class="btn btn-primary" v-if="showAction(2) || showAction(3) || showAction(4)" @click="changeAction(1)">
                        <i class="ti-arrow-left mr-2"></i> Regresar
                      </button>
                      <!--Modificación de boton se hizo de color azul-->
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">


                <!-- incidencias recibidas -->


                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                           
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0"> 
                                    <i class="fa fa-chevron-right"></i> <i class="fa fa-exclamation-triangle"></i>  Incidencias realizadas
                                </h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field>
                            </v-card-title>

                            <div id="list"  v-if="showAction(1)"  >
                                <v-data-table dense  :headers="headers" :items="list"
                                    class="elevation-1" :search="search"
                                    :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                    loading-text="Carngando..."
                                    no-data-text="Sin resultados disponibles"
                                    no-results-text="Sin resultados coincidentes con la búsqueda"
                                    >
                                    <template v-slot:[`item.reason`]="{ item, index}">
                                        <div>
                                          <small>
                                            {{item.reason}}
                                          </small>
                                        </div>
                                    </template>
                                    <template v-slot:[`item.actions`]="{ item, index}">
                                
                                          <div>
                                            
                                          <v-tooltip top>
                                              <template v-slot:activator="{ on, attrs }">
                                              <span  class="ml-3 hand text-info" @click="view(item)" v-bind="attrs" v-on="on">
                                                  <i class="mdi mdi-information-outline"></i>
                                              </span>
                                              </template>
                                            <span>Ver</span>
                                          </v-tooltip>
                                          <br>
                                            <v-switch color="success" class="hand" dense @change="confirmchangeStatus(item)" inset
                                              v-model="item.resolved">
                                            </v-switch>
                                        </div>

                                    </template>
                                </v-data-table>
                                <div class="col-md-6" >
                                    <div class="invoice-footer-btn">
                                        <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                        <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                                    </div>
                                </div>
                            </div>

                            <v-card-text>
                                <!-- <v-container> -->

                               
                                    <div id="formAdd" v-if="showAction(2)">

                                       <validation-observer ref="observer" v-slot="{ invalid }">
                                            <form @submit.prevent="doAction" >
                                              <div class="row">
                                                <div class="col-md-4">
                                                  <validation-provider v-slot="{ errors }" name="Tipo de incidencia" rules="required">
                                                    <v-autocomplete  auto-select-first :items="typesIncidence"
                                                      no-data-text="Sin resultados" attach v-model="model.typeIncidence" :error-messages="errors"
                                                      clearable required label="Tipo de incidencia">
                                                    </v-autocomplete>
                                                  </validation-provider>
                                                </div>
                                                <div class="col-md-8">
                                                  <validation-provider v-slot="{ errors }" name="Proveedor de producto" rules="required">
                                                    <v-autocomplete  auto-select-first :items="suppliersBranchs"
                                                      no-data-text="Sin resultados" attach v-model="model.supplierProduct" :error-messages="errors"
                                                      clearable required label="Proveedor de producto">
                                                    </v-autocomplete>
                                                  </validation-provider>
                                                </div>
                                              </div>
                                              <div class="row">
                                                 <div class="col-md-12 col-md-12 ">
                                                    <strong><span> Origen de incidencia</span> </strong>
                                                 </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-2">
                                                  <v-checkbox
                                                      v-model="model.isStock"
                                                      @change="validateCheckBox(2)"
                                                      :label="`Producto en stock`"
                                                    ></v-checkbox>
                                                </div>
                                               
                                                <div class="col-md-4"></div>
                                                 <div class="col-md-2">
                                                  <v-checkbox
                                                      v-model="model.isProduct"
                                                      @change="validateCheckBox(1)"
                                                      :label="`Producto sin stock`"
                                                    ></v-checkbox>
                                                </div>
                                                 <div class="col-md-4"></div>

                                              </div>
                                               <div class="row">
                                                 <div class="col-md-12">
                                                    <validation-provider v-slot="{ errors }" name="Producto" rules="required">
                                                      <v-autocomplete  :disabled="!model.isProduct && !model.isStock"  @change="getDetailStock" auto-select-first :items="products"
                                                        no-data-text="Sin resultados" attach v-model="model.product" :error-messages="errors"
                                                        clearable label="Producto">

                                                        <!-- Se agrego para acomodar el texto dentro del select | se elimino el (required) del autocomplete -->
                                                        <template slot="item" slot-scope="data">
                                                          <div class="pt-5">
                                                            {{data.item.text}}
                                                          </div>
                                                        </template>

                                                        <template slot="selection" slot-scope="data">
                                                          <div class="pt-5">
                                                            {{data.item.text}}
                                                          </div>
                                                        </template>
                                                        <!-- Fin cambios -->
                                                        
                                                      </v-autocomplete>
                                                    </validation-provider>
                                                  </div>
                                               </div>
                                               <div class="row" v-if="detailStock && model.product">
                                                 <div class="col-md-4">
                                                   <strong>ID Stock</strong>  {{detailStock.idStock}}
                                                 </div>
                                                 <div class="col-md-4">
                                                   <strong>Caducidad</strong>  {{detailStock.expirationDate}}
                                                 </div>
                                                  <div class="col-md-4">
                                                   <strong>Cantidad en stock</strong>  {{detailStock.quantity}}
                                                 </div>
                                               </div>
                                               <div class="row">
                                                    <div class="col-md-12">
                                                         <validation-provider v-slot="{ errors }" name="Razón" rules="required">
                                                              <v-textarea v-model="model.reason" name="comment" label="Razón*" :error-messages="errors"
                                                              counter rows="2" max="200" row-height="20"></v-textarea>
                                                        </validation-provider>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                      <button class="btn btn-success"  type="submit" :disabled="invalid || sending">
                                                        <i class="ti-save mr-2"></i> Guardar
                                                      </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </validation-observer>
                                   </div>
                                   <div id="formView" v-if="showAction(4)">
                                            <validation-observer ref="observer" v-slot="{ invalid }">
                                            <form @submit.prevent="doAction" >
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <v-text-field :disabled="isView" v-model="model.idIncidence"   
                                                          label="ID Inicidencia*"required autocomplete="off" >
                                                          </v-text-field>
                                                    </div>
                                                     <div class="col-md-3">
                                                        <v-text-field :disabled="isView"  v-model="model.typeIncidenceName"   
                                                            label="Tipo de incidencia*" required autocomplete="off" ></v-text-field>
                                                    </div>
                                                    <div class="col-md-3" v-if="model.idOrder">
                                                        <v-text-field :disabled="isView"  v-model="model.idOrder"   
                                                            label="ID Orden*" required autocomplete="off" ></v-text-field>
                                                    </div>
                                                   
                                                    <div class="col-md-3" v-if="model.idStock">
                                                        <v-text-field :disabled="isView"  v-model="model.idStock"   
                                                            label="ID Stock en incidencia*" required autocomplete="off" ></v-text-field>
                                                    </div>
                                                    <div class="col-md-3" v-if="model.lot">
                                                        <v-text-field :disabled="isView"  v-model="model.lot"   
                                                            label="Lote*" required autocomplete="off" ></v-text-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-8">
                                                       <v-text-field :disabled="isView"  v-model="model.supplierName"   
                                                            label="Proveedor*" required autocomplete="off" 
                                                            append-outer-icon="mdi-map-marker"
                                                            ></v-text-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <v-text-field :disabled="isView"  v-model="model.dateIncidence"   
                                                            label="Fecha incidencia*" required autocomplete="off" 
                                                            append-outer-icon="mdi-calendar"></v-text-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-12">
                                                         <v-textarea v-model="model.infoProduct" disabled counter
                                                          label="Información de producto*" 
                                                          rows="3"
                                                          class="mx-2"></v-textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-12">
                                                         <v-textarea v-model="model.reason" disabled counter
                                                          label="Razón*" 
                                                          append-outer-icon="mdi-comment"class="mx-2"></v-textarea>
                                                    </div>
                                                </div>
                                                
                                              <div class="col-md-12 text-right">
                                                  <button class="btn btn-success" v-if="!showAction(4)" type="submit" :disabled="invalid || sending">
                                                      <i class="ti-save mr-3"></i> Guardar
                                                  </button>
                                              </div>
                                                
                                            </form>
                                        </validation-observer>











                                   </div>
                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
         <v-row justify="center">
          <v-dialog v-model="dialog" persistent max-width="290">
            <v-card>
              <v-card-title class="headline">
                <small style="font-size: 75%;">¿Desea cambiar el estatus?</small>
              </v-card-title>
              <v-card-text> La incidencia <strong>{{model.idIncidence}}</strong> será marcada como:<br> <strong>{{changeStatus.description}}</strong> </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="cancelchangeStatus" :disabled="sending">
                  Cancelar
                </v-btn>
                <v-btn color="green darken-1" text @click="updateStatus" :disabled="sending">
                  Sí, continuar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders,UtilFront } from "@/core";
import { IncidenceOrderRequest, BranchOfficeRequest,SupplierRequest,ProductsRequest,StockRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      service: IncidenceOrderRequest,
      title: "Incidencias realizadas",
      list: [],
      headers: DTHeaders.INCIDENCE_ORDER_OUT,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      isView: false,
      listTwo:[],
      searchTwo:"",
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      permissions: [],
      branchOffice:{},
      branchOffices:[],
      typesIncidence:[],
      suppliersBranchs:[],
      products: [],
      detailStock:null,
      orders:[],
       changeStatus:{
        question: "",
        description: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    let infoUser = UtilFront.getDataUser();
    this.branchOffices = infoUser.branchOfficesSimple;
    if (this.branchOffices.length > 0) {
        this.branchOffice = this.branchOffices[0].value;
    }
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Inicidencias";
      } else if (this.action == 2) {
        return "Inicidencias";
      } else if (this.action == 3) {
        return "Inicidencias";
      } else if (this.action == 4) {
        return "Información de incidencia";
      }
      return "Inicidencias";
    },
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
        this.isView = action == 4;
        this.model.idBranchOffice = this.branchOffice.idBranchoffice;
        this.model.idUser = UtilFront.getDataUser().idUser;
      }
      if(this.action == 2){
        this.listTypesIncidence();
        this.listAllSupplierAndBranchOffices();
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    add(){
      this.sending = true;
      this.service.add(this.model).then((res)=>{
          let { data } = res.data;
          let {message, success} = data;
          if(success == true){
              this.listAll();
              this.changeAction(1);
              this.notification("success","Registro realizado correctamente");
          }else{
              this.notification("error", message);
          } 
      }).catch(this.catchError).finally(()=>{
          this.sending = false;
      });
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

      if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }
    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.list = [];
      if(this.branchOffice != null){
        this.service.listAllOut(this.branchOffice.idBranchoffice).then((res) => {
          let { data, success,message } = res.data;
          if (success == true) {
              this.list = data.map((obj) => {
                  obj.infoProduct = `${obj.productKey} - ${obj.productName}; ${obj.productDescription}`;
                  obj.idStock = obj.idStock || '';
                  obj.idOrder = obj.idOrder || '';
                  obj.lot = obj.lot || '';
                  return obj;
                  
            });
          }else{
            this.list = [];
            this.notification("error", message);
          }
        }).catch(this.catchError);
      }
      
    },
    view(object) {
      Object.assign(this.model, object);
      this.changeAction(4);
    },
     listAllByBranchOffice() {
      this.list = [];
      this.service
        .listAllByBranchOffice(this.branchOffice.idBranchoffice)
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.list = data.objects.map((obj) => {
              if (obj.origin) {
                obj.fullNameOrigin = `(${obj.origin.branchOfficeKey}) ${obj.origin.name} `;
              }
              return obj;
            });
          }
        })
        .catch(this.catchError);
    },
    listTypesIncidence(){
      this.typesIncidence = [];
      this.service.listTypesIncidence().then((res) => {
          
        let { data, success,message } = res.data;
          if (success == true) {
              this.typesIncidence = data;
          }else{
            this.typesIncidence = [];
            this.notification("error", message);
          }

        })
        .catch(this.catchError);
    },
    listAllSupplierAndBranchOffices(){
      this.suppliersBranchs = [];
      BranchOfficeRequest.listAllActive().then().then((res) => {
        let {data} = res.data;
        if(data){
            this.suppliersBranchs = data.filter((obj)=>{
              return obj.idBranchoffice != this.branchOffice.idBranchoffice;
            }).map((obj)=>{
                return {
                    value: {idBranchOffice: obj.idBranchoffice},
                    text: `(${obj.branchOfficeKey}) ${obj.name}`
                };
            });
        }
      }).catch(this.catchError).finally(()=>{
        SupplierRequest.listAll().then((response) => { 
          let { objects } = response.data.data;
          if(objects){
            let suppliers = objects.map((obj)=>{
                return {
                    value: {idSupplier: obj.idSupplier},
                    text: `(${obj.supplierKey}) ${obj.name}`
                };
            });
            this.suppliersBranchs = this.suppliersBranchs.concat(suppliers);
          }
        }).catch(this.catchError);
      });
    },
    listAllProductsStock(){
      if(this.branchOffice != null){
         StockRequest.listAllStockWithExistenceByBranchOffice(this.branchOffice.idBranchoffice).then((response) => { 
            if(response.data.data.objects){
              this.products = response.data.data.objects.map((obj)=>{
                  return {
                    text: `IDStock -${obj.idStock}- Lote ${obj.lote} - (${obj.productKey}) - ${obj.productName} | ${obj.productDescripcion}`,
                    value: {idProduct:obj.idProduct, idStock:obj.idStock}
                  }
              });
            }
        }).catch(this.catchError);
      }
    },
    validateCheckBox(key){
      this.products = [];
      this.model.product = null;
      if(key == 1){
        this.listAllProducts();
        this.model.isStock =  false;
      }else if(key == 2){
        this.listAllProductsStock();
        this.model.isProduct = false;
      }else{
        this.model.isStock = false;
        this.model.isProduct =  false;
      }
    },
    listAllProducts(){
      ProductsRequest.listAll().then((response) => { 
        if(response.data.data.objects){
          this.products = response.data.data.objects.map((obj)=>{
              return {
                text: `(${obj.productKey}) - ${obj.name} | ${obj.description}`,
                value: {idProduct:obj.idProduct, idStock:null}
              }
          });
        }
      }).catch(this.catchError);
    },
    updateStatus(){
       this.sending = true;
       
       let infoUser = UtilFront.getDataUser();
       let params = {
            idBranchOffice: this.branchOffice.idBranchoffice,
            idUser: infoUser.idUser,
            idIncidence: this.model.idIncidence,
            status: (this.model.resolved ? 1 : 0)
       };

      this.service.updateStatus(params).then((res) => {
          let { message, success } = res.data;
          if (success == true) {
            this.notification("success", "Cambios realizados correctamente");
            this.listAll();
          } else {
            this.model.resolved =  !this.model.resolved;
            this.notification("error", message);
          }
      }).catch((error)=>{
        this.model.resolved =  !this.model.resolved;
        this.notification("error", "Ocurrio un error interno");
        console.log(error);
      })
      .finally(() => {
          this.sending = false;
          this.dialog = false; 
      });

    },
     confirmchangeStatus(item){
      this.model =  item;
      if(!item.resolved){
        this.changeStatus.description = "Pendiente";
      }else{
        this.changeStatus.description = `Resuelta`;
      }
      this.dialog = true;
    },
    cancelchangeStatus(){
      this.dialog = false; 
      this.model.resolved =  !this.model.resolved;
    },
    getDetailStock(){
      this.detailStock = null;
      if(this.model.isStock && this.model.product != null && this.model.product.idStock){
          StockRequest.getDetailFull(this.model.product.idStock).then((res) => {
            let {code, data, status} = res.data;

            if(data.success == true){
              this.detailStock = data.object;
            }else{
              this.notification("Error", undefined);
            }
          }).catch(this.catchError);
      }
    },
     withPermission(role){
        return UtilFront.withPermission(role);
      },
      excel(){
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportIncidence({
          id:this.branchOffice.idBranchoffice
        });
      }
  },
};
</script>

<style>
.theme--light.v-icon.v-icon.v-icon--disabled {
    color: rgb(0 138 194)!important;
}
</style>