<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-9 col-lg-9">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item">Configuración</li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 text-right">
                           <button class="btn btn-success" v-if="showAction(1)" @click="changeAction(2)">
                                <i class="ti-plus"></i> Crear jurisdicción
                           </button> 
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0"><i class="ti-clipboard mr-2"></i>{{titleAction}}</h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                

                                <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field>
                            </v-card-title>
                           <!--<Datatable v-if="showAction(1)" :callback="excel" :documentView="true" :dataList="list" :headers="headers" /> -->
                            <v-card-text>
                                    <div id="list"  v-if="showAction(1)">
                                        <v-data-table  dense   :headers="headers" :items="list" sort-by="name"
                                            class="elevation-1" 
                                            :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                            loading-text="Cargando..."
                                            no-data-text="Sin resultados disponibles"
                                            no-results-text="Sin resultados coincidentes con la búsqueda"
                                            :search="search">

                                             <template v-slot:item.actions="{ item, index}">
                                                <div>
                                                <v-icon small class="ml-3" @click="edit(item, index)">
                                                    mdi mdi-square-edit-outline
                                                </v-icon>
                                                </div>
                                            </template>

                                        </v-data-table>
                                    </div>
                                        <br><button v-if="showAction(1)" @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                                    <div id="form" v-if="showAction(2) || showAction(3)">
                                        <validation-observer ref="observer" v-slot="{ invalid }" >
                                            <form @submit.prevent="doAction">
                                                <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:255">
                                                    <v-text-field  v-model="model.jurisdictionname" :counter="255" :error-messages="errors"  class="" label="Nombre*"
                                                        required autocomplete="off"></v-text-field>
                                                </validation-provider>
                    
                                
                                                <div class="col-md-12 text-center">
                                                        <v-btn class="mr-5 mt-5" type="submit" :disabled="invalid || sending">
                                                        <i class="ti-save mr-3"></i> Guardar
                                                    </v-btn>
                                                    <v-btn class="mt-5" @click="changeAction(1)">
                                                        <i class="ti-close mr-3"></i> Cancelar
                                                    </v-btn>
                                                    
                                                </div>
                                            </form>
                                        </validation-observer>
                                    </div>
                        </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer, Datatable } from "@/components";
import { DTHeaders } from "@/core";
import { JurisdictionRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default {
  data() {
    return {
      title: "Jurisdicciones",
      remmisionList: [],
      list: [],
      headers: DTHeaders.JURISDICTIONS,
      search: "",
      action: 1,
      sending: false,
      model:{name:'', description:''},
      notifier: {notifying: false, type:"", message:""},
      index:0
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
    Datatable
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Jurisdicciones";
      } else if (this.action == 2) {
        return "Registrar jurisdicción";
      } else if (this.action == 3) {
        return "Modificar jurisdicción";
      }
      return "Listado";
    },
  },
  methods: {
    showAction(action) {
          return this.action == action;
    },
    changeAction(action) {
        if(action == 1){
            this.$refs.observer.reset();
            this.model = {};
            this.action = action;
        }else{
            this.action = action;
        }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message){
        if(type == "success"){
            this.notifier.type = 1;
            this.notifier.title = "¡Éxito!";
            this.notifier.message = message || "Acción realizada correctamente.";
        }else if(type == "error"){
            this.notifier.type = 2;
            this.notifier.title = "Error";
            this.notifier.message = message || "Ocurrio un error interno";
        }else{
            this.notifier.type = 3;
            this.notifier.title = "Advertencia";
            this.notifier.message = message || "Verifiqué la información ingresada";
        }
        this.notifier.notifying = true;
        if(type != "error"){
           setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
       }

    },
    catchError(error){
        console.log(error);
        this.notification("error","Ocurrio un error interno");
    },
    listAll() {
      JurisdictionRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.list = data.objects.map((object) => {
              return object;
            });
          }
        }).catch(this.catchError);
    },
    add() {
        this.sending = true;
        JurisdictionRequest.add(this.model).then((res)=>{
            let { data } = res.data;
            let {message, success} = data;
            if(success == true){
                this.listAll();
                this.changeAction(1);
                this.notification("success","Registro realizado correctamente");
            }else{
                this.notification("error", message);
            } 
        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
    },
    update() {
        this.sending = true;
        JurisdictionRequest.update(this.model).then((res)=>{
            let { data } = res.data;
            let {message, success} = data;
            if(success == true){
               this.listAll();
                this.changeAction(1);
                this.notification("success","Cambios realizados correctamente");
            }else{
                this.notification("error", message);
            } 
        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
    },
    edit(object, index) {
        this.index = index;
        Object.assign(this.model, object);
        this.changeAction(3);
    },
    excel(){
        this.$toast.success("Generando documento Xlsx");     
        ExcelRequest.reportjurisdictions({});
    }
  },
};
</script>

<style>
.theme--light.v-messages {
    color: rgb(255 0 0);
}
</style>