<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar">

    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      
      <!-- End Breadcrumbbar -->
      <!-- Start Contentbar -->
      <div class="contentbar mt-12">
        
        
        <div class="row">
          
          <div class="col-lg-12 col-xl-12">
            <template>
              <v-card>
                <v-card-title>
                    
                    <h5 class="card-title mb-0">
                        <img src="@/assets/images/iconos/imagen/interpretacion.png" width="40" class="img-fluid hand"
                                      alt="logo" /> {{titleAction}}
                    </h5>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                   <!-- <button class="blue-lite-sitdris btn ml-5" @click="changeAction(2)" v-if="showAction(1)">
                            <i class="fa fa-plus mr-2"></i>  Nueva interpretación
                    </button> -->
                </v-card-title> 
                
              
                  <v-data-table v-if="showAction(1)" :headers="headers" :items="list" item-key="idPrescription" 
                      class="elevation-1":search="search"
                      :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                       loading-text="Cargando..." no-data-text="Sin resultados disponibles" 
                      no-results-text="Sin resultados coincidentes con la búsqueda" dense >

                        <template v-slot:top >
                            <div class="row">
                                
                                <div class="col-md-4" id="handCalendar" >
                            
                                        <vc-date-picker  color="green"  is-range>
                                            <template v-slot="{ inputValue, inputEvents }">
                                                <div class="flex justify-center items-center">
                                                <v-text-field
                                                    :readonly="true"
                                                    v-on="inputEvents.start"
                                                    label="Rango de fechas"
                                                    append-outer-icon="mdi-calendar"
                                                    @click:append-outer="updateTablePrescription()"
                                                ></v-text-field>
                                                
                                                </div>
                                            </template>
                                        </vc-date-picker> 
                                </div>
                                
                            </div>
                        </template>

                        <template v-slot:[`item.actions`]="{ item, index }">
                            <div>
                                <v-tooltip top v-if="item.status == 'Interpretado'">
                                    <template v-slot:activator="{ on, attrs }">
                                    <span  class="hand text-info ml-3" @click="downloadPDFake" v-bind="attrs" v-on="on">
                                        <i class="mdi mdi-information-outline"></i>
                                    </span>
                                    </template>
                                <span>Ver</span>
                                </v-tooltip>
                                <v-tooltip top v-if="item.status != 'Interpretado'">
                                    <template v-slot:activator="{ on, attrs }">
                                    <v-icon small class="ml-3" @click="updateRecord(item)" v-bind="attrs" v-on="on">
                                    mdi mdi-square-edit-outline
                                    </v-icon>
                                </template>
                                <span>Editar</span>
                                </v-tooltip>
                            </div>
                        </template>

                </v-data-table>     
                
                <v-card-text v-if="showAction(2) || showAction(3) || showAction(4)">
                 
                      <validation-observer ref="observer1" v-slot="{ invalid }">
                          <form   @submit.prevent="doAction">

                              <div class="row pb-5">
                                  <div class="col-md-4">
                                    <validation-provider v-slot="{ errors }" name="Doctor interprete" rules="required" >
                                          <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending " auto-select-first :items="['Dr. Juan Díaz Perez', 'Dr. Ariadna Cruz Hernández', 'A quien corresponda']"
                                              v-model="model.doctorId" label="Doctor interprete*" @change="" required>
                                          </v-autocomplete>
                                      </validation-provider>
                                  </div>
                                  <div class="col-md-4">
                                    <validation-provider v-slot="{ errors }" name="Paciente" rules="required" >
                                          <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending " 
                                        
                                              :items="patients"
                                              v-model="model.paciente" label="Paciente*"
                                              @change="findPatientOnPatientsList(model.paciente)"
                                              required>
                                          </v-autocomplete>
                                      </validation-provider>
                                  </div>
                                  <div class="col-md-4">
                                    <validation-provider v-slot="{ errors }" name="Cita" rules="required" >
                                          <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending || !model.paciente" 
                                              :items="appointments"
                                             
                                              v-model="model.appointment" label="Cita"
                                              required>
                                          </v-autocomplete>
                                      </validation-provider>
                                  </div>

                                  <div class="col-md-4" name="infoPatiente" v-if="viewInfoPatient">
                                      <strong>Información de paciente</strong>
                                      <p><strong>IDEE:</strong>  {{infoPatient.idee}} 
                                      <br>
                                      <strong>Nombre:</strong> {{infoPatient.name}} {{infoPatient.firstLastname}} {{infoPatient.secondLastName}} 
                                      <br>
                                      <strong>NSS:</strong> {{infoPatient.patientNSS}}  </p> 
                                  </div>                                  
                              </div>
                              <div class="row pb-5">
                                    
                                   <div class="col-md-4">
                                      <validation-provider v-slot="{ errors }" name="Modalidad" rules="required" >
                                          <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending " 
                                              :items="['COLPOSCOPIA', 'DENSITOMETRIA', 'ELECTROCARDIOGRAFIA', 'FLUROSCOPIA', 'HEMODINAMIA', 'MASTROGRAFÍA', 'RAYOS X', 'TOMOGRAFÍA', 'ULTRASONIDO', 'OTRO']"
                                              v-model="model.modality" label="Modalidad*"
                                              required>
                                          </v-autocomplete>
                                      </validation-provider>
                                  </div>
                                  <div class="col-md-4">
                                      <validation-provider v-slot="{ errors }" name="Estudio de imagen" rules="required" >
                                          <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending || !model.modality" 
                                              v-model="model.uid" label="Estudio de imagen*":items="studyIds"
                                              
                                              required>
                                          </v-autocomplete>
                                      </validation-provider>
                                  </div>
                              </div>
                              <div class="row pb-5">
                                   <div class="col-md-6" style=" text-align: left;">
                                      <h3> <strong> <span>Interpretación</span></strong>  </h3>
                                      <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending " 
                                          :items="templates"
                                          @change="setTemplate"
                                          v-model="model.template" label="Template de interpretación"
                                          >
                                      </v-autocomplete>
                                   </div>
                                   <div class="col-md-6" style=" text-align: right;">

                                      <v-col cols="auto">
                                            <v-dialog transition="dialog-bottom-transition" max-width="1200" >
                                              <template v-slot:activator="{ on, attrs }">
                                                <button type="button" class="mr-5 mt-5 blue-lite-sitdris btn"  v-bind="attrs"
                                                  v-on="on" :disabled="!model.uid">
                                                    <i class="fa fa-eye" aria-hidden="true"></i> Visualizar imágen
                                                  </button>
                                              </template>
                                              <template v-slot:default="dialog">
                                                <v-card>
                                                  <v-toolbar
                                                   
                                                    dark
                                                  >  <i class="fa fa-eye fa-2x" style="margin-right:20px"></i> Imágenes de estudio {{model.uid}}</v-toolbar>
                                                  <v-card-text>
                                                    <div class="text-h2 pa-12">
                                                        <table>

                                                          <tr>
                                                            <td style="padding-right:30%">
                                                              <img 
                                                              width="250" height="300"
                                                              src="http://201.105.118.217:7001/wado?requestType=WADO&objectUID=1.2.392.200036.9125.9.0.1310758325.50875720.4001277357&studyUID=10010509.10000023.10018374.34436&seriesUID=1.2.392.200036.9125.3.7277126238173165.64969303366.411241&rows=200"/>
                                                             </td>
                                                            <td></td>
                                                            <td style="padding-left:10%">
                                                              <img 
                                                               width="400" height="300"
                                                              src="http://pacs.chiapas.rispacsmx.com:7001/wado?requestType=WADO&objectUID=1.2.392.200036.9125.9.0.1310727347.17321288.4001277357&studyUID=10010509.10000023.10018374.34436&seriesUID=1.2.392.200036.9125.3.7277126238173165.64969302794.411216&rows=200"/>
                                                             </td>
                                                           
                                                          </tr>
                                                        </table>

                                                    </div>
                                                  </v-card-text>
                                                  <v-card-actions class="justify-end">
                                                    <v-btn
                                                      text
                                                      @click="dialog.value = false"
                                                    >Cerrar</v-btn>
                                                  </v-card-actions>
                                                </v-card>
                                              </template>
                                            </v-dialog>
                                          </v-col>
                                      
                                      <button class="mr-5 mt-5 blue-lite-sitdris btn" :disabled="!model.uid">
                                         <i class="fa fa-cloud-download"></i> Descargar imágenes DICOM
                                      </button>
                                                                        
                                      <button class="mr-5 mt-5 blue-lite-sitdris btn"  :disabled="!model.uid">
                                         <i class="fa fa-trash"></i>  Descartar estudio
                                      </button>
                                      <button class="mr-5 mt-5 blue-lite-sitdris btn"  :disabled="!model.uid">
                                        <i class="fa fa-flag"></i>  Repetir estudio
                                      </button>
                                      <button class="mr-5 mt-5 blue-lite-sitdris btn"  :disabled="!model.uid">
                                        <i class="fa fa-exclamation-triangle"></i>  BI-RADS
                                      </button>
                                   </div>
                                   <div class="col-md-12">
                                     <vue-editor v-model="model.interpretation" id="editor1"></vue-editor>
                                      <div style=" text-align: right;"  >
                                          <button class="mr-5 mt-5 blue-lite-sitdris btn" :disabled="!model.interpretation">
                                            <i class="fa fa-file-pdf-o" ></i> Imprimir interpretación
                                          </button>
                                      </div>
                                   </div>
                              </div>
                              <div class="col-md-12 text-center">

                        <v-btn class="mr-5 mt-5 blue-lite-sitdris btn" @click="changeAction(1)">
                          <i class="fa fa-chevron-left"></i>  Volver
                        </v-btn>
                        <v-btn :class="{'text-danger':showAction(4)}" class="mr-5 mt-5 blue-lite-sitdris btn" type="submit" :disabled="invalid || sending">
                              Guardar <i class="ti-save ml-3"></i>
                        </v-btn>
                           </div>
                          </form>
                      </validation-observer>
                </v-card-text>
              </v-card>
            </template>
          </div>
        </div>
      </div>
      <!-- End Contentbar -->

    </div>
    <!-- End Rightbar -->
   
  </div>
  <!-- End Containerbar -->
  <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders, UtilFront, PermissionConstants } from "@/core";
import {
  PatientRequest,
  RolRequest,
  BranchOfficeRequest,
  ExcelRequest,
  ImageRequest,
} from "@/core/request";
import { required, max, email, min } from "vee-validate/dist/rules";
import moment from "moment";
import { VueEditor } from "vue2-editor";

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("email", {
  ...email,
  message: "{_field_} ingrese una dirección de correo valida",
});

extend("password", {
  params: ["target"],
  validate(value, { target }) {
    return value === target;
  },
  message: "Las contraseñas no coinciden",
});

export default {
  data() {
    return {
      service: ImageRequest,
      title: "Usuarios",
      list: [],
      content: "",
      headers:
       [
        { text: "ID estudio laboratorio", value: "idStudy" },
        { text: "Paciente", value: "patient" },
        { text: "Modalidad", value: "modality"},
        { text: "Interprete", value: "interpreter" },
        { text: "Fecha de laboratorio", value: "date" },
        { text: "Estatus", value: "status" },
        { text: "Acciones", value: "actions", sortable: false  }
    ],
      search: "",
      action: 1,
      infoPatient: {},
      viewInfoPatient: false,
      sending: false,
      dialog: false,
      dialogResetPassword: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      branchOffices: [],
      branchOffice: {},
      myBranchOffices: [],
      roles: [],
      patients: [],
      studyIds: [],
      permissions: PermissionConstants,
      changeStatus: {
        question: "",
        description: "",
      },
      templates: [
        {
          value:
            '\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003eLa proyección PA de tórax\nrealizada nos permite documentar los siguientes ?\u003co:p\u003e\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003e\u003cb\u003eHALLAZGOS:\u003co:p\u003e\u003c/o:p\u003e\u003c/b\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003eMorfología normal del tórax con\nintegridad de las estructuras óseas.\u0026nbsp;\nAspecto radiográfico normal de los cuerpos vertebrales torácicos\nvisualizados.\u003co:p\u003e\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003eNo observo imagen con relación a\nlas pleuras.\u003co:p\u003e\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003eAdecuada neumatización del\nparénquima pulmonar. Características normales de la silueta cardiaca y\nmediastino. \u003co:p\u003e\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003eHilios pulmonares sin\nalteraciones observables.\u003co:p\u003e\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003eHemi-diafragmas en situación\ncorrecta, sus contornos se encuentran lisos y presentan abombamiento normal.\u003co:p\u003e\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003eExiste adecuada neumatización del\nparénquima pulmonar en forma bilateral.\u003co:p\u003e\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003ePartes blandas visualizadas sin\nalteraciones. \u003co:p\u003e\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003e\u003co:p\u003e\u0026nbsp;\u003c/o:p\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003e\u003cb\u003eConclusión: \u003co:p\u003e\u003c/o:p\u003e\u003c/b\u003e\u003c/p\u003e\n\n\u003cp class\u003d"MsoNormal" style\u003d"text-align:justify"\u003e\u003cb\u003eTórax con hallazgos radiográficos dentro de la normalidad.\u003co:p\u003e\u003c/o:p\u003e\u003c/b\u003e\u003c/p\u003e\u003cimg id\u003d"imagenFirma" src\u003d"css/images/transparent.gif" height\u003d"200" mio\u003d"2" width\u003d"300" class\u003d"PARAMETERImagenfimaf" style\u003d"background-repeat: no-repeat;background-image: url(\u0027loadImagenFirma?idFirma\u003d2\u0027); background-size: contain;"\u003e',
          text: "TORAX NORMAL 4",
        },
        {
          value:
            '\u003cp\u003eHAY AUMENTO DE LAS PARTES BLANDAS LAS CUALES SE MUESTRAN DENTRO DE\nLA NORMALIDAD.\u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003eLAS ESTRUCTURAS ÓSEAS MUESTRAN CAMBIOS ÓSEOS DEGENERATIVOS DE\nCOLUMNA DORSAL CON APLASTAMIENTOS DE CUERPOS VERTEBRALES, LA PRESENCIA DE\nFORMACIONES OSTEOFITICAS Y PUENTE ÓSEOS\u003cbr\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003eAMBOS CAMPOS PULMONARES MUESTRAN FIBROSIS\u0026nbsp;\u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003eLOS HILIOS PULMONARES \nSIN EVIDENCIA DE CRECIMIENTOS\nGANGLIONARES O LOCOREGIONALES.\u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003eSE OBSERVA MODERADO DESENRROLAMIENTO DE LA AORTA\u0026nbsp;\u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003eÍNDICE CARDIOTORÁCICO MUESTRA CARDIOMEGALIA GLOBAL GRADO 1\u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003eLOS SENOS \nCARDIOFRENICOS Y COSTO\nDIAFRAGMÁTICOS SE ENCUENTRAN LIBRES. \u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003eDIAFRAGMAS\u0026nbsp; ABATIDOS. \u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003cstrong\u003e\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp style\u003d"text-align: center;"\u003e\u003cstrong\u003eCONCLUSIÓN: FIBROSIS PULMONAR, DATOS DE ENFISEMA PULMONAR.\u0026nbsp; CARDIOMEGALIA GLOBAL GRADO 1\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp style\u003d"text-align: center;"\u003e\u003cstrong\u003ePRACTICAR\nESTUDIO DE CONTROL EN UN AÑO\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp style\u003d"text-align: center;"\u003e\u003cstrong\u003eES\nIMPORTANTE INTERCONSULTA CON CARDIOLOGÍA Y PRACTICAR ELECTROCARDIOGRAMA.\u003c/strong\u003e\u003c/p\u003e\u003cimg id\u003d"imagenFirma" src\u003d"css/images/transparent.gif" height\u003d"200" mio\u003d"9" width\u003d"300" class\u003d"PARAMETERImagenfimaf" style\u003d"background-repeat: no-repeat;background-image:url(\u0027loadImagenFirma?idFirma\u003d9\u0027); background-size: contain;"\u003e',
          text: "TORAX ENFI FIBRO CARDIOME CAOD (  SERGIO  SIMPSON MORANDO)",
        },
      ],
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
    VueEditor,
  },
  created() {
    this.listAll();
    this.listAllPatients();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Laboratorio historial";
      } else if (this.action == 2) {
        return "Registrar interpretación";
      } else if (this.action == 3) {
        return "Modificar interpretación";
      } else if (this.action == 4) {
        return "Información de interpretación";
      }
      return "Listado";
    },
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        // this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.generateStudyIds();
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

      if (type != "error") {
        setTimeout(() => {
          this.notifier.notifying = false;
        }, 10000);
      }
    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAllPatients() {
      this.patients = [];
      this.patientesList = [];
      PatientRequest.listAll()
        .then((res) => {
          let { data } = res;
          if (data) {
            this.patientesList = res.data.patients;
            this.patients = data.patients.map((obj) => {
              return {
                value: obj.id,
                text: `${obj.name} ${obj.firstLastname} ${obj.secondLastName} - ${obj.curp}`,
              };
            });
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    findPatientOnPatientsList(id) {
      this.viewInfoPatient = false;
      if (id != null) {
        console.log(this.patientesList);
        this.infoPatient = this.patientesList.filter((obj) => {
          console.log(obj);
          return obj.id == id;
        });
        if (this.infoPatient) {
          this.infoPatient = this.infoPatient[0];
          this.viewInfoPatient = true;
          this.findAllAppointMents(id);
        }
      }
    },
    findAllAppointMents(idPatient) {
      this.appointments = [];
      PatientRequest.findAllAppointMents(idPatient)
        .then((res) => {
          let { data } = res;
          if (data) {
            this.appointments = data.appointments.map((obj) => {
              let first = new Date(obj.newStartDate);
              let second = new Date(obj.newEndDate);
              let aDate = moment(new Date(obj.newEndDate)).format("YYYY-MM-DD");
              let description = `${aDate} - ${moment(first).format(
                "hh:mm a"
              )} a ${moment(second).format("hh:mm a")}`;
              return {
                value: obj.id,
                text: description,
              };
            });
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    generateStudyIds() {
      this.studyIds = [];
      let X = 100;
      let Y = 20000000;

      this.studyIds.push("UID-" + Math.floor(Math.random() * (Y - X)) + X);
      // this.studyIds.push("UID-"+Math.floor(Math.random()*(Y-X))+X);
      // this.studyIds.push("UID-"+Math.floor(Math.random()*(Y-X))+X);
      // this.studyIds.push("UID-"+Math.floor(Math.random()*(Y-X))+X);
    },
    listAll() {
      this.list = [];
      ImageRequest.listAll()
        .then((res) => {
          console.log(res.data);
          if (res.data.studies) {
            this.list = res.data.studies.map((study) => {
              let fullNamePatient = `${study.patientName} ${study.patientFirstLastname} ${study.patientSecondLastname}`;
              fullNamePatient = fullNamePatient
                .replace("null", "")
                .replace("  ", " ");

              let fullNameInterpreter = `${study.interpreterName} ${study.interpreterFirstLastname} ${study.interpreterSecondLastname}`;
              fullNameInterpreter = fullNameInterpreter
                .replace("null", "")
                .replace("  ", " ");
              return {
                idStudy: study.idStudy*4581,
                patient: fullNamePatient,
                modality: "Estudio",
                status: "Interpretado",
                interpreter: fullNameInterpreter,
                date: moment(study.date).format("YYYY-MM-DD"),
              };
            });
          }
        })
        .catch(this.catchError);
    },
    add() {
      try {
        let obj = this.model;

        let nameArray = obj.doctorId.split(" ");

        let nameInterpreter = "";
        let fistLastnameInterpreter = "";
        let secondInterpreter = "";

        if (nameArray.length == 4) {
          nameInterpreter = nameArray[0] + " " + nameArray[1];
          fistLastnameInterpreter = nameArray[2];
          secondInterpreter = nameArray[3];
        } else if (nameArray.length == 3) {
          nameInterpreter = nameArray[0];
          fistLastnameInterpreter = nameArray[1];
          secondInterpreter = nameArray[2];
        } else if (nameArray.length == 2) {
          nameInterpreter = nameArray[0];
          fistLastnameInterpreter = nameArray[1];
        } else {
          nameInterpreter = nameArray[0];
        }

        let JSON_HL7 = {
          resourceType: "ImagingStudy",
          uid: obj.uid,
          identifier: [{ value: obj.appointment }],
          modalityList: [{ code: obj.modality }],
          patient: { resourceType: "Patient", id: obj.paciente },
          started: `${moment(new Date()).format("YYYY-MM-DDTHH:MM")}:00Z`,
          interpreter: [
            {
              resourceType: "Practitioner",
              name: [
                {
                  resourceType: "HumanName",
                  family: fistLastnameInterpreter,
                  given: [nameInterpreter],
                  suffix: secondInterpreter,
                },
              ],
            },
          ],
          endpoint: [
            {
              status: "active",
              connectionType: { code: "HTTP" },
              payloadType: [
                {
                  coding: [{ code: "http://pacs.erillam.rispacsmx.com:7007" }],
                },
              ],
              address: `http://pacs.erillam.rispacsmx.com:7007/wado?requestType=WADO&amp;seriesUID=${obj.uid}&amp;rows=200"`,
            },
          ],
          series: [
            {
              uid: obj.uid,
              modality: { code: obj.modality },
              description: obj.interpretation,
              started: `${moment(new Date()).format("YYYY-MM-DDTHH:MM")}:00Z`,
            },
          ],
        };

        ImageRequest.add(JSON_HL7)
          .then((res) => {
            let data = res.data;
            let message = UtilFront.getMessageError(data);
            if (message == null) {
              this.listAll();
              this.changeAction(1);
              this.$toast.success("Registro realizado correctamente");
            } else {
              this.$toast.error(message || "Ocurrio un error interno");
            }
          })
          .catch(this.catchError)
          .finally(() => {
            this.sending = false;
          });
      } catch (e) {
        console.log(e);
      }
    },
    update() {},
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.changeAction(3);
    },
    view(object) {
      Object.assign(this.model, object);
      this.changeAction(4);
    },
    listAllBranchOffices() {},
    listAllRoles() {},
    confirmchangeStatus(item) {},
    confirmResetPassword(item) {
      this.model = item;
      this.dialogResetPassword = true;
    },
    cancelchangeStatus() {
      this.dialog = false;
      this.model.available = !this.model.available;
    },
    updateStatus() {},
    resetPassword() {},
    listAllBranchOfficesByUser() {},
    withPermission(numRol) {
      return UtilFront.withPermission(numRol);
    },
    withPermissionName(namePermission) {
      return UtilFront.withPermissionName(namePermission);
    },
    excel() {
      this.$toast.success("Generando documento Xlsx");
      ExcelRequest.reportUsers({
        id: this.branchOffice.idBranchoffice,
      });
    },

    setTemplate(){
        if(this.model.template){
          this.model.interpretation = this.model.template;
        }else{
          this.model.interpretation = '';
        }
    },
    downloadPDFake(){
         let url1 = "/files/Interpretacion_laboratorio.pdf";
        window.open(url1, '_blank').focus();
    }
  },
};
</script>

<style>
#editor1 {
  height: 300px;
    overflow: scroll !important;
}
</style>