<template>
  <div id="containerbar" class="containerbar authenticate-bg">
    <!-- Start Container -->
    <div class="container">
      <div class="auth-box login-box">
        <!-- Start row -->
        <div class="row no-gutters align-items-center justify-content-center">
          <!-- Start col -->
          <div class="col-md-4 col-lg-4">
            <!-- Start Auth Box -->
            <div class="auth-box-right">
              <div class="card border-r">
                <div class="card-body">
                  <div class="form-head">
                    <a class="logo"
                      ><img
                        src="@/assets/images/logo_sitdris.png"
                        class="img-fluid"
                        alt="logo"
                    /></a>
                  </div>
                  <form action @submit.prevent="login">
                    <div
                      v-if="messageBlock"
                      class="alert alert-danger alert-dismissible fade show"
                      role="alert"
                    >
                      <strong>Ups!</strong> {{ message }}
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true" @click="messageBlock = false"
                          >×</span
                        >
                      </button>
                    </div>
                    <div class="form-group mt-4">
                      <label for="password">Usuario: </label>
                      <input
                        :value="user"
                        @input="user = $event.target.value"
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="Usuario"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña: </label>
                      <input
                        :value="password"
                        @input="password = $event.target.value"
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Contraseña"
                        required
                      />
                    </div>
                    <button
                      id="sendLogin"
                      type="submit"
                      class="btn btn-blue-sitdris btn-lg btn-block font-18"
                      :class="{ 'not-allowed': sending }"
                      :disabled="sending"
                      :loading="sending"
                    >
                      {{ textLogin }}
                    </button>
                  </form>
                </div>
                <!-- <div id='DigiCertClickID_XWHQlakU' data-language='en'>

                </div> -->
              </div>
            </div>
            <!-- End Auth Box -->
          </div>
          <!-- End col -->
        </div>
        <!-- End row -->
      </div>
    </div>
    <!-- End Container -->
  </div>
</template>

<style lang="scss" scoped>
.form-group {
  text-align: left !important;
}
#sendLogin {
  margin-top: 40px;
}
</style>

<script lang="js">
import { LoginRequest } from '@/core/request';
import { UtilFront} from '@/core';

export default{
  data() {
    return {
      user: "",
      password: "",
      loginResponse: [],
      messageBlock: false,
      sending: false,
      textLogin: "Iniciar sesión",
      message: ""
    };
  },
  methods: {
    catchError(error){
      console.log(error);
      this.message = "Ocurrio un error interno";
      this.messageBlock = true;
    },
    login() {
      this.sending = true;
      this.textLogin = "Ingresando..";
      this.$toast.success("Bienvenido(a)");
   
      this.$session.start();

      this.$router.push('/dashboard');
        let data  = {
          name: "Erillam",
          lastname: "Healthcare",
          id: 1
        };

        UtilFront.setDataUser(data);
        this.$router.push('/dashboard').catch(()=>{});
    
                
    }
  },
  computed: {
    eneableSubmit(){
      return this.user != "" || this.password != "";
    },
  },
  beforeCreate() {
      if(this.$session.exists()) {
        this.$router.push('/dashboard');
      }
  }
}
</script>
