<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar">

    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      
      <!-- End Breadcrumbbar -->
      <!-- Start Contentbar -->
      <div class="contentbar mt-12">
        
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <template>
              <v-card>
                <v-card-title>
                    
                    <h5 class="card-title mb-0">
                        <i class="fa fa-stethoscope" aria-hidden="true"></i> {{titleAction}}
                    </h5>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                   <button class="blue-lite-sitdris btn ml-5" @click="changeAction(2)" v-if="showAction(1)">
                            <i class="fa fa-plus mr-2"></i>  Nueva consulta
                    </button>
                </v-card-title> 
                
              
                  <v-data-table v-if="showAction(1)" :headers="headers" :items="list" item-key="idPrescription" 
                      class="elevation-1":search="searchPrescription"
                      :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                      :loading="loading" loading-text="Cargando..." no-data-text="Sin resultados disponibles" 
                      no-results-text="Sin resultados coincidentes con la búsqueda" dense >

                        <template v-slot:top >
                            <div class="row">
                                
                                <div class="col-md-4" id="handCalendar" >
                            
                                        <vc-date-picker  color="green" v-model="date" is-range>
                                            <template v-slot="{ inputValue, inputEvents }">
                                                <div class="flex justify-center items-center">
                                                <v-text-field
                                                    :readonly="true"
                                                    v-on="inputEvents.start"
                                                    :value="dateCompuded"                                                              
                                                    label="Rango de fechas"
                                                    :append-outer-icon="validData ? 'mdi-magnify' : 'mdi-calendar'"
                                                    :disabled-input="validData"
                                                    @click:append-outer="updateTablePrescription()"
                                                ></v-text-field>
                                                
                                                </div>
                                            </template>
                                        </vc-date-picker> 
                                </div>
                                
                            </div>
                        </template>

                        <template v-slot:[`item.actions`]="{ item, index }">
                            <div>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                    <span  class="hand text-info" @click="viewRecord(item)" v-bind="attrs" v-on="on">
                                        <i class="mdi mdi-information-outline"></i>
                                    </span>
                                    </template>
                                <span>Ver</span>
                                </v-tooltip>

                                <v-tooltip top >
                                    <template v-slot:activator="{ on, attrs }">
                                    <v-icon small class="ml-3" @click="updateRecord(item)" v-bind="attrs" v-on="on">
                                    mdi mdi-square-edit-outline
                                    </v-icon>
                                </template>
                                <span>Editar</span>
                                </v-tooltip>
                            </div>
                        </template>

                </v-data-table>     
                
                <v-card-text v-if="showAction(2) || showAction(3) || showAction(4)">
                 
                      <validation-observer ref="observer1" v-slot="{ invalid }">
                          <form  >
                              <div class="row pb-5">
                                  <div class="col-md-6">
                                    <validation-provider v-slot="{ errors }" name="Doctor" rules="required" >
                                          <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending " auto-select-first 
                                          :items="doctorList"
                                              v-model="model.doctorId"
                                               label="Doctor*" @change="" required>
                                          </v-autocomplete>
                                      </validation-provider>
                                  </div>
                                  
                                  <div class="col-md-6">
                                    <validation-provider v-slot="{ errors }" name="Doctor" rules="required" >
                                          <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending " auto-select-first :items="patients"
                                              v-model="model.paciente" label="Paciente*" @change="" required>
                                          </v-autocomplete>
                                      </validation-provider>
                                  </div>
                                  
                                  <div class="col-md-3" v-if="model.paciente">
                                        <span><strong>NSS: </strong> 980541</span>
                                        <br>
                                        <span><strong>CURP: </strong> FAHF980216HMSJRR02</span>    
                                  </div>
                                  <div class="col-md-4" v-if="model.paciente">
                                        <span><strong>Dirección: </strong> Priv. Francisco Villa Lázaro Cardenas del Rio Temixco Morelos</span>
                                        <br>
                                         
                                  </div>
                                 
                              </div>
                              <div class="row pb-5">
                                   <div class="col-md-12">
                                      <h5> <strong> <span>Diagnóstico*:</span></strong>  </h5>
                                       <validation-provider v-slot="{ errors }" name="diagnostico" rules="required" >
                                         
                                          <vue-editor v-model="content" required></vue-editor>
                                      </validation-provider>
                                   </div>
                              </div>
                              <div class="col-md-12 text-center">

                        <v-btn class="mr-5 mt-5 blue-lite-sitdris btn" @click="changeAction(1)">
                          <i class="fa fa-chevron-left"></i>  Volver
                        </v-btn>
                        <v-btn :class="{'text-danger':showAction(4)}" class="mr-5 mt-5 blue-lite-sitdris btn" type="submit" :disabled="invalid || sending">
                              Guardar <i class="ti-save ml-3"></i>
                        </v-btn>
                    </div>
                          </form>
                      </validation-observer>
                </v-card-text>
              </v-card>
            </template>
          </div>
        </div>
      </div>
      <!-- End Contentbar -->

    </div>
    <!-- End Rightbar -->
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>{{changeStatus.question}}</small>
        </v-card-title>
        <v-card-text>{{changeStatus.description}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelchangeStatus" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="updateStatus" :disabled="sending">
            Sí, continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogResetPassword" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>¿Restablecer contraseña?</small>
        </v-card-title>
        <v-card-text>La contraseña de <strong>{{model.name}}</strong> será cambiará a:</br>
          <strong>{{model.email}}</strong> </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogResetPassword = false" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="resetPassword" :disabled="sending">
            Sí, restablecer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <!-- End Containerbar -->
  <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders, UtilFront,PermissionConstants,Constant } from "@/core";
import { PatientRequest, RolRequest, BranchOfficeRequest,ExcelRequest } from "@/core/request";
import { required, max, email,min  } from "vee-validate/dist/rules";
import moment from 'moment';
import { VueEditor } from "vue2-editor";

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("email", {
  ...email,
  message: "{_field_} ingrese una dirección de correo valida",
});

extend('password', {
  params: ['target'],
  validate(value, { target }) {
    return value === target;
  },
  message: 'Las contraseñas no coinciden'
});


export default {
  data() {
    return {
      service: PatientRequest,
      title: "Usuarios",
      list: [],
      content: "",
      headers: DTHeaders.CONSULTATION,
      search: "",
      doctorList: Constant.getDoctors(),
      patients: [],
      action: 1,
      sending: false,
      dialog: false,
      dialogResetPassword: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      branchOffices: [],
      branchOffice : {},
      myBranchOffices:[],
      roles: [],
      permissions: PermissionConstants,
      changeStatus:{
        question: "",
        description: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
    VueEditor
  },
  created() {
    this.listAll();
    this.listPatients();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Consultas";
      } else if (this.action == 2) {
        return "Registrar consulta";
      } else if (this.action == 3) {
        return "Modificar paciente";
      }else if (this.action == 4) {
        return "Información de paciente";
      }
      return "Listado";
    }
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        // this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

       if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }


    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listPatients(){
      this.patients = [];
      PatientRequest.listAll().then((res) => {
        let {data} = res;
        if(data){
          this.patientesList =  res.data.patients;
          this.patients = data.patients.map((obj) => {      
              return {
                value: obj.id,
                text: `${obj.name} ${obj.firstLastname} ${obj.secondLastName} - ${obj.curp}`,
              };
          });
        }          
      }).catch((e)=>{
        console.log(e)
      });
    },
    listAll() {
      this.list =  [
        {
            "idPrescription": "CC01-26442",
            "prescriptionKey": "14101876564",
            "medicalRecord": "FRANCISCA BAEZ HERNANDEZ",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-24219",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 11:39"
        },
        {
            "idPrescription": "CC01-26526",
            "prescriptionKey": "14101876598",
            "medicalRecord": "FRANCISCA BAEZ HERNANDEZ",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-24297",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 11:44"
        },
        {
            "idPrescription": "CC01-24287",
            "prescriptionKey": "14101876580",
            "medicalRecord": "PATRICIA MARIA GONZALEZ LUCERO",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-22191",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 09:03"
        },
        {
            "idPrescription": "CC01-27122",
            "prescriptionKey": "14101876565",
            "medicalRecord": "ALDO JOSUE MORENO VELASCO",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-24855",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 12:14"
        },
        {
            "idPrescription": "CC01-27567",
            "prescriptionKey": "14101876579",
            "medicalRecord": "ELIZABETH DE JESUS MORENO ROSAS",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-25273",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 12:36"
        },
        {
            "idPrescription": "CC01-28396",
            "prescriptionKey": "14101876590",
            "medicalRecord": "MARIA ANTONIA  CANTEROS  VIELMA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-26042",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 13:17"
        },
        {
            "idPrescription": "CC01-28475",
            "prescriptionKey": "14101876591",
            "medicalRecord": "MARIA ANTONIA CANTEROS VIELMA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-26114",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 13:20"
        },
        {
            "idPrescription": "CC01-29333",
            "prescriptionKey": "14101876593",
            "medicalRecord": "ROSARIO DEL CARMEN MARTINEZ OCHOA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-26922",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 14:02"
        },
        {
            "idPrescription": "CC01-32916",
            "prescriptionKey": "14101876567",
            "medicalRecord": "LUIS RIVAS NAVARRO",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-30319",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 10:27"
        },
        {
            "idPrescription": "CC01-36041",
            "prescriptionKey": "14101876589",
            "medicalRecord": "MARIA TORRES PADILLA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-33333",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 13:53"
        },
        {
            "idPrescription": "CC01-35989",
            "prescriptionKey": "14101876597",
            "medicalRecord": "MARIA TORRES PADILLA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-33284",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 13:49"
        },
        {
            "idPrescription": "CC01-36139",
            "prescriptionKey": "14101876592",
            "medicalRecord": "MARIA TORRES PADILLA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-33429",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 13:58"
        },
        {
            "idPrescription": "CC01-36161",
            "prescriptionKey": "14101876596",
            "medicalRecord": "MARIA TORRES PADILLA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-33450",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 14:00"
        },
        {
            "idPrescription": "CC01-40299",
            "prescriptionKey": "14101876587",
            "medicalRecord": "JOSEFINA HERNANDEZ GARCIA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-37403",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-26 11:09"
        },
        {
            "idPrescription": "CC01-40413",
            "prescriptionKey": "14101876578",
            "medicalRecord": "ADELFA QUEVEDO GUZMAN",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-37510",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-26 11:17"
        },
        {
            "idPrescription": "CC01-40445",
            "prescriptionKey": "14101876582",
            "medicalRecord": "ADELFA QUEVEDO GUZMAN",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-37541",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-26 11:20"
        },
        {
            "idPrescription": "CC01-40336",
            "prescriptionKey": "14101876599",
            "medicalRecord": "JOSEFINA HERNANDEZ GARCIA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-37438",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-26 11:12"
        }
    ];
      
      
    },
    add() {

      try{
          let obj = this.model;
          let JSON_HL7 = {
              resourceType: "Patient",
              identifier: [
                  { value: `${obj.nss}${obj.medicalAggregated}` }, { value: obj.curp },
                  { value: obj.nss }, { value: obj.medicalAggregated }
              ],
              name: [{
                  resourceType: "HumanName",
                  family: obj.firstLastname,
                  given: [obj.name],
                  suffix: obj.secondLastname
              }],
              telecom: [{
                  resourceType: "ContactPoint",
                  system: obj.homePhoneCode,
                  value: obj.homePhone
              }, {
                  resourceType: "ContactPoint",
                  system: obj.cellPhoneCode,
                  value: obj.cellPhone
              }],
              gender: obj.sex,
              birthDate: obj.birthDate + "T00:00",
              deceasedBoolean: (obj.dateDeath ? true : false),
              address: [{
                  resourceType: "Address",
                  line: [obj.street],
                  city: obj.municipality,
                  district: obj.colony,
                  state: obj.federalEntity,
                  postalCode: obj.postalCode
              }],
              maritalStatus: [{ coding: obj.civilStatus }],
              generalPractitioner: [{
                  resourceType: "Organization",
                  identifier: [{ value: obj.budgetKey }]
              }],
              extension: [{
                  valueDate: obj.endValidity
              }, {
                  valueDate: `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`
              }, {
                  valueInteger: obj.rightIndicator
              }]
          };
          console.log(JSON_HL7);
          this.service.add(JSON_HL7).then((res)=>{
              let data = res.data;
              let message = UtilFront.getMessageError(data);
              if(message == null){
                  this.changeAction(1);
                  this.$toast.success("Registro realizado correctamente");
              }else{
                  this.$toast.error(message || "Ocurrio un error interno");
              }
          }).catch(this.catchError).finally(()=>{
              this.sending = false;
          });

      }catch(e){
        console.log(e);
      }
     
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            if(message == '' || message == undefined){
              this.notification("success", "Cambios realizados correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(3);
    },
    view(object){
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(4);
    },
    listAllBranchOffices(){
      BranchOfficeRequest.listAllActive().then((res) => {
        let { data } = res.data;
        if (data) {
          this.branchOffices = data.map((obj) => {        
              return {
                value: {idBranchoffice: obj.idBranchoffice},
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
          });
        }
      }).catch(this.catchError);
    },
    listAllRoles(){
      this.roles = [];
      RolRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.roles = data.objects.map((obj) => {      
              return {
                value: obj.idRole,
                text: `${obj.name} - (${obj.description})`,
              };
          });
          }
        })
        .catch(this.catchError);
    },
    confirmchangeStatus(item){
      this.model =  item;
      if(!item.available){
        this.changeStatus.question = "¿Desea inactivar la cuenta?"
        this.changeStatus.description = `${item.name} no podrá iniciar sesión.`;
      }else{
        this.changeStatus.question = "¿Desea activar la cuenta?"
        this.changeStatus.description = `${item.name} podrá iniciar sesión.`;
      }
      this.dialog = true;
    },
    confirmResetPassword(item){
      this.model =  item;
      this.dialogResetPassword = true;
    },
    cancelchangeStatus(){
      this.dialog = false; 
      this.model.available =  !this.model.available;
    },
    updateStatus(){
      this.sending = true;
      this.service.updateStatus({id: this.model.idUser, status: (this.model.available ? 1 : 0)}).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.model.available =  !this.model.available;
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialog = false; 
      });
    },
    resetPassword(){
      this.sending = true;
      this.service.resetPassword(this.model.idUser).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Contraseña restablecida");
          } else {
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialogResetPassword = false; 
      });
    },
    listAllBranchOfficesByUser(){     
      this.service.listAllBranchOfficesByUserId(this.model.idUser).then((res) => {
          let { data } = res.data;
          let {  objects } = data;
          if (objects) {
            this.model.branchOffices = objects.map((object) => {
                return {idBranchoffice: object.idBranchoffice};
            });
          } else {
             this.model.branchOffices = [];
          }
      }).catch(this.catchError);
    },
    withPermission(numRol){
      return UtilFront.withPermission(numRol);
    },
    withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    excel() {
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportUsers({
          id:this.branchOffice.idBranchoffice
        });
    }
  },
};
</script>

<style>

</style>