<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-9 col-lg-9">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 text-right">
                    <!--Modificación de boton-->
                        <button v-if="showAction(1) && withPermissionName(permissions.ORDER_CREATE)" class="btn btn-success" @click="changeAction(2)" style="float:right"><i class="ti-plus mr-2"></i>Crear Salida</button>
                        <button v-if="showAction(2)" class="btn btn-primary" @click="changeAction(1)" style="float:right" :disabled="sending" ><i class="ti-arrow-left mr-2"></i> Regresar</button>
                    <!--Modificación de boton-->
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                    <strong>{{notifier.title}}</strong> {{notifier.message}}
                                    <button type="button" @click="notifier.notifying = false" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                         <h5 class="card-title mb-0"><i class="ti-clipboard mr-2"></i>{{titleAction}}</h5>
                                    </div>
                                    <div class="col-md-4">
                                         <SelectBranchOffice :disabledView="action == 2"  v-on:updateItemOrigin="updateOrigin" />
                                    </div>
                                    <div class="col-md-4" v-if="action == 2">
                                        <v-autocomplete :disabled="sending" clearable  v-model="destinationId" :items="destinationList" label="Sucursal de Destino" data-vv-name="select">
                                            <template v-slot:append>
                                                <v-progress-circular v-if="loadingDestination" indeterminate color="#05AF12"></v-progress-circular>
                                            </template>
                                        </v-autocomplete>
                                        <!--<SelectBranchOfficeDestination :originId="77"  v-on:updateItemOrigin="updateDestination" />-->
                                    </div>
                                </div>
                            
                            </div>
                                <div class="row">
                                    <div v-if="showAction(1)" class="col-md-12">
                                        <Datatable :dataList="orderList" :headers="orderListHeaders" :listAll="tableOrder" :orderEdit="true" :orders="true" v-on:viewRecord="viewRecord" v-on:updateRecord="updateRecord" :documentView="true" :callback="excel"/>
                                    </div>
                                    <div v-else class="col-md-12">
                                        <Datatable :dataList="productList" :headers="orderProductsHeaders" :deleteItem="isDelete" v-on:deleteRecord="deleteRecord" :loading="loading"  />
                                        <div class="card-body">
                                            <validation-observer  ref="observer" v-slot="{ invalid }">
                                                <form>
                                                    <div class="row pt-10">
                                                        <div class="col-md-3">
                                                            <validation-provider v-slot="{ errors }" name="Fuente Financiamiento"
                                                                rules="required" >
                                                                <v-autocomplete no-data-text="Sin resultados" :disabled=" originId == '' || sending "  :items="fiscalFoundList"
                                                                    v-model="fiscalFound" label="Fuente Financiamiento*" @change="getProductsByFiscalFound" required>
                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <validation-provider v-slot="{ errors }" name="Producto"
                                                                rules="required">
                                                                <v-autocomplete no-data-text="Sin resultados"  :disabled=" originId == '' || sending "  :items="productsOrderList" v-model="productId" label="Producto*" @change="getLotsByProduct" required>
                        
                                                                    <template slot="item" slot-scope="data">
                                                                        <div class="pt-5">
                                                                        {{data.item.text}}
                                                                        </div>
                                                                    </template>

                                                                    <template slot="selection" slot-scope="data">
                                                                        <div class="pt-5">
                                                                            {{data.item.text}}
                                                                        </div>
                                                                    </template>

                                                                    <template v-slot:append>
                                                                        <v-progress-circular v-if="loadingProducts" indeterminate color="#05AF12"></v-progress-circular>
                                                                    </template>

                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <validation-provider v-slot="{ errors }" name="Lote"
                                                                rules="required">
                                                                <v-autocomplete no-data-text="Sin resultados" :disabled=" originId == '' || sending "  :items="lotList"
                                                                    v-model="model.stockId" label="Lote*" @change="getLots" required>

                                                                    <template v-slot:append>
                                                                        <v-progress-circular v-if="loadingLot" indeterminate color="#05AF12"></v-progress-circular>
                                                                    </template>

                                                                </v-autocomplete>
                                                            </validation-provider>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <validation-provider v-slot="{ errors }" name="Cantidad"
                                                                rules="required|numeric">
                                                                <v-text-field :disabled=" originId == '' || sending "   v-model="model.quantity" :error-messages="errors"
                                                                    label="Cantidad*" required></v-text-field>
                                                            </validation-provider>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <v-btn type="button" @click="updateStock" :disabled="invalid || sending">
                                                                <i class="ti-plus mr-3"></i> Añadir
                                                            </v-btn>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <v-btn class="float-right"  type="button" @click="finishModal" :disabled=" originId == '' || sending "  >
                                                                <i class="ti-plus mr-3"></i> {{ ( isUpdate )? "Actualizar Orden":"Finalizar Orden" }}
                                                            </v-btn>
                                                        </div>
                                                    </div>
                                                </form>
                                            </validation-observer>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>


            <v-row justify="center">
                <v-dialog v-model="dialog" persistent max-width="500">
                <v-card>
                    <v-card-title class="headline" v-html="titleModal" />
                    <v-card-text v-html="descriptionModal" />
                    <v-card-text v-if="sending">
                        <div class="text-center">
                            <v-progress-circular indeterminate color="#05AF12" :size="70" />
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :disabled="sending" color="red darken-1" text @click="closeModal">Cerrar</v-btn>
                        <v-btn :disabled="loading || sending" color="green darken-1" text @click="finishShipping">Aceptar</v-btn>
                    </v-card-actions>
                </v-card>
                </v-dialog>
            </v-row>

            <!-- End Contentbar -->
            <div class="mt-10">
            </div>
            <Footer  />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer} from '@/components'
import { } from "@/core";
import { 
    OrderRequest, 
    StockRequest, 
    ProductResquest,
    FiscalFoundRequest,
    LotRequest,
    ShipmentsRequest,
    BranchOfficeRequest, 
    ExcelRequest
    } from "@/core/request";

import { UtilFront,DTHeaders,PermissionConstants  } from "@/core";

import Datatable from '@/components/Datatable.vue';
import SelectBranchOffice from '@/components/forms/SelectBranchOffice.vue'
import { required, max, numeric } from "vee-validate/dist/rules";

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");

extend("numeric", {
  ...numeric,
  message: "{_field_} debe ser un número entero. ({_value_})"
});

extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default{
    data(){
        return {
            title:'Salidas',
            orderListHeaders: DTHeaders.ORDERS,
            orderProductsHeaders:DTHeaders.ORDER_PRODUCTS,

            /* Global */
            action : 1,
            sending: false,
            idUser : '',
            originId: '',
            orderId:'',
            status: 1,
            isDelete: true,
            loading: false,
            loadingProducts : false,
            loadingLot : false,
            loadingDestination: false,
            dialog: false,
            permissions: PermissionConstants,
            
            /* Global */

            orderList: [],
            productList: [],
            destinationList:[],
            destinationId: '',
            isUpdate:false,


            /* Formulario */
            fiscalFoundList: [],
            fiscalFound:'',
            productsOrderList: [],
            productId: '',
            lotList: [],
            idlote:'',
            model: {stockId:'',quantity: '', prescription:'0'},
            notifier: {notifying: false, type:"", message:""},

            userBranch:{}
        }
    },
    computed: {
        titleAction() {
            if (this.action == 1) {
                return "Últimas Salidas";
            } else if (this.action == 2) {
                if ( this.isUpdate ) {
                    return "Actualizando Orden de Salida";
                } else {
                    return (this.productList.length == 0)? "Crear Orden de Salida" : "Orden Pendiente de Finalizar";
                }

            } 
            return "Listado";
        },
        titleButton(){
            return "Actualizar Receta";
        },
        titleModal() {

            if ( this.sending ) {
                return "Procesando Orden de Salida"
            }

            if ( this.loading  ) {
                return 'Cargando...' ;
            } else {
                return "¿Deseas Finalizar esta Orden de Salida?";
            }

        },
        descriptionModal() {

            if ( this.sending ) {
                return "Por favor espere, procesando solicitud";
            }

            if ( this.loading  ) {
                return 'Espere por favor, procesando tu solicitud' ;
            } else {
                return "Finalizar Orden de Salida";
            }

        }
    },
    components:{
        ValidationProvider,
        ValidationObserver,
        Topbar,
        Sidebar,
        Footer,
        Datatable,
        SelectBranchOffice
    },
    methods: {
        /* Start Default Functions*/
        showAction(action){
            return this.action == action;
        },
        changeAction(action) {
            if(action == 1){

                this.loading = false;
                this.action = action;
                this.destinationId = '';
                this.destinationList = [];
                this.isUpdate = false;
                this.clean(1);

            }else if (action == 2) {

                if ( this.originId != '') {
                    
                    this.status = 1;
                    this.loading = true;
                    this.loadingDestination = true;
                    this.isUpdate = false;
                    //Cargo las sucursales de destino
                    BranchOfficeRequest.listAllKey( this.originId ).then( (response) => {
                        this.destinationList = response;
                        this.loadingDestination = false;
                    });
                    
                    this.action = action;
                    this.addOrder();

                } else {
                    this.notification("error","Es necesario seleccionar una sucursal para continuar");
                }

            }
        },
        notification(type, message){
            if(type == "success"){
                this.notifier.type = 1;
                this.notifier.title = "¡Éxito!";
                this.notifier.message = message || "Acción realizada correctamente.";
            }else if(type == "error"){
                this.notifier.type = 2;
                this.notifier.title = "Error";
                this.notifier.message = message || "Ocurrio un error interno";
            }else{
                this.notifier.type = 3;
                this.notifier.title = "Advertencia";
                this.notifier.message = message || "Verifiqué la información ingresada";
            }
            this.notifier.notifying = true;

            if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

        },
        catchError(error){
            this.notification("error","Ocurrio un error interno");
        }, 
        withPermissionName(numRol){
        return UtilFront.withPermissionName(numRol);
        },
        /* End Default Functions*/
        

        /* Start Table Functions*/
        tableOrder(){
            this.orderList = OrderRequest.findAllOrderByUserKey(this.userBranch);
        },
        tableProducts(data){
            this.loading = true;
            ProductResquest.findAllProductsByOrdersKey(data).then( (response) => {
                this.productList = response;
                this.loading = false;
                this.isDelete = true;
            });
        },
        deleteRecord(item) {
            this.sending = true;
            this.isDelete = false;
            this.loading = true;

            StockRequest.deleteOrderStock({
                idOrder: this.orderId,
                idStock: item.idStock
            }).then( (response) => {
                let { data } = response.data;
                let { success, message } = data;
                if (success) {
                    this.$toast.success("Eliminando producto");
                }else{
                    this.notification("error",message);
                }

                if ( this.fiscalFound != "" ) {
                    this.getProductsByFiscalFound();//Volver a poner aquí la lista de productos para que refresquen después de haberlos eliminado
                }

                
            }).catch( (error) => {
                this.$toast.error("No fue posible eliminar el producto");
                this.catchError(error);
                this.loading = false;
                this.isDelete = true;
            }).finally(()=>{

                //Refresco la tabla
                this.tableProducts({
                    idOrder: this.orderId,
                    status: this.status
                });
                this.sending = false;
                this.clean(1);
            
            });
        },
        viewRecord(data){
            this.$router.push('/salidas/picking/'+data.orderId);
        },
        /* End Table Functions*/


        /* Star Form Functions*/

        updateOrigin(data){
            
            if ( data > 0 ) {
                this.originId = data;

                //Recupero todas las fuentes de financiamiento
                this.fiscalFoundList = FiscalFoundRequest.findAllFiscalFoundsKeyAvailable({
                    id: this.originId
                });

                if ( this.action == 1) {

                    //Actualizo la tabla de ordenes finalizadas
                    this.userBranch = {
                        userId : this.idUser,
                        originId : this.originId
                    };
                    this.tableOrder();

                } else if ( this.action == 2) {
                    this.addOrder();
                }
            } else {
                this.notification("error","Es necesario seleccionar una sucursal para continuar");
            }


        },
        updateDestination(data){
            this.destinationId = data;
        },
        addOrder(){
            //Crear la nueva orden
            OrderRequest.addOrder({
                originId: this.originId,
                userId: this.idUser,
                status: this.status
            }).then( (response) => {

                let { data } = response.data;
                let { success, message, orderId } = data;

                if (success) {

                    this.orderId = orderId

                    this.tableProducts({
                        idOrder: this.orderId,
                        status: this.status
                    });

                } else {
                    this.notification("error",message);
                }

            }).catch( (error) => {
                this.catchError(error);
                this.action = 1;
            }).finally(()=>{
                //this.sending = false;
            });
        },
        
        getProductsByFiscalFound(){

            this.clean(2);
            

            this.loadingProducts = true;
            ProductResquest.findAllProductsByCausesAvailable({
                branchOfficeId: this.originId,
                fiscalFound: this.fiscalFound
            }).then ( (response) => {
                this.productsOrderList = response;
                this.loadingProducts = false;
            });
        },

        getLotsByProduct(){

            this.clean(3);

            this.loadingLot = true;
            LotRequest.findAllLotsAvailableFormList({
                idFiscalfund: this.fiscalFound,
                productId: this.productId,
                branchOfficeId: this.originId
            }).then ( (response) => {
                this.lotList = response;
                this.loadingLot = false;
            });
        },

        getLots(){
            //Limpio los campos no necesarios
            this.clean(4);
            
        },

        updateStock() {
            
            if ( this.model.quantity != '') {

                this.model.orderId = this.orderId;
                this.isDelete = false;
                this.sending = true;
                this.loading = true;


                OrderRequest.updateStockByOrder(this.model).then(response => {
                    let { data } = response.data;
                    let { success, message } = data;

                    if ( success ) {

                        this.$toast.success("Agregando producto");

                        this.tableProducts({
                            idOrder: this.orderId,
                            status: this.status
                        });
                        this.getProductsByFiscalFound();//cuando se refresca la pantalla de añadir, hace que se quede estático la opción elegida en fuente de financiamiento
                    } else {
                        this.notification("error",message);
                    }

                }).catch(this.catchError).finally(()=>{
                    //this.$toast.error("No fue posible agregar el producto");
                    this.sending = false;
                    this.loading = false;
                    //this.isDelete = true;
                    this.clean(1);//el número entre () originalmente es un 1
                          
                   // this.getProductsByFiscalFound();
                    //poner aquí posible solución
                });

            } else {
                this.notification("error","Es necesario ingresar una cantidad");
                this.sending = false;
                this.loading = false;
            }

        },

        updateRecord(item){
            console.log(item);

            //Agrego el id de la orden de forma global
            this.orderId = item.orderId;
            this.status = item.status;
            this.isUpdate = true;
            this.idShipments = item.shipmentsId;

            //Cargo las sucursales de destino
            BranchOfficeRequest.listAllKey( this.originId ).then( (response) => {
                this.destinationList = response;
                this.loadingDestination = false;
            });

            this.tableProducts({
                idOrder: item.orderId,
                status: item.status
            });        


            this.destinationId = item.destinationId;
            this.action = 2;
        },

        closeModal(){
            this.isDelete = true;
            this.dialog = false;
        },
        finishModal(){
            this.dialog = true;
        },
        finishShipping(){
            
            let dataUser  = UtilFront.getDataUser();
            this.sending = true;
            this.isDelete = false;
            
            //Validar que este seleccionado el destino
            if (this.destinationId != '') {

                if ( !this.isUpdate ) {

                    ShipmentsRequest.addShipment({
                        idOrder: this.orderId,
                        destinationId: this.destinationId
                    }).then( (response) => {
                        let { data } = response.data;
                        let { success, message } = data;
                        

                        if (success) {

                            this.userBranch = {
                                userId : dataUser.idUser,
                                originId : this.originId
                            };

    
                            this.tableOrder();
                            this.action = 1;
                            this.notification("success","Orden de Salida Generada");
                            this.clean(0);
                            
                            //this.getProductsByFiscalFound();
                            //Aquí mandar a llamar lo el this que pide volver a iniciar el ciclo
                        } else {
                            this.notification("error",message);
                        }
                    }).catch(this.catchError).finally(()=>{
                        this.sending = false;
                        this.isDelete = true;
                        this.dialog = false;
                    });

                } else {

                    ShipmentsRequest.updateDestination({
                        idOrder: this.orderId, 
                        idBranchOffice: this.destinationId,
                        userID: this.idUser
                    }).then((res) => {
                        let { data } = res.data;
                        let { message, success } = data;
                        if (success == true) {
                            this.tableOrder();
                            this.action = 1;
                            this.notification("success","Actualizando orden");
                            this.clean(0);
                        } else {
                            this.notification("error",message);
                        }
                    }).catch(this.catchError).finally(()=>{
                        this.sending = false;
                        this.isDelete = true;
                        this.dialog = false;
                    });
                }



            } else {
                this.notification("error","Es necesario seleccionar una sucursal de destino");
                this.sending = false;
            }
            
        },
        clean( level ){

            if ( level == 0 ) {    
                this.productList = [];
                this.destinationId = '';
                this.fiscalFound = ''; // se cambio esta parte para poder refrescar todo al momento de darle en finalizar orden y que no quite la fuente de financiamiento
            }

            if ( level <= 1 ) {    
               // this.fiscalFound = ''; // se comento para poder subirlo un nivel, en este caso pasarlo al "leve == 0"
            }

            if ( level <= 2 ) {
                //Se encarga de limpiar la lista de productos el item seleccionado
                this.productsOrderList = [];
                this.productId = '';
            }

            if ( level <= 3) {
                //Se encarga de limpiar la lista de lotes y el item seleccionado
                this.lotList = [];
                this.model.stockId = '';
            }

            if ( level <= 4) {
                //Se encarga de limpiar los campos de cantidad
                this.model.quantity = '';
                
            }


            if ( this.action == 2 ) {
                this.$refs.observer.reset();
                
            }

        },
        excel() {
            this.$toast.success("Generando documento Xlsx");
            ExcelRequest.reportOrders({
                userId : this.idUser,
                originId : this.originId
            });
        }
        /* End Form Functions*/
    },
    created(){

        let infoUser = UtilFront.getDataUser();
        this.idUser = infoUser.idUser;

        //Recupero todas las fuentes de financiamiento
        //this.fiscalFoundList = FiscalFoundRequest.findAllFiscalFoundsKeyAvailable();

    },
    beforeRouteLeave (to, from, next) {
        if (this.sending){
            next(false)
        } else {
            next()
        }
    },
}
</script>