<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-9 col-lg-9">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                    <strong>{{notifier.title}}</strong> {{notifier.message}}
                                    <button type="button" @click="notifier.notifying = false" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                         <h5 class="card-title mb-0"><i class="ti-clipboard mr-2"></i>{{titleAction}}</h5>
                                    </div>
                                    <div class="col-md-4">
                                         <SelectBranchOffice  v-on:updateItemOrigin="updateOrigin" />
                                    </div>
                                    <div class="col-md-4" >
                                        <v-select  @change="changeTable" v-model="typeOrder" :items="orderHistoryList" label="Tipo de Salida" data-vv-name="select"></v-select>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div v-if="showAction(1)" class="col-md-12">
                                        <Datatable :history="true" :dataList="orderList" :headers="orderHeader"  :deleteOrder="true" v-on:rollBackOrder="rollBackOrder" />
                                    </div>
                                    <div v-if="showAction(2)" class="col-md-12">
                                        <Datatable :history="true" :dataList="dispensingList" :headers="dispensingHeader" :deleteOrder="true" v-on:rollBackOrder="rollBackOrder" />
                                    </div>
                                    <div v-if="showAction(3)" class="col-md-12">
                                        <Datatable :history="true" :dataList="decreaseList" :headers="decreaseHeader" :deleteOrder="true" v-on:rollBackOrder="rollBackOrder" />
                                    </div>
                                    <div v-else class="col-md-12">
                                        <!--<Datatable :dataList="productList" :headers="orderProductsHeaders" :deleteItem="true" v-on:deleteRecord="deleteRecord" />-->

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer} from '@/components'
import { DTHeaders } from "@/core";
import { OrderRequest } from "@/core/request";

import { UtilFront } from "@/core";

import Datatable from '@/components/Datatable.vue';
import SelectBranchOffice from '@/components/forms/SelectBranchOffice.vue'


import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";


export default{
    data(){
        return {
            title:'Historico de Salidas',

            orderHeader: DTHeaders.ORDERS_HISTORY,
            dispensingHeader: DTHeaders.DISPENSING_HISTORY,
            decreaseHeader : DTHeaders.DECREASE_HISTORY,


            /* Select tipo de salida */
            typeOrder: '',
            orderHistoryList: [],

            /* Global */
            action : 1,
            idUser : '',
            originId: '',
            orderStatus: 0,
            /* Global */


            /* Listas */
            orderList: [],
            dispensingList: [],
            decreaseList: [],

            notifier: {notifying: false, type:"", message:""},

        }
    },
    computed: {
        titleAction() {
            if (this.action == 1) {
                return "Historico de Salidas" ;
            } else if (this.action == 2) {
                return "Historico de Dispensación" ;
            } else if (this.action == 3) { 
                return "Historico de Mermas" ;
            }
            return "Listado";
        }
    },
    components:{
        ValidationProvider,
        ValidationObserver,
        Topbar,
        Sidebar,
        Footer,
        Datatable,
        SelectBranchOffice
    },
    methods: {
        /* Start Default Functions*/
        showAction(action){
            return this.action == action;
        },
        changeAction(action) {
            if(action == 1){

            }else if (action == 2) {

            }
        },
        notification(type, message){
            if(type == "success"){
                this.notifier.type = 1;
                this.notifier.title = "¡Éxito!";
                this.notifier.message = message || "Acción realizada correctamente.";
            }else if(type == "error"){
                this.notifier.type = 2;
                this.notifier.title = "Error";
                this.notifier.message = message || "Ocurrio un error interno";
            }else{
                this.notifier.type = 3;
                this.notifier.title = "Advertencia";
                this.notifier.message = message || "Verifiqué la información ingresada";
            }
            this.notifier.notifying = true;

           if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

        },
        catchError(error){
            this.notification("error","Ocurrio un error interno");
        }, 
        /* End Default Functions*/
        

        /* Start Table Functions*/
        changeTable(type){
            this.action = type;
            this.typeOrder = type;
            this.updateTable();
        },
        deleteRecord(item) {

        },
        updateTable(){
            this.orderList = [];
            this.dispensingList = [];
            this.decreaseList = [];
            
            let data = { id: this.originId }

            if ( this.typeOrder == 1 ) {
                this.orderStatus = 9;
                OrderRequest.orderHistory(data).then( (response) =>{
                    let { data } = response.data;
                    this.orderList = data.objects;
                });
            } else if ( this.typeOrder == 2 ) {
                this.orderStatus = 10;
                OrderRequest.orderDispensingHistory(data).then( (response) =>{
                    let { data } = response.data;
                    this.dispensingList = data.objects;
                });
            } else if ( this.typeOrder == 3 ) {
                this.orderStatus = 11;
                OrderRequest.orderDecrease(data).then( (response) =>{
                    let { data } = response.data;
                    this.decreaseList = data.objects;
                });
            }

        },
        /* End Table Functions*/


        /* Star Form Functions*/
        updateOrigin(data){
            this.originId = data;
            this.updateTable();
        },
        rollBackOrder(data){

            data.orderStatus = this.orderStatus;

            OrderRequest.orderRollBack(data).then( (response) => {

                let { data } = response.data;
                let { success, message } = data;

                if (success) {
                    this.notification("success","Registro cancelado");
                    this.updateTable();
                } else {
                    this.notification("error",message);
                }

            }).catch(this.catchError).finally(()=>{
                //this.sending = false;
            });
        }
        /* End Form Functions*/
    },
    created(){

        let infoUser = UtilFront.getDataUser();
        this.idUser = infoUser.idUser;

        this.orderHistoryList = [
            { text: "Salidas", value:"1"},
            { text: "Dispensación", value:"2"},
            { text: "Merma", value:"3"}
        ];

        this.typeOrder = this.orderHistoryList[0].value;


    }
}
</script>
