<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar">

    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      
      <!-- End Breadcrumbbar -->
      <!-- Start Contentbar -->
      <div class="contentbar mt-12">
        
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <template>
              <v-card>
                <v-card-title>
                    
                    <h5 class="card-title mb-0">
                        <i class="fa fa-envelope-open-o" ></i> {{titleAction}}
                    </h5>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                   <button class="blue-lite-sitdris btn ml-5" @click="changeAction(2)" v-if="showAction(1)">
                            <i class="fa fa-plus mr-2"></i>  Dispensar receta
                    </button>
                </v-card-title> 
                
              
                  <v-data-table v-if="showAction(1)" :headers="headers" :items="list" item-key="idPrescription" 
                      class="elevation-1":search="searchPrescription"
                      :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                      :loading="loading" loading-text="Cargando..." no-data-text="Sin resultados disponibles" 
                      no-results-text="Sin resultados coincidentes con la búsqueda" dense >

                        <template v-slot:top >
                            <div class="row">
                                
                                <div class="col-md-4" id="handCalendar" >
                            
                                        <vc-date-picker  color="green" v-model="date" is-range>
                                            <template v-slot="{ inputValue, inputEvents }">
                                                <div class="flex justify-center items-center">
                                                <v-text-field
                                                    :readonly="true"
                                                    v-on="inputEvents.start"
                                                    :value="dateCompuded"                                                              
                                                    label="Rango de fechas"
                                                    :append-outer-icon="validData ? 'mdi-magnify' : 'mdi-calendar'"
                                                    :disabled-input="validData"
                                                    @click:append-outer="updateTablePrescription()"
                                                ></v-text-field>
                                                
                                                </div>
                                            </template>
                                        </vc-date-picker> 
                                </div>
                                
                            </div>
                        </template>

                        <template v-slot:[`item.actions`]="{ item, index }">
                            <div>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                    <span  class="hand text-info" @click="viewRecord(item)" v-bind="attrs" v-on="on">
                                        <i class="mdi mdi-information-outline"></i>
                                    </span>
                                    </template>
                                <span>Ver</span>
                                </v-tooltip>

                                <v-tooltip top >
                                    <template v-slot:activator="{ on, attrs }">
                                    <v-icon small class="ml-3" @click="updateRecord(item)" v-bind="attrs" v-on="on">
                                    mdi mdi-square-edit-outline
                                    </v-icon>
                                </template>
                                <span>Editar</span>
                                </v-tooltip>
                            </div>
                        </template>

                </v-data-table>     
                
                <v-card-text v-if="showAction(2) || showAction(3) || showAction(4)">
                 
                      <validation-observer ref="observer1" v-slot="{ invalid }">
                          <form  >
                              <div class="row pb-5">
                                  <div class="col-md-11">
                                  <validation-provider v-slot="{ errors }" name="Doctor" rules="required" >
                                          <v-autocomplete no-data-text="Sin resultados"   :disabled=" isView || sending " auto-select-first :items="doctorList"
                                              v-model="model.doctorId" label="Doctor*" @change="" required>
                                          </v-autocomplete>
                                      </validation-provider>
                                  </div>
                                  <div class="col-md-1 pt-5">
                                      <v-btn  type="button" @click="dialog = true" :disabled=" sending || isView">
                                          <i class="ti-plus"></i> 
                                      </v-btn>
                                  </div>

                                  <div class="col-md-3">
                                      <validation-provider v-slot="{ errors }" name="Clave de la receta" rules="required|max:20">
                                          <v-text-field :disabled=" isView || sending " :counter="20" :maxlength="20"  v-model="model.prescriptionKey" :error-messages="errors"
                                              label="Clave de la receta*" required></v-text-field>
                                      </validation-provider>
                                  </div>

                                  <div class="col-md-3">
                                      <validation-provider v-slot="{ errors }" name="N° Expediente" rules="required|max:20">
                                          <v-text-field :disabled=" isView || sending " :counter="20" :maxlength="20" v-model="model.medicalRecord" :error-messages="errors"
                                              label="N° Expediente*" required></v-text-field>
                                      </validation-provider>
                                  </div>

                                  <div class="col-md-6">
                                      <validation-provider v-slot="{ errors }" name="Curp" rules="required">
                                          <v-text-field :disabled=" isView || sending " :counter="20" :maxlength="20" v-model="model.curp" :error-messages="errors"
                                              label="Curp*" required></v-text-field>
                                      </validation-provider>
                                  </div>

                                  <div class="col-md-4">
                                      <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:50">
                                          <v-text-field :disabled=" isView || sending " :counter="50" :maxlength="50" v-model="model.name" :error-messages="errors"
                                              label="Nombre*" required></v-text-field>
                                      </validation-provider>
                                  </div>

                                  <div class="col-md-4">
                                      <validation-provider v-slot="{ errors }" name="Apellido Paterno" rules="required|max:50">
                                          <v-text-field :disabled=" isView || sending " :counter="50" :maxlength="50" v-model="model.lastNameP" :error-messages="errors"
                                              label="Apellido Paterno*" required></v-text-field>
                                      </validation-provider>
                                  </div>

                                  <div class="col-md-4">
                                      <validation-provider v-slot="{ errors }" name="Apellido Materno" rules="required|max:50">
                                          <v-text-field :disabled=" isView || sending " :counter="50" :maxlength="50" v-model="model.lastNameM" :error-messages="errors"
                                              label="Apellido Materno*" required></v-text-field>
                                      </validation-provider>
                                  </div>
                                  <!--Poner en estas zonas el check box-->

                                  <!--<v-container>
                                      
                                      <h6>¿Esta es tu unidad médica?</h6>
                                      <v-flex class="transparent" xs1>
                                      <v-switch v-model="option" :label="switchNotification()"></v-switch>
                                      </v-flex>
                                  </v-container>-->

                                


                                  <!--Poner en estas zonas el check box
                                  <div class="col-md-8">
                                      <v-autocomplete v-show="!option" :disabled=" isView || sending " v-model="branchOfficeForeign" :items="['Erillam HC']" label="Farmacias (Sucursales)*" data-vv-name="select" />
                                  </div>
                                  <div class="col-md-12">
                                      <v-btn class="float-right" type="button" @click="createMedicalPrescription" :disabled="sending">
                                          <i class="ti-plus mr-3"></i> Añadir productos
                                      </v-btn>
                                  </div>-->
                                  <div class="v-data-table elevation-1 v-data-table--dense v-data-table--has-top v-data-table--has-bottom theme--light">
                                      <div class="row">
                                          <div class="col-md-6"></div>
                                          <div class="col-md-6 ">
                                              <div class="v-input pr-5 theme--light v-text-field v-text-field--is-booted">
                                                  <div class="v-input__control">
                                                      <div class="v-input__slot">
                                                          <div class="v-text-field__slot"><label for="input-4579" class="v-label theme--light"
                                                                  style="left: 0px; right: auto; position: absolute;">Buscar ...</label><input
                                                                  id="input-4579" type="text"></div>
                                                      </div>
                                                      <div class="v-text-field__details">
                                                          <div class="v-messages theme--light">
                                                              <div class="v-messages__wrapper"></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="v-data-table__wrapper">
                                          <table>
                                              <colgroup>
                                                  <col class="">
                                                  <col class="">
                                                  <col class="">
                                                  <col class="">
                                                  <col class="">
                                                  <col class="">
                                                  <col class="">
                                                  <col class="">
                                              </colgroup>
                                              <thead class="v-data-table-header">
                                                  <tr>
                                                      <th role="columnheader" scope="col" aria-label="ID Stock: Not sorted. Activate to sort ascending."
                                                          aria-sort="none" class="text- d-none sortable"><span>ID Stock</span><i aria-hidden="true"
                                                              class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--light"
                                                              style="font-size: 18px;"></i></th>
                                                      <th role="columnheader" scope="col"
                                                          aria-label="Fuente de Financiamiento: Not sorted. Activate to sort ascending." aria-sort="none"
                                                          class="text-start sortable"><span>Fuente de Financiamiento</span><i aria-hidden="true"
                                                              class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--light"
                                                              style="font-size: 18px;"></i></th>
                                                      <th role="columnheader" scope="col" aria-label="Causes: Not sorted. Activate to sort ascending."
                                                          aria-sort="none" class="text-start sortable"><span>Causes</span><i aria-hidden="true"
                                                              class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--light"
                                                              style="font-size: 18px;"></i></th>
                                                      <th role="columnheader" scope="col" aria-label="Producto: Not sorted. Activate to sort ascending."
                                                          aria-sort="none" class="text-start sortable" style="width: 50%; min-width: 50%;">
                                                          <span>Producto</span><i aria-hidden="true"
                                                              class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--light"
                                                              style="font-size: 18px;"></i></th>
                                                      <th role="columnheader" scope="col" aria-label="Lote: Not sorted. Activate to sort ascending."
                                                          aria-sort="none" class="text-start sortable"><span>Lote</span><i aria-hidden="true"
                                                              class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--light"
                                                              style="font-size: 18px;"></i></th>
                                                      <th role="columnheader" scope="col" aria-label="Caducidad: Not sorted. Activate to sort ascending."
                                                          aria-sort="none" class="text-start sortable"><span>Caducidad</span><i aria-hidden="true"
                                                              class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--light"
                                                              style="font-size: 18px;"></i></th>
                                                      <th role="columnheader" scope="col" aria-label="Cantidad: Not sorted. Activate to sort ascending."
                                                          aria-sort="none" class="text-start sortable"><span>Cantidad</span><i aria-hidden="true"
                                                              class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--light"
                                                              style="font-size: 18px;"></i></th>
                                                      <th role="columnheader" scope="col" aria-label="Acciones" class="text-start"><span>Acciones</span>
                                                      </th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="style-1">
                                                      <td class="text- d-none">CC01-799596</td>
                                                      <td class="text-start">SEGPOP</td>
                                                      <td class="text-start">010.000.2620.00</td>
                                                      <td class="text-start">ACIDO VALPROICO, CAPSULA CADA CAPSULA CONTIENE: ACIDO VALPROICO 250 MG.
                                                          ENVASE CON 60 CAPSULAS. Pieza</td>
                                                      <td class="text-start">11003MC2</td>
                                                      <td class="text-start">30/10/2021</td>
                                                      <td class="text-start">1</td>
                                                      <td class="text-start">
                                                          <!---->
                                                          <!---->
                                                          <div><button type="button" aria-haspopup="true" aria-expanded="false"
                                                                  class="v-icon notranslate mr-2 v-icon--link mdi mdi-delete theme--light"
                                                                  style="font-size: 16px;"></button><span class="v-tooltip v-tooltip--top">
                                                                  <!---->
                                                              </span></div>
                                                          <!---->
                                                          <!---->
                                                          <!---->
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                      <div class="v-data-footer">
                                          <div class="v-data-footer__select">Elementos por página<div
                                                  class="v-input v-input--hide-details v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-select">
                                                  <div class="v-input__control">
                                                      <div role="button" aria-haspopup="listbox" aria-expanded="false" aria-owns="list-4593"
                                                          class="v-input__slot">
                                                          <div class="v-select__slot">
                                                              <div class="v-select__selections">
                                                                  <div class="v-select__selection v-select__selection--comma">10</div><input
                                                                      aria-label="Elementos por página" id="input-4593" readonly="readonly" type="text"
                                                                      aria-readonly="false" autocomplete="off">
                                                              </div>
                                                              <div class="v-input__append-inner">
                                                                  <div class="v-input__icon v-input__icon--append"><i aria-hidden="true"
                                                                          class="v-icon notranslate mdi mdi-menu-down theme--light"></i></div>
                                                              </div><input type="hidden" value="10">
                                                          </div>
                                                          <div class="v-menu">
                                                              <!---->
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="v-data-footer__pagination">1-1 of 1</div>
                                          <div class="v-data-footer__icons-before"><button type="button" disabled="disabled"
                                                  class="v-btn v-btn--disabled v-btn--icon v-btn--round v-btn--text theme--light v-size--default"
                                                  aria-label="Previous page"><span class="v-btn__content"><i aria-hidden="true"
                                                          class="v-icon notranslate mdi mdi-chevron-left theme--light"></i></span></button></div>
                                          <div class="v-data-footer__icons-after"><button type="button" disabled="disabled"
                                                  class="v-btn v-btn--disabled v-btn--icon v-btn--round v-btn--text theme--light v-size--default"
                                                  aria-label="Next page"><span class="v-btn__content"><i aria-hidden="true"
                                                          class="v-icon notranslate mdi mdi-chevron-right theme--light"></i></span></button></div>
                                      </div>
                                  </div>
                                  <form>
                                      <div class="row pt-10">
                                          <div class="col-md-3"><span>
                                                  <div
                                                      class="v-input v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-select v-autocomplete">
                                                      <div class="v-input__control">
                                                          <div role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="list-4545"
                                                              class="v-input__slot">
                                                              <div class="v-select__slot"><label for="input-4545"
                                                                      class="v-label v-label--active theme--light"
                                                                      style="left: 0px; right: auto; position: absolute;">Fuente
                                                                      Financiamiento*</label><input required="required" id="input-4545" type="text"
                                                                      autocomplete="off">
                                                                  <div class="v-input__append-inner">
                                                                      <div class="v-input__icon v-input__icon--append"><i aria-hidden="true"
                                                                              class="v-icon notranslate mdi mdi-menu-down theme--light"></i></div>
                                                                  </div><input type="hidden" value="1">
                                                              </div>
                                                              <div class="v-menu"></div>
                                                          </div>
                                                          <div class="v-text-field__details">
                                                              <div class="v-messages theme--light">
                                                                  <div class="v-messages__wrapper"></div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span></div>
                                          <div class="col-md-9"><span>
                                                  <div class="v-input theme--light v-text-field v-text-field--is-booted v-select v-autocomplete">
                                                      <div class="v-input__control">
                                                          <div role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="list-4551"
                                                              class="v-input__slot">
                                                              <div class="v-select__slot"><label for="input-4551" class="v-label theme--light"
                                                                      style="left: 0px; right: auto; position: absolute;">Producto*</label>
                                                                  <div class="v-select__selections"><input required="required" id="input-4551" type="text"
                                                                          autocomplete="off"></div>
                                                                  <div class="v-input__append-inner">
                                                                      <div class="v-input__icon v-input__icon--append"><i aria-hidden="true"
                                                                              class="v-icon notranslate mdi mdi-menu-down theme--light"></i></div>
                                                                  </div><input type="hidden" value="">
                                                              </div>
                                                              <div class="v-menu"></div>
                                                          </div>
                                                          <div class="v-text-field__details">
                                                              <div class="v-messages theme--light">
                                                                  <div class="v-messages__wrapper"></div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span></div>
                                          <div class="col-md-3"><span>
                                                  <div class="v-input theme--light v-text-field v-text-field--is-booted v-select v-autocomplete">
                                                      <div class="v-input__control">
                                                          <div role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="list-4557"
                                                              class="v-input__slot">
                                                              <div class="v-select__slot"><label for="input-4557" class="v-label theme--light"
                                                                      style="left: 0px; right: auto; position: absolute;">Lote*</label><input
                                                                      required="required" id="input-4557" type="text" autocomplete="off">
                                                                  <div class="v-input__append-inner">
                                                                      <div class="v-input__icon v-input__icon--append"><i aria-hidden="true"
                                                                              class="v-icon notranslate mdi mdi-menu-down theme--light"></i></div>
                                                                  </div><input type="hidden" value="">
                                                              </div>
                                                              <div class="v-menu"></div>
                                                          </div>
                                                          <div class="v-text-field__details">
                                                              <div class="v-messages theme--light">
                                                                  <div class="v-messages__wrapper"></div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span></div>
                                          <div class="col-md-3"><span>
                                                  <div class="v-input theme--light v-text-field v-text-field--is-booted">
                                                      <div class="v-input__control">
                                                          <div class="v-input__slot">
                                                              <div class="v-text-field__slot"><label for="input-4563" class="v-label theme--light"
                                                                      style="left: 0px; right: auto; position: absolute;">Cantidad
                                                                      Dispensada*</label><input required="required" id="input-4563" type="text"></div>
                                                          </div>
                                                          <div class="v-text-field__details">
                                                              <div class="v-messages theme--light">
                                                                  <div class="v-messages__wrapper"></div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span></div>
                                          <div class="col-md-3"><span>
                                                  <div class="v-input theme--light v-text-field v-text-field--is-booted">
                                                      <div class="v-input__control">
                                                          <div class="v-input__slot">
                                                              <div class="v-text-field__slot"><label for="input-4567" class="v-label theme--light"
                                                                      style="left: 0px; right: auto; position: absolute;">Recetados*</label><input
                                                                      required="required" id="input-4567" type="text"></div>
                                                          </div>
                                                          <div class="v-text-field__details">
                                                              <div class="v-messages theme--light">
                                                                  <div class="v-messages__wrapper"></div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span></div>
                                          <div class="col-md-3 pt-5"><button type="button"
                                                  class="v-btn v-btn--disabled v-btn--has-bg theme--light v-size--default" disabled="disabled"><span
                                                      class="v-btn__content"><i class="ti-plus mr-3"></i> Añadir </span></button></div>
                                          <div class="col-md-12 text-center">

                                            <v-btn class="mr-5 mt-5 blue-lite-sitdris btn" @click="changeAction(1)">
                                              <i class="fa fa-chevron-left"></i>  Volver
                                            </v-btn>
                                            <v-btn :class="{'text-danger':showAction(4)}" class="mr-5 mt-5 blue-lite-sitdris btn" type="submit" :disabled="invalid || sending">
                                                  Guardar <i class="ti-save ml-3"></i>
                                            </v-btn>
                                        </div>


                                      </div>
                                  </form>
                              </div>
                          </form>
                      </validation-observer>
                </v-card-text>
              </v-card>
            </template>
          </div>
        </div>
      </div>
      <!-- End Contentbar -->

    </div>
    <!-- End Rightbar -->
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>{{changeStatus.question}}</small>
        </v-card-title>
        <v-card-text>{{changeStatus.description}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelchangeStatus" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="updateStatus" :disabled="sending">
            Sí, continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogResetPassword" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>¿Restablecer contraseña?</small>
        </v-card-title>
        <v-card-text>La contraseña de <strong>{{model.name}}</strong> será cambiará a:</br>
          <strong>{{model.email}}</strong> </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogResetPassword = false" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="resetPassword" :disabled="sending">
            Sí, restablecer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <!-- End Containerbar -->
  <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders, UtilFront,PermissionConstants } from "@/core";
import { PatientRequest, RolRequest, BranchOfficeRequest,ExcelRequest } from "@/core/request";
import { required, max, email,min  } from "vee-validate/dist/rules";
import moment from 'moment';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("email", {
  ...email,
  message: "{_field_} ingrese una dirección de correo valida",
});

extend('password', {
  params: ['target'],
  validate(value, { target }) {
    return value === target;
  },
  message: 'Las contraseñas no coinciden'
});


export default {
  data() {
    return {
      service: PatientRequest,
      title: "Usuarios",
      list: [],
      headers: DTHeaders.DISPENSING,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      dialogResetPassword: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      branchOffices: [],
      branchOffice : {},
      myBranchOffices:[],
      roles: [],
      permissions: PermissionConstants,
      changeStatus:{
        question: "",
        description: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Recetas dispensadas ";
      } else if (this.action == 2) {
        return "Dispensar receta";
      } else if (this.action == 3) {
        return "Modificar paciente";
      }else if (this.action == 4) {
        return "Información de paciente";
      }
      return "Listado";
    }
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        // this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

       if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }


    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.list =  [
        {
            "idPrescription": "CC01-26442",
            "prescriptionKey": "14101876564",
            "medicalRecord": "FRANCISCA BAEZ HERNANDEZ",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-24219",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 11:39"
        },
        {
            "idPrescription": "CC01-26526",
            "prescriptionKey": "14101876598",
            "medicalRecord": "FRANCISCA BAEZ HERNANDEZ",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-24297",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 11:44"
        },
        {
            "idPrescription": "CC01-24287",
            "prescriptionKey": "14101876580",
            "medicalRecord": "PATRICIA MARIA GONZALEZ LUCERO",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-22191",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 09:03"
        },
        {
            "idPrescription": "CC01-27122",
            "prescriptionKey": "14101876565",
            "medicalRecord": "ALDO JOSUE MORENO VELASCO",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-24855",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 12:14"
        },
        {
            "idPrescription": "CC01-27567",
            "prescriptionKey": "14101876579",
            "medicalRecord": "ELIZABETH DE JESUS MORENO ROSAS",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-25273",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 12:36"
        },
        {
            "idPrescription": "CC01-28396",
            "prescriptionKey": "14101876590",
            "medicalRecord": "MARIA ANTONIA  CANTEROS  VIELMA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-26042",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 13:17"
        },
        {
            "idPrescription": "CC01-28475",
            "prescriptionKey": "14101876591",
            "medicalRecord": "MARIA ANTONIA CANTEROS VIELMA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-26114",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 13:20"
        },
        {
            "idPrescription": "CC01-29333",
            "prescriptionKey": "14101876593",
            "medicalRecord": "ROSARIO DEL CARMEN MARTINEZ OCHOA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-26922",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-24 14:02"
        },
        {
            "idPrescription": "CC01-32916",
            "prescriptionKey": "14101876567",
            "medicalRecord": "LUIS RIVAS NAVARRO",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-30319",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 10:27"
        },
        {
            "idPrescription": "CC01-36041",
            "prescriptionKey": "14101876589",
            "medicalRecord": "MARIA TORRES PADILLA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-33333",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 13:53"
        },
        {
            "idPrescription": "CC01-35989",
            "prescriptionKey": "14101876597",
            "medicalRecord": "MARIA TORRES PADILLA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-33284",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 13:49"
        },
        {
            "idPrescription": "CC01-36139",
            "prescriptionKey": "14101876592",
            "medicalRecord": "MARIA TORRES PADILLA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-33429",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 13:58"
        },
        {
            "idPrescription": "CC01-36161",
            "prescriptionKey": "14101876596",
            "medicalRecord": "MARIA TORRES PADILLA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-33450",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-25 14:00"
        },
        {
            "idPrescription": "CC01-40299",
            "prescriptionKey": "14101876587",
            "medicalRecord": "JOSEFINA HERNANDEZ GARCIA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-37403",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-26 11:09"
        },
        {
            "idPrescription": "CC01-40413",
            "prescriptionKey": "14101876578",
            "medicalRecord": "ADELFA QUEVEDO GUZMAN",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-37510",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-26 11:17"
        },
        {
            "idPrescription": "CC01-40445",
            "prescriptionKey": "14101876582",
            "medicalRecord": "ADELFA QUEVEDO GUZMAN",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-37541",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-26 11:20"
        },
        {
            "idPrescription": "CC01-40336",
            "prescriptionKey": "14101876599",
            "medicalRecord": "JOSEFINA HERNANDEZ GARCIA",
            "doctorId": "CC01-24208",
            "doctorName": "MANUEL ALEJANDRO GONZALEZ HERNANDEZ",
            "orderId": "CC01-37438",
            "branchOffice": "CENTRO DE SALUD LOS CAJETES",
            "user": "Erillam HC",
            "date": "2021-03-26 11:12"
        }
    ];
      
      
    },
    add() {

      try{
          let obj = this.model;
          let JSON_HL7 = {
              resourceType: "Patient",
              identifier: [
                  { value: `${obj.nss}${obj.medicalAggregated}` }, { value: obj.curp },
                  { value: obj.nss }, { value: obj.medicalAggregated }
              ],
              name: [{
                  resourceType: "HumanName",
                  family: obj.firstLastname,
                  given: [obj.name],
                  suffix: obj.secondLastname
              }],
              telecom: [{
                  resourceType: "ContactPoint",
                  system: obj.homePhoneCode,
                  value: obj.homePhone
              }, {
                  resourceType: "ContactPoint",
                  system: obj.cellPhoneCode,
                  value: obj.cellPhone
              }],
              gender: obj.sex,
              birthDate: obj.birthDate + "T00:00",
              deceasedBoolean: (obj.dateDeath ? true : false),
              address: [{
                  resourceType: "Address",
                  line: [obj.street],
                  city: obj.municipality,
                  district: obj.colony,
                  state: obj.federalEntity,
                  postalCode: obj.postalCode
              }],
              maritalStatus: [{ coding: obj.civilStatus }],
              generalPractitioner: [{
                  resourceType: "Organization",
                  identifier: [{ value: obj.budgetKey }]
              }],
              extension: [{
                  valueDate: obj.endValidity
              }, {
                  valueDate: `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`
              }, {
                  valueInteger: obj.rightIndicator
              }]
          };
          console.log(JSON_HL7);
          this.service.add(JSON_HL7).then((res)=>{
              let data = res.data;
              let message = UtilFront.getMessageError(data);
              if(message == null){
                  this.changeAction(1);
                  this.$toast.success("Registro realizado correctamente");
              }else{
                  this.$toast.error(message || "Ocurrio un error interno");
              }
          }).catch(this.catchError).finally(()=>{
              this.sending = false;
          });

      }catch(e){
        console.log(e);
      }
     
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            if(message == '' || message == undefined){
              this.notification("success", "Cambios realizados correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(3);
    },
    view(object){
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(4);
    },
    listAllBranchOffices(){
      BranchOfficeRequest.listAllActive().then((res) => {
        let { data } = res.data;
        if (data) {
          this.branchOffices = data.map((obj) => {        
              return {
                value: {idBranchoffice: obj.idBranchoffice},
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
          });
        }
      }).catch(this.catchError);
    },
    listAllRoles(){
      this.roles = [];
      RolRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.roles = data.objects.map((obj) => {      
              return {
                value: obj.idRole,
                text: `${obj.name} - (${obj.description})`,
              };
          });
          }
        })
        .catch(this.catchError);
    },
    confirmchangeStatus(item){
      this.model =  item;
      if(!item.available){
        this.changeStatus.question = "¿Desea inactivar la cuenta?"
        this.changeStatus.description = `${item.name} no podrá iniciar sesión.`;
      }else{
        this.changeStatus.question = "¿Desea activar la cuenta?"
        this.changeStatus.description = `${item.name} podrá iniciar sesión.`;
      }
      this.dialog = true;
    },
    confirmResetPassword(item){
      this.model =  item;
      this.dialogResetPassword = true;
    },
    cancelchangeStatus(){
      this.dialog = false; 
      this.model.available =  !this.model.available;
    },
    updateStatus(){
      this.sending = true;
      this.service.updateStatus({id: this.model.idUser, status: (this.model.available ? 1 : 0)}).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.model.available =  !this.model.available;
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialog = false; 
      });
    },
    resetPassword(){
      this.sending = true;
      this.service.resetPassword(this.model.idUser).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Contraseña restablecida");
          } else {
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialogResetPassword = false; 
      });
    },
    listAllBranchOfficesByUser(){     
      this.service.listAllBranchOfficesByUserId(this.model.idUser).then((res) => {
          let { data } = res.data;
          let {  objects } = data;
          if (objects) {
            this.model.branchOffices = objects.map((object) => {
                return {idBranchoffice: object.idBranchoffice};
            });
          } else {
             this.model.branchOffices = [];
          }
      }).catch(this.catchError);
    },
    withPermission(numRol){
      return UtilFront.withPermission(numRol);
    },
    withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    excel() {
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportUsers({
          id:this.branchOffice.idBranchoffice
        });
    }
  },
};
</script>

<style>

</style>