<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-6">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="/salidas">Salidas</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 text-right">
                        <div class="row">
                            <div class="col-8">
                                <SelectBranchOffice :disabledView="action != 1" v-on:updateItemOrigin="updateItemOrigin" /> 
                            </div>
                            <div class="col-4 ">
                                <div v-if="showAction(1)" class="pt-3" >
                                    <button  class="btn btn-success" @click="changeAction(3)" style="float:right"><i class="ti-clipboard"></i> Movimientos</button>
                                </div>
                                <button v-else class="btn btn-primary" @click="changeAction(1)" style="float:right"><i class="ti-arrow-left mr-2"></i> Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar" v-if="showAction(1)">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                    <!--Se cambio esta etiqueta con un h5 para hacer la fuente más pequeña así como también se puso una clase dentro de i para poner una imagen-->
                                        <h5 class="card-title mb-0"><i class="ti-truck mr-2"></i>Picking Pendiente</h5>
                                    <!--Se cambio esta etiqueta con un h5 para hacer la fuente más pequeña así como también se puso una clase dentro de i para poner una imagen-->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-3" v-for="item in shipmentsList"  >
                                        <a @click="getDetailOrder(item.orderId)">
                                            <div class="card text-white bg-dark" style="height: 18rem;">
                                                <div class="card-header" >{{item.destination}}<br>
                                                        <strong>{{item.destinationKey}}</strong></div>
                                                <div class="card-footer">
                                                    <h5 class="text-white">
                                                        Orden de Salida #{{item.orderId}}
                                                    </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <h5 class="card-title mb-0"><i class="ti-truck mr-2"></i>Picking Validado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-3" v-for="item in shipmentsVlList">
                                         <a @click="getDetailOrder(item.orderId)">
                                            <div class="card text-white bg-secondary " style="height: 18rem;">
                                                <div class="card-header">{{item.destination}}<br>
                                                        <strong>{{item.destinationKey}}</strong></div>
                                                <div class="card-body">
                                                    <h5 class="card-title text-white">
                                                        Orden de Salida #{{item.orderId}}
                                                    </h5>
                                                    <p class="card-text">
                                                        {{item.dateshipment}}
                                                    </p>
                                                </div>
                                            </div>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <h5 class="card-title mb-0"><i class="ti-truck mr-2"></i>Histórico de Picking</h5>
                                    </div>
                                </div>
                            </div>
                            <Datatable :dataList="shipmentsShList" :headers="pickingHeaders" :orders="true" v-on:viewRecord="viewRecord"    :callback="excelHisP" :documentView="true" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->


            <!-- Start Contentbar -->
            <div class="contentbar" v-if="showAction(2)">
                <div class="row justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                    <strong>{{notifier.title}}</strong> {{notifier.message}}
                                    <button type="button" @click="notifier.notifying = false" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="invoice">
                                    <div class="invoice-head">
                                        <div class="row">
                                            <div class="col-12 col-md-7 col-lg-7">
                                                <div class="invoice-logo">
                                                    <img src="@/assets/images/logo.svg" class="img-fluid" alt="invoice-logo">
                                                </div>
                                                <h4>FMedical Abastos</h4>
                                            </div>
                                            <div class="col-12 col-md-5 col-lg-5">
                                                <div class="invoice-name">
                                                    <h5 class="text-uppercase mb-3">Orden de Salida</h5>
                                                    <p class="mb-1">N° salida : #{{ idOrder }}</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <v-data-table v-model="selected" item-key="idCounter" :show-select="showSelect" @click="handleClick(item)"  :headers="shipmentsHeaders" :items="shipmentList" class="elevation-1" />
                           
                            <div class="card-body">
                                <div class="invoice">
                                    <div class="invoice-footer">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="invoice-footer-btn">
                                                    <a href="javascript:window.print()" class="btn btn-primary-rgba py-1 font-16"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                                    
                                                    <button @click="finish(3)" v-if="status == 2" class="btn btn-success py-1 font-16 ml-3"><i class="feather icon-send mr-2"></i>Finalizar Picking</button>
                                                    <button @click="finish(4)" v-if="status == 3" class="btn btn-warning py-1 font-16 ml-3"><i class="ti-alert mr-2"></i>Finalizar Validación</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
            </div>
            <!-- End Contentbar -->

            <!-- Start Contentbar -->
            <div class="contentbar" v-if="showAction(3)">
                <div class="row justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="card m-b-30">
                                        <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <h5 align="left" class="card-title mb-0"><i class="ti-truck mr-2"></i>Movimiento Picking</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <Datatable :callback="excel" :documentView="true" :dataList="pickingMovList" :headers="pickingMovHeaders" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
            </div>
            <!-- End Contentbar -->

            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script lang="js">
import { DTHeaders } from "@/core";
import { Topbar, Sidebar, Footer, Datatable } from "@/components";
import { ShipmentsRequest,OrderRequest,ExcelRequest } from "@/core/request";
import SelectBranchOffice from '@/components/forms/SelectBranchOffice.vue'
import { UtilFront } from "@/core";

export default {
  props: {
    dataList: {},
    headers: {},
    searchBoxShow: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
        title: "Picking",
        action: 1,
        pickingHeaders: DTHeaders.PICKING,
        pickingMovHeaders: DTHeaders.PICKING_MOV,

        showPicking: true,
        itemOrigin: "",

        shipmentsList:[],
        shipmentsVlList: [],
        shipmentsShList: [],
        pickingMovList: [],



        shipmentsHeaders: DTHeaders.SHIPMENTS,


        idOrder: this.$route.params.id,
        shipmentList: [],
        shippingDate: "",
        status: "",

        showSelect: true,
        selected: [],
        idUser: '',
        notifier: {notifying: false, type:"", message:""},
    };
  },
  components: {
    Datatable,
    Topbar,
    Sidebar,
    Footer,
    SelectBranchOffice
  },
  created() {
        let infoUser = UtilFront.getDataUser();
        this.idUser = infoUser.idUser;
  },
  methods: {
    showAction(action){
        return this.action == action;
    },
    changeAction(action) {

        if(action == 1){
            this.action = action;
            this.selected = [];
            this.updateItemOrigin( this.itemOrigin );
        } else if (action == 2) {
            this.action = action;
        } else if (action == 3) {
            this.action = action;
        }
    },
    notification(type, message){
        if(type == "success"){
            this.notifier.type = 1;
            this.notifier.title = "¡Éxito!";
            this.notifier.message = message || "Acción realizada correctamente.";
        }else if(type == "error"){
            this.notifier.type = 2;
            this.notifier.title = "Error";
            this.notifier.message = message || "Ocurrio un error interno";
        }else{
            this.notifier.type = 3;
            this.notifier.title = "Advertencia";
            this.notifier.message = message || "Verifiqué la información ingresada";
        }
        this.notifier.notifying = true;

       if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

    },
    catchError(error){
        console.log(error);
        this.notification("error","Ocurrio un error interno");
    },
    handleClick(value){
        console.log(value);
    },

    getDetailOrder( orderId ){

        this.showSelect = true;

        //Recupero el detalle del envio
        ShipmentsRequest.findDetailByOrder({
            orderId: orderId
        }).then( (response) => {
            let { data } = response.data;
            let { shippingDate, productList, status  } = data;

            this.shippingDate = shippingDate;

            var orderDetailArray = [];

            for (var [index, value] of Object.entries(productList)) {
                let orderDetailItem = {
                    idCounter: index,
                    productKey : value.productKey,
                    product : value.product,
                    expirationDate : value.expirationDate,
                    fiscalFound: value.fiscalFound,
                    lot: value.lot,
                    quantity : value.quantity,
                    locationKey: value.locationKey
                };
                orderDetailArray.push(orderDetailItem);
            }

            this.shipmentList = orderDetailArray;
            this.action = 2;
            this.idOrder = orderId;
            this.status = status;
            

        }).catch(this.catchError).finally(()=>{
           
        });
    },

    finish( status ) {

        //Conteo de select validados y lista de envios por orden
        let sel = this.selected.length;
        let list = this.shipmentList.length;

        if (sel == list) {

            OrderRequest.updateOrder({
                idOrder: this.idOrder,
                userId: this.idUser,
                status: status,
            }).then(response => {
                let { data } = response.data;
                let { success, message } = data;

                if ( success ) {

                    this.notification("success", (status == 1)? "Picking Finalizado" : "Validación Finalizada");
                    this.showSelect = false;
                    //this.status = '';
                    this.action = 1;
                    this.selected = [];
                    this.updateItemOrigin(this.itemOrigin);

                } else {
                    this.notification("error", message);
                }

            }).catch(this.catchError).finally(()=>{
            
            });

        } else {
            this.notification("error", "Existen productos sin seleccionar en la lista");
        }

    },
    viewRecord(data){
        this.$router.push('/salidas/picking/'+data.orderId);
    },
    updateItemOrigin(data){
        this.itemOrigin = data;
        
        this.shipmentsList = ShipmentsRequest.findAllByPickingKey({
            originId: this.itemOrigin,
            status: 2,
            type: 1
        });

        
        this.shipmentsVlList = ShipmentsRequest.findAllByPickingKey({
            originId: this.itemOrigin,
            status: 3,
            type: 1
        });

        //Picking historico
        this.shipmentsShList = ShipmentsRequest.findAllByPickingKey({
            originId: this.itemOrigin,
            status: 4,
            type: 1
        });

        this.pickingMovList = OrderRequest.findAllOrderByBranchKey({
            originId: this.itemOrigin
        });

    },
    excel() {
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportOrdersMovementHistory({
            originId : this.itemOrigin
        });
    },
    excelHisP(){
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportOrdersHistoricalPicking({
            originId: this.itemOrigin,
            status: 4,
            type: 1
        });
    }

  }
};
</script>
