<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="/salidas">Salidas</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <button v-if="validate" class="btn btn-primary" @click="backPickingView" style="float:right;" >
                            <i class="ti-arrow-left mr-2"></i> Regresar
                        </button>
                        <button v-else class="btn btn-primary" @click="backOrdersView" style="float:right;" >
                            <i class="ti-arrow-left mr-2"></i> Regresar a Salidas
                        </button>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div class="row justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                    <strong>{{notifier.title}}</strong> {{notifier.message}}
                                    <button type="button" @click="notifier.notifying = false" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="invoice">
                                    <div class="invoice-head">
                                        <div class="row">
                                            <div class="col-12 col-md-7 col-lg-7">
                                                <div class="invoice-logo">
                                                    <img src="@/assets/images/logo.svg" class="img-fluid" alt="invoice-logo">
                                                </div>
                                                <h4>FMedical Abastos</h4>
                                            </div>
                                            <div class="col-12 col-md-5 col-lg-5">
                                                <div class="invoice-name">
                                                    <h5 class="text-uppercase mb-3">Orden de Salida</h5>
                                                    <p class="mb-1">N° salida : #{{ idOrder }}</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <v-data-table v-model="selected" item-key="idCounter" :show-select="showSelect" @click="handleClick(item)"  :headers="shipmentsHeaders" :items="shipmentList" class="elevation-1" />
                            
                            <div class="col-md-6" >
                                <div class="invoice-footer-btn">
                                    <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                    <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                                </div>
                            </div>
                            
                            <div class="card-body">
                                <div class="invoice">
                                    <div class="invoice-footer">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="invoice-footer-btn" v-if="validate" >
                                                    <button @click="finish(3)" v-if="status == 2" class="btn btn-success py-1 font-16 ml-3"><i class="feather icon-send mr-2"></i>Finalizar Picking</button>
                                                    <button @click="finish(4)" v-if="status == 3" class="btn btn-warning py-1 font-16 ml-3"><i class="ti-alert mr-2"></i>Finalizar Validación</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
            
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script lang="js">
import { DTHeaders } from "@/core";
import { Topbar,Sidebar, Footer} from "@/components";
import axios from "axios";
import {ServicePath} from "@/core";
import { ShipmentsRequest,OrderRequest,ExcelRequest } from "@/core/request";
import { UtilFront } from "@/core";

export default{
    data() {
        return {
            title : "Detalle Picking",
            shipmentsHeaders: DTHeaders.SHIPMENTS,

            
            idOrder: this.$route.params.id,
            shipmentList: [],
            shippingDate: "",
            orderId: "",
            status: "",
            validate: false,
           
            showSelect: true,
            selected: [],
            idUser: '',
            notifier: {notifying: false, type:"", message:""},
        }
    },
    components: {
        Topbar,
        Sidebar,
        Footer
    },
    methods: {
        notification(type, message){
            if(type == "success"){
                this.notifier.type = 1;
                this.notifier.title = "¡Éxito!";
                this.notifier.message = message || "Acción realizada correctamente.";
            }else if(type == "error"){
                this.notifier.type = 2;
                this.notifier.title = "Error";
                this.notifier.message = message || "Ocurrio un error interno";
            }else{
                this.notifier.type = 3;
                this.notifier.title = "Advertencia";
                this.notifier.message = message || "Verifiqué la información ingresada";
            }
            this.notifier.notifying = true;

           if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

        },
        catchError(error){
            console.log(error);
            this.notification("error","Ocurrio un error interno");
        },
        handleClick(value){
            console.log(value);
        },
        finish( status ) {

            //Conteo de select validados y lista de envios por orden
            let sel = this.selected.length;
            let list = this.shipmentList.length;

            if (sel == list) {

                OrderRequest.updateOrder({
                    idOrder: this.idOrder,
                    userId: this.idUser,
                    status: status,
                }).then(response => {
                    let { data } = response.data;
                    let { success, message } = data;

                    if ( success ) {
                        this.notification("success", (status == 1)? "Picking Finalizado" : "Validación Finalizada");
                        this.status = 0;
                        this.showSelect = false;
                    } else {
                       this.notification("error", message);
                    }

                }).catch(this.catchError).finally(()=>{
                
                });

            } else {
                this.notification("error", "Existen productos sin validar");
            }

        },
        backPickingView() {
            this.$router.push('/salidas/picking');
        },
        backOrdersView(){
            this.$router.push('/salidas');
        },
        excel() {
            ExcelRequest.reportOrdersProductsList({
                orderId: this.idOrder
            });
        }
    },
    created() {
        //console.log("sdf");
        let infoUser = UtilFront.getDataUser();
        this.idUser = infoUser.idUser;

        console.log(infoUser);

        //Valido que tenga el permiso de actualizar dispensacion
        this.validate = infoUser.permissions.some( element => element.name == 'Picking' );

        //Recupero el detalle del envio
        ShipmentsRequest.findDetailByOrder({
            orderId: this.idOrder
        }).then( (response) => {
            let { data } = response.data;
            let { shippingDate, productList, status  } = data;

            this.shippingDate = shippingDate;
            //this.shipmentList = productList;

            console.log(productList);

            var orderDetailArray = [];

            for (var [index, value] of Object.entries(productList)) {
                let orderDetailItem = {
                    idCounter: index,
                    productKey : value.productKey,
                    product : value.product,
                    expirationDate : value.expirationDate,
                    fiscalFound: value.fiscalFound,
                    lot: value.lot,
                    quantity : value.quantity,
                    locationKey: value.locationKey
                };
                orderDetailArray.push(orderDetailItem);
            }

            this.shipmentList = orderDetailArray;

            this.status = status;
            

            if ( status == 4) {
                this.showSelect = false;
            } 

        }).catch(this.catchError).finally(()=>{
        });

    }
}
</script>
