<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item">Configuración</li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                           <button class="btn btn-success" v-if="showAction(1) && withPermissionName(permissions.PRODUCT_CREATE)" @click="changeAction(2)">
                                <i class="ti-plus"></i> Crear producto
                           </button>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0"><i class="ti-clipboard mr-2"></i>{{titleAction}}</h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field>
                            </v-card-title>
                            <div   v-if="showAction(1)"  >
                                    <!-- show-select -->
                                <v-data-table dense  :headers="headers" :items="list" sort-by="name"
                                    v-model="selected"
                                    item-key="idProduct"
                                    
                                    class="elevation-1" 
                                    @click:row="handleClick"
                                    
                                    :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                    loading-text="Carngando..."
                                    no-data-text="Sin resultados disponibles"
                                    no-results-text="Sin resultados coincidentes con la búsqueda"
                                    :search="search">
                                        
                                    <template v-slot:item.description="{ item}">
                                        <div>
                                            <small>{{item.description}}</small>
                                        </div>
                                    </template>
                                    <template v-slot:item.actions="{ item, index}">
                                        <div>
                                            <v-icon small class="ml-3" @click="edit(item, index)" v-if="withPermissionName(permissions.PRODUCT_UPDATE)">
                                                mdi mdi-square-edit-outline
                                            </v-icon>
                                            <div v-else>
                                                — —
                                            </div>
                                        </div>
                                        
                                    </template>
                                </v-data-table>
                                <div class="col-md-6" >
                                    <div class="invoice-footer-btn">
                                        <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                        <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                                    </div>
                                </div>
                            </div>
                            <v-card-text>

                                    <div id="form" v-if="showAction(2) || showAction(3)">
                                        <validation-observer ref="observer" v-slot="{ invalid }" >
                                            <form @submit.prevent="doAction">

                                                 <div class="row">
                                                    <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Causes" rules="required|max:255">
                                                        <v-text-field  v-model="model.productKey" :counter="255" :error-messages="errors"   label="Causes*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:800">
                                                            <v-text-field  v-model="model.name" :counter="800" :error-messages="errors" label="Nombre*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                         <validation-provider v-slot="{ errors }" name="Descripción" rules="required|max:800">
                                                              <v-textarea v-model="model.description" name="description" label="Descripción*" :error-messages="errors"
                                                              required counter rows="2" row-height="20"></v-textarea>
                                                        </validation-provider>
                                                    </div>
                                                </div>
                                               <div class="row">
                                                    <div class="col-md-4">
                                                        <validation-provider v-slot="{ errors }" name="Unidad de medida" rules="required">
                                                            <v-autocomplete auto-select-first :items="unitsMeasurement" attach v-model="model.unitMeasurement"
                                                            :error-messages="errors" no-data-text="Sin resultados" label="Unidad de medida" clearable>
                                                            </v-autocomplete>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-8">
                                                            <validation-provider v-slot="{ errors }" name="Categorías" rules="required">

                                                          <v-autocomplete   multiple   :items="categories"  attach
                                                                v-model="model.productsCategories" no-data-text="Sin resultados"
                                                                 chips label="Categorías" clearable 
                                                                 :error-messages="errors"
                                                                 >
                                                                 <template #selection="{ item, index}">
                                                                    <v-chip color="success"
                                                                    close @click:close="model.productsCategories.splice(index, 1)"
                                                                    >{{item.text}}</v-chip>
                                                                  </template>
                                                            </v-autocomplete>   
                                                            </validation-provider>
                                                     </div>
                                                    
                                                      
                                                </div>
                                                <div class="col-md-12 text-center">
                                                        <v-btn class="mr-5 mt-5" type="submit" :disabled="invalid || sending">
                                                        <i class="ti-save mr-3"></i> Guardar
                                                    </v-btn>
                                                    <v-btn class="mt-5" @click="changeAction(1)">
                                                        <i class="ti-close mr-3"></i> Cancelar
                                                    </v-btn>
                                                    
                                                </div>
                                            </form>
                                        </validation-observer>
                                    </div>
                        </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders,UtilFront,PermissionConstants } from "@/core";
import { ProductsRequest,CategoryRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default {
  data() {
    return {
      title: "Productos",
      remmisionList: [],
      selected: [],
      list: [],
      headers: DTHeaders.PRODUCTS,
      search: "",
      action: 1,
      sending: false,
      model:{productKey:'', name:'', description:'',productsCategories:[]},
      notifier: {notifying: false, type:"", message:""},
      index:0,
      categories:[],
      service: ProductsRequest,
      unitsMeasurement:[],
      permissions:PermissionConstants
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Productos";
      } else if (this.action == 2) {
        return "Registrar producto";
      } else if (this.action == 3) {
        return "Modificar producto";
      }
      return "Listado";
    },
  },
  methods: {
    handleClick(value){
    //   console.log(value);
    },
    showAction(action) {
          return this.action == action;
    },
    changeAction(action) {
        if(action == 1){
            this.$refs.observer.reset();
            this.model = {};
            this.action = action;
        }else{
            this.listAllCategories();
            this.listAllUnitMeasurement();
            this.action = action;
        }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message){
        if(type == "success"){
            this.notifier.type = 1;
            this.notifier.title = "¡Éxito!";
            this.notifier.message = message || "Acción realizada correctamente.";
        }else if(type == "error"){
            this.notifier.type = 2;
            this.notifier.title = "Error";
            this.notifier.message = message || "Ocurrio un error interno";
        }else{
            this.notifier.type = 3;
            this.notifier.title = "Advertencia";
            this.notifier.message = message || "Verifiqué la información ingresada";
        }
        this.notifier.notifying = true;

        if(type != "error"){
           setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
       }

    },
    catchError(error){
        console.log(error);
        this.notification("error","Ocurrio un error interno");
    },
    listAll() {
      this.service.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
              this.list = data.objects.map((obj)=>{
                  obj.categories = obj.productsCategories.map((cat)=>{
                      return cat.name;
                  }).join(", ");
                  obj.categories = obj.categories ? obj.categories : "Sin categorías";
                  return obj;
              });
          }
        })
        .catch(this.catchError);
    },
    add() {
        this.sending = true;
         this.service.add(this.model).then((res)=>{
            let { data } = res.data;
            let {message, success} = data;
            if(success == true){
                this.listAll();
                this.changeAction(1);
                this.notification("success","Registro realizado correctamente");
            }else{
                this.notification("error", message);
            } 
        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
    },
    update() {
        this.sending = true;
         this.service.update(this.model).then((res)=>{
            let { data } = res.data;
            let {message, success} = data;
            if(success == true){
                // this.list[this.index] = this.model;
                this.listAll();
                this.changeAction(1);
                this.notification("success","Cambios realizados correctamente");
            }else{
                this.notification("error", message);
            } 
        }).catch(this.catchError).finally(()=>{
            this.sending = false;
        });
    },
    edit(object, index) {
        this.index = index;
        Object.assign(this.model, object);
        this.model.productsCategories =  this.model.productsCategories.map((object) => {
              return {idCategory: object.idCategory};
        });
        this.changeAction(3);
    },
    listAllCategories(){
         CategoryRequest.listAll().then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.categories = data.objects.map((object) => {
                let fullName = object.name;
                if(object.name.trim().toLowerCase() != object.description.trim().toLowerCase()){
                    fullName += " "+object.description;
                }
              return {value: {idCategory: object.idCategory}, text:fullName};
            });
          }
        }).catch(this.catchError);
    },
    listAllUnitMeasurement(){
        this.service.listAllUnitMeasurement().then((res) => {
            let {data, success} = res.data;
            if(success){
                this.unitsMeasurement = data;
            }else{
                this.unitsMeasurement  = [];
                this.notification(message);
            }
        }).catch(this.catchError);
    },
    withPermission(numRol){
      return UtilFront.withPermission(numRol);
    },
     withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    excel(){
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportProducts({
        });
    }
  },
};
</script>

<style>
.theme--light.v-messages {
    color: rgb(255 0 0);
}
</style>