<template lang="es">

    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-12">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
      
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                           
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0"> 
                                   <i class="fa fa-user-circle-o"></i>  {{titleAction}}
                                </h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                <v-spacer></v-spacer>
                            </v-card-title>
                            <v-card-text>
                                <!-- <v-container> -->
                                    <div id="form" v-if="showAction(1)">
                                         
                                        <validation-observer ref="observer1" v-slot="{ invalid }" disabled>
                                            <form @submit.prevent="doAction" >
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <validation-provider   v-slot="{ errors }" name="Nombre" rules="required|max:100">
                                                        <v-text-field 
                                                              :disabled="isView"

                                                           v-model="model.name" :counter="100" :error-messages="errors"   label="Nombre*"
                                                            required autocomplete="off" ></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <validation-provider v-slot="{ errors }" name="Apellido(s)" rules="required|max:200">
                                                            <v-text-field :disabled="isView"  v-model="model.lastname" :counter="200" :error-messages="errors" label="Apellido(s)*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                   
                                                    <div class="col-md-6">
                                                        <validation-provider v-slot="{ errors }" name="Correo electrónico" rules="required|max:60|email">
                                                            <v-text-field :disabled="isView"  v-model="model.email" data-vv-as="emai" type="email" :counter="60" :error-messages="errors" label="Correo electrónico*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <validation-provider v-slot="{ errors }" name="Rol" rules="required">
                                                             <v-autocomplete :disabled="isView"  auto-select-first :items="roles" no-data-text="Sin resultados" attach
                                                                v-model="model.roleId"   :error-messages="errors"
                                                                clearable required 
                                                                 label="Rol" >
                                                            </v-autocomplete>                                                   
                                                           </validation-provider>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   <div class="col-md-12">
                                                        <validation-provider v-slot="{ errors }" name="Sucursal" rules="required">
                                                             <v-autocomplete  :disabled="isView"  :items="branchOffices" attach
                                                                v-model="model.branchOffices"  
                                                                :error-messages="errors" no-data-text="Sin resultados"
                                                                 label="Sucursal" clearable  multiple chips  deletable-chips>
                                                                 <template #selection="{ item, index }">
                                                                    <v-chip color="success" 
                                                                    close @click:close="model.branchOffices.splice(index, 1)"
                                                                    >{{item.text}}  </v-chip>
                                                                  </template>
                                                            </v-autocomplete>                                                   
                                                        </validation-provider>
                                                    </div>
                                                </div>
                                                 <!-- <v-spacer>
                                                   <hr></hr>
                                                 </v-spacer> -->
                                                 <!-- <div class="row">
                                                   <div class="col-md-12">
                                                     <h5 class="card-title mb-0"> 
                                                       <i class="fa fa-unlock-alt"></i> Cambiar contraseña
                                                      </h5>
                                                   </div>
                                                 </div>
                                                 <div class="row" >
                                                    <div class="col-md-6">
                                                        <validation-provider v-slot="{ errors }" name="Contraseña" rules="required|max:255|min:6">
                                                            <v-text-field type="password" name="password" v-model="model.password" :counter="255" :error-messages="errors" label="Contraseña*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <validation-provider v-slot="{ errors }" name="Confirmar contraseña"  rules="required|max:255|password:@Contraseña|min:6">
                                                            <v-text-field type="password" v-model="model.passwordConfirm" :counter="255" :error-messages="errors" label="Confirmar contraseña*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                 </div>
                                                 
                                                <div class="col-md-12 text-center">
                                                        <v-btn class="mr-5 mt-5"   type="submit" :disabled="invalid || sending">
                                                        <i class="ti-save mr-3"></i> Guardar
                                                    </v-btn>
                                                    <v-btn class="mt-5" @click="clearPassword()">
                                                        <i class="ti-close mr-3"></i> Cancelar
                                                    </v-btn>
                                                </div> -->
                                            </form>
                                        </validation-observer>
                                          

                                    </div>
                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
                <!-- update password -->
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                           
                            <v-card>
    
                            <v-card-text>
                                <!-- <v-container> -->
                                    <div id="form" v-if="showAction(1)">
                                         
                                        <validation-observer ref="observer2" v-slot="{ invalid }" disabled>
                                            <form @submit.prevent="updatePassword" >
                                                
                                                 <div class="row">
                                                   <div class="col-md-12">
                                                     <h5 class="card-title mb-0"> 
                                                       <i class="fa fa-unlock-alt"></i> Cambiar contraseña
                                                      </h5>
                                                   </div>
                                                 </div>
                                                 <div class="row" >
                                                    <div class="col-md-6">
                                                        <validation-provider v-slot="{ errors }" name="Contraseña" rules="required|max:255|min:6">
                                                            <v-text-field type="password" name="password" v-model="model.password" :counter="255" :error-messages="errors" label="Contraseña*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <validation-provider v-slot="{ errors }" name="Confirmar contraseña"  rules="required|max:255|password:@Contraseña|min:6">
                                                            <v-text-field type="password" v-model="model.passwordConfirm" :counter="255" :error-messages="errors" label="Confirmar contraseña*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                 </div>
                                                 
                                                <div class="col-md-12 text-center">
                                                        <v-btn class="mr-5 mt-5"   type="submit" :disabled="invalid || sending">
                                                        <i class="ti-save mr-3"></i> Guardar
                                                    </v-btn>
                                                    <v-btn class="mt-5" @click="clearPassword()">
                                                        <i class="ti-close mr-3"></i> Cancelar
                                                    </v-btn>
                                                </div>
                                            </form>
                                        </validation-observer>
                                          

                                    </div>
                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
                 <!-- update email -->
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                           
                            <v-card>
    
                            <v-card-text>
                                <!-- <v-container> -->
                                    <div id="form" v-if="showAction(1)">
                                         
                                        <validation-observer ref="observer3" v-slot="{ invalid }" disabled>
                                            <form @submit.prevent="updateEmail" >
                                                
                                                 <div class="row">
                                                   <div class="col-md-12">
                                                     <h5 class="card-title mb-0"> 
                                                       <i class="fa fa-unlock-alt"></i> Actualizar correo electrónico 
                                                      </h5>
                                                   </div>
                                                 </div>
                                                 <div class="row">
                                                    <div class="col-md-6">
                                                        <validation-provider v-slot="{ errors }" name="Correo electrónico" rules="required|max:60|email">
                                                            <v-text-field   v-model="email" data-vv-as="emai" type="email" :counter="60" :error-messages="errors" label="Correo electrónico*"
                                                            required autocomplete="off"></v-text-field>
                                                        </validation-provider>
                                                    </div>
                                                    <div class="col-md-6 text-right">
                                                        <v-btn class="mr-5 mt-5"   type="submit" :disabled="invalid || sending">
                                                          <i class="ti-save mr-3"></i> Guardar
                                                        </v-btn>
                                                        <v-btn class="mt-5" @click="clearEmail()">
                                                            <i class="ti-close mr-3"></i> Cancelar
                                                        </v-btn>
                                                    </div>
                                                </div>
                                            </form>
                                        </validation-observer>
                                          

                                    </div>
                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <div style="margin-bottom:100px"></div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders,UtilFront } from "@/core";
import { UserRequest, RolRequest, BranchOfficeRequest } from "@/core/request";
import { required, max, email,min  } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("email", {
  ...email,
  message: "{_field_} ingrese una dirección de correo valida",
});

extend('password', {
  params: ['target'],
  validate(value, { target }) {
    return value === target;
  },
  message: 'Las contraseñas no coinciden'
});


export default {
  data() {
    return {
      service: UserRequest,
      title: "Perfil",
      list: [],
      headers: DTHeaders.USERS,
      search: "",
      action: 1,
      sending: false,
      isView: true,
      model: {},
      branchOffices: [],
      branchOffice : {},
      roles: [],
      notifier: { notifying: false, type: "", message: "" },
      email:""
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    let infoUser = UtilFront.getDataUser();
    this.branchOffices = infoUser.branchOfficesSimple;
    Object.assign(this.model, infoUser);
    this.model.roleId = this.model.role.idRole;
    this.listAllBranchOfficesByUser();
    this.listAllRoles();
  },
  computed: {
    titleAction() {
      return "Información de usuario";
    }
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    doAction() {
        // this.update();
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

      if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }
    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    clearPassword(){
      this.model.password = ""
      this.model.passwordConfirm = "";
      this.$refs.observer2.reset();
    },
    clearEmail(){
      this.email = ""
      this.$refs.observer3.reset();
    },
    updatePassword() {
      this.sending = true;
      this.service
        .updatePassword(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            if(message == '' || message == undefined){
              this.$toast.success( "Contraseña actualizada correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
            this.clearPassword();
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    updateEmail(){
      this.sending = true;
      let paramss = {
        email: this.email,
        idUser: this.model.idUser
      };
      this.service
        .updateEmail(paramss)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            if(message == '' || message == undefined){
              let dataUser = UtilFront.getDataUser();
              dataUser.email = this.email;
              UtilFront.setDataUser(dataUser);
              this.isView = false;
              this.model.email = this.email;
              this.isView = true;
              this.$toast.success( "Correo actualizado correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
            this.clearEmail();
          } else {
              this.$toast.error(data.message || "Ocurrió un error interno.")
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    listAllBranchOffices(){
      BranchOfficeRequest.listAllActive().then((res) => {
        let { data } = res.data;
        if (data) {
          this.branchOffices = data.map((obj) => {        
              return {
                value: {idBranchoffice: obj.idBranchoffice},
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
          });
        }
      }).catch(this.catchError);
    },
    listAllRoles(){
      this.roles = [];
      RolRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.roles = data.objects.map((obj) => {        
              return {
                value: obj.idRole,
                text: obj.name,
              };
          });
          }
        })
        .catch(this.catchError);
    },
    listAllBranchOfficesByUser(){     
      this.service.listAllBranchOfficesByUserId(this.model.idUser).then((res) => {
          let { data } = res.data;
          let {  objects } = data;
          if (objects) {
            this.model.branchOffices = objects.map((object) => {
                return {idBranchoffice: object.idBranchoffice};
            });
          } else {
             this.model.branchOffices = [];
          }
      }).catch(this.catchError);
    }
  },
};
</script>

<style>

</style>