<template lang="es">

    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item">Recepción</li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                           <v-autocomplete v-if="showAction(1) && isMoreThanTwoBranchOffices" @change="onChageBranchOffice()" auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                              v-model="branchOffice" 
                              clearable  
                                label="Sucursal" >
                          </v-autocomplete> 
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
      
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                           
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0"> 
                                  <i class="fa fa-edit"></i>  {{titleAction}}
                                </h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                                <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar"
                                single-line hide-details></v-text-field>
                            </v-card-title>

                            <div id="list"  v-if="showAction(1)"  >
                                <v-data-table dense   :headers="headers" :items="list" sort-by="name"
                                    class="elevation-1" :search="search"
                                      :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                      loading-text="Carngando..."
                                      no-data-text="Sin resultados disponibles"
                                      no-results-text="Sin resultados coincidentes con la búsqueda"
                                    >
                                    <template v-slot:[`item.actions`]="{ item, index}">                  
                                          <div>
                                            <v-tooltip top>
                                              <template v-slot:activator="{ on, attrs }">
                                                <span style="cursor: pointer"  class="ml-3 icon-gray" @click="receiveShipment(item)" v-bind="attrs" v-on="on">
                                                  <i class="fa fa-arrow-right"></i>
                                                </span>
                                              </template>
                                            <span>Recibir envío</span>
                                          </v-tooltip>
                                        </div>

                                    </template>
                                </v-data-table>

                                <div class="col-md-6" >
                                    <div class="invoice-footer-btn">
                                        <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                        <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                                    </div>
                                </div>

                            </div>

                            <v-card-text>
                                    <div id="form" v-if="showAction(2) || showAction(3) || showAction(4)">
                                        <validation-observer ref="observer" v-slot="{ invalid }">
                                            <form @submit.prevent="doAction" >
                                              <v-divider></v-divider>
                                                <div class="row">
                                                     <div class="col-md-5">
                                                        <h5 class="text-fmedical-blue">
                                                          <i class="fa fa-truck"></i> Información de envío
                                                        </h5>
                                                     </div>
                                                     <div class="col-md-2 text-right"> 
                                                        <h5 :class="{'text-fmedical-green': leftovers == 0,'text-fmedical-yellow': leftovers>0}">
                                                          <i class="fa fa-plus" aria-hidden="true"></i> Sobrantes {{leftovers}}
                                                        </h5>
                                                     </div>
                                                     <div class="col-md-5 text-right"> 
                                                        <h5 :class="{'text-fmedical-green': missing == 0, 'text-fmedical-red': missing>0}">
                                                          <i class="fa fa-minus-circle" aria-hidden="true"></i> Faltantes {{missing}}
                                                        </h5>
                                                     </div>
                                                </div>
                                                
                                                 <div class="row">
                                                     <div class="col-md-4">
                                                        <i class="fa fa-map-marker text-fmedical-blue"></i> 
                                                        <strong> <span> Origen</span> </strong>
                                                        ({{model.origin.branchOfficeKey}}) {{model.origin.name}} 
                                                     </div>
                                                     <div class="col-md-3">
                                                        <i class="fa fa-user-circle-o text-fmedical-blue"></i> 
                                                        <strong> <span> Conductor(a)</span> </strong>
                                                        {{model.driver}}
                                                     </div>
                                                     <div class="col-md-3">
                                                        <i class="fa fa-calendar text-fmedical-blue"></i> 
                                                        <strong> <span> Fecha de envío</span> </strong>
                                                        {{model.dateshipment}}
                                                     </div>
                                                     <div class="col-md-2">
                                                        <i class="fa fa-truck text-fmedical-blue"></i> 
                                                        <strong> <span> Placa</span> </strong>
                                                        {{model.tag}}
                                                     </div>
                                                </div>
                                                <v-divider></v-divider>
                                                <div class="row" style="margin:3px">
                                                    <div class="table-responsive ">
                                                      <table class="table table-hover table-striped">
                                                          <thead class="thead-dark">
                                                              <tr>
                                                                  <th scope="col">#</th>
                                                                  <th scope="col" style="width:10%">CAUSES</th>
                                                                  <th scope="col" style="width:30%">Producto</th>
                                                                  <th scope="col" class="text-center">Fuente financiamiento</th>
                                                                  <th scope="col" class="text-center">Fecha caducidad</th>
                                                                  <th scope="col" class="text-center">Lote</th>
                                                                  <th scope="col" class="text-center">Cantidad envíada</th>
                                                                  <th scope="col" class="text-center">Cantidad recibida</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                            <tr v-for="(item, index) in model.orderStocks">
                                                                <td>{{(index+1)}}</td>
                                                                <td>{{item.productKey}}</td>
                                                                <td>{{item.productName}} </td>
                                                                <td class="text-center">{{item.fiscalFund}}</td>
                                                                <td class="text-center">{{item.expirationDate}}</td>
                                                                <td class="text-center">{{item.lot}}</td>
                                                                <td class="text-center" style="width:10%">{{item.quantity}}</td>
                                                                <td class="text-center" style="width:10%" >
                                                                   <validation-provider v-slot="{ errors }" name="Cantidad recibida" rules="required">
                                                                          <v-text-field class="thin-number" v-model="model['orderStocks'][index]['quantityReceived']" type="number"
                                                                          required min="0"
                                                                          :error-messages="errors"
                                                                          oninput="if(Number(this.value) < Number(this.min)) this.value = this.min;"
                                                                          name="quantityReceived"
                                                                          @change="calculateStatus"
                                                                          ></v-text-field>
                                                                    </validation-provider>
                                                                   <small  :class="{'text-fmedical-yellow':item.quantityReceived > item.quantity, 'text-fmedical-red':item.quantityReceived < item.quantity}">
                                                                      {{messageQuantity(item)}}
                                                                    </small>
                                                                </td>
                                                            </tr>
                                                      </tbody>
                                                  </table>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                         <validation-provider v-slot="{ errors }" name="Comentario" rules="max:800">
                                                              <v-textarea v-model="model.comment" name="comment" label="Comentario (opcional)" :error-messages="errors"
                                                              counter rows="2" max="800" row-height="20"></v-textarea>
                                                        </validation-provider>
                                                    </div>
                                                </div>
                                                
                                                <v-divider></v-divider>

                                                <div class="col-md-12 text-center">
                                                        <v-btn class="mr-5 mt-5" v-if="!showAction(4)"  type="submit" :disabled="invalid || sending">
                                                        <i class="ti-save mr-3"></i> Guardar
                                                    </v-btn>
                                                    <v-btn class="mt-5" @click="changeAction(1)">
                                                        <i class="ti-close mr-3"></i> Cancelar
                                                    </v-btn>
                                                    
                                                </div>
                                            </form>
                                        </validation-observer>
                                          
  
                                    </div>
                            <!-- </v-container> -->
                            </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders,UtilFront } from "@/core";
import { ReceptionRequest, UserRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      service: ReceptionRequest,
      title: "Pendientes",
      list: [],
      headers: DTHeaders.RECEPTION_PENDING,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      branchOffice: {},
      branchOffices: [],
      isFull: false,
      isIncomplete: false,
      isMoreThan: false,
      statusText: "Completo",
      message: "",
      leftovers : 0,
      missing: 0
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    let infoUser = UtilFront.getDataUser();
    this.branchOffices = infoUser.branchOfficesSimple;
    if (this.branchOffices.length > 0) {
        this.branchOffice = this.branchOffices[0].value;
    }
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Recepciones pendientes";
      } else if (this.action == 2) {
        return "Registrar recepción";
      } else if (this.action == 3) {
        return "Modificar recepción";
      } else if (this.action == 4) {
        return "Información de recepción";
      }
      return "Listado";
    },
    isMoreThanTwoBranchOffices() {
      return this.branchOffices.length > 1;
    }
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

      
if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.listAllByBranchOffice();
    },
    listAllByBranchOffice() {
      this.list = [];
      this.service.listAllByBranchOffice(this.branchOffice.idBranchoffice).then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.list = data.objects.map((obj) => {
              if (obj.origin) {
                obj.fullNameOrigin = `(${obj.origin.branchOfficeKey}) ${obj.origin.name} `;
              }
              return obj;
            });
          }
      }).catch(this.catchError);
    },
    add() {
      this.sending = true;
      let infoUser = UtilFront.getDataUser();
      this.model.idUser = infoUser.idUser;
      this.service
        .add(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Registro realizado correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {},
    receiveShipment(object) {
      Object.assign(this.model, object);
      this.listAllOrderStockByShipment();
    },
    onChageBranchOffice() {
      this.listAllByBranchOffice();
    },
    listAllOrderStockByShipment() {
      this.sending = true;
      this.service
        .listAllOrderStockByShipment(this.model.idShipment)
        .then((res) => {
          let { data } = res.data;
          let { message, success, object } = data;
          if (success == true) {
            this.model = object;
            this.model.orderStocks = this.model.orderStocks.map((obj) => {
              obj.quantityReceived = Number(obj.quantity);
              return obj;
            });
            this.calculateStatus();
            this.changeAction(2);
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
     messageQuantity(item){
      let result = item.quantityReceived - item.quantity;
      if(result == 0 ){
          return "";
      }else if(result < 0){
        return `${result*-1} faltantes`;
      }else if(item.quantityReceived > item.quantity){
        return `${result} sobrantes`;
      }
    },
    calculateStatus() {
      this.missing = 0;
      this.leftovers = 0;
      this.model.orderStocks.forEach(item => {
          let result = item.quantityReceived - item.quantity;
          if(result < 0){
            this.missing = this.missing + (result * -1);
          }else if(item.quantityReceived > item.quantity){
            this.leftovers = this.leftovers + result;
          }
      });
    },
    excel(){
      this.$toast.success("Generando documento Xlsx");
      ExcelRequest.reportReceptionPending({
        id : this.branchOffice.idBranchoffice
      });
    }
  },
};
</script>

<style>
</style>