<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar" data-app>
    <Sidebar />
    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      <div class="breadcrumbbar">
        <div class="row align-items-center">
          <div class="col-md-8 col-lg-8">
            <h4 class="page-title">{{title}}</h4>
            <div class="breadcrumb-list">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/entradas">Entradas</a></li>
                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
              </ol>
            </div>
          </div>
          <div class="col-lg-4 text-right">
          <!--Modificación de boton se hizo de color azul-->
            <button  @click="$router.push('/entradas');" class="btn btn-primary">
              <i class="ti-arrow-left mr-2"></i> Regresar
            </button>
          <!--Modificación de boton se hizo de color azul-->
          </div>
        </div>
      </div>

      <div class="contentbar">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card m-b-30">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-12">
                    <h5 class="card-title mb-0"><i class="ti-file mr-2"></i> Registro de Remisión</h5>
                  </div>
                  <div v-if="showMessage" class="col-lg-12">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>!Exito¡</strong> Se ha creado la Remisión correctamente
                      <button type="button" @click="showMessage = false" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    </div>
                </div>
              </div>
              <div class="card-body">
                <validation-observer ref="observer" v-slot="{ invalid }">
                  <form @submit.prevent="submit">
                    <div class="row">
                      <div class="col-md-4" v-if="branchOffices.length > 1">
                        <v-autocomplete :disabled="loading"  @change="listAllRequisitionGob()" 
                        auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                              v-model="branchOffice" 
                              clearable  
                                label="Sucursal" >
                          </v-autocomplete> 
                      </div>
                      <div :class="{'col-md-3': branchOffices.length > 1, 'col-md-5': branchOffices.length == 1}">
                        <validation-provider v-slot="{ errors }" name="Remisión" rules="required|max:30">
                          <v-text-field :disabled="loading" v-model="remissionkey" :counter="30" :error-messages="errors" label="Remisión*"
                            required></v-text-field>
                        </validation-provider>
                      </div>

                      <div :class="{'col-md-3': branchOffices.length > 1, 'col-md-5': branchOffices.length == 1}">
                        <validation-provider v-slot="{ errors }" name="Pedido" rules="required">
                          <v-select :disabled="loading" v-model="requisitionGobId" no-data-text="Sin resultados" :items="requisitionGovList" :error-messages="errors"
                            label="Pedido*" data-vv-name="select" required></v-select>
                        </validation-provider>

                        <validation-provider name="productRemmissionEr" vid="productRemmissionEr" rules="required" v-slot="{ errors, failedRules }">
                        </validation-provider>
                      </div>

                      <div class="col-md-5">
                        <validation-provider v-slot="{ errors }" name="Factura" rules="max:30">
                          <v-text-field :disabled="loading" v-model="invoice" :counter="30" :error-messages="errors" label="Factura*"
                            required></v-text-field>
                        </validation-provider>
                      </div>
                      
                      <div class="col-md-5">
                      </div>

                      <div class="col-md-2 text-right">
                        <v-btn  type="button" @click="validateForm" :disabled="invalid || loading">
                          <i class="ti-save mr-3"></i> Guardar
                        </v-btn>
                      </div>
                    </div>

                  </form>
                </validation-observer>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card m-b-30">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-12">
                    <h5 class="card-title mb-0"><i class="ti-file mr-2"></i> Registro de Productos</h5>
                  </div>
                </div>
              </div>
              <Datatable :dataList="productTableList" :headers="productsHeader" :deleteItemRemmi="true" v-on:deleteRecordRemmi="deleteRecordRemmi" />
              <div class="card-body">
                    <!--<v-data-table :headers="productsHeader" :items="productTableList" item-key="idBidding" class="elevation-1" 
                    :custom-filter="filterOnlyCapsText" 
                     :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                    loading-text="Carngando..."
                    no-data-text="Sin resultados disponibles"
                    no-results-text="Sin resultados coincidentes con la búsqueda"
                    dense>
                    </v-data-table>-->
                <hr>
                <validation-observer ref="observer2" v-slot="{ invalid }">
                  <form @submit.prevent="addProduct">
                    <div class="row">
                      <div class="col-md-12">
                        <validation-provider v-slot="{ errors }" name="Producto" rules="required">
                            <v-autocomplete auto-select-first :items="productFormList" v-model="itemProduct" label="Producto*" >
                              <template slot="item" slot-scope="data">
                                <div class="pt-5">
                                  {{data.item.text}}
                                </div>
                              </template>

                              <template slot="selection" slot-scope="data">
                                <div class="pt-5">
                                  {{data.item.text}}
                                </div>
                              </template>
                            </v-autocomplete>
                        </validation-provider>
                      </div>
                      <div class="col-md-3">
                        
                        <!-- <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="itemDate"
                          transition="scale-transition" offset-y min-width="auto">
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field v-model="itemDate" label="Selecciona una Fecha" prepend-icon="mdi-calendar" 
                              v-bind="attrs" v-on="on"></v-text-field>
                          </template>
                          <v-date-picker v-model="itemDate" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="menu = false">
                              Cancelar
                            </v-btn>
                            <v-btn text color="primary" @click="$refs.menu.save(itemDate)">
                              Ok
                            </v-btn>
                          </v-date-picker>
                        </v-menu> -->

<!-- {{itemDate}} -->
                        <!-- <vc-date-picker v-model="itemDate"  :model-config="{type: 'string',mask: 'YYYY-MM-DD'}"
                        is-required
                        >
                          <template v-slot="{ inputValue, inputEvents }"> -->
                          
                            <v-text-field v-model="itemDate" label="Selecciona una Fecha" 
                                                     type="date"
                                                      ></v-text-field> 


<!-- 
                          </template>
                        </vc-date-picker> -->











                      </div>
                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Lote" rules="required|max:30">
                          <v-text-field v-model="itemLot" :counter="30" :error-messages="errors" label="Lote*"
                            required></v-text-field>
                        </validation-provider>
                      </div>
                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Cantidad" rules="required|numeric">
                          <v-text-field v-model="itemQuantity" :error-messages="errors" label="Cantidad*"
                            required></v-text-field>
                        </validation-provider>
                      </div>
                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Costo Unitario" rules="required|double">
                          <v-text-field placeholder="0.00000" @input="restrictDecimal"  prefix="$" v-model="itemPrice" :error-messages="errors" label="Costo Unitario*"
                            required></v-text-field>
                        </validation-provider>
                      </div>
                      <div class="col-md-12">
                        <v-btn type="submit" class="float-right" :disabled="invalid">
                          <i class="ti-plus mr-3"></i> Añadir
                        </v-btn>
                      </div>
                    </div>
                  </form>
                </validation-observer>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End Contentbar -->
      <Footer />

    </div>

    <!-- End Rightbar -->
    

            <v-row justify="center">
                <v-dialog v-model="dialog" persistent max-width="580">
                <v-card>
                    <v-card-title class="headline">
                        <div class="row">
                          <div class="col-md-12" style="overflow-wrap: inherit;">
                            <p v-if="sending">
                               Procesando entrada de productos..
                            </p>
                            <p v-if="!sending">
                              ¿Desea finalizar la entrada de productos?
                            </p>
                          </div>
                        </div>
                        
                    </v-card-title>
                    <v-card-text>
                        {{ sending ? '' : 'Finalizar entrada de productos'}}
                    </v-card-text>
                    <v-card-text v-if="sending">
                        <div class="text-center">
                            <v-progress-circular indeterminate color="#05AF12" :size="70" />
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :disabled="sending" color="red darken-1" text @click="dialog=false">Cerrar</v-btn>
                        <v-btn :disabled="sending" color="green darken-1" text @click="submit">Aceptar</v-btn>
                    </v-card-actions>
                </v-card>
                </v-dialog>
            </v-row>

  </div>

  <!-- End Containerbar -->
  <!-- Start js -->
</template>
<script>
import { Topbar, Sidebar, Footer, Datatable } from "@/components";
import { ServicePath, DTHeaders,UtilFront } from "@/core";
import { required, max, numeric, double } from "vee-validate/dist/rules";
import moment from 'moment';

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
import axios from "axios";

setInteractionMode("eager");

extend("double", {
  ...double,
  message: "{_field_} debe contener decimales. ({_value_})"
});

extend("numeric", {
  ...numeric,
  message: "{_field_} debe ser un número entero. ({_value_})"
});
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});

extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default {
  data() {
    return {
      title: "Crear Remisión",
      menu: false,
      remissionkey: "",
      requisitionGobId: "",
      requisitionGovList: [],
      productsHeader: DTHeaders.CREATE_REMMISION,
      productServerList: [],
      productFormList: [],
      produdctsRemmision: [],
      productTableList: [],
      showMessage: false,
      itemCount: 1,
      loading: false,

      /* Facturas */
      invoice: '',

      /** Prodcut Form */
      itemName: "",
      itemProduct: "",
      itemDate: new Date().toISOString().substr(0, 10),
      itemLot: "",
      itemQuantity: "",
      itemPrice: "",
      user: {},
      branchOffices:[],
      branchOffice:{},
      dialog: false,
      sending:false
    };
  },
  components: {
    Datatable,
    Topbar,
    DTHeaders,
    Sidebar,
    Footer,
    ValidationProvider,
    ValidationObserver,
    
  },
  computed:{
    
  },
  methods: {
    addProduct() {

      if ( this.itemProduct != '' ) {

        var numeral = require("numeral");

        let value = Number(this.itemPrice);      
        this.itemPrice = value.toFixed(5);

        let idTemp = Date.now();

        this.$refs.observer2.validate;
        let itemProductList = {
          id: idTemp,
          productId: this.itemProduct,
          lot: this.itemLot,
          quantity: parseInt(this.itemQuantity),
          expirationDate: this.itemDate,
          unitprice: parseFloat(this.itemPrice)
        };

        /** FindElement */
        var id = this.itemProduct;
        let itemServer = this.productServerList.find(function(prodct, index) {
          index;
          if (prodct.idProduct == id) {
            return true;
          }
        });

        let itemProductListTable = {
          id: idTemp,
          productKey : itemServer.productKey,
          name: itemServer.name + itemServer.description,
          unit: itemServer.unit,
          expirationDate: this.itemDate,
          lot: this.itemLot,
          quantity: this.itemQuantity,
          costo: numeral(this.itemPrice).format("0,0.00000")
        };

        this.produdctsRemmision.push(itemProductList);
        this.productTableList.push(itemProductListTable);
        this.clearAddProduct();
        this.itemCount++;
      }
      
    },
    clearAddProduct() {
      this.itemName = "";
      this.itemProduct = "";
      this.itemDate = new Date().toISOString().substr(0, 10);
      this.itemLot = "";
      this.itemQuantity = "";
      this.itemPrice = "";
      this.$refs.observer2.reset();
    },
    clear() {
      this.requisitionGobId = "";
      this.remissionkey = "";
      this.$refs.observer.reset();
    },
    validateForm(){
      this.$refs.observer.validate;
       if (this.produdctsRemmision.length <= 0) {
        this.$toast.error('Debes Ingresar un Producto para agregar la Remisión');
      } else {
        this.dialog = true;
      }
    },
    submit() {

        this.$toast.success("Procesando solicitud, por favor espere..");
        this.loading = false;
        this.sending = true;
        let params = { 
          remissionkey: this.remissionkey,
          requisitionGobId: this.requisitionGobId,
          produdctsRemmision: this.produdctsRemmision,
          idUser: this.user.idUser,
          invoice: this.invoice || 'ND',
        };

        axios.post(ServicePath.CREATE_REMMISION, params).then(response => {
            if (response.data.data.success) {

              this.$router.push('/entradas');

              this.showMessage = true;
              this.productTableList = [];
              this.clear();
              this.$toast.success("Entrada agregada");

            }else{
                this.$toast.error(response.data.data.message || "Ocurrio un error interno");
            }

        }).catch( (error) => {
          this.$toast.error( "Ocurrio un error interno, revise su conexión a internet" );
        }).finally(()=>{
          this.dialog = false;
          this.sending = false;
        });

    },
    filterOnlyCapsText(value, search) {
      return (
        value != null &&
        search != null &&
        typeof value === "string" &&
        value
          .toString()
          .toLowerCase()
          .indexOf(search) !== -1
      );
    },
    listAllRequisitionGob(){
       this.requisitionGovList = [];
      if(this.branchOffice != null){

        axios.post(ServicePath.REQUISITION_LIST_BY_BRANCH_OFFICE, {id : this.branchOffice.idBranchoffice}).then(response => {

          for (var [index, value] of Object.entries(response.data.data.objects)) {
            index;
            let requisitionItem = {
              text: value.requisitionKey,
              value: value.idRequisitionGob
            };
            this.requisitionGovList.push(requisitionItem);
          }
          
          
        });

      }
    },
    listAllProducts(){
      axios.post(ServicePath.GET_ALL_PRODUCTS).then(response => {
          this.productServerList = response.data.data.objects;
          for (var [index, value] of Object.entries(response.data.data.objects)) {
            index;
            let productItem = {
              text: value.productKey + " | " + value.name + " " + value.description + " | Presentación " + value.unit,
              value: value.idProduct
            };
            this.productFormList.push(productItem);
          }
        });
    },
    deleteRecordRemmi(item){

      let currentIndex = this.productTableList.findIndex( (element) => element.id == item.item.id);

      this.productTableList.splice(currentIndex, 1);
      this.produdctsRemmision.splice(currentIndex, 1);

      console.log(currentIndex);

      console.log(this.productTableList);
      console.log(this.produdctsRemmision);

    },
    restrictDecimal () {
      this.itemPrice=this.itemPrice.match(/^\d+\.?\d{0,5}/);
    }
  },
  created() {
    let infoUser = UtilFront.getDataUser();
    this.user = infoUser;
    this.branchOffices = infoUser.branchOfficesSimple;
    if (this.branchOffices.length > 0) {
        this.branchOffice = this.branchOffices[0].value;
    }
    this.listAllRequisitionGob();
    this.listAllProducts();
  },

};
</script>
