<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar" data-app>
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-3">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                        <v-autocomplete v-if="branchOffices.length > 1" @change="listAll()" auto-select-first
                            :items="branchOffices" no-data-text="Sin resultados" attach v-model="branchOffice" clearable
                            label="Sucursal">
                        </v-autocomplete>
                    </div>
                    <div class="col-lg-5 text-right">
                        <button class="btn btn-success mr-2" @click=" dialogMovEx = true " > <i class="fa fa-file-excel-o"></i> Reporte de Entradas </button>
                        <button v-if="showRequisitionSection" class="btn btn-primary" @click="toggleRemmisionSection" ><i class="ti-folder mr-2"></i> Pedidos</button>
                        <button v-else class="btn btn-primary" @click="toggleRemmisionSection"><i class="ti-file mr-2"></i> Remisiones</button>
                    </div>
                </div>
            </div>
            
            <div class="contentbar">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template v-if="showRequisitionSection">
                            <v-card>
                                <v-card-title>
                                    <h5 class="card-title mb-0"><i class="ti-file mr-2"></i> Entradas</h5>
                                    <v-spacer></v-spacer>
                                    
                                    <v-text-field v-model="search" v-if="showAction(1) " append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                                    <button class="btn btn-success ml-4" @click="createRemmision" v-if="withPermissionName(permissions.REMISION_CREATE)">
                                            <i class="ti-plus mr-2"></i>Crear Remisión
                                    </button>
                                </v-card-title>
                                <div class="row ml-1" v-if="showAction(1)">

                                    <div class="col-lg-4 text-right" id="handCalendar">
                                        <vc-date-picker color="green" v-model="date" is-range>
                                            <template v-slot="{ inputValue, inputEvents }">
                                                <div class="flex justify-center items-center">
                                                <v-text-field
                                                    v-on="inputEvents.start"
                                                    :value="dateCompuded"                                                       
                                                    label="Rango de fechas"
                                                    :append-outer-icon="validData ? 'mdi-eraser' : 'mdi-calendar'"
                                                    @click:append-outer="clearCalendar"
                                                    :disabled-input="validData"
                                                ></v-text-field>
                                                
                                                </div>
                                            </template>
                                        </vc-date-picker> 
                                    </div> 
                                    <div class="col-lg-4">
                                            <v-autocomplete v-if="suppliers.length > 1" @change="filter()" auto-select-first
                                        :items="suppliers" no-data-text="Sin resultados" attach v-model="supplier"
                                        clearable label="Proveedor"
                                        
                                        >
                                            </v-autocomplete>
                                    </div>
                                    
                                </div>
                                <!--Por aquí se podría modificar-->
                                <v-data-table v-if="showAction(1)" dense :headers="remmisionHeaders" :items="remmisionList"
                                    sort-by="dateInput" class="elevation-1" :search="search"
                                    :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                    loading-text="Carngando..." no-data-text="Sin resultados disponibles"
                                    no-results-text="Sin resultados coincidentes con la búsqueda">
                                    <template v-slot:[`item.availableText`]="{ item}">
                                        <v-switch color="success" class="hand" dense
                                            @change="confirmchangeStatus(item)" inset v-model="item.available">
                                        </v-switch>
                                    </template>

                                    <template v-slot:[`item.actions`]="{ item, index}">
                                        <div>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span class="ml-3 hand" @click="view(item)"
                                                        v-bind="attrs" v-on="on">
                                                        <i class="dripicons-preview"></i>
                                                    </span>
                                                </template>
                                                <span>Ver</span>
                                            </v-tooltip>

                                            <v-tooltip top>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span class="ml-3 hand text-fmedical-red"
                                                        @click="downloadPDF(item.idRemmision)" v-bind="attrs"
                                                        v-on="on">
                                                        <i class="fa fa-file-pdf-o"></i>
                                                    </span>
                                                </template>
                                                <span>Descargar PDF</span>
                                            </v-tooltip>

                                            <!-- (Modificacion) Se agrego elboton de editar remision -->
                                            <v-tooltip top v-if="withPermissionName(permissions.REMISION_EDIT)" >
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-icon small class="ml-3" @click="updateRecord(item)" v-bind="attrs" v-on="on">
                                                    mdi mdi-square-edit-outline
                                                    </v-icon>
                                                </template>
                                                <span>Editar</span>
                                            </v-tooltip>

                                        </div>
                                    </template>
                                </v-data-table>
                                <div class="col-md-6" v-if="showAction(1)">
                                    <div class="invoice-footer-btn">
                                        <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                        <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                                    </div>
                                </div>
                                <v-card-text>
                                    <div id="form" v-if="showAction(2)">
                                        <v-divider></v-divider>
                                        <div id="informacionEnvio">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <h5 class="text-fmedical-blue">
                                                        <i class="fa fa-truck"></i> Información de remisión
                                                    </h5>
                                                </div>
                                                <div class="col-md-1 text-right">
                                                    <v-tooltip top>
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <span class="ml-3 hand text-fmedical-red fa-2x"
                                                                @click="downloadPDF(model.idRemmision)" v-bind="attrs"
                                                                v-on="on">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </span>
                                                        </template>
                                                        <span>Descargar PDF</span>
                                                    </v-tooltip>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong> <span> ID Remisión</span> </strong>
                                                    {{model.idRemmision}}
                                                    <br>
                                                    <strong> <span> Remisión</span> </strong>
                                                    {{model.remissionkey}}
                                                    <br>
                                                    <strong> <span> Número de registros</span> </strong>
                                                    {{model.productsRemmision.length}}
                                                    <br>
                                                    <strong> <span> Piezas</span> </strong>
                                                    {{model.totalProducts}}
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    <strong> <span> Estatus</span> </strong>
                                                    {{model.status}}
                                                    <br>
                                                    <strong> <span> Proveedores</span> </strong>
                                                    {{model.suppliersName}}
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    <strong> <span> Fecha de ingreso</span> </strong>
                                                    {{model.dateInput}}
                                                    <br>
                                                    <strong> <span> Responsable</span> </strong>
                                                    {{model.managerInput}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <v-divider></v-divider>
                                        <div class="row" style="margin:3px">
                                            <div class="table-responsive ">
                                                <table class="table table-hover table-striped">
                                                    <thead class="thead-dark" style="line-height: 0.5;">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">CAUSES</th>
                                                            <th scope="col">Producto</th>
                                                            <th scope="col" style="width: 35%">Presentación</th>
                                                            <th scope="col">Lote</th>
                                                            <th scope="col" style="width: 10%">Caducidad</th>
                                                            <th scope="col">Precio</th>
                                                            <th scope="col">Cantidad</th>
                                                            <th scope="col">Financiamiento</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-if="model.productsRemmision.length == 0">
                                                            <td colspan="9">
                                                                Sin resultado disponibles
                                                            </td>
                                                        </tr>
                                                        <tr v-for="(item, index) in model.productsRemmision">
                                                            <td class="text-center">{{(index+1)}}</td>
                                                            <td>{{item.productKey}}</td>
                                                            <td>{{item.productName}}</td>
                                                            <td style="width: 35%">{{item.productDescription}}</td>
                                                            <td class="text-center">{{item.lot}}</td>
                                                            <td style="width: 10%">{{item.expirationDate}}</td>
                                                            <td class="text-center">
                                                                ${{item.unitprice  | numFormat('0.000')}}</td>
                                                            <td class="text-center"> {{item.quantity}}</td>
                                                            <td class="text-center"> {{item.fiscalFund}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <v-divider></v-divider>
                                        <div class="col-md-12 text-center">
                                            <v-btn class="mt-5" @click="changeAction(1)">
                                                <i class="ti-close mr-3"></i> Volver
                                            </v-btn>
                                        </div>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </template>
                        <v-card v-else>
                            <v-card-title>
                                <h5 class="card-title mb-0"><i class="ti-folder mr-2"></i> Pedidos </h5>
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-4">
                                        <v-text-field v-model="searchReq" append-icon="mdi-magnify" label="Buscar" single-line hide-details style="margin-top: -10px;"></v-text-field>
                                    </div>
                                    <div class="col-md-2 text-right" style="position:absolute; right:0;" v-if="withPermissionName(permissions.REMISION_ORDER)">
                                        <AddRequisitionGov v-on:requisitionGovUpdate="listAllRequisitionGob" />
                                    </div>
                                </div>
                            </v-card-title>
                            <v-data-table :headers="requisitionHeaders" :items="requitionGovList" sort-by="name"
                                class="elevation-1"
                                :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                                loading-text="Carngando..." no-data-text="Sin resultados disponibles"
                                no-results-text="Sin resultados coincidentes con la búsqueda" :search="searchReq">
                            </v-data-table>
                            <div class="col-md-6" >
                                <div class="invoice-footer-btn">
                                    <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                    <button @click="excelPedido" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                                </div>
                            </div>
                        </v-card>
                    </div>
                </div>
            </div>

            <v-row justify="center">
                <v-dialog v-model="dialogMovEx" max-width="350"  >
                    <v-card>
                        <v-card-title class="headline">
                        <small style="font-size: 100%;">Reporte Entradas</small>
                        </v-card-title>
                        <v-container >
                            <validation-observer ref="observer3" v-slot="{ invalid }" >
                                <form @submit.prevent="excelMovementsStock">
                                    <div class="col-md-12 text-center">
                                    <v-text-field
                                            :readonly="true"
                                            :value="dateCompudedMov"                                                       
                                            label="Rango de fechas"
                                            :append-outer-icon="validDataMov ? 'mdi-eraser' : 'mdi-calendar'"
                                            @click:append-outer="clearCalendarMov"
                                            :disabled-input="validDataMov"
                                        />
                                    </div>
                                    <div class="col-md-12 text-center">
                                    <vc-date-picker color="green" v-model="dateMov" is-range>
                                    </vc-date-picker> 
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <v-btn class="mr-4 mt-4" type="submit" >
                                            <i class="ti-reload mr-1"></i> Generar
                                        </v-btn>
                                        <v-btn class="mt-4" @click="dialogMovEx = false">
                                            <i class="ti-close mr-1"></i> Cancelar
                                        </v-btn>
                                    </div>
                                </form>
                            </validation-observer>
                        </v-container>
                    </v-card>
                </v-dialog>
            </v-row>


            <Footer />
        </div>
        <form method="POST" :action="pathReport" ref="reportForm">
            <input type="hidden" id="idSucursal" name="idSucursal" />
            <br>
            <input type="hidden" id="idRemision" name="idRemision" />
        </form>
    </div>
</template>

<script type="ts">
import {Topbar, Sidebar, Footer, Datatable} from '@/components'
import AddRequisitionGov from '@/components/forms/AddRequisitionGov.vue'
import { DTHeaders, ServicePath, UtilFront, PermissionConstants } from '@/core'
import { SupplierRequest,ExcelRequest } from "@/core/request";

import {
  ValidationObserver
} from "vee-validate";
import axios from 'axios'
import moment from 'moment';

export default{

    data(){
        return {
            title : 'Entradas',
            remmisionHeaders : DTHeaders.REMMISION,
            requisitionHeaders : DTHeaders.REQUISITION,
            remmisionList: [],
            remmisionListFull: [],
            requitionGovList: [],
            showRequisitionSection: true,
            user:{},
            branchOffice: {},
            branchOffices:[],
            search:"",
            model:{},
            action: 1,
            pathReport: ServicePath.REPORT_PRODUCT_ENTRY,
            modal:false,
            date:"",
            dateModel: { startDate:'',endDate:'' },
            suppliers: [],
            supplier:"",
            searchReq: "",
            dialogMovEx: false,

            
            dateMov: '',
            dateModelMov: { startDate:'',endDate:'' },
            permissions: [],

            /* (Nuevo) permisos */
            permissions: PermissionConstants,
        }
    },
    components:{
        Topbar,
        Sidebar,
        Footer, 
        Datatable,
        AddRequisitionGov,
        ValidationObserver
    },
    computed:{
        dateCompuded(){
            if(this.date == "" || this.date == null || this.date ==  undefined){
                return "";
            }



            return `${moment(this.date.start).format('YYYY-MM-DD')} al ${moment(this.date.end).format('YYYY-MM-DD')}`;
        },
        validData(){
            if(this.date == "" || this.date == null || this.date ==  undefined){
                return false;
            }
            this.filter();
            return true;
        },
      dateCompudedMov(){
          if(this.dateMov == "" || this.dateMov == null || this.dateMov ==  undefined){
              return "";
          }

          this.dateModelMov.startDate = moment(this.dateMov.start).format('YYYY-MM-DD');
          this.dateModelMov.endDate = moment(this.dateMov.end).format('YYYY-MM-DD');

          return `${moment(this.dateMov.start).format('YYYY-MM-DD')} al ${moment(this.dateMov.end).format('YYYY-MM-DD')}`;
      },
      validDataMov(){
          if(this.dateMov == "" || this.dateMov == null || this.dateMov ==  undefined){
              return false;
          }
          //this.filter();
          return true;
      }
    },
    methods:{
        showAction(action) {
        return this.action == action;
        },
        changeAction(action) {
            if (action == 1) {
                this.model = {};
                this.action = action;
            } else {
                this.action = action;
            }
        },
        toggleRemmisionSection(){
            this.showRequisitionSection = this.showRequisitionSection === true ? false : true;
        },
        createRemmision(){
            this.$router.push('/entradas/nueva');
        },
        listAll(){
            this.remmisionList = [];
            this.requitionGovList = [];
            if(this.branchOffice != null){
                this.date = "";
                this.supplier = null
                this.listAllRemmisions();
                this.listAllRequisitionGob();
            }
        },
        listAllRemmisions(){
            axios.post(ServicePath.LIST_ALL_REMMISIONS_BY_BRANCH, { id : this.branchOffice.idBranchoffice}).then(response => {
                this.remmisionList = response.data.data.objects;
                if(this.remmisionList){
                    this.remmisionList = this.remmisionList.map((obj)=>{
                        obj.suppliersName = obj.suppliers.map((supplier)=>{
                        return supplier.name
                        }).join(", ") || "Sin proveedores";
                        return obj;
                    });
                    this.remmisionListFull = this.remmisionList.map((r)=>{ return r});
                }
            });
        },
        listAllRequisitionGob(){
            axios.post(ServicePath.REQUISITION_LIST_BY_BRANCH_OFFICE, {id : this.branchOffice.idBranchoffice}).then(response => {
                this.requitionGovList = response.data.data.objects;
            });
        },
        view(item){
           this.getRemmisionFull(item.idRemmision);
        },

        getRemmisionFull(idRemmision){
           axios.post(ServicePath.REMMISIONS_GET_WITH_PRODUCTS_REMMISION,{id:idRemmision}).then((res) => {
                let { data } = res.data;
                if (data.success) {
                    this.model = data.object;
                    this.model.suppliersName = this.model.suppliers.map((supplier)=>{
                        return supplier.name
                    }).join(", ") || "Sin proveedores";
                    this.model.totalProducts = this.model.productsRemmision.map((obj)=>{
                        return obj.quantity;
                    }).reduce((a, b)=>{  
                        return a + b; 
                    }, 0);

                    this.changeAction(2);
                }else{
                    this.$toast.error(data.message || "Ocurrió un error interno.")
                }
            }).catch(this.catchError);
        },
        catchError(error) {
            console.log(error);
            this.$toast.error("Ocurrio un error interno");
        },
        downloadPDF(idRemmision){

            let send = "idRemision="+idRemmision+"&"+"idSucursal="+this.branchOffice.idBranchoffice;
            ExcelRequest.reportRemmisionPdf(send);
            // document.getElementById("idRemision").value = idRemmision;
            // document.getElementById("idSucursal").value = this.branchOffice.idBranchoffice;
            // this.$refs.reportForm.submit();
            this.$toast.success("Descargando documento PDF");
        },
        listAllSuppliers(){
            SupplierRequest.listAll().then((res) => {
                let { data } = res.data;
                this.suppliers = [];
                if (data.objects) {
                    this.suppliers = data.objects.map((obj) => {
                        return {
                        value: { idSupplier: obj.idSupplier},
                        text: `${obj.name}`,
                        };
                    });
                }
            }).catch(this.catchError);
        },
        filter(){
            let requiredDate = false;
            let requiredSupplier = false;
            let dateStart = new Date();
            let dateEnd = new Date();
            let idSupplierSelect = 0;

            if(this.date != null && this.date != undefined && this.date != ""){
                dateStart = new Date(this.date.start);
                dateEnd  = new Date(this.date.end);
                dateEnd.setDate(dateEnd.getDate() + 1);
                requiredDate = true;
            }

            if(this.supplier != null && this.suppliers != undefined && this.supplier.idSupplier != null && this.supplier.idSupplier != undefined){
                idSupplierSelect  = this.supplier.idSupplier;
                requiredSupplier = true;
            }

            if(requiredDate == true || requiredSupplier == true){
                this.remmisionList = this.remmisionListFull.filter((rm)=>{
                    let isFilter = false;
                    if(requiredDate){
                        let dateValidate = new Date(rm.dateInput);
                        if(dateValidate>=dateStart && dateValidate<=dateEnd){
                            isFilter = true;
                        }else{
                            return false;
                        }
                    }
                    if(requiredSupplier){
                        let witSupplier = rm.suppliers.filter((supl)=>{
                            return supl.idSupplier == idSupplierSelect;
                        }).length > 0;
                        if(witSupplier){
                            isFilter = true;
                        }else{
                            return false;
                        }
                    }
                    
                    return isFilter;
                });
            }else{
                this.remmisionList = this.remmisionListFull.map((r)=>{ return r});
            }        
        },
        clearCalendar(){
           this.date = "";
           this.filter();
        },
        clearCalendarMov(){
           this.dateMov = "";
           this.dateModelMov.startDate = "";
           this.dateModelMov.endDate = "";
        },
        excel(){
            this.$toast.success("Generando documento Xlsx");
            ExcelRequest.reportRemmisions({ 
                id : this.branchOffice.idBranchoffice
            });
        },
        excelPedido(){
            this.$toast.success("Generando documento Xlsx");
            ExcelRequest.reportRemmisionsOrder({
                id : this.branchOffice.idBranchoffice
            });
        },
        excelMovementsStock() {
            if ( this.dateModelMov.startDate != "" && this.dateModelMov.endDate != "" ) {
                this.$toast.success("Generando documento Xlsx");
                ExcelRequest.reportMovementsStock({
                    idBranchOffice: this.branchOffice.idBranchoffice,
                    startDate : this.dateModelMov.startDate,
                    endDate : this.dateModelMov.endDate
                });
                this.dialogMovEx = false;
                this.clearCalendarMov();
            }
        },

        /* (Modificacion) Se agrego la funcion permisos permisos */
        withPermissionName(permissions){
            return UtilFront.withPermissionName(permissions);
        },
        // (Nuevo) mover a remmision update
        updateRecord(item){
            this.$router.push('/entradas/actualizar/' + item.idRemmision );
        },

    },
    created(){
        let infoUser = UtilFront.getDataUser();

        //this.permissions['crear_remision'] =  infoUser.permissions.some()

        this.user = infoUser;
        this.branchOffices = infoUser.branchOfficesSimple;
        if (this.branchOffices.length > 0) {
            this.branchOffice = this.branchOffices[0].value;
        }
        this.listAll();
        this.listAllSuppliers();
    },
    watch: {
        date: {
            handler: function(val) {
                if(val == null){
                    this.filter();
                }
            },
            deep: true
        }
    }    
}
</script>
