<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar" data-app>
    <Sidebar />
    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      <div class="breadcrumbbar">
        <div class="row align-items-center">
          <div class="col-md-8 col-lg-8">
            <h4 class="page-title">{{title}}</h4>
            <div class="breadcrumb-list">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/entradas">Entradas</a></li>
                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
              </ol>
            </div>
          </div>
          <div class="col-lg-4 text-right">
          <!--Modificación de boton se hizo de color azul-->
            <button  @click="$router.push('/entradas');" class="btn btn-primary">
              <i class="ti-arrow-left mr-2"></i> Regresar
            </button>
          <!--Modificación de boton se hizo de color azul-->
          </div>
        </div>
      </div>

      <div class="contentbar">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card m-b-30">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-12">
                    <h5 class="card-title mb-0"><i class="ti-file mr-2"></i> Información de Remisión</h5>
                  </div>

                  <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                      <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                          <strong>{{notifier.title}}</strong> {{notifier.message}}
                          <button type="button" @click="notifier.notifying = false" class="close"
                              data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">×</span>
                          </button>
                      </div>
                  </div>

                </div>
              </div>
              <div class="card-body">
                <validation-observer ref="observer" v-slot="{ invalid }">
                  <form @submit.prevent="updateRemmision()">
                    <div class="row">

                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Pedido" rules="required">
                          <v-text-field :disabled="true" v-model="modelInformation.requisitionGob" :counter="30" :error-messages="errors" label="Pedido*"
                            required></v-text-field>
                        </validation-provider>

                        <validation-provider name="productRemmissionEr" vid="productRemmissionEr" rules="required" v-slot="{ errors, failedRules }">
                        </validation-provider>
                      </div>

                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Remisión" rules="required|max:30">
                          <v-text-field :disabled="loading" v-model="modelInformation.remissionkey" :counter="30" :error-messages="errors" label="Remisión*"
                            required></v-text-field>
                        </validation-provider>
                      </div>


                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Factura" rules="required|max:30">
                          <v-text-field :disabled="loading" v-model="modelInformation.invoice" :counter="30" :error-messages="errors" label="Factura*"
                            required></v-text-field>
                        </validation-provider>
                      </div>
                      

                      <div class="col-md-3 text-right pt-5">
                        <v-btn type="submit" :disabled="invalid || loading">
                          <i class="ti-save mr-3"></i> Actualizar
                        </v-btn>
                      </div>
                    </div>

                  </form>
                </validation-observer>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card m-b-30">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-12">
                    <h5 class="card-title mb-0"><i class="ti-file mr-2"></i> Actualización de Productos </h5>
                  </div>
                </div>
              </div>

              <!--<Datatable :dataList="this.model.productsRemmision" :headers="productsHeader" :deleteItemRemmi="true" v-on:deleteRecordRemmi="deleteRecordRemmi" />-->
              <v-data-table
                :headers="productsHeader"
                :items="listAllProductsRemmision"
                class="elevation-1"
                :search="search"
                :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                loading-text="Cargando..."
                no-data-text="Sin resultados disponibles"
                no-results-text="Sin resultados coincidentes con la búsqueda"
                >

                  <template v-slot:top>
                    <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6 ">
                        <v-text-field v-model="search" label="Buscar ..." class="pr-5" ></v-text-field>
                      </div>
                    </div>
                  </template>
   

                  <template v-slot:item.actions="{ item }">
                    <!-- (Modificacion) Se agrego elboton de editar remision -->
                    <v-tooltip top >
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="ml-3" @click=" openModalUpdateProduct(item)" v-bind="attrs" v-on="on">
                            mdi mdi-square-edit-outline
                            </v-icon>
                        </template>
                        <span>Editar</span>
                    </v-tooltip>
                  </template> 

              </v-data-table>
              
              <div class="card-body">
                <hr>
                <validation-observer ref="observer2" v-slot="{ invalid }">
                  <form @submit.prevent="addProductRemmision">
                    <div class="row">
                      <div class="col-md-12">
                      
                        <validation-provider v-slot="{ errors }" name="Producto" rules="required">
                            <v-autocomplete auto-select-first :items="productFormList" v-model="modelAddProductRemision.productId" label="Producto*" >
                              <template slot="item" slot-scope="data">
                                <div class="pt-5">
                                  {{data.item.text}}
                                </div>
                              </template>

                              <template slot="selection" slot-scope="data">
                                <div class="pt-5">
                                  {{data.item.text}}
                                </div>
                              </template>
                            </v-autocomplete>
                        </validation-provider>
                      </div>
                      <div class="col-md-3">
                        <v-text-field v-model="modelAddProductRemision.expirationDate" label="Selecciona una Fecha" type="date"></v-text-field> 
                      </div>
                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Lote" rules="required|max:30">
                          <v-text-field v-model="modelAddProductRemision.lot" :counter="30" :error-messages="errors" label="Lote*"
                            required></v-text-field>
                        </validation-provider>
                      </div>
                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Cantidad" rules="required|numeric">
                          <v-text-field v-model="modelAddProductRemision.quantity" :error-messages="errors" label="Cantidad*"
                            required></v-text-field>
                        </validation-provider>
                      </div>
                      <div class="col-md-3">
                        <validation-provider v-slot="{ errors }" name="Costo Unitario" rules="required|double">
                          <v-text-field placeholder="0.00000" @input="restrictDecimalAdd"  prefix="$" v-model="modelAddProductRemision.unitprice" :error-messages="errors" label="Costo Unitario*"
                            required></v-text-field>
                        </validation-provider>
                      </div>
                      <div class="col-md-12">
                        <v-btn type="submit" class="float-right" :disabled="invalid">
                          <i class="ti-plus mr-3"></i> Añadir
                        </v-btn>
                      </div>
                    </div>
                  </form>
                </validation-observer>
              </div>
            </div>
          </div>
        </div>
      </div>


        <v-row justify="center">
            <v-dialog v-model="dialogUpdateProduct" persistent max-width="1000" >
                <v-card>
                    <v-card-title class="headline">
                    <small style="font-size: 100%;">Información del Producto (ID {{ currentItem.idProductRemmison }})</small>
                    </v-card-title>
                        <div v-if="notifierProductRemmision.notifying" class="col-lg-12" style="font-size: small">
                            <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifierProductRemmision.type == 1, 'alert-danger': notifierProductRemmision.type == 2, 'alert-warning': notifierProductRemmision.type == 3}" role="alert">
                                <strong>{{notifierProductRemmision.title}}</strong> {{notifierProductRemmision.message}}
                                <button type="button" @click="notifierProductRemmision.notifying = false" class="close"
                                    data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                        <v-container>
                            <validation-observer ref="observer" v-slot="{ invalid }">
                                <form @submit.prevent="updateProductRemision">

                                    <div class="row">
                                      <div class="col-md-12">
                                        <validation-provider v-slot="{ errors }" name="Producto" rules="required">
                                            <v-autocomplete auto-select-first :items="productFormList" v-model="modelUpdateProductRemision.productId" label="Producto*" >
                                              <template slot="item" slot-scope="data">
                                                <div class="pt-5">
                                                  {{data.item.text}}
                                                </div>
                                              </template>

                                              <template slot="selection" slot-scope="data">
                                                <div class="pt-5">
                                                  {{data.item.text}}
                                                </div>
                                              </template>
                                            </v-autocomplete>
                                        </validation-provider>
                                      </div>
                                      <div class="col-md-6"> 
                                        <v-text-field v-model="modelUpdateProductRemision.expirationDate" label="Selecciona una Fecha" type="date"></v-text-field> 
                                      </div>
                                      <div class="col-md-6">
                                        <validation-provider v-slot="{ errors }" name="Lote" rules="required|max:30">
                                          <v-text-field v-model="modelUpdateProductRemision.lot" :counter="30" :error-messages="errors" label="Lote*"
                                            required></v-text-field>
                                        </validation-provider>
                                      </div>
                                      <div class="col-md-6">
                                        <validation-provider v-slot="{ errors }" name="Cantidad" rules="required|numeric">
                                          <v-text-field v-model="modelUpdateProductRemision.quantity" :error-messages="errors" label="Cantidad*"
                                            required></v-text-field>
                                        </validation-provider>
                                      </div>
                                      <div class="col-md-6">
                                        <validation-provider v-slot="{ errors }" name="Costo Unitario" rules="required|double">
                                          <v-text-field placeholder="0.00000" @input="restrictDecimal"  prefix="$" v-model="modelUpdateProductRemision.unitprice" :error-messages="errors" label="Costo Unitario*"
                                            required></v-text-field>
                                        </validation-provider>
                                      </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <v-btn class="mr-4 mt-5 float-right" type="submit" :disabled="invalid || sending">
                                                <i class="ti-save mr-3 "></i> Guardar
                                            </v-btn>

                                            <v-btn class="mr-4 mt-5 float-right" @click="dialogUpdateProduct = false">
                                                <i class="ti-close mr-3"></i> Cancelar
                                            </v-btn>
                                        </div>
                                    </div>
                                </form>
                            </validation-observer>

                        </v-container>
                </v-card>
            </v-dialog>
        </v-row>

      <!-- End Contentbar -->
      <div class="pt-10"> 
      </div>
      <Footer  />

    </div>


  </div>

  <!-- End Containerbar -->
  <!-- Start js -->
</template>
<script>
import { Topbar, Sidebar, Footer, Datatable } from "@/components";
import { ServicePath, DTHeaders,UtilFront,PermissionConstants } from "@/core";
import { required, max, numeric, double } from "vee-validate/dist/rules";
import { RemmisionRequest,ProductResquest } from "@/core/request";
import moment from 'moment';

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
import axios from "axios";

setInteractionMode("eager");

extend("double", {
  ...double,
  message: "{_field_} debe contener decimales. ({_value_})"
});

extend("numeric", {
  ...numeric,
  message: "{_field_} debe ser un número entero. ({_value_})"
});
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});

extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default {
  data() {
    return {
      /* Global */
      title: "Actualizar Remisión",
      notifier: {notifying: false, type:"", message:""},
      notifierProductRemmision: {notifying: false, type:"", message:""},
      dialogUpdateProduct: false,
      currentItem:{},
      /* Global */

      /* Tablas */
      productsHeader: DTHeaders.CREATE_REMMISION_UPDATE,
      listAllProductsRemmision: [],

      /* Select */
      productServerList: [],
      addProductSelect:'',
      updateProductSelect:'',

      /* Formulario Informacion */
      modelAddProductRemision:{ remissionId:'',productId:0,quantity:0,unitprice:0.0,lot:'',expirationDate:'' },
      modelUpdateProductRemision:{ stockId:'',productId:0,quantity:0,unitprice:0.0,lot:'',expirationDate:'' },
      modelInformation:{ requisitionGob:'',remissionkey:'',invoice:'' },

      menu: false,
      remissionkey: "",
      requisitionGobId: "",
      requisitionGovList: [],


      productFormList: [],
      produdctsRemmision: [],
      productTableList: [],
      showMessage: false,
      itemCount: 1,
      loading: false,


      /** Prodcut Form */
      itemName: "",
      itemProduct: "",
      itemDate: new Date().toISOString().substr(0, 10),
      itemLot: "",
      itemQuantity: "",
      itemPrice: "",
      user: {},
      branchOffices:[],
      branchOffice:{},

      sending:false,

      //Permisos
      permissions: PermissionConstants,

      //Recupero el id de la remmision
      idRemmision: this.$route.params.remmision,

      model:{},
      search:'',



    };
  },
  components: {
    Datatable,
    Topbar,
    DTHeaders,
    Sidebar,
    Footer,
    ValidationProvider,
    ValidationObserver,
    
  },
  computed:{
    
  },
  methods: {
    /* Global */
    notification(type, message){
        if(type == "success"){
            this.notifier.type = 1;
            this.notifier.title = "¡Éxito!";
            this.notifier.message = message || "Acción realizada correctamente.";
        }else if(type == "error"){
            this.notifier.type = 2;
            this.notifier.title = "Error";
            this.notifier.message = message || "Ocurrio un error interno";
        }else{
            this.notifier.type = 3;
            this.notifier.title = "Advertencia";
            this.notifier.message = message || "Verifiqué la información ingresada";
        }
        this.notifier.notifying = true;

        if(type != "error"){
            setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
        }

    },
    notificationProductRemmision(type, message){
        if(type == "success"){
            this.notifierProductRemmision.type = 1;
            this.notifierProductRemmision.title = "¡Éxito!";
            this.notifierProductRemmision.message = message || "Acción realizada correctamente.";
        }else if(type == "error"){
            this.notifierProductRemmision.type = 2;
            this.notifierProductRemmision.title = "Error";
            this.notifierProductRemmision.message = message || "Ocurrio un error interno";
        }else{
            this.notifierProductRemmision.type = 3;
            this.notifierProductRemmision.title = "Advertencia";
            this.notifierProductRemmision.message = message || "Verifiqué la información ingresada";
        }
        this.notifierProductRemmision.notifying = true;

        if(type != "error"){
            setTimeout(()=>{ this.notifierProductRemmision.notifying = false; }, 10000); 
        }

    },
    catchError(error){
        this.notification("error","Ocurrio un error interno");
    }, 
    withPermissionName(permissions){
      return UtilFront.withPermissionName(permissions);
    },
    remmisionDetail(){
      RemmisionRequest.listAllRemmision( {
        id: this.idRemmision
      }).then( (response) => {

            let { data } = response.data;
            let { success, message, object } = data;
            
            if ( success ) {
              
                //this.model = data.object;
                this.modelInformation.requisitionGob = object.requisitionGob;
                this.modelInformation.remissionkey = object.remissionkey;
                this.modelInformation.invoice = object.invoice;

                console.log(this.modelInformation.requisitionGob);

                /*this.model.suppliersName = object.suppliers.map((supplier)=>{
                    return supplier.name
                }).join(", ") || "Sin proveedores";
                
                this.listAllProductsRemmision = object.productsRemmision.map((obj)=>{
                    return obj.quantity;
                }).reduce((a, b)=>{  
                    return a + b; 
                }, 0);
                */

                this.listAllProductsRemmision = object.productsRemmision;

            }else{
                this.$toast.error(data.message || "Ocurrió un error interno.")
            }

        });
    },
    listAllProducts(){
      ProductResquest.findAllProducts().then(response => {
          let { data } = response.data;
          let { objects } = data;

          this.productServerList = objects;

          for (var [index, value] of Object.entries(response.data.data.objects)) {
            index;
            let productItem = {
              text: value.productKey + " | " + value.name + " " + value.description + " | Presentación " + value.unit,
              value: value.idProduct
            };
            this.productFormList.push(productItem);
          }

        });
    },
    openModalUpdateProduct(item){

      this.dialogUpdateProduct = true;
      this.currentItem = item;

      //Agrego los valores al modelo
      this.modelUpdateProductRemision.stockId = item.idStock;
      this.modelUpdateProductRemision.productId = item.productId;
      this.modelUpdateProductRemision.quantity = item.quantity;
      this.modelUpdateProductRemision.unitprice = item.unitprice.toFixed(2);
      this.modelUpdateProductRemision.lot = item.lot;
      this.modelUpdateProductRemision.expirationDate = item.expirationDate;

    },
    /* Global */

    /* Informacion de remision */
    updateRemmision(){
      RemmisionRequest.updateRemmision({
        idRemmision: this.idRemmision,
        remissionkey: this.modelInformation.remissionkey,
        invoice: this.modelInformation.invoice,
        idBranchOffice: 1,
        idUser:this.user.idUser
      }).then( (response) => {

          let { data } = response.data;
          let { success, message, object } = data;

          if ( success ) {
            this.notification("success","Información de Remision Actualizada Exitosamente.");
            this.$toast.success("Remision Actualizada");
          } else {
            this.notification("error",message);
            this.$toast.error("No fue posible actualizar la remision.");
          }

      }).catch(this.catchError);
    },
    /* Informacion de remision */

    restrictDecimal () {
      this.modelUpdateProductRemision.unitprice=this.modelUpdateProductRemision.unitprice.match(/^\d+\.?\d{0,5}/);
    },
    restrictDecimalAdd () {
      this.modelAddProductRemision.unitprice=this.modelAddProductRemision.unitprice.match(/^\d+\.?\d{0,5}/);
    },

    /* Actualizar producto de la remision */
    updateProductRemision(){
      this.modelUpdateProductRemision.userID = this.user.idUser;
      this.modelUpdateProductRemision.unitprice = this.modelUpdateProductRemision.unitprice[0];

      if ( this.currentItem.productId == this.modelUpdateProductRemision.productId ) {
        delete this.modelUpdateProductRemision.productId;
      }

      RemmisionRequest.updateProductRemmision(this.modelUpdateProductRemision).then( (response) => {

          let { data } = response.data;
          let { success, message, object } = data;

          if ( success ) {
            this.notification("success","Información de Remision Actualizada Exitosamente.");
            this.$toast.success("Remision Actualizada");
            this.remmisionDetail();
            
          } else {
            this.notification("error",message);
            this.$toast.error("No fue posible actualizar la remision.");
          }

      }).catch(this.catchError).finally(()=>{
        this.dialogUpdateProduct = false;
      });

    },
    addProductRemmision(){
      this.modelAddProductRemision.userID = this.user.idUser;
      this.modelAddProductRemision.unitprice = this.modelAddProductRemision.unitprice[0];
      this.modelAddProductRemision.remissionId = this.idRemmision;
      RemmisionRequest.addProductInRemmision(this.modelAddProductRemision).then( (response) => {

          let { data } = response.data;
          let { success, message, object } = data;

          if ( success ) {
            this.notification("success","Producto Registrado Existosamente.");
            this.$toast.success("Producto Agregado");
            this.remmisionDetail();
          } else {
            this.notification("error",message);
            this.$toast.error("No fue posible agregar el producto.");
          }

      }).catch(this.catchError);
    }



  },
  created() {

    //Valido que tengas el permiso de editar remision
    if ( !this.withPermissionName(this.permissions.REMISION_EDIT) ) {
      this.$router.push('/dashboard');
    } else {
      this.remmisionDetail();
      this.listAllProducts();
    }

    let infoUser = UtilFront.getDataUser();
    this.user = infoUser;
    /*this.branchOffices = infoUser.branchOfficesSimple;
    if (this.branchOffices.length > 0) {
        this.branchOffice = this.branchOffices[0].value;
    }
    this.listAllRequisitionGob();
    this.listAllProducts();*/
  },

};
</script>
