<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="/envios">Envíos</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ this.$route.params.envio }}</a></li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <button class="btn btn-primary" @click="backShipments" style="float:right;" >
                            <i class="ti-arrow-left mr-2"></i> Regresar
                        </button>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div class="row justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="invoice">
                                    <div class="invoice-head">
                                        <div class="row">
                                            <div class="col-12 col-md-7 col-lg-7">
                                                <div class="invoice-logo">
                                                    <img src="@/assets/images/logo.svg" class="img-fluid" alt="invoice-logo">
                                                </div>
                                                <h4>FMedical Abastos</h4>
                                            </div>
                                            <div class="col-12 col-md-5 col-lg-5">
                                                <div class="invoice-name">
                                                    <h5 class="text-uppercase mb-3">Detalle Envio</h5>
                                                    <p class="mb-1">N° envio : #{{ shipmentId }}</p>
                                                    <p class="mb-0">Fecha de envio : {{shippingDate}}</p>
                                                    <p class="mb-0">Destino : {{fullAddressDestination}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <Datatable :documentView="false" :dataList="shipmentList" :headers="shipmentsHeaders" />

                            <div class="card-body">
                                <div class="invoice">
                                    <div class="invoice-footer">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="invoice-footer-btn">
                                                    <!--<a href="javascript:window.print()" class="btn btn-primary-rgba py-1 font-16"><i class="feather icon-printer mr-2"></i> Imprimir</a>-->
                                                    <button @click="dialog = true" v-if="status == 1 || status == 6"  class="btn btn-success py-1  ml-3"><i class="feather icon-send mr-2"></i>Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->

        <!-- init confirmation change status -->

        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="500" >
                <v-card>
                    <v-card-title class="headline">
                    <small style="font-size: 100%;">Información del Envio</small>
                    </v-card-title>
                        <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                            <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                <strong>{{notifier.title}}</strong> {{notifier.message}}
                                <button type="button" @click="notifier.notifying = false" class="close"
                                    data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                        <v-container>
                            <validation-observer ref="observer" v-slot="{ invalid }">
                                <form @submit.prevent="submit">
                                    <validation-provider v-slot="{ errors }" name="Nombre del conductor" rules="required|max:50">
                                        <v-text-field v-model="model.driver" :counter="50" :error-messages="errors" label="Nombre del conductor*" required></v-text-field>
                                    </validation-provider>

                                    <validation-provider  v-slot="{ errors }"  name="Numero de placa" rules="required|max:20">
                                        <v-text-field v-model="model.licenseplate" :counter="20" :error-messages="errors" label="Numero de Placa*"  required></v-text-field>
                                    </validation-provider>

                                    <validation-provider  v-slot="{ errors }"  name="Numero económico" rules="required|max:10|numeric">
                                        <v-text-field v-model="model.number" :counter="10" :error-messages="errors" label="Numero Economico*"  required></v-text-field>
                                    </validation-provider>

                                    <validation-provider  v-slot="{ errors }"  name="Etiqueta" rules="required|max:10">
                                        <v-text-field v-model="model.tag" :counter="10" :error-messages="errors" label="Etiqueta*"  required></v-text-field>
                                    </validation-provider>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <v-btn class="mr-4 mt-5 float-right" type="submit" :disabled="invalid || sending">
                                                <i class="ti-save mr-3 "></i> Guardar
                                            </v-btn>

                                            <v-btn class="mr-4 mt-5 float-right" @click="clear, (dialog = false)">
                                                <i class="ti-close mr-3"></i> Cancelar
                                            </v-btn>
                                        </div>
                                    </div>
                                </form>
                            </validation-observer>

                        </v-container>
                </v-card>
            </v-dialog>
        </v-row>
        <!-- end confirmation change status -->


    </div>
    <!-- End Containerbar -->
    <!-- Start js -->

    
</template>

<script type="js">

import { DTHeaders,UtilFront } from "@/core";
import { Topbar, Sidebar, Footer, Datatable } from "@/components";
import { required, max, numeric } from "vee-validate/dist/rules";
import { ShipmentsRequest } from "@/core/request";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");

extend("numeric", {
  ...numeric,
  message: "{_field_} debe ser un número entero. ({_value_})"
});

extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});

extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});


export default{
    components: {
        Topbar,
        Sidebar,
        Footer,
        DTHeaders,
        Datatable,
        ValidationProvider,
        ValidationObserver
    },
    data(){
        return{
            title:'Envíos',

            /*Driver*/
            model: {idShipment:'', driver: '', licenseplate:'',number:'',tag:''},
            notifier: {notifying: false, type:"", message:""},


            shipmentsHeaders: DTHeaders.SHIPMENTS,
            shipmentId: this.$route.params.envio,
            shipmentList: [],
            fullAddressDestination: "",
            shippingDate: "",
            dialog: false,
            sending: false,
            itemError: "",
            status: ""
        }
    },
    methods: {
        notification(type, message){
            if(type == "success"){
                this.notifier.type = 1;
                this.notifier.title = "¡Éxito!";
                this.notifier.message = message || "Acción realizada correctamente.";
            }else if(type == "error"){
                this.notifier.type = 2;
                this.notifier.title = "Error";
                this.notifier.message = message || "Ocurrio un error interno";
            }else{
                this.notifier.type = 3;
                this.notifier.title = "Advertencia";
                this.notifier.message = message || "Verifiqué la información ingresada";
            }
            this.notifier.notifying = true;

            if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }

        },
        catchError(error){
            console.log(error);
            this.notification("error","Ocurrio un error interno");
        },
        submit() {
            let dataUser = UtilFront.getDataUser();
            this.$refs.observer.validate;
            this.model.idShipment = this.shipmentId;
            this.sending = true;
            this.model.idUser = dataUser.idUser;
            ShipmentsRequest.updateShipment( this.model ).then( (response) => {
                let { data } = response.data;
                let { success, message } = data;

                if ( success ) {
                    this.notification("success", "Envio Generado");
                    this.dialog = false;
                    this.status = 3;
                } else {
                    this.notification("error", message);
                }

            }).catch(this.catchError).finally(()=>{
                this.sending = false;
                this.clear();
            });

        },
        clear() {
            this.model = {};
            this.$refs.observer.reset();
        },
        backShipments(){
            this.$router.push('/envios');
        },
    },
    created() { 


        //Recupero el detalle del envio
        ShipmentsRequest.findDetailShipments({
            idShipment: this.shipmentId
        }).then(response => {
            this.shippingDate = response.data.data.shippingDate;
            //this.shipmentList = ;

            var orderDetailArray = [];

            for (var [index, value] of Object.entries(response.data.data.productList)) {
                let orderDetailItem = {
                    idCounter: index,
                    productKey : value.productKey,
                    product : value.product,
                    expirationDate : value.expirationDate,
                    fiscalFound: value.fiscalFound,
                    lot: value.lot,
                    quantity : value.quantity,
                    locationKey: value.locationKey
                };
                orderDetailArray.push(orderDetailItem);
            }

            this.shipmentList = orderDetailArray;


            this.fullAddressDestination = response.data.data.fullAddressDestination;
            this.status = response.data.data.status;
        });

        //console.log(this.shipmentsDetail);

       
    }
}
</script>
