<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="/envios">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <SelectBranchOffice v-on:updateItemOrigin="updateItemOrigin" />
                        <!--<button v-if="showShipmments" class="btn btn-primary ml-3" @click="toggleShipmments" style="float:right"><i class="ti-alarm-clock mr-2"></i> Historial de Envios</button>
                        <button v-if="!showShipmments" class="btn btn-primary" @click="toggleShipmments" style="float:right"><i class="ti-arrow-left mr-2"></i> Regresar</button>-->
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->

            <!-- Start Contentbar -->
            <div class="contentbar">
                <div v-if="showShipmments" class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="card-title mb-0"><i class="ti-truck mr-2"></i>Envíos pendientes de traslado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-3" v-for="item in shipmentsList">
                                        <router-link :to="'/envios/' + item.idShipment">
                                            <div class="card text-white bg-primary m-b-30" style="height: 18rem;">
                                                <div class="card-header">{{item.destination}}<br>
                                                        <strong>{{item.destinationKey}}</strong></div>
                                                <div class="card-body">
                                                    <h5 class="card-title text-white">
                                                        Orden de Salida #{{item.orderId}}
                                                    </h5>
                                                    <p class="card-text">
                                                        {{item.dateshipment}}
                                                    </p>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="card-title mb-0"><i class="ti-truck mr-2"></i> {{ sending ? 'Cargando historico de envios... ': 'Histórico de envíos'}}</h5>
                                    </div>
                                </div>
                            </div>
                            
                            <Datatable :callback="excel" :documentView="true" :listAll="listAll" :dataList="shipmentsTrList" :headers="shipmentsHeaders" :orders="true" v-on:viewRecord="viewRecord" />
  
                        </div>
                    </div>
                </div>
                <div v-else class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <h3 align="center" class="mb-0 mt-2">Histórico de Envíos</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-4">
                                    <table class="table table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <td>ID Orden de Salida</td>
                                                <td>Destino</td>
                                                <td>Clues</td>
                                                <td>Conductor</td>
                                                <td>Recibío</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#215658</td>
                                                <td>Centro de Salud Zoquipan</td>
                                                <td>JCSSA002020</td>
                                                <td>Fernando F.</td>
                                                <td>Juan Garnizo</td>
                                            </tr>
                                            <tr>
                                                <td>#215659</td>
                                                <td>Centro de Salud Zoquipan</td>
                                                <td>JCSSA002020</td>
                                                <td>Fernando F.</td>
                                                <td>Juan Garnizo</td>
                                            </tr>
                                            <tr>
                                                <td>#215660</td>
                                                <td>Centro de Salud Zoquipan</td>
                                                <td>JCSSA002020</td>
                                                <td>Fernando F.</td>
                                                <td>Juan Garnizo</td>
                                            </tr>
                                            <tr>
                                                <td>#215661</td>
                                                <td>Centro de Salud Zoquipan</td>
                                                <td>JCSSA002020</td>
                                                <td>Fernando F.</td>
                                                <td>Juan Garnizo</td>
                                            </tr>
                                            <tr>
                                                <td>#215669</td>
                                                <td>Centro de Salud Zoquipan</td>
                                                <td>JCSSA002020</td>
                                                <td>Fernando F.</td>
                                                <td>Juan Garnizo</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <Footer />

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="js">
import { DTHeaders } from "@/core";
import { Topbar, Sidebar, Footer, Datatable} from "@/components";
import { ShipmentsRequest,ExcelRequest } from "@/core/request";
import SelectBranchOffice from '@/components/forms/SelectBranchOffice.vue'


export default{
    props: {
        dataList: {},
        headers: {},
        searchBoxShow: {
            type: Boolean,
            default: true
        }
    },
    data(){
        return{
            title:'Envíos',
            shipmentsHeaders: DTHeaders.SHIPMENTS_HISTORIC,
            showShipmments : true,
            itemOrigin: "",
            shipmentsList: [],
            shipmentsTrList: [],
            search:"",
            sending: false
        }
    },
    methods: {
        /*viewShipment(data){
            this.$router.push('/envios/'+data.idShipment);
        },*/
        viewRecord(data){
             this.$router.push('/envios/'+data.idShipment);
        },
        filterOnlyCapsText(value, search) {
        return (
            value != null &&
            search != null &&
            typeof value === "string" &&
            value
            .toString()
            .toLowerCase()
            .indexOf(search) !== -1
        );
        },
        updateItemOrigin(data){
            this.itemOrigin = data;
            this.listAll();
        },
        listAll(){
            //Recupero los envios pendientes de translado
            this.shipmentsList = ShipmentsRequest.findAllShipmentsByUserKey({
                originId: this.itemOrigin,
                status: 1,
                type: 2
            }); 

            // //Recupero los envios pendientes de translado
            // this.shipmentsTrList = ShipmentsRequest.findAllShipmentsByUserKey({
            //     originId: this.itemOrigin,
            //     status: 3,
            //     type: 2
            // });
            
            this.shipmentsTrList = [];
            this.sending = true;
             ShipmentsRequest.findAllShipmentsWithStatus(this.itemOrigin).then((res) => {
                let { data } = res.data;
                if (data.objects) {
                    this.shipmentsTrList = data.objects;
                }
            }).catch((e)=>{
                console.log(e);
            }).finally(()=>{
                this.sending = false;
            });
        },
        excel() {
            this.$toast.success("Generando documento Xlsx");
            ExcelRequest.reportShipments({
                originId: this.itemOrigin,
                status: 3,
                type: 2
            });
        },
    },
    components:{
        Datatable,
        Topbar,
        Sidebar,
        Footer,
        SelectBranchOffice
    },
    created() { 
        
    }
}
</script>
