<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <Sidebar />
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar />
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Abastos</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                            <!-- <v-autocomplete v-if="showAction(1) && isMoreThanTwoBranchOffices" @change="onChageBranchOffice()" auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                              v-model="branchOffice" 
                              clearable  
                                label="Sucursal" >
                          </v-autocomplete>  -->
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div  class="row">
                    <div class="col-lg-12 col-xl-12">
                        <template> 
                            <v-card>
                            <v-card-title>
                                <h5 class="card-title mb-0">
                                  <i class="fa fa-folder-open" aria-hidden="true"></i> {{titleAction}}
                                </h5>
                                <v-spacer></v-spacer>
                                 <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                                        <button type="button" @click="notifier.notifying = false" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>

                            </v-card-title>


                              <v-card-text>

                                <h5 class="card-title ml-5">
                                  Kartex
                                </h5>    
                                <div class="card-body">
                                    <div class="row">
                                        <!-- <div class="col-md-6 col-lg-6 col-xl-3" v-for="item in shipmentsList"  > -->
                                        <div class="col-md-6 col-lg-6 col-xl-3"  @click="dialog=true" >
                                            <a >
                                                <div class="card text-white card-trc" style="height: auto;">
                                                    <div class="card-header card-header-trc" >
                                                        <strong  style="font-size: 20px">Kardex de producto</strong>
                                                        <br>
                                                        Información de remisiones y órdenes de salida relacionadas a un producto.
                                                    </div>
                                                    <div class="card-footer text-right">
                                                        <h1 class="text-white"
                                                        >
                                                            <i class="fa fa-download"  style="color: #429559"></i> <i class="fa fa-file-excel-o fa-2x" style="color: #429559"></i>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-3"  @click="openDialog" >
                                            <a >
                                                <div class="card text-white card-trc" style="height: auto;">
                                                    <div class="card-header card-header-trc" >
                                                        <strong style="font-size: 20px">Existencias en sucursales</strong>
                                                        <br>
                                                        Existencias por lote(s) y/o producto(s), en las diferentes sucursales.
                                                    </div>
                                                    <div class="card-footer text-right">
                                                        <h1 class="text-white">
                                                            <i class="fa fa-download text-fmedical-red" ></i> <i class="fa fa-file-pdf-o fa-2x text-fmedical-red" ></i>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- <hr> -->

                                <!-- Productos en Movimiento -->
                                <h5 class="card-title ml-5">
                                  Almacen
                                </h5>
                                <div class="card-body">
                                
                                    <div class="row">
                                        <!-- <div class="col-md-6 col-lg-6 col-xl-3" v-for="item in shipmentsList"  > -->
                                        <!-- <div class="col-md-6 col-lg-6 col-xl-3" @click=" dialogPrescription = true " >
                                            <a>
                                                <div class="card text-white card-trc" style="height: auto;">
                                                    <div class="card-header card-header-trc" >
                                                        <strong  style="font-size: 20px">Productos en Movimiento</strong>
                                                        <br>
                                                        Concentrado de productos dentro del almacén.
                                                    </div>
                                                    <div class="card-footer text-right">
                                                        <h1 class="text-white">
                                                            <i class="fa fa-download"  style="color: #429559"></i> <i class="fa fa-file-excel-o fa-2x" style="color: #429559"></i>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>-->

                                    </div>
                                </div>
                                <!-- Productos en Movimiento -->

                                <hr>

                                <!-- Dispensacion -->
                                <h5 class="card-title ml-5">
                                  Dispensación
                                </h5>
                                <div class="card-body">
                                    <div class="row">
                                        <!-- <div class="col-md-6 col-lg-6 col-xl-3" v-for="item in shipmentsList"  > -->
                                        <div class="col-md-6 col-lg-6 col-xl-3" @click=" dialogPrescription = true " >
                                            <a>
                                                <div class="card text-white card-trc" style="height: auto;">
                                                    <div class="card-header card-header-trc" >
                                                        <strong  style="font-size: 20px">Dispensación</strong>
                                                        <br>
                                                        Concentrado de recetas por sucursal filtrado por fecha.
                                                    </div>
                                                    <div class="card-footer text-right">
                                                        <h1 class="text-white">
                                                            <i class="fa fa-download"  style="color: #429559"></i> <i class="fa fa-file-excel-o fa-2x" style="color: #429559"></i>
                                                        </h1>
                                                    </div>
                                                </div>
                                            </a>
                                        </div> -->

                                    </div>
                                </div>
                                <!-- Dispensacion -->


                              </v-card-text>
                            </v-card>
                        </template>
                        
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <div class="pt-10"></div>  
            <Footer  />

        </div>
        <!-- End Rightbar -->

        <v-dialog v-model="dialog" persistent max-width="1090" >
          <v-card>
            <v-card-title class="headline">
              <small>Kardex por producto</small>
            </v-card-title>
            <v-card-text> 
              <div class="row" >
                <div class="col-md-12 col-lg-12">
                  <v-col cols="12" sm="12" md="12">
                    <v-autocomplete  rows="2" auto-select-first :items="products" no-data-text="Sin resultados" attach v-model="idProduct" clearable  label="Producto" />
                  </v-col>
                </div> 
              </div>
              <div class="row">
                <div class="col-md-12">
                  <hr/>
                </div>
              </div>
            </v-card-text>
            <v-card-actions style="margin-top:40px">
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialog=false" :disabled="sending">
                Cancelar
              </v-btn>
              <v-btn color="green darken-1" text @click="downloadExcelTraceability" :disabled="sending">
                {{sending? 'Descargando...': 'Descargar'}}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogExistence" persistent   width="70%">
          <v-card>
              <v-card-title class="headline">
              <small>Existencia en sucursales</small>
              </v-card-title>
              <v-card-text> 
                  <div class="row" >
                      <div class="col-md-12 col-lg-12">
                          <v-autocomplete   multiple   :items="products"  attach v-model="idsProduct" no-data-text="Sin resultados"chips label="Productos" clearable>
                                <template #selection="{ item, index}">
                                  <v-chip color="success" close @click:close="idsProduct.splice(index, 1)">
                                    {{item.text}}
                                  </v-chip>
                                </template>
                          </v-autocomplete> 
                      </div> 
                  </div>
                  <div class="row" >
                      <div class="col-md-12 col-lg-12">
                          <v-autocomplete   multiple   :items="lots"  attach v-model="lotsList" no-data-text="Sin resultados"chips label="Lotes" clearable>
                                <template #selection="{ item, index}">
                                  <v-chip color="success" close @click:close="lotsList.splice(index, 1)">
                                    {{item.text}}
                                  </v-chip>
                                </template>
                          </v-autocomplete> 
                      </div> 
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <hr/>
                      </div>
                  </div>
              </v-card-text>
              <v-card-actions style="margin-top:40px">
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialogExistence=false" :disabled="sending">
                  Cancelar
              </v-btn>
              <v-btn color="green darken-1" text @click="downloadPDFExistence" :disabled="sending">
                  {{sending? 'Descargando...': 'Descargar'}}
              </v-btn>
              </v-card-actions>
          </v-card>
        </v-dialog>


        <!-- Reporte de dispensacion  -->
        <v-row justify="center">
            <v-dialog v-model="dialogPrescription" max-width="350"  >
                <v-card>
                    <v-card-title class="headline">
                    <small style="font-size: 100%;">Dispensación por Fecha</small>
                    </v-card-title>
                    <v-container >
                        <validation-observer ref="observer3" v-slot="{ invalid }" >
                            <form @submit.prevent="excelMedicalPrescription">
                                <div class="col-md-12 text-center">
                                <v-text-field
                                        :readonly="true"
                                        :value="dateCompudedMedicalPrescription"                                                       
                                        label="Rango de fechas"
                                        :append-outer-icon="validDataMedicalPrescription ? 'mdi-eraser' : 'mdi-calendar'"
                                        @click:append-outer="clearCalendarMedicalPrescription"
                                        :disabled-input="validDataMedicalPrescription"
                                    />
                                </div>
                                <div class="col-md-12 text-center">
                                <vc-date-picker color="green" v-model="dateMov" is-range>
                                </vc-date-picker> 
                                </div>

                                <v-switch v-model="isFormat" class="pl-5 pt-2" label="Documento con formato de firma"></v-switch>

                                <div class="col-md-12 text-center">
                                    <v-btn class="mr-4 mt-4" type="submit" >
                                        <i class="ti-reload mr-1"></i> Generar
                                    </v-btn>
                                    <v-btn class="mt-4" @click="dialogPrescription = false">
                                        <i class="ti-close mr-1"></i> Cancelar
                                    </v-btn>
                                </div>
                            </form>
                        </validation-observer>
                    </v-container>
                </v-card>
            </v-dialog>
        </v-row>
        <!-- Reporte de dispensacion  -->


    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders,UtilFront,ServicePath } from "@/core";
import { UserRequest, ReceptionRequest,ExcelRequest } from "@/core/request";
import { required, max } from "vee-validate/dist/rules";
import axios from "axios";
import moment from 'moment';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});

export default {
  data() {
    return {
      title: "Trazabilidad",
      remmisionList: [],
      list: [],
      headers: DTHeaders.RECEPTION_HISTORY,
      search: "",
      action: 1,
      sending: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      index: 0,
      service: ReceptionRequest,

      idProduct:0,
      branchOffice: {},
      branchOffices: [],
      leftovers : 0,
      missing: 0,
      products:[],
      dialog: false,
      dialogExistence:false,
      idsProduct:[],
      lots:[],
      lotsList:[],
      loadding: null,

      /* Dispensacion */
      dateMov: '',
      dialogPrescription: false,
      dateModelMov: { startDate:'',endDate:'' },
      isFormat:false,

    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },

  created() {
    let infoUser = UtilFront.getDataUser();
    this.branchOffices = infoUser.branchOfficesSimple;
    if (this.branchOffices.length > 0) {
        this.branchOffice = this.branchOffices[0].value;
    }
    this.listAll();
    this.listAllProducts();
 
  },
  computed: {
    titleAction() {
      // if (this.action == 1) {
      //   return "Trazabilidad";
      // } else if (this.action == 2) {
      //   return "Trazabilidad ";
      // } else if (this.action == 3) {
      //   return "Trazabilidad ";
      // }else if(this.action == 4){
      //     return "Información de recepción";
      // }
      return "Trazabilidad";
    },
    isMoreThanTwoBranchOffices() {
      return this.branchOffices.length > 1;
    },
    /* Dispensacion */
    dateCompudedMedicalPrescription(){
        if(this.dateMov == "" || this.dateMov == null || this.dateMov ==  undefined){
            return "";
        }

        this.dateModelMov.startDate = moment(this.dateMov.start).format('YYYY-MM-DD');
        this.dateModelMov.endDate = moment(this.dateMov.end).format('YYYY-MM-DD');

        return `${moment(this.dateMov.start).format('YYYY-MM-DD')} al ${moment(this.dateMov.end).format('YYYY-MM-DD')}`;
    },
    validDataMedicalPrescription(){
        if(this.dateMov == "" || this.dateMov == null || this.dateMov ==  undefined){
            return false;
        }
        //this.filter();
        return true;
    }
    /* Dispensacion */
  },
  methods: {
    /* Dispensacion */

    clearCalendarMedicalPrescription(){
      this.dateMov = "";
      this.dateModelMov.startDate = "";
      this.dateModelMov.endDate = "";
    },
    excelMedicalPrescription(){

      //Muestro la pantalla de carga
      this.loadding = UtilFront.getLoadding();

      ExcelRequest.reportMedicalPrescriptionByDate({
        idBranchOffice: 0,
        idUser: 0,
        startDate: this.dateModelMov.startDate,
        endDate: this.dateModelMov.endDate,
        format: this.isFormat
      }).then( (response) => {
        ExcelRequest.download( response, "dispensacion.xlsx" );
        this.$toast.success("Generando documento Xlsx");
      }).finally(()=>{
          this.loadding.hide();
      });

    },

    /* Dispensacion */
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

      if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }


    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.listAllByBranchOffice();
    },
    add() {
      
    },
    update() {
     
    },
    edit(object, index) {
      Object.assign(this.model, object);
      this.changeAction(3);
    },
    view(object) {
      Object.assign(this.model, object);
      this.getDetail();
    },
    listAllByBranchOffice() {

    },
    getDetail(){

    },
     onChageBranchOffice() {
      this.listAllByBranchOffice();
    },
    messageQuantity(item){
      let result = item.quantityReceived - item.quantity;
      if(result == 0 ){
          return "";
      }else if(result < 0){
        return `${result*-1} faltantes`;
      }else if(item.quantityReceived > item.quantity){
        return `${result} sobrantes`;
      }
    },
    calculateStatus() {

    },
    downloadExcelTraceability(){
        if(this.idProduct == null || this.idProduct == 0){
          this.$toast.error("Seleccione un producto");
          return;
        }

        this.loadding = UtilFront.getLoadding();

        // this.$toast.success("Generando documento excel");
        this.sending = false;
        this.dialog = false;

        ExcelRequest.reportTraceabilityProduct({id:this.idProduct}).then( (response) => {
            if(response.data.size > 0){
                const url = URL.createObjectURL(new Blob([response.data], {
                  type: 'application/vnd.ms-excel'
                }));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', "Kardex_producto.xlsx");
                document.body.appendChild(link);
                link.click();
            }else{
              this.$toast.warning("El producto no cuenta con existencias");
            }

            
        }).finally(()=>{
          this.loadding.hide();
        });
     
    },
    downloadPDFExistence(){
      let lotsString = null;
      let idProductString = null;

      if(this.idsProduct != null && this.idsProduct.length >0){
        idProductString =  this.idsProduct.map((id)=>{
          return `'${id}'`;
        }).join(", ");
        console.log(idProductString);
      }

      if(this.lotsList != null && this.lotsList.length >0){
        lotsString =  this.lotsList.map((obj)=>{
          return `'${obj.lot}'`;
        }).join(", ");
        console.log(lotsString);
      }

      let params = `lots=${lotsString}&idProducts=${idProductString}`;

      this.$toast.success("Generando documento PDF");
      this.loadding = UtilFront.getLoadding();
      this.sending = false;
      this.dialogExistence = false;
      ExcelRequest.downloadPDFExistence(params).then( (response) => {
          const url = URL.createObjectURL(new Blob([response.data], {
            type: 'application/pdf'
          }));
          window.open(url);
      }).finally(()=>{
        this.loadding.hide();
      });
     
    },
    listAllProducts(){
      axios.post(ServicePath.GET_ALL_PRODUCTS).then(response => {
          this.products = response.data.data.objects.map((obj)=>{
            return {
              text: obj.productKey + " | " + obj.name + " " + obj.description + " | Presentación " + obj.unit,
              value: obj.idProduct
            }
          });
          
        });
    },
    listAllLot(){
      this.lots = [];
      axios.post(ServicePath.GET_ALL_LOTS).then(response => {

          this.lots = response.data.data.map((obj)=>{
            return {
              text: obj.lot + " | " + obj.expirationDate +" | Remisión: "+obj.remissionId,
              value: {idProductRemmision:obj.idProductRemmison, lot:obj.lot}
            }
          });
          
        });
    },
    excel(){
      this.$toast.success("Generando documento Xlsx");
      ExcelRequest.reportReceptionHistory({
        id:this.branchOffice.idBranchoffice
      });
    },
    pdf(item){
       let send = "idReception="+item.idReception;;
       ExcelRequest.reportReceptionPdf(send);
    },
    openDialog(){
      this.dialogExistence=true;
      this.listAllLot();
    }
  }
};
</script>

<style>
.theme--light.v-messages {
  color: rgb(255 0 0);
}
</style>