<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar">
    <Sidebar />
    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      <div class="breadcrumbbar">
        <div class="row align-items-center">
          <div class="col-md-4 col-lg-4">
            <h4 class="page-title">Abastos</h4>
            <div class="breadcrumb-list">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
              </ol>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 text-right">
            <v-autocomplete v-if="showAction(1) && myBranchOffices.length > 1" @change="listAll()" auto-select-first
              :items="myBranchOffices" no-data-text="Sin resultados" attach v-model="branchOffice" clearable
              label="Sucursal">
            </v-autocomplete>
          </div>
          <div class="col-md-4 col-lg-4 text-right">
            <button class="btn btn-success" v-if="showAction(1) && withPermissionName(permissions.USER_CREATE)" @click="changeAction(2)">
              <i class="ti-plus mr-2"></i> Crear usuario
            </button>
            <!--Modifica boton para volverlo azul-->
            <button class="btn btn-primary" v-if="showAction(2) || showAction(3) ||showAction(4)" @click="changeAction(1)">
              <i class="ti-arrow-left mr-2"></i> Regresar
            </button>
            <!--Modifica boton para volverlo azul-->
          </div>
        </div>
      </div>
      <!-- End Breadcrumbbar -->
      <!-- Start Contentbar -->
      <div class="contentbar">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <template>
              <v-card>
                <v-card-title>
                    <h5 class="card-title mb-0"><i class="fa fa-users mr-2"></i>{{titleAction}}</h5>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                </v-card-title>
                <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                  <div class="alert  alert-dismissible fade show"
                    :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}"
                    role="alert">
                    <strong>{{notifier.title}}</strong> {{notifier.message}}
                    <button type="button" @click="notifier.notifying = false" class="close" data-dismiss="alert"
                      aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                </div>
                <v-data-table
                  v-if="showAction(1)" dense :headers="headers" :items="list" sort-by="name" class="elevation-1"
                  :search="search"
                  :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                  loading-text="Carngando..." no-data-text="Sin resultados disponibles"
                  no-results-text="Sin resultados coincidentes con la búsqueda">
                  <template v-slot:[`item.availableText`]="{ item}" v-if="withPermissionName(permissions.USER_UPDATE_STATUS)">
                    <v-switch color="success" class="hand" dense @change="confirmchangeStatus(item)" inset
                      v-model="item.available">
                    </v-switch>
                  </template>
                  <div v-else>
                        {{item.available ? 'Activo':'Inactivo'}}
                  </div>
                  <template v-slot:[`item.actions`]="{ item, index}">
                    <div>
                      <v-tooltip top v-if="withPermissionName(permissions.USER_UPDATE)">
                        <template v-slot:activator="{ on, attrs }">
                          <i class="dripicons-document-edit mr-3" style="cursor:pointer;font-size: 1.2em;" @click="edit(item, index)" v-bind="attrs" v-on="on"></i>
                        </template>
                        <span>Editar</span>
                      </v-tooltip>
                     

                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <i class="dripicons-information mr-3" style="cursor:pointer;font-size: 1.2em;" @click="view(item)" v-bind="attrs" v-on="on"></i>
                        </template>
                        <span>Ver</span>
                      </v-tooltip>
                      <v-tooltip top v-if="withPermissionName(permissions.USER_RESET_PASSWORD)">
                        <template v-slot:activator="{ on, attrs }">
                          <i class="dripicons-lock-open mr-3" style="cursor:pointer;font-size: 1.2em;" @click="confirmResetPassword(item)" v-bind="attrs" v-on="on"></i>
                        </template>
                        <span>Restablecer contraseña</span>
                      </v-tooltip>
                    </div>
                    
                  </template>
                </v-data-table>
                <div class="col-md-6" v-if="showAction(1)"  >
                    <div class="invoice-footer-btn">
                        <a href="javascript:window.print()" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                        <button @click="excel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
                    </div>
                </div>
                <v-card-text v-if="showAction(2) || showAction(3) || showAction(4)">
                  <validation-observer ref="observer" v-slot="{ invalid }" disabled>
                    <form @submit.prevent="doAction">
                      <div class="row">
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:100">
                            <v-text-field :disabled="isView" v-model="model.name" :counter="100"
                              :error-messages="errors" label="Nombre*" required autocomplete="off"></v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Apellido(s)" rules="required|max:200">
                            <v-text-field :disabled="isView" v-model="model.lastname" :counter="200"
                              :error-messages="errors" label="Apellido(s)*" required autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Correo electrónico"
                            rules="required|max:60|email">
                            <v-text-field :disabled="isView" v-model="model.email" data-vv-as="emai" type="email"
                              :counter="60" :error-messages="errors" label="Correo electrónico*" required
                              autocomplete="off"></v-text-field>
                          </validation-provider>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <validation-provider v-slot="{ errors }" name="Rol" rules="required">
                            <v-autocomplete :disabled="isView" auto-select-first :items="roles"
                              no-data-text="Sin resultados" attach v-model="model.roleId" :error-messages="errors"
                              clearable required label="Rol">
                            </v-autocomplete>
                          </validation-provider>
                        </div>
                        <div class="col-md-6">
                          <validation-provider v-slot="{ errors }" name="Sucursal" rules="required">
                            <v-autocomplete :disabled="isView" :items="branchOffices" attach
                              v-model="model.branchOffices" :error-messages="errors"  name="Sucursal"  no-data-text="Sin resultados"
                              label="Sucursal" clearable multiple chips deletable-chips autccomplate="off" >
                              <template #selection="{ item, index }">
                                <v-chip color="success" close @click:close="model.branchOffices.splice(index, 1)">
                                  {{item.text}} </v-chip>
                              </template>
                            </v-autocomplete>
                          </validation-provider>
                        </div>
                      </div>
                      <div class="row" v-if="showAction(2)">
                        <div class="col-md-6">
                          <validation-provider v-slot="{ errors }" name="Contraseña" rules="required|max:255|min:6">
                            <v-text-field type="password" name="passwords" autocomplete="new-password"  v-model="model.password" :counter="255"
                              :error-messages="errors" label="Contraseña*" required ></v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-6">
                          <validation-provider v-slot="{ errors }" name="Confirmar contraseña"
                            rules="required|max:255|password:@Contraseña|min:6">
                            <v-text-field type="password" v-model="model.passwordConfirm" :counter="255"
                              :error-messages="errors" label="Confirmar contraseña*" required autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                      </div>
                      <div class="col-md-12 text-right">
                        <button class="btn btn-success" v-if="!showAction(4)" type="submit" :disabled="invalid || sending">
                          <i class="ti-save mr-2"></i> Guardar
                        </button>
                      </div>
                    </form>
                  </validation-observer>
                </v-card-text>
              </v-card>
            </template>
          </div>
        </div>
      </div>
      <!-- End Contentbar -->
      <Footer />

    </div>
    <!-- End Rightbar -->
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>{{changeStatus.question}}</small>
        </v-card-title>
        <v-card-text>{{changeStatus.description}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelchangeStatus" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="updateStatus" :disabled="sending">
            Sí, continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogResetPassword" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>¿Restablecer contraseña?</small>
        </v-card-title>
        <v-card-text>La contraseña de <strong>{{model.name}}</strong> será cambiará a:</br>
          <strong>{{model.email}}</strong> </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogResetPassword = false" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="resetPassword" :disabled="sending">
            Sí, restablecer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <!-- End Containerbar -->
  <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders, UtilFront,PermissionConstants } from "@/core";
import { UserRequest, RolRequest, BranchOfficeRequest,ExcelRequest } from "@/core/request";
import { required, max, email,min  } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("email", {
  ...email,
  message: "{_field_} ingrese una dirección de correo valida",
});

extend('password', {
  params: ['target'],
  validate(value, { target }) {
    return value === target;
  },
  message: 'Las contraseñas no coinciden'
});


export default {
  data() {
    return {
      service: UserRequest,
      title: "Usuarios",
      list: [],
      headers: DTHeaders.USERS,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      dialogResetPassword: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      branchOffices: [],
      branchOffice : {},
      myBranchOffices:[],
      roles: [],
      permissions: PermissionConstants,
      changeStatus:{
        question: "",
        description: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    let infoUser = UtilFront.getDataUser();
    this.myBranchOffices = infoUser.branchOfficesSimple;
    if (this.myBranchOffices.length > 0) {
        this.branchOffice = this.myBranchOffices[0].value;
    }
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Usuarios";
      } else if (this.action == 2) {
        return "Registrar usuario";
      } else if (this.action == 3) {
        return "Modificar usuario";
      }else if (this.action == 4) {
        return "Información de usuario";
      }
      return "Listado";
    }
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.listAllBranchOffices();
        this.listAllRoles();
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

       if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }


    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      if(this.branchOffice != null){
        this.service.listAllByBranchOffice(this.branchOffice.idBranchoffice).then((res) => {
        let { data } = res.data;
        if (data.objects) {
          this.list = data.objects.map((obj)=>{
            obj.fullName = `${obj.name} ${obj.lastname}`; 
            obj.availableText = obj.available ? 'Activo' : 'Inactivo';
            return obj;
          });
        }
      }).catch(this.catchError);
      }
    },
    add() {
      this.sending = true;
      this.service
        .add(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            this.notification("success", "Registro realizado correctamente");
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            if(message == '' || message == undefined){
              this.notification("success", "Cambios realizados correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(3);
    },
    view(object){
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(4);
    },
    listAllBranchOffices(){
      BranchOfficeRequest.listAllActive().then((res) => {
        let { data } = res.data;
        if (data) {
          this.branchOffices = data.map((obj) => {        
              return {
                value: {idBranchoffice: obj.idBranchoffice},
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
          });
        }
      }).catch(this.catchError);
    },
    listAllRoles(){
      this.roles = [];
      RolRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.roles = data.objects.map((obj) => {      
              return {
                value: obj.idRole,
                text: `${obj.name} - (${obj.description})`,
              };
          });
          }
        })
        .catch(this.catchError);
    },
    confirmchangeStatus(item){
      this.model =  item;
      if(!item.available){
        this.changeStatus.question = "¿Desea inactivar la cuenta?"
        this.changeStatus.description = `${item.name} no podrá iniciar sesión.`;
      }else{
        this.changeStatus.question = "¿Desea activar la cuenta?"
        this.changeStatus.description = `${item.name} podrá iniciar sesión.`;
      }
      this.dialog = true;
    },
    confirmResetPassword(item){
      this.model =  item;
      this.dialogResetPassword = true;
    },
    cancelchangeStatus(){
      this.dialog = false; 
      this.model.available =  !this.model.available;
    },
    updateStatus(){
      this.sending = true;
      this.service.updateStatus({id: this.model.idUser, status: (this.model.available ? 1 : 0)}).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.model.available =  !this.model.available;
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialog = false; 
      });
    },
    resetPassword(){
      this.sending = true;
      this.service.resetPassword(this.model.idUser).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Contraseña restablecida");
          } else {
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialogResetPassword = false; 
      });
    },
    listAllBranchOfficesByUser(){     
      this.service.listAllBranchOfficesByUserId(this.model.idUser).then((res) => {
          let { data } = res.data;
          let {  objects } = data;
          if (objects) {
            this.model.branchOffices = objects.map((object) => {
                return {idBranchoffice: object.idBranchoffice};
            });
          } else {
             this.model.branchOffices = [];
          }
      }).catch(this.catchError);
    },
    withPermission(numRol){
      return UtilFront.withPermission(numRol);
    },
    withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    excel() {
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportUsers({
          id:this.branchOffice.idBranchoffice
        });
    }
  },
};
</script>

<style>

</style>