<template lang="es">
  <!-- Start Containerbar -->
  <div id="containerbar">

    <!-- Start Rightbar -->
    <div class="rightbar">
      <Topbar />
      <!-- Start Breadcrumbbar -->
      
      <!-- End Breadcrumbbar -->
      <!-- Start Contentbar -->
      <div class="contentbar mt-12">
        
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <template>
              <v-card>
                <v-card-title>
                    
                    <h5 class="card-title mb-0"><i class="fa fa-users mr-2"></i>{{titleAction}}</h5>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" v-if="showAction(1)" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                   <button class="blue-lite-sitdris btn ml-5" v-if="showAction(1)">
                            <i class="fa fa-plus mr-2"></i>  Nuevo usuario
                    </button>
                </v-card-title> 
                
                <v-data-table
                  v-if="showAction(1)" dense :headers="headers" :items="list" sort-by="name" class="elevation-1"
                  :search="search"
                  :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                  loading-text="Carngando..." no-data-text="Sin resultados disponibles"
                  no-results-text="Sin resultados coincidentes con la búsqueda">
                  <template v-slot:[`item.availableText`]="{ item}" v-if="withPermissionName(permissions.USER_UPDATE_STATUS)">
                    <v-switch color="success" class="hand" dense @change="confirmchangeStatus(item)" inset
                      v-model="item.available">
                    </v-switch>
                  </template>
                  <div v-else>
                        {{item.available ? 'Activo':'Inactivo'}}
                  </div>
                  <template v-slot:[`item.actions`]="{ item, index}">
                    <div>
                      
                     

                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <i class="dripicons-information mr-3" style="cursor:pointer;font-size: 1.2em;" @click="view(item)" v-bind="attrs" v-on="on"></i>
                        </template>
                        <span>Ver</span>
                      </v-tooltip>
                     
                    </div>
                    
                  </template>
                </v-data-table>
                
                <v-card-text v-if="showAction(2) || showAction(3) || showAction(4)">
                  <validation-observer ref="observer" v-slot="{ invalid }" disabled>
                    <form @submit.prevent="doAction">

                      <v-divider></v-divider>
                      <div class="row">
                        <div class="col-md-12 titleBar">
                            <p>Información de identificación médica</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="CURP" rules="required|max:20">
                            <v-text-field :disabled="isView" v-model="model.curp" :counter="20"
                              :error-messages="errors" label="CURP*" required autocomplete="off"></v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="NSS" rules="required|max:50">
                            <v-text-field :disabled="isView" v-model="model.nss" :counter="50"
                              :error-messages="errors" label="NSS*" required autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Agregado médico" rules="required|max:200">
                            <v-text-field :disabled="isView" v-model="model.medicalAggregated" :counter="200"
                              :error-messages="errors" label="Agregado médico*" required autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                        
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <validation-provider v-slot="{ errors }" name="Indicador de derecho" rules="required|max:200">
                                <v-text-field :disabled="isView" type="number" v-model="model.rightIndicator" 
                                  :error-messages="errors" label="Indicador de derecho*" required autocomplete="off">
                                </v-text-field>
                              </validation-provider>
                          </div>
                          <div class="col-md-4">
                              <validation-provider v-slot="{ errors }" name="Clave presupuestal de adscripción" rules="max:12">
                                  <v-text-field  v-model="model.budgetKey" :counter="12" 
                                    name="Clave presupuestal de adscripción" 
                                  :error-messages="errors" 
                                  label="Clave presupuestal de adscripción (opcional)"
                                  autocomplete="off"></v-text-field>
                              </validation-provider> 
                          </div>
                          <div class="col-md-4">
                            <validation-provider v-slot="{ errors }" name="Fin vigencia">
                                <v-text-field  v-model="model.endValidity" type="date" 
                                :error-messages="errors" label="Fin vigencia"
                                autocomplete="off"></v-text-field>
                            </validation-provider>
                          </div>
                      </div>
                      <v-divider></v-divider>
                      <div class="row">
                        <div class="col-md-12 titleBar">
                            <p>Información de personal</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Nombre" rules="required|max:100">
                            <v-text-field :disabled="isView" v-model="model.name" :counter="100"
                              :error-messages="errors" label="Nombre*" required autocomplete="off"></v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Primer apellido" rules="required|max:200">
                            <v-text-field :disabled="isView" v-model="model.firstLastname" :counter="200"
                            
                              :error-messages="errors" label="Primer apellido*" required autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Segundo apellido" rules="max:200">
                            <v-text-field :disabled="isView" v-model="model.secondLastname" :counter="200"
                              :error-messages="errors" label="Segundo apellido (opcional)" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Sexo" rules="required">
                            <v-autocomplete :disabled="isView" auto-select-first :items="['Hombre', 'Mujer']"
                              no-data-text="Sin resultados" attach v-model="model.sex" :error-messages="errors"
                              clearable required label="Sexo*">
                            </v-autocomplete>
                          </validation-provider>
                        </div>
                        <div class="col-md-4">
                            <validation-provider v-slot="{ errors }" name="Fecha nacimiento" rules="required">
                                <v-text-field  v-model="model.birthDate" type="date" 
                                :error-messages="errors" label="Fecha nacimiento*"
                                required autocomplete="off"></v-text-field>
                            </validation-provider>
                        </div>
                        <div class="col-md-4">
                          <validation-provider v-slot="{ errors }" name="Estado civil" rules="required">
                            <v-autocomplete :disabled="isView" auto-select-first :items="['Soltero(a)', 'Casado(a)', 'Divorciado(a)', 'Viudo']"
                              no-data-text="Sin resultados" attach v-model="model.civilStatus" :error-messages="errors"
                              clearable required label="Estado civil*">
                            </v-autocomplete>
                          </validation-provider>
                        </div>
                      </div>


                      <v-divider></v-divider>
                      <div class="row">
                        <div class="col-md-12 titleBar">
                            <p>Información de contacto</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <validation-provider v-slot="{ errors }" name="Teléfono fijo" rules="max:3">
                            <v-text-field :disabled="isView" v-model="model.homePhoneCode" :counter="3"
                              :error-messages="errors" label="Código teléfono fijo (opcional)" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-3">
                          <validation-provider v-slot="{ errors }" name="Teléfono fijo" rules="max:12">
                            <v-text-field :disabled="isView" v-model="model.homePhone" :counter="12"
                              :error-messages="errors" label="Teléfono fijo (opcional)" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                      
                     
                        <div class="col-md-3">
                          <validation-provider v-slot="{ errors }" name="Teléfono celular" rules="max:3">
                            <v-text-field :disabled="isView" v-model="model.cellPhoneCode" :counter="3"
                              :error-messages="errors" label="Código teléfono celular (opcional)" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-3">
                          <validation-provider v-slot="{ errors }" name="Teléfono celular" rules="max:12">
                            <v-text-field :disabled="isView" v-model="model.cellPhone" :counter="12"
                              :error-messages="errors" label="Teléfono celular (opcional)" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                            <validation-provider v-slot="{ errors }" name="Entidad federativa" rules="required">
                              <v-autocomplete :disabled="isView" auto-select-first :items="['Morelos']"
                                no-data-text="Sin resultados" attach v-model="model.federalEntity" :error-messages="errors"
                                clearable required label="Entidad federativa*">
                              </v-autocomplete>
                            </validation-provider>
                        </div>
                        <div class="col-md-3">
                            <validation-provider v-slot="{ errors }" name="Municipio" rules="required">
                              <v-autocomplete :disabled="isView" auto-select-first :items="['Cuernavaca','Temixco']"
                                no-data-text="Sin resultados" attach v-model="model.municipality" :error-messages="errors"
                                clearable required label="Municipio*">
                              </v-autocomplete>
                            </validation-provider>
                        </div>
                         <div class="col-md-2">
                          <validation-provider v-slot="{ errors }" name="Colonia" rules="required|max:200">
                            <v-text-field :disabled="isView" v-model="model.colony" :counter="200"
                              required :error-messages="errors" label="Colonia*" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-2">
                          <validation-provider v-slot="{ errors }" name="Calle" rules="required|max:200">
                            <v-text-field :disabled="isView" v-model="model.street" :counter="200"
                              required :error-messages="errors" label="Calle*" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                        <div class="col-md-2">
                          <validation-provider v-slot="{ errors }" name="Código postal" rules="required|max:7">
                            <v-text-field :disabled="isView" v-model="model.postalCode" :counter="7"
                              required :error-messages="errors" label="Código postal*" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                      </div>


                      <v-divider></v-divider>
                      <div class="row">
                        <div class="col-md-12 titleBar">
                            <p>Información de defunción</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                            <validation-provider v-slot="{ errors }" name="Fecha defunción">
                                <v-text-field  v-model="model.dateDeath" type="date" 
                                :error-messages="errors" label="Fecha defunción (opcional)"
                                autocomplete="off"></v-text-field>
                            </validation-provider>
                        </div>
                       
                         <div class="col-md-8">
                          <validation-provider v-slot="{ errors }" name="Indicador de fallecimiento" rules="max:200">
                            <v-text-field :disabled="isView" v-model="model.deathIndicator" :counter="200"
                              :error-messages="errors" label="Indicador de fallecimiento (opcional)" autocomplete="off">
                            </v-text-field>
                          </validation-provider>
                        </div>
                      </div>




                      <div class="col-md-12 text-center">

                        <v-btn class="mr-5 mt-5 blue-lite-sitdris btn" @click="changeAction(1)">
                          <i class="fa fa-chevron-left"></i>  Volver
                        </v-btn>
                        <v-btn :class="{'text-danger':showAction(4)}" class="mr-5 mt-5 blue-lite-sitdris btn" type="submit" :disabled="invalid || sending">
                              Guardar <i class="ti-save ml-3"></i>
                        </v-btn>
                    </div>
                    </form>
                  </validation-observer>
                </v-card-text>
              </v-card>
            </template>
          </div>
        </div>
      </div>
      <!-- End Contentbar -->

    </div>
    <!-- End Rightbar -->
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>{{changeStatus.question}}</small>
        </v-card-title>
        <v-card-text>{{changeStatus.description}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelchangeStatus" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="updateStatus" :disabled="sending">
            Sí, continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogResetPassword" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <small>¿Restablecer contraseña?</small>
        </v-card-title>
        <v-card-text>La contraseña de <strong>{{model.name}}</strong> será cambiará a:</br>
          <strong>{{model.email}}</strong> </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogResetPassword = false" :disabled="sending">
            Cancelar
          </v-btn>
          <v-btn color="green darken-1" text @click="resetPassword" :disabled="sending">
            Sí, restablecer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <!-- End Containerbar -->
  <!-- Start js -->
</template>

<script type="JS">
import { Topbar, Sidebar, Footer } from "@/components";
import { DTHeaders, UtilFront,PermissionConstants } from "@/core";
import { PatientRequest, RolRequest, BranchOfficeRequest,ExcelRequest } from "@/core/request";
import { required, max, email,min  } from "vee-validate/dist/rules";
import moment from 'moment';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("email", {
  ...email,
  message: "{_field_} ingrese una dirección de correo valida",
});

extend('password', {
  params: ['target'],
  validate(value, { target }) {
    return value === target;
  },
  message: 'Las contraseñas no coinciden'
});


export default {
  data() {
    return {
      service: PatientRequest,
      title: "Usuarios",
      list: [],
      headers: [
        { text: "ID Usuario", value: "idPatient" },
        { text: "Usuario", value: "fullNamePatient" },
        { text: "Rol", value: "rol" },
        { text: "Fecha registro", value: "registrationDate" },
        { text: "Acciones", value: "actions", sortable: false },
    ],
    //   headers: DTHeaders.PATIENTS,
      search: "",
      action: 1,
      sending: false,
      dialog: false,
      dialogResetPassword: false,
      isView: false,
      model: {},
      notifier: { notifying: false, type: "", message: "" },
      branchOffices: [],
      branchOffice : {},
      myBranchOffices:[],
      roles: [],
      permissions: PermissionConstants,
      changeStatus:{
        question: "",
        description: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Topbar,
    Sidebar,
    Footer,
  },
  created() {
    this.listAll();
  },
  computed: {
    titleAction() {
      if (this.action == 1) {
        return "Usuarios";
      } else if (this.action == 2) {
        return "Registrar usuario";
      } else if (this.action == 3) {
        return "Modificar usuario";
      }else if (this.action == 4) {
        return "Información de usuario";
      }
      return "Listado";
    }
  },
  methods: {
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.model = {};
        this.action = action;
        this.$refs.observer.reset();
      } else {
        this.action = action;
        this.isView = action == 4;
      }
    },
    doAction() {
      if (this.action == 2) {
        this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    notification(type, message) {
      if (type == "success") {
        this.notifier.type = 1;
        this.notifier.title = "¡Éxito!";
        this.notifier.message = message || "Acción realizada correctamente.";
      } else if (type == "error") {
        this.notifier.type = 2;
        this.notifier.title = "Error";
        this.notifier.message = message || "Ocurrio un error interno";
      } else {
        this.notifier.type = 3;
        this.notifier.title = "Advertencia";
        this.notifier.message = message || "Verifiqué la información ingresada";
      }
      this.notifier.notifying = true;

       if(type != "error"){
                setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
            }


    },
    catchError(error) {
      console.log(error);
      this.notification("error", "Ocurrio un error interno");
    },
    listAll() {
      this.list = [];
      this.service.listAll().then((res) => {
        console.log(res.data);
        if(res.data.patients){
          this.list = res.data.patients.map((patient)=>{
              let fullNamePatient = `${patient.name} ${patient.firstLastname} ${patient.secondLastName}`;
              fullNamePatient = fullNamePatient.replace("null", "").replace("  "," ");
              let fullAddress = `${patient.directionStreet} ${patient.directionColony} ${patient.directionCity} ${patient.directionState}`;
              fullAddress = fullAddress.replace("null", "").replace("  "," ");
              return {
                  idPatient: patient.id * 75222,
                  fullNamePatient: fullNamePatient,
                  curp: patient.curp,
                  fullAddress:fullAddress,
                  rol:"Paciente",
                  imssNumber: (patient.patientNSS || "---"),
                  medicalAggregated: (patient.medicalAggregated || "---"),
                  registrationDate: moment(patient.registrationDate).format('YYYY-MM-DD')
              };
          });
        }
      }).catch(this.catchError);
      
    },
    add() {

      try{
          let obj = this.model;
          let JSON_HL7 = {
              resourceType: "Patient",
              identifier: [
                  { value: `${obj.nss}${obj.medicalAggregated}` }, { value: obj.curp },
                  { value: obj.nss }, { value: obj.medicalAggregated }
              ],
              name: [{
                  resourceType: "HumanName",
                  family: obj.firstLastname,
                  given: [obj.name],
                  suffix: obj.secondLastname
              }],
              telecom: [{
                  resourceType: "ContactPoint",
                  system: obj.homePhoneCode,
                  value: obj.homePhone
              }, {
                  resourceType: "ContactPoint",
                  system: obj.cellPhoneCode,
                  value: obj.cellPhone
              }],
              gender: obj.sex,
              birthDate: obj.birthDate + "T00:00",
              deceasedBoolean: (obj.dateDeath ? true : false),
              address: [{
                  resourceType: "Address",
                  line: [obj.street],
                  city: obj.municipality,
                  district: obj.colony,
                  state: obj.federalEntity,
                  postalCode: obj.postalCode
              }],
              maritalStatus: [{ coding: obj.civilStatus }],
              generalPractitioner: [{
                  resourceType: "Organization",
                  identifier: [{ value: obj.budgetKey }]
              }],
              extension: [{
                  valueDate: obj.endValidity
              }, {
                  valueDate: `${moment(new Date()).format('YYYY-MM-DDTHH:MM')}:00Z`
              }, {
                  valueInteger: obj.rightIndicator
              }]
          };
          console.log(JSON_HL7);
          this.service.add(JSON_HL7).then((res)=>{
              let data = res.data;
              let message = UtilFront.getMessageError(data);
              if(message == null){
                  this.changeAction(1);
                  this.$toast.success("Registro realizado correctamente");
              }else{
                  this.$toast.error(message || "Ocurrio un error interno");
              }
          }).catch(this.catchError).finally(()=>{
              this.sending = false;
          });

      }catch(e){
        console.log(e);
      }
     
    },
    update() {
      this.sending = true;
      this.service
        .update(this.model)
        .then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            if(message == '' || message == undefined){
              this.notification("success", "Cambios realizados correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
          } else {
            this.notification("error", message);
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(3);
    },
    view(object){
      Object.assign(this.model, object);
      this.listAllBranchOfficesByUser();
      this.changeAction(4);
    },
    listAllBranchOffices(){
      BranchOfficeRequest.listAllActive().then((res) => {
        let { data } = res.data;
        if (data) {
          this.branchOffices = data.map((obj) => {        
              return {
                value: {idBranchoffice: obj.idBranchoffice},
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
          });
        }
      }).catch(this.catchError);
    },
    listAllRoles(){
      this.roles = [];
      RolRequest.listAll()
        .then((res) => {
          let { data } = res.data;
          if (data.objects) {
            this.roles = data.objects.map((obj) => {      
              return {
                value: obj.idRole,
                text: `${obj.name} - (${obj.description})`,
              };
          });
          }
        })
        .catch(this.catchError);
    },
    confirmchangeStatus(item){
      this.model =  item;
      if(!item.available){
        this.changeStatus.question = "¿Desea inactivar la cuenta?"
        this.changeStatus.description = `${item.name} no podrá iniciar sesión.`;
      }else{
        this.changeStatus.question = "¿Desea activar la cuenta?"
        this.changeStatus.description = `${item.name} podrá iniciar sesión.`;
      }
      this.dialog = true;
    },
    confirmResetPassword(item){
      this.model =  item;
      this.dialogResetPassword = true;
    },
    cancelchangeStatus(){
      this.dialog = false; 
      this.model.available =  !this.model.available;
    },
    updateStatus(){
      this.sending = true;
      this.service.updateStatus({id: this.model.idUser, status: (this.model.available ? 1 : 0)}).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Cambios realizados correctamente");
          } else {
            this.model.available =  !this.model.available;
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialog = false; 
      });
    },
    resetPassword(){
      this.sending = true;
      this.service.resetPassword(this.model.idUser).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.notification("success", "Contraseña restablecida");
          } else {
            this.notification("error", message);
          }
      }).catch(this.catchError)
      .finally(() => {
          this.sending = false;
          this.dialogResetPassword = false; 
      });
    },
    listAllBranchOfficesByUser(){     
      this.service.listAllBranchOfficesByUserId(this.model.idUser).then((res) => {
          let { data } = res.data;
          let {  objects } = data;
          if (objects) {
            this.model.branchOffices = objects.map((object) => {
                return {idBranchoffice: object.idBranchoffice};
            });
          } else {
             this.model.branchOffices = [];
          }
      }).catch(this.catchError);
    },
    withPermission(numRol){
      return UtilFront.withPermission(numRol);
    },
    withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    excel() {
        this.$toast.success("Generando documento Xlsx");
        ExcelRequest.reportUsers({
          id:this.branchOffice.idBranchoffice
        });
    }
  },
};
</script>

<style>

</style>