<template lang="es">
    <div id="containerbar" data-app>
        <SidebarMenuComponent />
        <div class="rightbar">
            <Topbar />
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-4">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <v-autocomplete  v-if="branchOffices.length > 1" @change="refreshTables()" auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                              v-model="branchOffice" 
                              clearable  
                                label="Sucursal" >
                        </v-autocomplete> 
                    </div>
                    <div class="col-md-4  col-lg-4 text-right">
                        <button class="btn btn-primary mr-2"  @click="excel()"> <i class="ti-move mr-2" ></i> Existencias y Movimientos en <br>Inventario</button>
                    </div>
                </div>
            </div>
            <div class="contentbar">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                      <div v-if="messageMoveSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>¡Exito!</strong> Se movio el producto a una nueva ubicación.
                        <button type="button" @click="messageMoveSuccess = false" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <template>
                        <v-card>
                          <v-card-title>
                            <div class="row">
                              <div class="col-md-10">
                                <h5 class="card-title mb-0"><i class="ti-package mr-2"></i> {{titleAction}}</h5>
                              </div>
                            </div>

                          </v-card-title>

                          <v-data-table 
                              v-if="showAction(1)"
                              dense :headers="switchHeader" :items="switchList" 
                              class="elevation-1" 
                              :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                              loading-text="Carngando..."
                              no-data-text="Sin resultados disponibles"
                              no-results-text="Sin resultados coincidentes con la búsqueda"
                              :search="searchTableMain">

                              <template v-slot:top>
                                <div class="row">
                                  <div class="col-md-6">
                                    <!-- (Modificacion) Se agrego el boton switch para intercambiar entre 2 tablas -->
                                    <div class="row">
                                      <div class="col-md-3 pl-10" v-if="withPermissionName(permissions.STOCK_DETAILS)">
                                        <v-switch v-model="switchDetails" label="Detalle de Existencia" /> 
                                      </div>

                                      <div class="col-md-3 pl-10" v-if="withPermissionName(permissions.STOCK_SOLD_OUT)">
                                        <v-switch  v-model="switchSoldOut" @change="refreshTables()" label="Productos Agotados" /> 
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6 ">
                                    <v-text-field v-model="searchTableMain" label="Buscar en existencia ..." class="pr-5" ></v-text-field>
                                  </div>
                                </div>
                              </template>

                              <template v-slot:item.actions="{ item }">

                                <div>

                                  <!-- (Modificacion) Se agrego el tooltip al boton de Movimiento-->
                                  <v-tooltip top v-if="switchDetails" >
                                    <template v-slot:activator="{ on, attrs }">
                                      <i class="dripicons-preview mr-3" style="cursor:pointer;font-size: 0.9em;" @click="viewItem(item)" v-bind="attrs" v-on="on"></i>
                                    </template>
                                    <span>Movimientos</span>
                                  </v-tooltip>

                                  <!-- (Modificacion) Se agrego el tooltip al boton de Reasignar-->
                                  <v-tooltip top v-if="withPermissionName(permissions.STOCK_RE_ASING) && switchDetails && !switchSoldOut" >
                                    <template v-slot:activator="{ on, attrs }">
                                      <i class="dripicons-box mr-3" style="cursor:pointer;font-size: 0.9em;" @click="moveItem(item)" v-bind="attrs" v-on="on"></i>
                                    </template>
                                    <span>Reasigar</span>
                                  </v-tooltip>


                                 <v-tooltip top v-if="withPermissionName(permissions.LOT_UPDATE) && switchDetails">
                                    <template v-slot:activator="{ on, attrs }">
                                      <i class="dripicons-document-edit mr-3" style="cursor:pointer;font-size: 0.9em;" @click="edit(item, index)" v-bind="attrs" v-on="on"></i>
                                    </template>
                                    <span>Editar</span>
                                  </v-tooltip>

                                  <!-- (Modificacion) Se complemento la tabla con el boton de editar cantidad que permite el cambio de stock -->
                                  <v-tooltip top v-if="withPermissionName(permissions.STOCK_UPDATE_QUANTITY) && !switchDetails">
                                    <template v-slot:activator="{ on, attrs }">
                                      <i class="ti-package mr-3" style="cursor:pointer;font-size: 0.9em;" @click="changeQuantity(item,1)" v-bind="attrs" v-on="on"></i>
                                    </template>
                                    <span>Editar Cantidad</span>
                                  </v-tooltip>

                                  <!-- (Nuevo) Se agrego la funcionalidad de transferencias-->
                                  <!--<v-tooltip top v-if="withPermissionName(permissions.STOCK_UPDATE_QUANTITY_TRANSFER) && !switchDetails && !switchSoldOut">
                                    <template v-slot:activator="{ on, attrs }">
                                      <i class="ti-back-left mr-3" style="cursor:pointer;font-size: 0.9em;" @click="changeQuantity(item,2)" v-bind="attrs" v-on="on"></i>
                                    </template>
                                    <span>Transferencias</span>
                                  </v-tooltip>-->


                                  <!-- (Nuevo) Se agrego la funcionalidad de devolucion-->
                                  <!--<v-tooltip top v-if="withPermissionName(permissions.STOCK_RETURN) && !switchDetails && !switchSoldOut">
                                    <template v-slot:activator="{ on, attrs }">
                                      <i class="ti-loop mr-3" style="cursor:pointer;font-size: 0.9em;" @click="changeQuantity(item,3)" v-bind="attrs" v-on="on"></i>
                                    </template>
                                    <span>Devoluciones</span>
                                  </v-tooltip>-->


                                </div>
                              </template>
                          </v-data-table>


                          <div class="col-md-6" >
                              <div class="invoice-footer-btn">
                                  <a href="javascript:window.print()" v-if="showAction(1)" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</a>
                                  <!--<button @click="excelWareHouse" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>-->
                              </div>
                          </div>
                          <v-card-text v-if="showAction(2) || showAction(3) || showAction(4)">
                            <validation-observer ref="observer" v-slot="{ invalid }" disabled>
                              <form @submit.prevent="doAction">
                                <div class="row">
                                  <div class="col-md-12">
                                    <validation-provider v-slot="{ errors }" name="Nombre" rules="required">
                                  
                                         <v-textarea v-model="model.fullName" 
                                         :disabled="true" rows="2" 
                                         name="description" label="Producto*" :error-messages="errors"
                                                              required counter  ></v-textarea>
                                    </validation-provider>
                                  </div>
                                </div>
                                <div class="row">
                                  
                                  <div class="col-md-6">
                                    <validation-provider v-slot="{ errors }" name="Fecha expiración" rules="required|max:200">
                                      <v-text-field  v-model="model.expirationDate" :counter="200" type="date"
                                        :error-messages="errors" label="Fecha expiración*" required autocomplete="off">
                                      </v-text-field>
                                    </validation-provider>
                                  </div>
                                  <div class="col-md-6">
                                    <validation-provider v-slot="{ errors }" name="Lote"
                                      rules="required|max:60">
                                      <v-text-field v-model="model.lote"  type="text"
                                        :counter="60" :error-messages="errors" label="Lote*" required
                                        autocomplete="off"></v-text-field>
                                    </validation-provider>
                                  </div>
                                </div>
                              
                              
                                <div class="col-md-12 text-right">
                                  <button class="btn btn-info mr-5" v-if="showAction(2) || showAction(3) ||showAction(4)" @click="changeAction(1)">
                                      <i class="ti-close mr-2"></i> Cancelar
                                    </button>
                                  <button class="btn btn-success" v-if="!showAction(4)" type="submit" :disabled="invalid || sending">
                                    <i class="ti-save mr-2"></i> Guardar
                                  </button>
                                </div>
                              </form>
                            </validation-observer>
                          </v-card-text>
                        </v-card>
                      </template>
                    </div>
                </div>
            </div>


            <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
              <v-card>
                <v-toolbar dark color="blue-fmedical">
                  <v-toolbar-title class="pt-4">
                    <p class="text-center"><i class="ti-stats-up mr-2"></i> Seguimiento de Producto</p>
                  </v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-toolbar-items>
                  <v-btn icon dark @click="dialog = false">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                  </v-toolbar-items>
                </v-toolbar>
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="card-title mb-0"><i class="ti-archive mr-2"></i> Detalle Sotck # {{StockDetail.idStock}} </h5>
                      <hr>
                      <div class="row text-center">
                        <div class="col-md-4 col-sm-12">
                          <strong>Referencía de Remisión:</strong><br> {{StockDetail.remmisionKey}}
                        </div>
                        <div class="col-md-4 col-sm-12">
                          <strong>Fecha de Ingreso al Almacén:</strong><br> {{StockDetail.dateIn}}
                        </div>
                        <div class="col-md-4 col-sm-12">
                          <strong>Fecha de Ingreso por Remisión:</strong><br> {{StockDetail.dateInputRemmision}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-md-6 col-sm-12">
                      <h5 class="card-title mb-0"><i class="ti-back-left mr-2"></i> Detalle de Stock Origen</h5>
                      <hr>
                      <div class="activities-history">
                        <div v-if="stockOriginList.length > 0">
                          <div v-for="origin in stockOriginList" :key="origin.idStock" class="activities-history-list">
                              <div class="activities-history-item">
                                  <h6>Stock # {{origin.idStock}} | {{origin.locationKey}}.</h6>
                                  <p class="mb-0">Fecha de Ingreso; {{origin.dateInStock}}</p>
                                  <p class="mb-0">Estatus: {{origin.status}}</p>
                                  <p class="mb-0">Cantidad Actual: {{origin.quantity}}</p>
                              </div>
                          </div>
                        </div>
                        <div v-else>
                          <h3 align="center">Sin movimientos</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <h5 class="card-title mb-0"><i class="ti-back-right mr-2"></i> Detalle de Movimientos</h5>
                      <hr>
                      <div class="activities-history">
                        <div v-if="stockDestinationList.length > 0">
                          <div v-for="destination in stockDestinationList" :key="destination.idStock" class="activities-history-list">
                              <div v-if="destination.status != 'Enviado'" class="activities-history-item" >
                                  <h6>Stock # {{destination.idStockHistory}} | {{destination.locationkey}}.</h6>
                                  <h6> Movido por : {{destination.fullNameUser}} </h6>
                                  <p class="mb-0">Fecha de Ingreso; {{destination.dateIn}}</p>
                                  <p class="mb-0 text-fmedical-blue bold">Estatus: {{destination.status}}</p>
                                  <p class="mb-0">Cantidad: {{destination.quantity}}</p>
                              </div>
                              <div v-else class="activities-history-item" >
                                  <h6>Stock # {{destination.idStockHistory}} | {{destination.locationkey}}.</h6>
                                  <h6> Enviado por : {{destination.fullNameUser}} </h6>
                                  <p class="mb-0">Fecha de envio; {{destination.dateIn}}</p>
                                  <p class="mb-0 text-fmedical-green bold">Estatus: {{destination.status}}</p>
                                  <p class="mb-0">Cantidad: {{destination.quantity}}</p>
                              </div>
                          </div>
                        </div>
                        <div v-else>
                          <h3 align="center">Sin movimientos</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </v-card>
            </v-dialog>

            <v-dialog v-model="dialogMove" persistent max-width="400px">
              <v-card>
                <v-card-title>
                  <h5 class="card-title mb-0"><i class="ti-package mr-2"></i> Reasigar Lugar a Producto</h5>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <div v-if="messageQuantitiUpper" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Ups!</strong> La canitdad que deseas mover es mayor a la existencia.
                        <button type="button" @click="messageQuantitiUpper = false" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <v-col cols="12" sm="12" md="6">
                        <h3 align="center" style="line-height: 50px">{{moveItemHolder.quantity}}</h3>
                      </v-col>
                      <v-col cols="12" sm="12" md="6">
                        <v-text-field label="Cantidad" type="number" min="0" v-model.number="newQuantity" @change="updateQuantities">
                        </v-text-field>
                      </v-col>
                        <v-col cols="12" sm="12" md="12">
                          <v-text-field label="Ubicación" v-model="newLocation" @change="checkBtn">
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <button class="btn btn-danger mr-2" @click="dialogMove= false" >
                    <i class="ti-close mr-2"></i> Cancelar
                  </button>
                  <button class="btn btn-success " :disabled="movebtn" @click="saveNewLocation" >
                    <i class="ti-package mr-2"></i> Mover
                  </button>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <!--
            <v-dialog v-model="dialogQuantity" fullscreen hide-overlay transition="dialog-bottom-transition">
              <v-card>
                <v-card-title>
                  <h5 class="card-title "><i class="ti-package mr-2"></i> Actualizar Cantidad en Existencia</h5>
                </v-card-title>
                <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small">
                    <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                        <strong>{{notifier.title}}</strong> {{notifier.message}}
                        <button type="button" @click="notifier.notifying = false" class="close"
                            data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <v-card-text>
                    <h5>Causes: {{currentProduct}}</h5>
                    <h5 style="font-size: 15px">{{currentProductDescription}}</h5>
                </v-card-text>
                <v-container>
                </v-container>

                <br>
                <v-card-actions >
                  <v-spacer></v-spacer>
                  <button class="btn btn-danger mr-2" @click="closeUpdateModal" >
                    <i class="ti-close mr-2"></i> Cancelar
                  </button>
                </v-card-actions>
              </v-card>
            </v-dialog>
            -->


            <v-dialog v-model="dialogQuantity" fullscreen hide-overlay transition="dialog-bottom-transition">
              <v-card>
                <v-toolbar dark color="blue-fmedical" >
                  <v-toolbar-title class="pt-4">
                    <p class="text-center"><i :class="levelIcon"></i> {{levelTitle}}</p>
                  </v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-toolbar-items>
                  <v-btn icon dark @click=" dialogQuantity = false ">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                  </v-toolbar-items>
                </v-toolbar>
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="pt-3"><i class="ti-package mr-2 text-fmedical-blue"></i> <strong> <span> Causes:</span> </strong> {{product.productKey}} </p>
                      <p class="pb-3"><i class="ti-align-center mr-2 text-fmedical-blue"></i> <strong> <span> Descripción:</span> </strong> {{product.productName + " " + product.productDescripcion }}</p> 
                      <hr>
                      <div class="container">
                        <div v-if="notifier.notifying" style="font-size: small" class="pb-5">
                            <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                <strong>{{notifier.title}}</strong> {{notifier.message}}
                                <button type="button" @click="notifier.notifying = false" class="close"
                                    data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                        <div class="row" v-show=" level == 2 || level == 3 ">
                          <div class="col-md-2">
                            <i class="fa fa-building mr-2 text-fmedical-blue"></i> <strong> <span> Sucursal Actual:</span> </strong> 
                          </div>
                          <div class="col-md-10">
                            {{ currentBranchOfficeT }} 
                          </div>

                          <div class="col-md-2">
                            <p class="pt-5"><i :class=" levelIcon + ' text-fmedical-blue'"></i>  <strong> <span> {{levelTitle}}:</span> </strong></p>
                          </div>
                          <div class="col-md-10">
                            <v-autocomplete :items="branchOffices" no-data-text="Sin resultados" attach v-model="branchOfficeTrans" label="Sucursales" /> 
                          </div>

                        </div>

                        <div class="row">
                          <div class="col-md-12 pb-10">
                            <v-btn v-if=" level == 3 " class="float-right " type="button" @click="returnStock()" >
                                <i class="ti-loop mr-3"></i> Finalizar Devolucion
                            </v-btn>
                          </div>
                        </div>

                        <v-data-table 
                            dense :headers="stockProductHeader" :items="stockProduct" 
                            class="elevation-1" 
                            :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                            loading-text="Carngando..."
                            no-data-text="Sin resultados disponibles"
                            no-results-text="Sin resultados coincidentes con la búsqueda"
                            :search="searchStockProduct">

                            <template v-slot:top>
                              <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6 ">
                                  <v-text-field v-model="searchStockProduct" label="Buscar ..." class="pr-5" ></v-text-field>
                                </div>
                              </div>
                            </template>


                            <template v-slot:item.actions="{ item }">

                                  <!--<v-text-field :disabled="sending" class="thin-number" v-model="item.quantityNew"  type="number" name="quantityReceived" ></v-text-field>-->

                                  <validation-observer  ref="observer" v-slot="{ invalid }">
                                      <form @submit.prevent=" (level == 1)? updateStockByProductQuantity(item) : changeQuantityTransfer(item)">
                                        <div class="row">
                                          <div :class=" ( level == 3 )? 'col-12 pt-7 ':'col-8 pt-7' ">
                                            <validation-provider v-slot="{ errors }" name="Cantidad" :rules=" (level != 1)? 'maxmin:' + item.quantity : 'greaterthan' ">
                                                  <v-text-field  :disabled="sending"  v-model="item.quantityNew" :error-messages="errors" label="Cantidad" type="number" name="quantityReceived" class="thin-number"></v-text-field>
                                            </validation-provider>
                                          </div>

                                          <div v-if=" level != 3" class="col-4 pt-5" >

                                            <!-- Boton para actualizar cantidad en stock -->
                                            <v-btn type="submit" v-if=" level == 1 "  :disabled="sending || invalid" fab dark small color="blue">
                                              <i class="ti-package"></i>
                                            </v-btn>


                                            <!-- Boton para Transferir a otra sucursal -->
                                            <v-btn type="submit" v-if=" level == 2 "  :disabled="sending || invalid" fab dark small color="blue">
                                              <i class="ti-back-left"></i>
                                            </v-btn>

                                          </div>
                                        </div>  
                                      </form>

                                  </validation-observer>

                            </template>

                        </v-data-table>


                      </div>
                    </div>
                  </div>
                  <div class="row mt-5">

                  </div>
                </div>
              </v-card>
            </v-dialog>

            <div class="mt-10">
            </div>
            <FooterComponent />
        </div>



    </div>
</template>

<style scoped>

  .blue-fmedical {
    background-color: #263A5B !important;
    color: white !important;
  }

</style>


<script>
import Topbar from "@/components/Topbar";
import SidebarMenuComponent from "@/components/SidebarMenuComponent";
import FooterComponent from "@/components/FooterComponent";
import axios from "axios";
import { DTHeaders, ServicePath,UtilFront,PermissionConstants } from "@/core";
import { WarehouseRequest,UserRequest,ExcelRequest,StockRequest,ProductResquest,ShipmentsRequest } from "@/core/request";
import moment from 'moment';



import { required, max, min,max_value  } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");
extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío",
});
extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres",
});
extend("min", {
  ...min,
  message: "{_field_} no debe ser menor de {length} caracteres",
});

extend("max_value", {
  ...max,
  message: "{_field_} no debe ser menor de {length} caracteres",
});


extend("maxmin", {
  params: ['max'],
  validate: (value,{ max } ) => {
     if (value > -1 && value <= Number(max) ) return true;
     return false;
   },
  message: 'No cuentas con suficiente stock.'
});

extend("greaterthan", {
  params: ['max'],
  validate: (value,{ max } ) => {
     if (value > -1 ) return true;
     return false;
   },
  message: 'No es posible agregar numeros negativos.'
});



export default {
  data() {
    return {
      title: "Almacén",
      search: "",
      mainStockList: [],
      objectResponse: {},


      /* Cambios de Stock */
      mainProductStockHeader: DTHeaders.PRODUCT_STOCK,
      stockProductHeader: DTHeaders.STOCK_BY_PRODUCT,



      dialogQuantity: false,
      searchTableMain: '',
      searchTableProducts: '',
      searchStockProduct:'',
      mainProductStockList: [],
      stockProduct:[],
      currentIdProduct:0,
      currentProduct:'',
      currentProductDescription:'',
      notifier: {notifying: false, type:"", message:""},
      messageQuantitiUpper: false,
      messageQuantityUpdate: false,
      messageMoveSuccess: false,
      sending: false,
      date: '',
      dateModel: { startDate:'',endDate:'' },
      model:{},
      index:0,
      dialog: false,
      dialogMovEx: false,
      dialogMove: false,

      editedIndex: -1,
      newQuantity: 0,
      newLocation: "",
      temQuantity: 0,
      movebtn: true,
      moveItemHolder: {
        idStock: "",
        productName: "",
        locationKey: "",
        quantity: ""
      },
      updateStockQuantity: {
        idStock: "",
        quantity: 0,
        branchOfficeId: "",
        userId: ""
      },
      defaultItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      stockOriginList: [],
      stockDestinationList: [],
      StockDetail: [],
      branchOffice:{},
      branchOffices:[],
      action:1,
      permissions: PermissionConstants,
      /*Cuando se envia*/
      sending: false,


      /* Global */
      product: {},
      currentBranchOfficeT:'',

      /* Detalle de Existencia (Cambio de stock) */
      mainStockHeader: DTHeaders.STOCK,
      branchOfficeTrans:{},
      level:'',
      switchDetails: true,
      switchSoldOut: false,

    };
  },
  components: {
    Topbar,
    SidebarMenuComponent,
    FooterComponent,
       ValidationProvider,
    ValidationObserver
  },
  computed:{
      dateCompuded(){
          if(this.date == "" || this.date == null || this.date ==  undefined){
              return "";
          }

          this.dateModel.startDate = moment(this.date.start).format('YYYY-MM-DD');
          this.dateModel.endDate = moment(this.date.end).format('YYYY-MM-DD');

          return `${moment(this.date.start).format('YYYY-MM-DD')} al ${moment(this.date.end).format('YYYY-MM-DD')}`;
      },
      validData(){
          if(this.date == "" || this.date == null || this.date ==  undefined){
              return false;
          }
          //this.filter();
          return true;
      },
      titleAction() {
        if (this.action == 1) {
          return "Productos en Existencia";
        } else if (this.action == 3) {
          return "Modificación de stock";
        } 
        return "Productos en Existencia";
      },

      /* Detalle de Existencia */
      levelTitle(){
        if ( this.level == 1 ) {
          return "Actualizar Cantidad en Existencia";
        } else if ( this.level == 2 ) {
          return "Transferencias";
        } else if ( this.level == 3 ) {
          return "Devoluciones";
        }
      },
      levelIcon(){
        if ( this.level == 1 ) {
          return "ti-package mr-2";
        } else if ( this.level == 2 ) {
          return "ti-back-left mr-2";
        } else if ( this.level == 3 ) {
          return "ti-loop mr-2";
        }
      },
      switchHeader(){
        if ( this.switchDetails ) {
          return this.mainStockHeader;
        } else {
          return this.mainProductStockHeader;
        }
      },
      switchList(){
        if ( this.switchDetails ) {
          return this.mainStockList;
        } else {
          return this.mainProductStockList;
        }
      }
  },
  methods: {
    notification(type, message){
        if(type == "success"){
            this.notifier.type = 1;
            this.notifier.title = "¡Éxito!";
            this.notifier.message = message || "Acción realizada correctamente.";
        }else if(type == "error"){
            this.notifier.type = 2;
            this.notifier.title = "Error";
            this.notifier.message = message || "Ocurrio un error interno";
        }else{
            this.notifier.type = 3;
            this.notifier.title = "Advertencia";
            this.notifier.message = message || "Verifiqué la información ingresada";
        }
        this.notifier.notifying = true;

        if(type != "error"){
            setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
        }

    },
    catchError(error){
        this.notification("error","Ocurrio un error interno");
    }, 
    showAction(action) {
      return this.action == action;
    },
    changeAction(action) {
      if (action == 1) {
        this.$refs.observer.reset();
        this.model = {};
        this.action = action;
      } else {
        this.action = action;
      }
    },
    doAction() {
      if (this.action == 2) {
        // this.add();
      } else if (this.action == 3) {
        this.update();
      }
    },
    filterOnlyCapsText(value, search) {
      return (
        value != null &&
        search != null &&
        typeof value === "string" &&
        value
          .toString()
          .toLowerCase()
          .indexOf(search) !== -1
      );
    },
    viewItem(item) {
      this.editedIndex = this.mainStockList.indexOf(item);
      this.moveItemHolder = Object.assign({}, item);
      this.getStockHistory(this.moveItemHolder.idStock);
      this.dialog = true;
    },
    moveItem(item) {
      this.editedIndex = this.mainStockList.indexOf(item);
      this.moveItemHolder = Object.assign({}, item);
      this.dialogMove = true;
    },

    closeStockProduct(){
      this.dialogQuantity = false;
      this.stock
    },
    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
    saveNewLocation() {
      let dataUser = UtilFront.getDataUser();

      axios
        .post(ServicePath.MOVE_STOCK_LOCATION, {
          idStock: this.moveItemHolder.idStock,
          userId: dataUser.idUser,
          quantity: this.newQuantity,
          locationkey: this.newLocation
        })
        .then(response => {
          if (response.data.data.success) {
            this.newQuantity = 0;
            this.temQuantity = 0;
            this.newLocation = "";
            this.dialogMove = false;
            this.messageMoveSuccess = true;
            this.movebtn = true;
            this.listBranchOfficeByUser();
          }
        });
    },

    updateQuantities() {
      let suma =
        parseInt(this.temQuantity) + parseInt(this.moveItemHolder.quantity);
      if (this.newQuantity > suma) {
        this.messageQuantitiUpper = true;
        this.movebtn = true;
      } else {
        this.messageQuantitiUpper = false;
        this.moveItemHolder.quantity =
          this.moveItemHolder.quantity + this.temQuantity;
        this.moveItemHolder.quantity =
          this.moveItemHolder.quantity - this.newQuantity;
        this.temQuantity = this.newQuantity;
        this.movebtn = false;
      }
    },
    updateQuantity(){
      this.movebtn = true;
    },
    checkBtn() {
      let suma =
        parseInt(this.temQuantity) + parseInt(this.moveItemHolder.quantity);
      if (this.newQuantity <= suma && this.newLocation != "") {
        this.movebtn = false;
      }
    },
    getStockHistory(idStock) {
      axios
        .post(ServicePath.STOCK_HISTORY_ORIGIN, { id: idStock })
        .then(response => {
          this.stockOriginList = response.data.data.objects;
        });
      axios
        .post(ServicePath.STOCK_HISTORY_DESTINATION, { id: idStock })
        .then(response => {
          this.stockDestinationList = response.data.data.objects;
        });
      axios.post(ServicePath.STOCK_DETAIL, { id: idStock }).then(response => {
        this.StockDetail = response.data.data.object;
      });
    },
    bringBranchStock() {
     this.listAll()
    },
    listAll(){
      let infoUser = UtilFront.getDataUser();
      this.mainStockList = [];
      if(this.branchOffice != null){
        axios.post(ServicePath.GET_ALL_STOCK_FROM_USER_BRANCH, {
          idUser: infoUser.idUser,
          idBranchOffice:this.branchOffice.idBranchoffice,
          soldOut: this.switchSoldOut
        })
        .then(response => {
          //this.objectResponse = response.data.data.objects;
          //this.mainStockList = response.data.data.objects;


          for (var [index, value] of Object.entries(response.data.data.objects)) {
            let mainStockitem = {
                fiscalFund: value.fiscalFund,
                idProduct: value.idProduct,
                idStock: value.idStock,
                locationKey: value.locationKey,
                lote: value.lote,
                productDescripcion: value.productDescripcion,
                productKey: value.productKey,
                productName: value.productName + " " + value.productDescripcion,
                quantity: value.quantity,
                status: value.status,
                expirationDate: value.expirationDate
            };
            this.mainStockList.push(mainStockitem);
          }
        

        });
      }
      
    },
    listBranchOfficeByUser(){
      let infoUser = UtilFront.getDataUser();

      this.branchOffices = [];
      UserRequest.listAllBranchOfficesByUserId(infoUser.idUser)
        .then((res) => {
          let { data } = res.data;
          if (data) {
            this.branchOffices = data.objects.map((obj) => {
              return {
                value: { idBranchoffice: obj.idBranchoffice },
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
            });
            if (this.branchOffices.length > 0) {
                this.branchOffice = this.branchOffices[0].value;
            }
          }
        }).catch(this.catchError).finally(() => {
          this.listAll();
          this.listAllProducts();
        });
    },
    excel() {
      this.$toast.success("Generando documento Xlsx");
      ExcelRequest.reportMovementsInventoryStock({
          idBranchOffice: this.branchOffice.idBranchoffice,
          startDate : '0',
          endDate : '0'
      });
    },
    excelWareHouse(){
      this.$toast.success("Generando documento Xlsx");
      let infoUser = UtilFront.getDataUser();
      ExcelRequest.reportWareHouse({
        idUser: infoUser.idUser,
        idBranchOffice:this.branchOffice.idBranchoffice
      });
    },
    clearCalendar(){
      this.date = "";
    },
    edit(object, index) {
      this.index = index;
      Object.assign(this.model, object);
      console.log(object);
      let day = this.model.expirationDate.split("/")[0];
      let month = this.model.expirationDate.split("/")[1];
      let year = this.model.expirationDate.split("/")[2];
      this.model.expirationDate =  `${year}-${month}-${day}`;
      this.model.fullName =  `${this.model.productName} ${this.model.productDescripcion}`;
      this.changeAction(3);
    },
    update() {
      this.sending = true;
      let data = {
        stockId: this.model.idStock,
        expirationDate: this.model.expirationDate,
        lot: this.model.lote,
        userID: UtilFront.getIdUser()
      };
      var requestUpdate = axios.post(ServicePath.UPDATE_PRODUCT_REMMISION_BY_STOCK, data);
        
      requestUpdate.then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.listAll();
            this.changeAction(1);
            if(message == '' || message == undefined){
              this.$toast.success("Cambios realizados correctamente");
            }else{
              this.$toast.warning(message, {duration: 6000});
            }
          } else {
             this.$toast.error(message || "Ocurrio un error interno", {duration: 6000});
          }
        })
        .catch(this.catchError)
        .finally(() => {
          this.sending = false;
        });
    },
    withPermissionName(numRol){
      return UtilFront.withPermissionName(numRol);
    },

    /*closeUpdateModal(){
      this.stockProduct = [];
      this.dialogQuantity = false;
    },*/

    /* Detalle de existencia*/
    updateStockProduct(){
      let dataUser = UtilFront.getDataUser();
      StockRequest.listAllStockByProductAndBranchOffice({
        userId: dataUser.idUser,
        branchOfficeId: this.branchOffice.idBranchoffice,
        productId: this.currentIdProduct,
        soldOut: this.switchSoldOut
      }).then( (response) => {
          let { data } = response.data;
          this.stockProduct = data.objects;
      });
    },
    listAllProducts(){
      let infoUser = UtilFront.getDataUser();
      ProductResquest.findAllProductsInStockByBranchOffice({
        idUser: infoUser.idUser,
        idBranchOffice: this.branchOffice.idBranchoffice,
        soldOut: this.switchSoldOut
      }).then( (response) => {

        let { data } = response.data;
        this.mainProductStockList = data.objects;

      });
    },
    refreshTables(){
      this.listAll();
      this.mainProductStockList = [];
      this.listAllProducts();
    },
    updateStockByProductQuantity(item){
      console.log(item);

      if ( item.quantityNew != null ) {
        //Procesando
        this.sending = true;
        
        this.updateStockQuantity.quantity = item.quantityNew;
        this.updateStockQuantity.idStock = item.idStock;
        StockRequest.updateStockQuantity(this.updateStockQuantity).then( (response) => {

            let { data } = response.data;
            let { success , message } = data;

            if (success) {

              this.updateStockQuantity.quantity = 0;
              this.updateStockQuantity.idStock = '';
              this.moveItemHolder.quantity = '';

              this.notification("success","Actualizacion de existencias")

              this.updateStockProduct();
              this.listAll();
            } else {
              this.notification("error",message)
            }
            this.sending = false;
        });

      } else {
          this.notification("error","Campo cantidad vacio")
      }

    },

    changeQuantity(item,level) {

      this.currentBranchOffice();

      let dataUser = UtilFront.getDataUser();
      this.dialogQuantity = true;

      //Guarda si es transferencia o actualizar cantidad en stock
      this.level = level;

      /* Información del producto */
      this.product = item;

      this.currentProduct = item.productKey;
      this.currentProductDescription = item.productDescripcion;
      this.currentIdProduct = item.idProduct;

      this.updateStockProduct();

      this.updateStockQuantity.branchOfficeId = this.branchOffice.idBranchoffice;
      this.updateStockQuantity.userId = dataUser.idUser;



    },
    /* Transferencias */
    changeQuantityTransfer(item){
      console.log(item);

      if ( this.branchOfficeTrans.idBranchoffice != null ) {

        if (  this.branchOfficeTrans.idBranchoffice != this.branchOffice.idBranchoffice  ) {

          if ( item.quantityNew != null  ) {

            this.sending = true;
            
            this.updateStockQuantity.quantity = item.quantityNew;
            this.updateStockQuantity.idStock = item.idStock;

            //Id de la sucursal donde voy a transferir
            this.updateStockQuantity.branchOfficeId = this.branchOfficeTrans.idBranchoffice;

            console.log(this.branchOfficeTrans);

            let infoUser = UtilFront.getDataUser();
            this.updateStockQuantity.userId = infoUser.idUser;

            StockRequest.updateStockQuantityTransfer(this.updateStockQuantity).then( (response) => {

                let { data } = response.data;
                let { success , message } = data;

                if (success) {

                  this.updateStockQuantity.quantity = 0;
                  this.updateStockQuantity.idStock = '';
                  this.moveItemHolder.quantity = '';

                  this.notification("success","Transferencia existoso")

                  this.updateStockProduct();
                  this.listAll();
                } else {
                  this.notification("error",message)
                }
                this.sending = false;
            });

          } else {
            this.notification("error","Es necesario ingresar una cantidad antes de transferir.")
          }

        } else {
          this.notification("error","No es posible transferir a la misma sucursal.")
        }

      } else {
          this.notification("error","Es necesario seleccionar una sucursal de transferencia para poder continuar.")
      }
    },
    /* Devoluciones */
    returnStock(item){

      if ( this.branchOfficeTrans.idBranchoffice != null  ) {

        let ordersStockList = [];

        this.stockProduct.filter( (element) => {
          if ( element.quantityNew != null ) {
            if ( element.quantityNew != '' ) {
              if ( element.quantityNew != '0' ) {
                ordersStockList.push({
                  idStock: element.idStock,
                  quantity: element.quantityNew
                });
              }
            }
          } 
        });

        if ( ordersStockList.length != 0 ) {
          
          let infoUser = UtilFront.getDataUser();

          let data =  {
            idBranchOffice: this.branchOffice.idBranchoffice,
            destinationId: this.branchOfficeTrans.idBranchoffice,
            idUser: infoUser.idUser,
            ordersStockList : ordersStockList
          };

          ShipmentsRequest.shipmentsReturn(data).then( (response) => {

              let { data } = response.data;
              let { success , message } = data;

              if ( success ) {
                
                console.log("debo refrescarrrr");
                this.updateStockProduct();
                this.listAll();
                this.notification("success","Devolucion completa");
              } else {
                this.notification("error",message)
              }

              
          });

        } else { 
          this.notification("error","Lista vacia.")
        }

      } else {
        this.notification("error","Es necesario seleccionar una sucursal de destino.")
      }


    },
    currentBranchOffice(){
      let currentBranchOffice = this.branchOffices.filter( (element) => {
        if ( element.value.idBranchoffice == this.branchOffice.idBranchoffice ) 
          return element;
      });

      this.currentBranchOfficeT = currentBranchOffice[0].text;
    },



  },
  created() {
    
    this.listBranchOfficeByUser();

    // WarehouseRequest.findAllStockWharehouse(2).then(response => {
    //   this.mainStockList = response.data.data.objects;
    // });
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    }
  }
};
</script>
