<template lang="es">
    <div id="containerbar" data-app>
        <SidebarMenuComponent />
        <div class="rightbar">
            <Topbar />
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }} > Transferencias </a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                        <button class="btn btn-primary mr-2" @click="excelTransfer()" > <i class="ti-back-left mr-2"></i> Histórico de Transferencias</button>
                    </div>
                </div>
            </div>
            <div class="contentbar">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                      <template>
                        <v-card>
                          <v-card-title>
                            <div class="row">
                              <div class="col-md-10">
                                <h5 class="card-title mb-0"><i class="ti-back-left mr-2"> </i> Transferencias </h5>
                              </div>
                            </div>
                          </v-card-title>

                          <v-data-table 
                              dense :headers="transferHeader" :items="transferList" 
                              class="elevation-1" 
                              :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                              loading-text="Carngando..."
                              no-data-text="Sin resultados disponibles"
                              no-results-text="Sin resultados coincidentes con la búsqueda"
                              :search="searchTransfer">

                              <template v-slot:top>
                                <div class="row">
                                  <div class="col-md-6"></div>
                                  <div class="col-md-6 ">
                                    <v-text-field v-model="searchTransfer" label="Buscar ..." class="pr-5" ></v-text-field>
                                  </div>
                                </div>
                              </template>


                          </v-data-table>


                        </v-card>
                      </template>
                    </div>
                </div>
            </div>

            <div class="mt-10">
            </div>
            <FooterComponent />
        </div>



    </div>
</template>



<script>
import Topbar from "@/components/Topbar";
import SidebarMenuComponent from "@/components/SidebarMenuComponent";
import FooterComponent from "@/components/FooterComponent";
import axios from "axios";
import { DTHeaders, ServicePath,UtilFront,PermissionConstants } from "@/core";
import { WarehouseRequest,UserRequest,ExcelRequest,StockRequest,ProductResquest } from "@/core/request";
import moment from 'moment';



import { required, max, email,min  } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

export default {
  data() {
    return {
      title: "Almacén",

      /* Cabeceras */
      transferHeader: DTHeaders.TRANSFER,

      /* Tablas */
      transferList: [],

      /* Search */
      searchTransfer: '',

    };
  },
  components: {
    Topbar,
    SidebarMenuComponent,
    FooterComponent,
    ValidationProvider,
    ValidationObserver
  },
  computed:{

  },
  methods: {

    excelTransfer(){

      this.$toast.success("Generando documento Xlsx");
      let infoUser = UtilFront.getDataUser();
      ExcelRequest.reportTransfer({});

    },

  },
  created() {

          StockRequest.listAllTransfer().then( (response) => {

              let { data } = response.data;
              let { success , message, object } = data;
              let { objects, totalCount } = object;

              this.transferList = objects;

 
          });



  }

};
</script>
