<template lang="es">
    <div id="containerbar" data-app>
        <SidebarMenuComponent />
        <div class="rightbar">
            <Topbar />
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-6">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ title }} > Devoluciones </a></li>
                            </ol>
                        </div>
                    </div>
                    <div :class=" ( action == 1 )? 'col-md-6 col-lg-6 text-right' : 'col-md-4 col-lg-4 text-right'">
                        <button class="btn btn-primary" @click="excelReturn()" > <i class="ti-loop mr-2"></i> Histórico de Devoluciones</button>
                    </div>
                    <div class="col-md-2 col-lg-2 text-right" v-if=" action == 2 ">
                        <button class="btn btn-primary" @click="changeAction()" > <i class="ti-arrow-left mr-2"></i> Regresar</button>
                    </div>
                </div>
            </div>
            <div class="contentbar">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                      <template>
                        <v-card>
                          <v-card-title>
                            <div class="row">
                              <div class="col-md-10">
                                <h5 class="card-title mb-0"><i class="ti-loop mr-2"> </i> Devoluciones </h5>
                              </div>
                            </div>
                          </v-card-title>
                          <div class="card">
                            <div v-if="notifier.notifying" class="col-lg-12" style="font-size: small" >
                                <div class="alert  alert-dismissible fade show" :class="{'alert-success': notifier.type == 1, 'alert-danger': notifier.type == 2, 'alert-warning': notifier.type == 3}" role="alert">
                                    <strong>{{notifier.title}}</strong> {{notifier.message}}
                                    <button type="button" @click="notifier.notifying = false" class="close"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                          </div>

                          <v-data-table 
                              v-if=" action == 1 "
                              dense :headers="returnHeader" :items="returnList" 
                              class="elevation-1" 
                              :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
                              loading-text="Carngando..."
                              no-data-text="Sin resultados disponibles"
                              no-results-text="Sin resultados coincidentes con la búsqueda"
                              :search="searchTransfer">

                              <template v-slot:top>
                                <div class="row">
                                  <div class="col-md-6"></div>
                                  <div class="col-md-6 ">
                                    <v-text-field v-model="searchTransfer" label="Buscar ..." class="pr-5" ></v-text-field>
                                  </div>
                                </div>
                              </template>

                              <template v-slot:[`item.actions`]="{ item, index }">
                                                              
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                      <span class="hand pr-3" @click="viewRecord(item)" v-bind="attrs" v-on="on">
                                          <i class="dripicons-preview"></i>
                                      </span>
                                    </template>
                                  <span>Detalle</span>
                                </v-tooltip>

                                <v-tooltip top>
                                      <template v-slot:activator="{ on, attrs }">
                                      <span  class="hand text-fmedical-red" @click="downloadPDF(item)" v-bind="attrs" v-on="on">
                                          <i class="fa fa-file-pdf-o" ></i>
                                      </span>
                                      </template>
                                    <span>Descargar PDF</span>
                                </v-tooltip>
                                
                              </template>  


                          </v-data-table>

                          <div class="row" v-if=" action == 2 ">
                            <div class="container">
                              <div class="col-md-6">
                                  <p class="pt-3"><i class="ti-truck mr-2 text-fmedical-blue"></i> <strong> <span> ID Envio:</span> </strong> {{ currentItem.shipmentsId }} <i class="feather icon-chevron-right mr-2 text-fmedical-blue"></i> <strong> <span> ID Salida:</span> </strong> {{ currentItem.orderId }}</p>
                              </div>
                            </div> 
                          </div>

                          <GenericDateTable :headers="orderProductsHeaders" :dataList="productsList" v-if=" action == 2 " />

                        </v-card>
                      </template>
                    </div>
                </div>
            </div>

            <div class="mt-10">
            </div>
            <FooterComponent />
        </div>



    </div>
</template>



<script>
import Topbar from "@/components/Topbar";
import SidebarMenuComponent from "@/components/SidebarMenuComponent";
import FooterComponent from "@/components/FooterComponent";
import GenericDateTable from "@/components/lists/GenericDateTable.vue";

import axios from "axios";
import { DTHeaders, ServicePath,UtilFront,PermissionConstants } from "@/core";
import { ExcelRequest,ShipmentsRequest,ProductResquest } from "@/core/request";
import moment from 'moment';



import { required, max, email,min  } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

export default {
  data() {
    return {
      title: "Almacén",

      /* Cabeceras */
      returnHeader: DTHeaders.RETURNS,
      orderProductsHeaders:DTHeaders.ORDER_PRODUCTS_RETURN,

      /* Tablas */
      returnList: [],
      productsList:[],

      /* Search */
      searchTransfer: '',

      /* Global */
      currentItem: {},
      action: 1,
      notifier: {notifying: false, type:"", message:""},

    };
  },
  components: {
    Topbar,
    SidebarMenuComponent,
    FooterComponent,
    ValidationProvider,
    ValidationObserver,
    GenericDateTable
  },
  computed:{

  },
  methods: {
    changeAction(action) {
      this.action = 1;
    },
    notification(type, message){
        if(type == "success"){
            this.notifier.type = 1;
            this.notifier.title = "¡Éxito!";
            this.notifier.message = message || "Acción realizada correctamente.";
        }else if(type == "error"){
            this.notifier.type = 2;
            this.notifier.title = "Error";
            this.notifier.message = message || "Ocurrio un error interno";
        }else{
            this.notifier.type = 3;
            this.notifier.title = "Advertencia";
            this.notifier.message = message || "Verifiqué la información ingresada";
        }
        this.notifier.notifying = true;

        if(type != "error"){
            setTimeout(()=>{ this.notifier.notifying = false; }, 10000); 
        }

    },
    catchError(error){
        this.notification("error","Ocurrio un error interno");
    }, 
    viewRecord(item){

      //Cambio a accion de ver lista de productos
      this.action = 2;
      this.currentItem = item;
      ProductResquest.findAllProductsByOrdersKey({
          idOrder: item.orderId,
          status: 4
      }).then( (response) => {
          this.productsList = response;
      });


    },
    excelReturn(){

      this.$toast.success("Generando documento Xlsx");
      ExcelRequest.reportReturn({});

    },
    pdf(item){
      let send = "orderId="+item.orderId+"&"+"idShipment="+(item.shipmentsId || item.idShipment);
      ExcelRequest.reportOrderPdf(send);
    },
    downloadPDF(item){
      this.pdf(item);
      this.$toast.success("Generando documento PDF");
    },

  },
  created() {
    let infoUser = UtilFront.getDataUser();

    //Listo todas las devoluciones de sucursal a sucursal o cedis a sucursal
    ShipmentsRequest.shipmentsDetailReturn({
      id: infoUser.idUser
    }).then( (response) => {

        let { data } = response.data;
        let { success, message, object } = data;

        if ( success ) {
          this.returnList = object;
        } else {
          this.notification("error",message);
        }

    }).catch(this.catchError).finally(()=>{

    });

  }

};
</script>
