<template lang="es">
    <!-- Start Containerbar -->
    <div id="containerbar">
        <SidebarMenuComponent></SidebarMenuComponent>
        <!-- Start Rightbar -->
        <div class="rightbar">
            <Topbar></Topbar>
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">{{title}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="/almacen">Alamcen</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ this.$route.params.clues }}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <!--<button v-if="!showRemmisionForm" class="btn btn-info ml-3" @click="remmisionAddForm" style="float:right"><i class="ti-clipboard"></i> Historial de Picking</button>-->
                        <button v-if="showRemmisionForm" class="btn btn-info" @click="backRemmisionList" style="float:right"><i class="ti-arrow-left"></i> Regresar</button>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                <div class="row">
                    <div class="col-lg-9 col-xl-9">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <h3>Inventario por Farmacia</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <router-link to="/almacen/sucursal/JCSSA002020">
                                            <div class="card text-white bg-secondary m-b-30">
                                                <div class="card-header">
                                                    <i class="ti-package mr-2"></i>
                                                    JCSSA002020<br>
                                                    <hr>
                                                    <strong>Centro de Salud Zoquipan</strong>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <router-link to="/almacen/sucursal/JCSSA002030">
                                            <div class="card text-white bg-secondary m-b-30">
                                                <div class="card-header">
                                                    <i class="ti-package mr-2"></i>
                                                    JCSSA002030<br>
                                                    <hr>
                                                    <strong>Centro de Salud Concepción</strong>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <router-link to="/almacen/sucursal/JCSSA002040">
                                            <div class="card text-white bg-secondary m-b-30">
                                                <div class="card-header">
                                                    <i class="ti-package mr-2"></i>
                                                    JCSSA002040<br>
                                                    <hr>
                                                    <strong>Centro de Lagos de Moreno</strong>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <router-link to="/almacen/sucursal/JCSSA002020">
                                            <div class="card text-white bg-secondary m-b-30">
                                                <div class="card-header">
                                                    <i class="ti-package mr-2"></i>
                                                    JCSSA002020<br>
                                                    <hr>
                                                    <strong>Centro de Salud Zoquipan</strong>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <router-link to="/almacen/sucursal/JCSSA002030">
                                            <div class="card text-white bg-secondary m-b-30">
                                                <div class="card-header">
                                                    <i class="ti-package mr-2"></i>
                                                    JCSSA002030<br>
                                                    <hr>
                                                    <strong>Centro de Salud Concepción</strong>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <router-link to="/almacen/sucursal/JCSSA002040">
                                            <div class="card text-white bg-secondary m-b-30">
                                                <div class="card-header">
                                                    <i class="ti-package mr-2"></i>
                                                    JCSSA002040<br>
                                                    <hr>
                                                    <strong>Centro de Lagos de Moreno</strong>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <h5 class="card-title text-center mb-0">Abasto</h5>
                            </div>
                            <div class="card-body" style="position: relative;">
                                <div id="apex-operation-status-chart" style="min-height: 280px;" class="ml-3">
                                    <div id="apexcharts9c03uvm1" class="apexcharts-canvas apexcharts9c03uvm1 light"
                                        style="width: 184px; height: 280px;"><svg id="SvgjsSvg1183" width="184"
                                            height="280" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg"
                                            xmlns:data="ApexChartsNS" transform="translate(0, -10)"
                                            style="background: transparent;">
                                            <g id="SvgjsG1185" class="apexcharts-inner apexcharts-graphical"
                                                transform="translate(-18.5, 0)">
                                                <defs id="SvgjsDefs1184">
                                                    <clipPath id="gridRectMask9c03uvm1">
                                                        <rect id="SvgjsRect1186" width="225" height="247" x="-1" y="-1"
                                                            rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0"
                                                            stroke="none" stroke-dasharray="0"></rect>
                                                    </clipPath>
                                                    <clipPath id="gridRectMarkerMask9c03uvm1">
                                                        <rect id="SvgjsRect1187" width="225" height="247" x="-1" y="-1"
                                                            rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0"
                                                            stroke="none" stroke-dasharray="0"></rect>
                                                    </clipPath>
                                                    <linearGradient id="SvgjsLinearGradient1193" x1="0" y1="1" x2="2"
                                                        y2="2">
                                                        <stop id="SvgjsStop1194" stop-opacity="1"
                                                            stop-color="rgba(242,242,242,1)" offset="0"></stop>
                                                        <stop id="SvgjsStop1195" stop-opacity="1"
                                                            stop-color="rgba(206,206,206,1)" offset="0.5"></stop>
                                                        <stop id="SvgjsStop1196" stop-opacity="1"
                                                            stop-color="rgba(206,206,206,1)" offset="0.65"></stop>
                                                        <stop id="SvgjsStop1197" stop-opacity="1"
                                                            stop-color="rgba(242,242,242,1)" offset="0.91"></stop>
                                                    </linearGradient>
                                                    <linearGradient id="SvgjsLinearGradient1205" x1="0" y1="1" x2="2"
                                                        y2="2">
                                                        <stop id="SvgjsStop1206" stop-opacity="1"
                                                            stop-color="rgba(0,128,255,1)" offset="0"></stop>
                                                        <stop id="SvgjsStop1207" stop-opacity="1"
                                                            stop-color="rgba(0,109,217,1)" offset="0.5"></stop>
                                                        <stop id="SvgjsStop1208" stop-opacity="1"
                                                            stop-color="rgba(0,109,217,1)" offset="0.65"></stop>
                                                        <stop id="SvgjsStop1209" stop-opacity="1"
                                                            stop-color="rgba(0,128,255,1)" offset="0.91"></stop>
                                                    </linearGradient>
                                                </defs>
                                                <g id="SvgjsG1189" class="apexcharts-radialbar">
                                                    <g id="SvgjsG1190">
                                                        <g id="SvgjsG1191">
                                                            <g id="apexcharts-track-0"
                                                                class="apexcharts-radialbar-track apexcharts-track"
                                                                rel="1">
                                                                <path id="apexcharts-radialbarTrack-0"
                                                                    d="M 64.30924560922705 158.69075439077295 A 66.73780487804879 66.73780487804879 0 1 1 158.69075439077295 158.69075439077295"
                                                                    fill="none" fill-opacity="1"
                                                                    stroke="rgba(242,242,242,0.85)" stroke-opacity="1"
                                                                    stroke-linecap="butt"
                                                                    stroke-width="20.07426829268293"
                                                                    stroke-dasharray="0"
                                                                    class="apexcharts-radialbar-area"
                                                                    data:pathOrig="M 64.30924560922705 158.69075439077295 A 66.73780487804879 66.73780487804879 0 1 1 158.69075439077295 158.69075439077295">
                                                                </path>
                                                            </g>
                                                        </g>
                                                        <g id="SvgjsG1199">
                                                            <g id="apexcharts-series-0"
                                                                class="apexcharts-series apexcharts-radial-series"
                                                                seriesName="Completed" rel="1">
                                                                <path id="apexcharts-radialbar-slice-0"
                                                                    d="M 64.30924560922705 158.69075439077295 A 66.73780487804879 66.73780487804879 0 0 1 155.28393946525063 61.13233929549853"
                                                                    fill="none" fill-opacity="0.85"
                                                                    stroke="url(#SvgjsLinearGradient1205)"
                                                                    stroke-opacity="1" stroke-linecap="butt"
                                                                    stroke-width="20.695121951219516"
                                                                    stroke-dasharray="4"
                                                                    class="apexcharts-radialbar-area" data:angle="176"
                                                                    data:value="65" index="0" j="0"
                                                                    data:pathOrig="M 64.30924560922705 158.69075439077295 A 66.73780487804879 66.73780487804879 0 0 1 155.28393946525063 61.13233929549853"
                                                                    selected="false"></path>
                                                            </g>
                                                            <circle id="SvgjsCircle1200" r="51.700670731707326"
                                                                cx="111.5" cy="111.5"
                                                                class="apexcharts-radialbar-hollow" fill="transparent">
                                                            </circle>
                                                            <g id="SvgjsG1201" class="apexcharts-datalabels-group"
                                                                transform="translate(0, 0)" style="opacity: 1;"><text
                                                                    id="SvgjsText1202" font-family="Muli" x="111.5"
                                                                    y="231.5" text-anchor="middle"
                                                                    dominant-baseline="auto" font-size="18px"
                                                                    fill="#8a98ac" class="apexcharts-datalabel-label"
                                                                    style="font-family: Muli;">Completed</text><text
                                                                    id="SvgjsText1203" font-family="Muli" x="111.5"
                                                                    y="203.5" text-anchor="middle"
                                                                    dominant-baseline="auto" font-size="24px"
                                                                    fill="#263a5b" class="apexcharts-datalabel-value"
                                                                    style="font-family: Muli;">65%</text></g>
                                                        </g>
                                                    </g>
                                                </g>
                                                <line id="SvgjsLine1211" x1="0" y1="0" x2="223" y2="0" stroke="#b6b6b6"
                                                    stroke-dasharray="0" stroke-width="1"
                                                    class="apexcharts-ycrosshairs"></line>
                                                <line id="SvgjsLine1212" x1="0" y1="0" x2="223" y2="0"
                                                    stroke-dasharray="0" stroke-width="0"
                                                    class="apexcharts-ycrosshairs-hidden"></line>
                                            </g>
                                        </svg>
                                        <div class="apexcharts-legend"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-center">
                                <div class="row">
                                    <div class="col-6 border-right">
                                        <p class="my-2"><span class="font-18 f-w-6 text-primary">115</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="my-2">
                                            <strong>Claves</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <h3>Inventario Sucursal: <strong>{{this.$route.params.clues}}</strong></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-borderless table-hover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">CAUSES</th>
                                                    <th scope="col">Producto</th>
                                                    <th scope="col">Financiamiento</th>
                                                    <th scope="col">Lote</th>
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">Ubicación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">010.000.0101.00</th>
                                                    <td>ACIDO ACETILSALICILICO, TABLETA	</td>
                                                    <td>INSABI</td>
                                                    <td>219072</td>
                                                    <td>10</td>
                                                    <td>P3R3S1</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">010.000.0431.00</th>
                                                    <td>SALBUTAMOL, JARABE	</td>
                                                    <td>INSABI</td>
                                                    <td>912335</td>
                                                    <td>20</td>
                                                    <td>P3R3S1</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">010.000.0443.00	</th>
                                                    <td>SALMETEROL, FLUTICASONA, SUSPENSION EN AEROSOL	</td>
                                                    <td>SEGPOP</td>
                                                    <td>C42S</td>
                                                    <td>30</td>
                                                    <td>P3R3S1</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">010.000.0413.00	</th>
                                                    <td>SALMETEROL, FLUTICASONA, SUSPENSION EN AEROSOL	</td>
                                                    <td>SEGPOP</td>
                                                    <td>C42S</td>
                                                    <td>30</td>
                                                    <td>P3R3S1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contentbar -->
            <FooterComponent></FooterComponent>

        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
</template>

<script type="jd">
import Topbar from '@/components/Topbar'
import SidebarMenuComponent from '@/components/SidebarMenuComponent'
import FooterComponent from '@/components/FooterComponent'

export default{
    data: function(){
        return {
            title:'Almacén',
        }
    },
    components: {
        Topbar,
        SidebarMenuComponent,
        FooterComponent
    }
}
</script>
