<template>

  <div>
      <!--<form method="POST" :action="pathReport" ref="reportForm">
          <input  type="hidden" id="orderId" name="orderId"/>
          <input  type="hidden" id="idShipment" name="idShipment"/>
      </form>
      
        :custom-filter="filterOnlyCapsText"
      -->
      <v-data-table
        :headers="headers"
        :items="dataList"
        item-key="idBidding"
        class="elevation-1"
        :search="search"
      
        :footer-props="{ 'items-per-page-text':'Elementos por página', 'items-per-page-all-text': 'Todo'}"
        :loading="loading"
        loading-text="Cargando..."
        no-data-text="Sin resultados disponibles"
        no-results-text="Sin resultados coincidentes con la búsqueda"
        :item-class="itemRowBackground"
        dense>

          <template v-slot:top v-if="searchBoxShow">
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 ">
                <v-text-field v-model="search" label="Buscar ..." class="pr-5" ></v-text-field>
              </div>
            </div>
          </template>

          <!-- Estatus del historico -->
          <template v-slot:item.status="{ item }" v-if="history">
            <v-chip :color=" colorStatus(item.status) " dark>
              {{ item.status }}
            </v-chip>
          </template>
          <!-- Estatus del historico -->

          <template v-slot:[`item.actions`]="{ item, index }">

              <!-- Ordenes de salida -->
              <div v-if="orders">
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <span class="hand pr-3 " @click="viewRecord(item)" v-bind="attrs" v-on="on">
                          <i class="dripicons-preview pt-5"></i>
                      </span>
                    </template>
                  <span>Detalle</span>
                </v-tooltip>

                <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                      <span  class="hand text-fmedical-red" @click="downloadPDF(item)" v-bind="attrs" v-on="on">
                          <i class="fa fa-file-pdf-o" ></i>
                      </span>
                      </template>
                    <span>Descargar PDF</span>
                </v-tooltip>

                <v-tooltip top v-if=" orderEdit && withPermissionName(permissions.ORDER_UPDATE) && (item.statusShipmentValue == 1 || item.statusShipmentValue == 2 || item.statusShipmentValue == 3)" >
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon small class="ml-3" @click="updateRecord(item)" v-bind="attrs" v-on="on">
                      mdi mdi-square-edit-outline
                      </v-icon>
                  </template>
                  <span>{{item.statusShipmentValue}}</span>
                </v-tooltip>

                <!--<v-tooltip top v-if=" !orderEdit && withPermissionName(permissions.MODIFY_DESTINATION) && (item.statusShipmentValue == 1 || item.statusShipmentValue == 2 || item.statusShipmentValue == 3)">
                  <template v-slot:activator="{ on, attrs }">
                    <i class="fa fa-paper-plane-o ml-4" style="cursor:pointer;font-size: 1.0em;" @click="openModalChangeDestination(item, index)" v-bind="attrs" v-on="on"></i>
                  </template>
                  <span>Modificar destino</span>
                </v-tooltip>-->

              </div>
              <!-- Ordenes de salida -->

              <!-- General -->
              <div v-if="general">
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                    <span  class="hand text-info" @click="viewRecord(item)" v-bind="attrs" v-on="on">
                        <i class="mdi mdi-information-outline"></i>
                    </span>
                    </template>
                  <span>Ver</span>
                </v-tooltip>

                <v-tooltip top v-if="validate">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon small class="ml-3" @click="updateRecord(item)" v-bind="attrs" v-on="on">
                      mdi mdi-square-edit-outline
                      </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
              </div>
              <!-- General -->

              <div v-if="deleteItem">
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon small class="mr-2" @click="deleteModal(item)" v-bind="attrs" v-on="on">
                        mdi-delete
                      </v-icon>
                    </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </div>

              <div v-if="deleteItemRemmi">
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon small class="mr-2" @click="deleteModalRemmi(item,index)" v-bind="attrs" v-on="on">
                        mdi-delete
                      </v-icon>
                    </template>
                  <span>Eliminar Producto</span>
                </v-tooltip>
              </div>

              <div v-if="deleteOrder">

                <p class="pt-3" v-if=" item.status.includes('Cancelada') || item.status.includes('Recibido') " >----</p>

                <v-tooltip v-else top>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon small class="mr-2" @click="deleteModalOrder(item,index)" v-bind="attrs" v-on="on">
                        mdi-delete
                      </v-icon>
                    </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </div>

              <div v-if="onlyView">
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <span class="hand text-info pr-3" @click="viewRecord(item)" v-bind="attrs" v-on="on">
                          <i class="mdi mdi-information-outline"></i>
                      </span>
                    </template>
                  <span>Ver</span>
                </v-tooltip>
              </div>  

          </template>

      </v-data-table>

      <div class="col-md-6" v-if="documentView">
          <div class="invoice-footer-btn">
              <button @click="documentTable(1,[])" class="btn btn-primary-rgba py-1"><i class="feather icon-printer mr-2"></i> Imprimir</button>
              <button @click="downloadExcel" class="btn btn-success py-1 ml-3"><i class="fa fa-file-excel-o mr-2"></i> Excel</button>
          </div>
      </div>


      <v-row v-if="dialog" justify="center">
        <v-dialog v-model="dialog" persistent max-width="350">
          <v-card>
            <v-card-title class="headline" v-html="titleModal">
            </v-card-title>
            <v-card-text v-html="descriptionModal" />
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="dialog = false"> Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="deleteRecord()">Aceptar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row v-if="dialogRemi" justify="center">
        <v-dialog v-model="dialogRemi" persistent max-width="350">
          <v-card>
            <v-card-title class="headline" v-html="titleModal">
            </v-card-title>
            <v-card-text v-html="descriptionModal" />
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="dialogRemi = false"> Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="deleteRecordRemmi()">Aceptar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>


      <v-row v-if="dialogOrder" justify="center">
        <v-dialog v-model="dialogOrder" persistent max-width="700">
          <v-card>
            <v-card-title class="headline" v-html="titleModal" />
            <v-card-text v-html="descriptionModal" />
            <v-card-text>
              <v-textarea
                v-model="reason"
                label="Razón de Cancelacion*"
                :counter="200" :maxlength="200"
              ></v-textarea>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeModalOrder()">Cerrar</v-btn>
              <v-btn color="green darken-1" text @click="rollBackOrder()">Aceptar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>


      <!-- INICIO modal cambio de destino -->
      <v-dialog v-model="dialogDestination" persistent max-width="900px" >
            <v-card>
                <v-card-title class="headline">
                  <h5 class="card-title mb-0  mt-5">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                     Cambio de destino 
                     <hr class="" style=" width: 800px;"/>
                  </h5>
                  <table>
                    <tr>
                      <td>
                         <span class=" blue-small"> Orden # {{modelDestination.idOrder}} </span>
                         <br>
                        <span class=" blue-small"> Envío # {{modelDestination.idShipment}} </span>
                      </td>
                    </tr>
                    <tr>
                       <td colspan="2">
                         <span class=" blue-small"> Destino actual # {{modelDestination.destinationName}} - {{modelDestination.clues}}</span>
                      </td>
                    </tr>
                  </table>
                  <hr class="" style=" width: 800px;"/>
                </v-card-title>
                <!-- {{modelDestination}} -->
                <v-card-text> 
                    <div class="row mt-5">
                        <div class="col-md-12 col-lg-12">
                            <v-autocomplete  auto-select-first :items="branchOfficesDestination" no-data-text="Sin resultados" attach v-model="modelDestination.idBranchOffice" clearable label="Sucursal" >
                            </v-autocomplete>
                        </div>
                    </div>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <div class="mb-10">
                  <v-btn color="blue darken-1" text @click="dialogDestination = false" :disabled="sending">
                    Cancelar
                </v-btn>
                <v-btn color="green darken-1" text @click="updateDestination" :disabled="sending || modelDestination.idBranchOffice == null">
                    Sí, continuar
                </v-btn>
                </div>
                </v-card-actions>
            </v-card>
        </v-dialog>
      <!-- FIN modal cambio de destino -->
  </div>

</template>
<script>

import { ServicePath } from "@/core";
import { ExcelRequest,BranchOfficeRequest,ShipmentsRequest } from "@/core/request";
import { UtilFront, PermissionConstants } from "@/core";
import axios from "axios";

export default {
  props: {
    dataList: {},
    headers: {},
    searchBoxShow: {
      type: Boolean,
      default: true
    },
    callback: { 
      type: Function 
    },
    listAll: { 
      type: Function 
    },

    /* Modulos */
    orders: false,

    /* General */
    general: false,
    deleteItem: false,
    documentView: false,
    onlyView: false,
    history:false,
    deleteOrder:false,
    deleteItemRemmi:false,
    loading: false,
    orderEdit: false,

    /*Config table*/
    disabledPagination:true

  },
  data() {
    return {
      dialogOrder:false,
      dialog:false,
      dialogRemi: false,
      dialogDestination: false,
      modelDestination:{},
      branchOfficesDestination:[],
      sending:false,
      search: "",
      //pathReport: ServicePath.REPORT_STARTING_ORDER,
      //model:{},
      reason:'',
      currentItem: '',
      currentIndex: 0,
      validate: false,
      permissions: PermissionConstants,
      isItemSelect:false
    };
  },
  components:{
  },
  computed: {
      titleModal() {
          if ( this.history ) {

            let message = '';
            if ( this.currentItem.idPrescription != null ) {
              message = 'dispensación'
            } else if ( this.currentItem.idDecrease != null ) {
              message = 'merma'
            } else  {
              message = 'orden'
            } 


            return `¿Confirmas que quieres cancelar esta ${message}?` ;
          } else {
            return "¿Confirmas que quieres <br> eliminar este elemento?";
          }
      },
      descriptionModal() {
          if ( this.history ) {
            let title = "<p><h5><strong>Todos los productos asociados a estar orden, seran restablecidos al almacen</strong></h5></p>"
            let message = '';
            if ( this.currentItem.idPrescription != null ) {
              message = `<br><p><strong>N° Receta:</strong> ${this.currentItem.idPrescription}</p><p><strong>N° Orden:</strong> ${this.currentItem.idOrder}</p><p><strong>Fecha de Creación:</strong> ${this.currentItem.datePrescription}</p><p><strong>Dispensación generada por:</strong> ${this.currentItem.user}</p> ${title}`;
            } else if ( this.currentItem.idDecrease != null ) {
              message = `<br><p><strong>N° Merma:</strong> ${this.currentItem.idDecrease}</p><p><strong>N° Orden:</strong> ${this.currentItem.idOrder}</p><p><strong>Fecha de Creación:</strong> ${this.currentItem.datePrescription}</p><p><strong>Merma generada por:</strong> ${this.currentItem.user}</p> ${title}`;
            } else {
              message = `<br><p><strong>N° Envio:</strong> ${this.currentItem.idShipment}</p><p><strong>N° Orden:</strong> ${this.currentItem.idOrder}</p><p><strong>Fecha de Creación:</strong> ${this.currentItem.dateOrder}</p><p><strong>Orden generada por:</strong> ${this.currentItem.user}</p><p><strong>Destino:</strong> ${this.currentItem.destination}</p> ${title}`;
            } 

            return message ;
          } else {
            return "El producto se eliminara de tu lista";
          }
      }
  },
  methods: {
    filterOnlyCapsText(value, search) {
      //console.log(value);
      //console.log(search);
      return (
        value != null &&
        search != null &&
        typeof value === "string" &&
        value
          .toString()
          .toLowerCase()
          .indexOf(search.toLowerCase()) !== -1
      );
    },
    deleteModal(item){
      this.dialog = true;
      this.currentItem = item;
    },
    deleteModalRemmi(item,index){
      //console.log(index);
      this.dialogRemi = true;
      this.currentItem = item;
      this.currentIndex = index;
    },


    /* Ordenes de Salida */
    downloadPDF(item){
      this.excel(item);
      this.$toast.success("Generando documento PDF");
    },
    /* Ordenes de Salida */

    /* Historial salidas */
    colorStatus(status){
      let color = '';

      switch(status) {
        case "Pendiente": 
          color = 'orange';
        break;
        case "Dispensación Pendiente":
          color = 'orange';
        break;
        case "Merma pendiente":
          color = 'orange';
        break;
        case "Salida Cancelada":
          color = 'red';
        break;
        case "Dispensación Cancelada":
          color = 'red';
        break;
        case "Merma Cancelada":
          color = 'red';
        break;
        case "Recibido":
          color = 'grey';
        break;
        default:
          color = 'green';
      }

      return color;
    },
    itemRowBackground: function (item,index) {
      let style = '';
      switch(item.status) {
        case "Salida Cancelada":
          style = 'style-2';
        break;
        case "Dispensación Cancelada":
          style = 'style-2';
        break;
        case "Merma Cancelada":
          style = 'style-2';
        break;
        default:
          style = 'style-1';
      }
      return style;
    },

    closeModalOrder(){
      this.isItemSelect = false;
      this.dialogOrder = false;
      this.reason = '';
    },
    deleteModalOrder(item,index){
      this.dialogOrder = true;
      this.currentItem = item;
    },
    /* Historial salidas */


    /* General */
    viewRecord(item) {
      this.$emit("viewRecord", item);
    },
    updateRecord(item) {
      this.$emit("updateRecord", item);
    },
    editRecord() {
      this.$emit("editRecord", item);
    },
    deleteRecord(item) {
      this.$emit("deleteRecord", this.currentItem);
      this.dialog = false;
      this.dialogOrder = false;
    },
    deleteRecordRemmi() {

      let data = {
        item: this.currentItem,
        index: this.currentIndex
      };

     this.$emit("deleteRecordRemmi", data);
      this.dialogRemi = false;
      this.dialogOrder = false;
    },
    /* General */

    rollBackOrder() {

      if ( this.reason != '' ) {
        //Datos para generar el rollback de la orden
        let data = {
          idOrder: this.currentItem.idOrder,
          idUser: this.idUser,
          reason: this.reason
        };
        
        this.$emit("rollBackOrder", data);

        this.closeModalOrder();
      }

    },
    excel(item){
      let send = "orderId="+item.orderId+"&"+"idShipment="+(item.shipmentsId || item.idShipment);
      ExcelRequest.reportOrderPdf(send);
    },
    downloadExcel(){
      this.callback();
    },
    openModalChangeDestination(object, index){
      Object.assign(this.modelDestination, object);
      //console.log(this.modelDestination);
      this.modelDestination = {
        idOrder: this.modelDestination.orderId,
        idShipment: (this.modelDestination.idShipment || this.modelDestination.shipmentsId),
        destinationName: this.modelDestination.destination,
        clues: this.modelDestination.destinationKey
      };
      this.dialogDestination = true;
      BranchOfficeRequest.listAllActive().then((res) => {
        let { data } = res.data;
        if (data) {
          this.branchOfficesDestination = data.filter((obj)=>{
              return !obj.name.toLowerCase().includes("erillam");
          }).map((obj) => {        
              return {
                value:  obj.idBranchoffice,
                text: `${obj.name} - ${obj.branchOfficeKey}`,
              };
          });
        }
      }).catch((err)=>{
        this.$toast.error("Ocurrio un error interno")
      });
    },
    withPermissionName(namePermission){
      return UtilFront.withPermissionName(namePermission);
    },
    updateDestination(){
      this.sending = true;
      ShipmentsRequest.updateDestination(this.updateDestination).then((res) => {
          let { data } = res.data;
          let { message, success } = data;
          if (success == true) {
            this.$toast.success("Destino actualizado correctamente");
            this.listAll();
            // location.reload();
            this.dialogDestination = false; 
          } else {
            this.$toast.error(message || "Ocurrio un error interno");
          }
      }).catch((err)=>{
        this.$toast.error("Ocurrio un error interno")
      })
      .finally(() => {
          this.sending = false;
      });
    }
  },
  created() {

      let infoUser = UtilFront.getDataUser();
      this.idUser = infoUser.idUser;

      //Valido que tenga el permiso de actualizar dispensacion
      this.validate = infoUser.permissions.some( element => element.name == 'Actualizar Dispensación' );

      // console.log(this.disabledPagination);

  }
};
</script>

<style>
  .style-1 {
    background-color: transparent
  }
  .style-2 {
    background-color: rgb(254, 187, 187)
  }
</style>