<template>
  <div class="footerbar">
    <footer class="footer">
      <p class="mb-0">
        © 2017 FMedical Abasto - Todos los derechos reservados.
      </p>
    </footer>
  </div>
</template>

<script lang="ts">
export default {};
</script>
