<template>
  <div id="branchOfficesOfUser">
    <v-autocomplete v-if="branchOffices.length > 1" @change="listAll()" auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
            v-model="branchOffice" 
            clearable  
              label="Sucursal" >
        </v-autocomplete> 
  </div>
</template>

<script>
import { UtilFront} from '@/core';

export default {
  name: "MyBranchOffices",
  components: {},
  data() {
    return {
      branchOffices: [],
      branchOffice:{}
    };
  },
  methods: {
    listAll(){
     
    }
  },
  created(){
    let infoUser = UtilFront.getDataUser();
    this.branchOffices = infoUser.branchOfficesSimple;
    if (this.branchOffices.length > 0) {
        this.branchOffice = this.branchOffices[0].value;
    }
  }
};
</script>

<style>
</style>