<template>
  <div class="leftbar">
    <!-- Start Sidebar -->
    <div class="sidebar">
      <!-- Start Logobar -->
      <div class="logobar">
        <a href="/dashboard" class="logo logo-large"
          ><img src="@/assets/images/logo.svg" class="img-fluid" alt="logo"
        /></a>
        <a href="/dashboard" class="logo logo-small"
          ><img src="@/assets/images/icon.png" class="img-fluid" alt="logo"
        /></a>
      </div>
      <!-- End Logobar -->
      <!-- Start Navigationbar -->
      <div class="navigationbar" @mouseover="viewSidebar()">
        <ul class="vertical-menu">
          <li   :class="{ 'active': isRouteActive('Dashboard') }">
          <!-- <li v-if="withPermissions('Dashboard')"  :class="{ 'active': isRouteActive('Dashboard') }"> -->
            <router-link to="/dashboard">
            <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              <i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li v-if="withPermissions('Trazabilidad')" :class="{ 'active': isRouteActive('Trazabilidad') }">
          <!-- <li v-if="withPermissions('Dashboard')"  :class="{ 'active': isRouteActive('Dashboard') }"> -->
            <router-link to="/tranzabilidad">
              <i class="fa fa-folder-open" aria-hidden="true"></i>
              <span>Trazabilidad</span>

              <i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li v-if="withPermissions('Sucursales')" :class="{ 'active': isRouteActive('Sucursales') }">
            <router-link to="/sucursales">
             <i class="fa fa-building"></i>
             <span>Sucursales</span>
             <i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
           <li v-if="withPermissions('Usuarios')" :class="{ 'active': isRouteActive('Usuarios') }">
            <router-link to="/usuarios">
              <i class="fa fa-users"></i>
              <span>Usuarios</span
              ><i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li  v-if="withPermissions('Licitaciones')" :class="{ 'active': isRouteActive('Licitaciones') }">
            <router-link to="/licitaciones">
              <img
                src="@/assets/images/svg-icon/pages.svg"
                class="img-fluid"
                alt="basic"
              /><span>Licitaciones</span
              ><i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li v-if="withPermissions('Entradas')" :class="{ 'active': isRouteActive('Entradas') }">
            <router-link to="/entradas">
              <img
                src="@/assets/images/svg-icon/basic.svg"
                class="img-fluid"
                alt="basic"
              /><span>Entradas</span
              ><i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <!--
          <li v-if="withPermissions('Almacen')" :class="{ 'active': isRouteActive('Almacen') }">
            <router-link to="/almacen">
              <img
                src="@/assets/images/svg-icon/advanced.svg"
                class="img-fluid"
                alt="advanced"
              /><span>Almacén</span
              ><i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          -->

          <!-- (Modificacion) Se agrego otra opcion al boton de almacen -->
          <li :class="{ active: showWareHouse || isSubRouteActive('/almacen/') }"  v-if="withPermissions('Almacen')">
            <a @click="showWareHouse = !showWareHouse" style="cursor: pointer">
              <img
                src="@/assets/images/svg-icon/advanced.svg"
                class="img-fluid"
                alt="advanced"
              /><span>Almacén</span>
              <i class="feather pull-right icon-chevron-right"></i>
            </a>
            <ul class="vertical-submenu in menu-open" v-if="showWareHouse">
                <li>
                 <router-link   to="/almacen" >
                  Detalle del Almacén
                </router-link> 
                <!--<router-link  to="/transferencias" v-if="withPermissions(permissions.STOCK_UPDATE_QUANTITY_TRANSFER)">
                  Transferencias
                </router-link>
                <router-link  to="/devoluciones" v-if="withPermissions(permissions.STOCK_RETURN)">
                  Devoluciones
                </router-link>-->
              </li>
            </ul>
          </li>



          <li v-if="withPermissions('Caducados')" :class="{ 'active': isRouteActive('Caducados') }">
            <router-link to="/caducados">
              <img
                src="@/assets/images/svg-icon/notifications.svg"
                class="img-fluid"
                alt="advanced"
              /><span>Caducados</span
              ><i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li v-if="withPermissions('Salidas')"  :class="{ 'active': isRouteActive('Salidas') }">
            <router-link to="/salidas">
              <img
                src="@/assets/images/svg-icon/form_elements.svg"
                class="img-fluid"
                alt="form_elements"
              /><span>Salidas</span
              ><i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li v-if="withPermissions('Picking')" :class="{ 'active': isRouteActive('Picking') }">
            <router-link to="/salidas/picking">
              <img
                src="@/assets/images/svg-icon/ecommerce.svg"
                class="img-fluid"
                alt="form_elements"
              />
              <span>Picking</span>
              <i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li v-if="withPermissions('Envios')" :class="{ 'active': isRouteActive('Envios') }">
            <router-link to="/envios">
              <img
                src="@/assets/images/svg-icon/maps.svg"
                class="img-fluid"
                alt="maps"
              /><span>Envíos</span
              ><i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li :class="{ active: showReception || isSubRouteActive('/recepcion/') }"  v-if="withPermissions('Recepcion')">
            <a @click="showReception = !showReception" style="cursor: pointer">
               <i class="fa fa-archive"></i>
              <span> Recepción</span>
              <i class="feather pull-right icon-chevron-right"></i>
            </a>
            <ul class="vertical-submenu in menu-open" v-if="showReception">
                <li>
                 <router-link   to="/recepcion/pendientes" >
                  Pendientes
                </router-link> 
                <router-link   to="/recepcion/historico">
                  Histórico
                </router-link>
              </li>
            </ul>
          </li>
          <li :class="{ active: showIncidence || isSubRouteActive('/incidencia/') }" v-if="withPermissions('Incidencias')">
            <a @click="showIncidence = !showIncidence" style="cursor: pointer">
               <i class="fa fa-exclamation-triangle"></i>
              <span> Incidencias</span>
              <i class="feather pull-right icon-chevron-right"></i>
            </a>
            <ul class="vertical-submenu in menu-open" v-if="showIncidence">
                <li>
                 <router-link  to="/incidencia/realizadas" >
                  Realizadas
                </router-link> 
                <router-link  to="/incidencia/entrantes">
                  Entrantes
                </router-link>
              </li>
            </ul>
          </li>
          <li v-if="withPermissions('Dispensacion')" :class="{ 'active': isRouteActive('Dispensacion') }">
            <router-link to="/dispensacion">
              <img
                src="@/assets/images/svg-icon/email.svg"
                class="img-fluid"
                alt="form_elements"
              />
              <span>Dispensación</span>
              <i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <li v-if="withPermissions('Mermas')" :class="{ 'active': isRouteActive('Mermas') }">
            <router-link to="/mermas">
              <i class="fa fa-asterisk"></i><span>Mermas</span
              ><i class="feather icon-chevron-right pull-right"></i>
            </router-link>
          </li>
          <!-- <li :class="{ active: showReturn || isSubRouteActive('/devolucion/') }" v-if="showOrViewSubRoutes('devolucion')">
            <a @click="showReturn = !showReturn" style="cursor: pointer">
               <i class="fa fa-undo"></i>
              <span> Devoluciones</span>
              <i class="feather pull-right icon-chevron-right"></i>
            </a>
            <ul class="vertical-submenu in menu-open" v-if="showReturn">
                <li>
                 <router-link v-if="withPermissions('DevolucionRealizada')"  to="/devolucion/realizadas" >
                  Realizadas
                </router-link>  
                <router-link v-if="withPermissions('DevolucionEntrantes')"  to="/devolucion/entrantes">
                  Entrantes
                </router-link>
              </li>
            </ul>
          </li> -->
          
          
          <li :class="{ active: showCatalogue || isSubRouteActive('/configuracion/') }" v-if="showOrViewSubRoutes('configuracion')">
            <a @click="showCatalogue = !showCatalogue" style="cursor: pointer">
              <i class="fa fa-gears"></i><span> Configuración</span>
              <i class="feather pull-right icon-chevron-right"></i>
            </a>
            <ul class="vertical-submenu in menu-open" v-if="showCatalogue">
                <li>
                 <router-link v-if="withPermissions('Permisos')" to='/configuracion/permisos'>
                  Permisos
                 </router-link>
                 <router-link v-if="withPermissions('Roles')"  to="/configuracion/roles" >
                  Roles
                </router-link>
                <router-link v-if="withPermissions('Categorias')"  to="/configuracion/categorias">
                  Categorías
                </router-link>
                <router-link  v-if="withPermissions('FuentesFinanciamiento')" to="/configuracion/fuentesFinanciamiento">
                 Financiamiento
                </router-link>
                <router-link  v-if="withPermissions('Jurisdicciones')" to="/configuracion/jurisdicciones">
                  Jurisdicciones
                </router-link>
                <router-link  v-if="withPermissions('Productos')" to="/configuracion/productos">
                  Productos
                </router-link>
                <router-link v-if="withPermissions('Proveedores')"  to="/configuracion/proveedores">
                  Proveedores
                </router-link>
                <router-link v-if="withPermissions('Doctor')"  to="/configuracion/doctores">
                  Doctores
                </router-link>
                <router-link v-if="withPermissions('Cancelar Orden')"  to="/configuracion/orderHistory">
                  Cancelaciones
                </router-link>
              </li>
            </ul>
          </li>

          <li style="display:none">
            <a @click="toggleSitdris" style="cursor: pointer">
              <img
                src="@/assets/images/svg-icon/widgets.svg"
                class="img-fluid"
                alt="widgets"
              /><span>SITDRIS</span
              ><span class="badge badge-primary pull-right">Nuevo</span>
            </a>
            <ul class="vertical-submenu" v-if="showRis">
              <li>
                <a href="http://chiapas.rispacsmx.com:7000" target="_blank"
                  >Chiapas<i class="ti-heart-broken pull-right"></i
                ></a>
                <a href="http://tabasco.rispacsmx.com:7002" target="_blank"
                  >Tabasco<i class="ti-heart-broken pull-right"></i
                ></a>
                <a href="http://bcs.rispacsmx.com:7004" target="_blank"
                  >Los Cabos<i class="ti-heart-broken pull-right"></i
                ></a>
                <a href="http://jalisco.rispacsmx.com:7006" target="_blank"
                  >Jalisco<i class="ti-heart-broken pull-right"></i
                ></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Navigationbar -->
    </div>
    <!-- End Sidebar -->
  </div>
</template>

<script>
import {  UtilFront, PermissionConstants  } from "@/core";

export default {
  data() {
    return {
      showRis: false,
      showReturn: false,
      showCatalogue: false,
      showReception: false,
      showIncidence: false,
      showWareHouse: false,
      user:{},

      permissions: PermissionConstants,
    };
  },
  methods: {
    viewSidebar(){
    
    },
    toggleSitdris() {
      return (this.showRis = this.showRis == true ? false : true);
    },
    isRouteActive(nameRoute){
      return this.$route.name != undefined ? this.$route.name.toLowerCase() == nameRoute.toLowerCase() : false;
    },
    isSubRouteActive(nameSubRoute){
      return this.$route.path.startsWith(nameSubRoute);
    },
    showOrViewSubRoutes(subRoute){
      // let subRoutes = []
      // if(subRoute == 'configuracion'){
      //   subRoutes = ['Roles', 'Categorias', 'FuentesFinanciamiento', 'Jurisdicciones', 'Productos', 'Proveedores'];
      // }else if(subRoute == 'recepcion'){
      //   subRoutes = ['RecepcionHistorico',  'RecepcionPendiente'];
      // }else if(subRoute == 'devolucion'){
      //   subRoutes = ['DevolucionRealizada', 'DevolucionEntrantes'];
      // }else if(subRoute == 'indicencia'){
      //   subRoutes = ['IncidenciaRealizada', 'IncidenciaEntrante'];
      // }
      // for (let i = 0; i < subRoutes.length; i++) {
      //     let withPermission = this.user.permissions.filter((permission)=>{
      //       return permission.name.toLowerCase() == subRoutes[i].toLowerCase();
      //     }).length > 0;
      //     let isAdmin = this.user.role.name.toLowerCase() == "Administrador".toLowerCase();
      //     withPermission = withPermission || isAdmin;
      //     if(withPermission){
      //       return true;
      //     }
      // }
      // return false;
      return false;
    },
    withPermissions(nameRoue){
      //  let withPermission = true;
        // try { 
        //   withPermission = this.user.permissions.filter((permission)=>{
        //     return permission.name.toLowerCase() == nameRoue.toLowerCase();
        //   }).length > 0;
        //   let isAdmin = UtilFront.withPermission(1);
        //   withPermission = withPermission || isAdmin;
        // } catch (error) {
        //   console.log(error);
        //   withPermission = false;
        // }finally{
        //   return withPermission;
        // }
      return true;
    }
  },
  created(){
    this.user = UtilFront.getDataUser();
  }
};
</script>
