<template>
  <div>
    <!-- End Infobar Setting Sidebar -->
    <!-- Start Topbar Mobile -->
    <div class="topbar-mobile">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="mobile-logobar">
            <a href="index.html" class="mobile-logo">

              <img
                src="@/assets/images/logo_sitdris.png"
                class="img-fluid"
                alt="logo"
                @click="redirectToModule('/')"
              />
            </a>
          </div>
          <div class="mobile-togglebar">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <div class="topbar-toggle-icon">
                  <a class="topbar-toggle-hamburger" @click="toggleMenu">
                    <!-- <img
                      src="@/assets/images/svg-icon/horizontal.svg"
                      class="img-fluid menu-hamburger-horizontal"
                      alt="horizontal"
                    /> -->
                    <span
                      class="hand mt btn btn-rounded btn-outline-white"
                      @click="logout"
                    >
                      <i class="mr-3 fa fa-power-off"></i>
                      Salir
                    </span>
                    <img
                      src="@/assets/images/svg-icon/verticle.svg"
                      class="img-fluid menu-hamburger-vertical"
                      alt="verticle"
                    />
                  </a>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="menubar">
                  <!-- <a class="menu-hamburger" @click="toggleMenu">
                    <img
                      src="@/assets/images/svg-icon/collapse.svg"
                      class="img-fluid menu-hamburger-collapse"
                      alt="collapse"
                    />
                    <img
                      src="@/assets/images/svg-icon/close.svg"
                      class="img-fluid menu-hamburger-close"
                      alt="close"
                    />
                  </a> -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Topbar -->
    <div class="topbar">
      <!-- Start row -->
      <div class="row align-items-center">
        <!-- Start col -->

        <div class="col-md-12 align-self-center">
          <div class="togglebar">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                
                <div
                  id="mainLogoHomeMenu"
                  class="mainLogo"
                  style="cursor: pointer"
                   @click="redirectToModule('/')"
                ></div>
                <div class="activitiesButtonBack" v-show="displayBack()" @click="backRoute"></div>

                <!-- <img src="@/assets/images/logo_sitdris.png" class="img-fluid" style="max-width:150px" alt="logo"/> -->

                <!-- <div class="menubar">
                  <a class="menu-hamburger" @click="toggleMenu">
                    <img
                      src="@/assets/images/svg-icon/collapse.svg"
                      class="img-fluid menu-hamburger-collapse"
                      alt="collapse"
                    />
                    <img
                      src="@/assets/images/svg-icon/close.svg"
                      class="img-fluid menu-hamburger-close"
                      alt="close"
                    />
                  </a>
                </div> -->
              </li>
              <li class="list-inline-item">
                <div class="searchbar">
                  <form>
                    <!-- <div class="input-group"> -->
                    <!-- <input
                        type="search"
                        class="form-control"
                        placeholder="Buscar"
                        aria-label="Search"
                        aria-describedby="button-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn" type="submit" id="button-addon2">
                          <img
                            src="@/assets/images/svg-icon/search.svg"
                            class="img-fluid"
                            alt="search"
                          />
                        </button>
                      </div> -->

                    <!-- </div> -->
                  </form>
                </div>
              </li>
            </ul>
          </div>
          <div class="infobar">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <div class="settingbar mr-5">
                  <span>{{ infoUser }}</span>
                </div>
              </li>
              <li class="list-inline-item">
                <div class="settingbar">
                  <!-- 
                    <router-link to="/perfil">
                      <span class="hand mt  mr-2 fa-lg text-fmedical-green">
                        <i class="fa fa-user-circle-o"></i>
                      </span>
                   </router-link> -->

                  <span
                    class="hand mt btn btn-rounded btn-outline-white-sitdris ml-2"
                    @click="logout"
                  >
                    <i class="mr-3 fa fa-power-off"></i>
                    Salir
                  </span>
                </div>
              </li>
              <!-- <li class="list-inline-item">
                <div class="profilebar">
                  <div class="dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      role="button"
                      id="profilelink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><img
                        src="@/assets/images/users/profile.svg"
                        class="img-fluid"
                        alt="profile"/><span
                        class="feather icon-chevron-down live-icon"
                      ></span
                    ></a>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="profilelink"
                    >
                      <div class="dropdown-item">
                        <div class="profilename">
                          <h5>Administrador</h5>
                        </div>
                      </div>
                      <div class="userbox">
                        <ul class="list-unstyled mb-0">
                          <li class="media dropdown-item">
                            <router-link to="/" class="profile-icon">
                              <img
                                src="@/assets/images/svg-icon/user.svg"
                                class="img-fluid"
                                alt="user"
                              />Mi perfil
                            </router-link>
                          </li>
                          <li class="media dropdown-item">
                            <router-link to="/" class="profile-icon">
                              <img
                                src="@/assets/images/svg-icon/logout.svg"
                                class="img-fluid"
                                alt="logout"
                              />Cerrar Sesión
                            </router-link>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End row -->
    </div>
    <!-- End Topbar -->
  </div>
</template>

<script lang="js">
import {  UtilFront } from "@/core";

export default{
  methods: {
    redirectToModule(nameRoute){
        this.$router.push(nameRoute);
    },
    toggleMenu() {
      // const body = window.document.querySelector(".vertical-layout");
      // if (body == null) {
      // } else {
      //   body.classList.toggle("toggle-menu");
      // }
    },
    logout(){
      this.$session.destroy();
      this.$router.push('/');
    },
    displayBack(){
      if(this.$router.history.current.name == "Dashboard"){
        return false
      }
      return true;
    },
    backRoute(){
      this.$router.go(-1);
    }
  },
  computed:{
    infoUser(){
        let infoUser = UtilFront.getDataUser();
        let fullNameAndRol = `${infoUser.name} ${infoUser.lastname} `;

         this.toggleMenu();
        return fullNameAndRol;
    }
  }
}
</script>
