<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="400px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn light v-bind="attrs" v-on="on">
          <i class="ti-plus mr-2"></i>Añadir Licitación
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline"
            ><i class="ti-files mr-2"></i>Añadir Licitación</span
          >
        </v-card-title>
        <v-card-text>
          <v-container>
            <validation-observer ref="observer" v-slot="{ invalid }">
              <form @submit.prevent="submit">
                <validation-provider
                  v-slot="{ errors }"
                  name="Nombre Licitación"
                  rules="required|max:30"
                >
                  <v-text-field
                    v-model="name"
                    :counter="30"
                    :error-messages="errors"
                    label="Nombre Licitación*"
                    required
                  ></v-text-field>
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  name="Referencia Licitación"
                  rules="required|max:50"
                >
                  <v-text-field
                    v-model="biddingKey"
                    :counter="50"
                    :error-messages="errors"
                    label="Referencia Licitación*"
                    required
                  ></v-text-field>
                </validation-provider>
                <v-btn class="mr-4 mt-5" type="submit" :disabled="invalid">
                  <i class="ti-save mr-3"></i> Guardar
                </v-btn>
                <v-btn class="mt-5" @click="clear, (dialog = false)">
                  <i class="ti-close mr-3"></i> Cancelar
                </v-btn>
              </form>
            </validation-observer>
          </v-container>
          <small>*Campos requeridos</small>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
import axios from "axios";
import { ServicePath } from "@/core/";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});

extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    dialog: false,
    name: "",
    biddingKey: ""
  }),

  methods: {
    submit() {
      this.$refs.observer.validate;
      axios
        .post(ServicePath.CREATE_BIDDING, {
          name: this.name,
          biddingKey: this.biddingKey
        })
        .then(response => {
          if (response.data.data.success) {
            this.updateBiddingList();
          }
        });
    },
    updateBiddingList() {
      axios.post(ServicePath.GET_ALL_BIDDINGS).then(response => {
        this.$emit("biddingUpdate", response.data.data.objects);
      });
      this.clear();
      this.dialog = false;
    },
    clear() {
      this.name = "";
      this.biddingKey = "";
      this.$refs.observer.reset();
    }
  }
};
</script>
