<template>
    <v-dialog v-model="dialog" persistent max-width="400px">
      <template v-slot:activator="{ on, attrs }">
        <button class="btn btn-success" v-bind="attrs" v-on="on">
          <i class="ti-plus mr-2"></i>Añadir Pedido
        </button>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline"
            ><i class="ti-folder mr-2"></i>Añadir Pedido</span
          >
        </v-card-title>
        <v-card-text>
          <v-container>
            <validation-observer ref="observer" v-slot="{ invalid }">
              <form @submit.prevent="submit">
                <validation-provider
                  v-slot="{ errors }"
                  name="Pedido"
                  rules="required|max:30"
                >
                  <v-text-field
                    v-model="requisitionKey"
                    :counter="30"
                    :error-messages="errors"
                    label="Pedido*"
                    required
                  ></v-text-field>
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  name="Licitación"
                  rules="required"
                >
                  <v-select
                    v-model="biddingId"
                    :items="biddingList"
                    :error-messages="errors"
                    label="Licitación*"
                    data-vv-name="select"
                    required
                  ></v-select>
                </validation-provider>
                <validation-provider
                  v-slot="{ errors }"
                  name="Fondo de Financiamiento"
                  rules="required"
                >
                  <v-select
                    v-model="fiscalFoundId"
                    :items="fiscalFoundList"
                    :error-messages="errors"
                    label="Fondo de Financiamiento*"
                    data-vv-name="select"
                    required
                  ></v-select>
                </validation-provider>
                <validation-provider v-if="branchOffices.length > 1"
                  v-slot="{ errors }"
                  name="Sucursal"
                  rules="required" >
                    <v-autocomplete  
                      required auto-select-first :items="branchOffices" no-data-text="Sin resultados" attach
                    v-model="branchOffice" clearable  label="Sucursal" :error-messages="errors">
                    </v-autocomplete> 
                </validation-provider>
                <v-btn class="mr-4 mt-5" type="submit" :disabled="invalid">
                  <i class="ti-save mr-3"></i> Guardar
                </v-btn>
                <v-btn class="mt-5" @click="clear, (dialog = false)">
                  <i class="ti-close mr-3"></i> Cancelar
                </v-btn>
              </form>
            </validation-observer>
          </v-container>
          <small>*Campos requeridos</small>
        </v-card-text>
      </v-card>
    </v-dialog>
</template>

<script>
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
import axios from "axios";
import { ServicePath,UtilFront } from "@/core";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} no puede quedar vacío"
});

extend("max", {
  ...max,
  message: "{_field_} no debe ser mayor de {length} caracteres"
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    dialog: false,
    requisitionKey: "",
    biddingId: "",
    fiscalFoundId: "",
    fiscalFoundList: [],
    biddingList: [],
    user: {},
    branchOffices:[],
    branchOffice:{}
  }),
  created() {
    let infoUser = UtilFront.getDataUser();
    this.branchOffices = infoUser.branchOfficesSimple;
    if (this.branchOffices.length > 0) {
        this.branchOffice = this.branchOffices[0].value;
    }
    this.user = infoUser;

    axios.post(ServicePath.GET_ALL_FINANCIAL_SOURCES).then(response => {
      for (var [index, value] of Object.entries(response.data.data.objects)) {
        index;
        let fiscalSourceItem = {
          text: value.key,
          value: value.idFiscalfund
        };
        this.fiscalFoundList.push(fiscalSourceItem);
      }
    });

    axios.post(ServicePath.GET_ALL_BIDDINGS).then(response => {
      for (var [index, value] of Object.entries(response.data.data.objects)) {
        index;
        let biddingfItem = {
          text: value.name,
          value: value.idBidding
        };
        this.biddingList.push(biddingfItem);
      }
    });
  },
  methods: {
    submit() {
      this.$refs.observer.validate;
      let idUser = UtilFront.getDataUser().idUser;
      axios
        .post(ServicePath.CREATE_GOVREQUISITION, {
          requisitionKey: this.requisitionKey,
          branchOfficeId: this.branchOffice.idBranchoffice,
          biddingId: this.biddingId,
          fiscalFundId: this.fiscalFoundId,
          userId: idUser
        })
        .then(response => {
          if (response.data.data.success) {
            this.updateRequisitonGov();
            this.$toast.success("Acción realizada correctamente.")
          }else{
            this.$toast.error(response.data.data.message || "Ocurrio un error interno");
          }
        });
    },
    updateRequisitonGov() {
      this.$emit("requisitionGovUpdate");
      this.clear();
      this.dialog = false;
    },
    clear() {
      this.requisitionKey = "";
      this.biddingId = null;
      this.fiscalFoundId = null;
      this.$refs.observer.reset();
    }
  }
};
</script>
