<template>
        <v-select :disabled="disabledView" @change="updateItem" v-model="destination" :items="destinationList" label="Sucursal de Destino" data-vv-name="select" />
</template>


<script>
import axios from "axios";

import { BranchOfficeRequest } from "@/core/request";
import { ServicePath } from "@/core";

export default {
  props: {
    disabledView: false,
    originId: ''
  },
  components: {
  },
  data() {
    return {
      destination:"",
      destinationListO: [],
      destinationList: []
    };
  },

  methods: {
    updateItem(){
        this.$emit("updateItemOrigin", this.destination);
    }
  },
  created() {
    console.log(this.originId);
    this.destinationList = BranchOfficeRequest.listAllKey();
  }
};
</script>
