<template>
    <v-autocomplete :disabled="disabledView" v-if="originList.length > 1" v-model="originId" @change="updateItem" :items="originList" label="Sucursal" data-vv-name="select" />
    <!--<v-select :disabled="disabledView" v-if="originList.length > 1" v-model="originId" @change="updateItem" :items="originList" label="Sucursal" data-vv-name="select" />->-->
</template>


<script>

import axios from "axios";
import { UtilFront } from "@/core";

export default {
  props: {
    disabledView: false
  },
  components: {
  },
  data() {
    return {
      originId: '',
      originList: []
    };
  },

  methods: {
    updateItem(data){
      this.$emit("updateItemOrigin", data.idBranchoffice);
    }
  },
   created() {

    let infoUser = UtilFront.getDataUser();
    this.originList = infoUser.branchOfficesSimple;

    this.originId = this.originList[0].value;

    this.$emit("updateItemOrigin", this.originId.idBranchoffice);


  }
};
</script>
